[2022-01-30 15:15] hrgdavor commented on #985
Yes, I am new to shader, just started to learn it to be able to bring instancing support to regl renderer.

I tried to change old shader to work properly with geometries that have transformation for shader to transform vertices while rendering. The lighting on the old shader was a bit strange so I had problems replicating it.

It was a lot of guess work to convert the existing shader to use transf

[2022-01-30 19:46] platypii commented on #985
Should the transforms be applied before it gets to the shader? Or should the transforms be passed in and applied inside the shader? Is [vColorShaders.js](https://github.com/jscad/OpenJSCAD.org/blob/master/packages/utils/regl-renderer/src/rendering/commands/drawMesh/vColorShaders.js) the relevant code?

[2022-01-30 22:49] hrgdavor commented on #985
Yes, I think vColorShaders.js is the code I tweaked.

for instancing to work shader must be able to apply transforms. just look at cpu time if you calculate transform for vertices of 100 spheres, and also amount data in buffers to send to GPU... instead send one sphere and 100 transforms.

try to do this in regl renderere in jscad with more than 5x5x5

http://3d.hrg.hr/jscad/three/threejscad2.html

[2022-02-03 02:26] samuelwang48 opened #986 "A mistype described in the doc of roundedCylinder() and extrudeLinear()"
## Expected Behavior
height should be Number instead of Array

## Actual Behavior
wrong type described

## Steps to Reproduce the Problem

  1. go to https://www.openjscad.xyz/docs/module-modeling_primitives.html#.roundedCylinder
  2. go to https://www.openjscad.xyz/docs/module-modeling_extrusions.html#.extrudeLinear
  2. check "options for construction"
  3.

## Specifications

  - Version: produ

[2022-02-03 19:32] samuelwang48 opened #988 "argument name in mirrorZ() is inconsistent"
## Expected Behavior
In mirror(), mirrorX() and mirrorY() it all uses the term "geometries" for the repeatable.

## Actual Behavior
mirrorZ() is using a generic term "objects" in the signature of that function.

## Steps to Reproduce the Problem

  1. go to https://www.openjscad.xyz/docs/module-modeling_transforms.html#.mirrorZ

## Specifications

  - Version: production
  - Platform: all
  - Envi

[2022-02-04 03:14] samuelwang48 opened #989 "hueToColorComponent() doc seems incomplete"
## Expected Behavior
It should indicate a return type

## Actual Behavior
It doesn't indicate a return type in the doc.
[nit]It doesn't point to a reference why this util function is useful (One can google for sure...)

## Steps to Reproduce the Problem

  1. go to https://www.openjscad.xyz/docs/module-modeling_colors.html#.hueToColorComponent

## Specifications

  - Version: production
  - Platfo

[2022-02-04 04:00] Digicrat commented on #433
Has there been any recent thoughts or work on ESM support?  Are there any technical issues preventing such an upgrade/refactor? That is, aside from the obvious non-trivial time it would take to actually implement what would at best be a straight-forward but tedious and time-consuming upgrade.

ESM modules have been supported by NodeJS for a while now and make it relatively easy to develop complex

[2022-02-04 05:52] t1u1 commented on #907
I was trying to find more and simple examples that reproduce this problem. I have found these so far:

![extrudeGlitch](https://user-images.githubusercontent.com/90307689/152479128-58b7021f-c2b0-45d4-9e88-ab5d86283544.png)

The letter N requires only 13 segments.

Code to reproduce this is [here](https://gist.github.com/t1u1/81cf1c9e4d4cce1d0eaf8b1ec6ebff5d).

I will now try to find even smaller e

[2022-02-04 14:33] t1u1 commented on #907
AFAICT, these functions are being called to create caps at start and end. The calling hierarchy is:
extrudeLinear -> extrudeSlices -> for start and end caps: slice.toPolygons()

One workaround could be to expose `capStart` and `capEnd` options in `extrudeLinear`'s options, just like in other extrude functions. Then the user has the option to create the caps themselves, which is easy for trivial ca

[2022-02-04 20:44] samuelwang48 opened #990 "doc issue in geometries geom3 toPoints() and invert()"
## Expected Behavior
the function signature is not properly documented

## Actual Behavior
missing argument

## Steps to Reproduce the Problem

  1. go to https://www.openjscad.xyz/docs/module-modeling_geometries_geom3.html#.toPoints
  2. go to https://www.openjscad.xyz/docs/module-modeling_geometries_geom3.html#.invert

## Specifications

  - Version: production
  - Platform: all
  - Environment:

[2022-02-04 22:42] samuelwang48 opened #991 "path2 eachPoint() has an unused argument in its signature"
## Expected Behavior
If the "options" not in use, should it be deleted? It is currently being documented in the official doc.
[code]
## Actual Behavior
Shown in the doc and the source but not being used.

## Steps to Reproduce the Problem

  1. go to https://www.openjscad.xyz/docs/modeling_src_geometries_path2_eachPoint.js.html
  2. inspect the doc and the source

## Specifications

  - Version: p

[2022-02-04 23:03] z3dev commented on #433
@Digicrat Thanks for the support!

ESM support is definitely in the plans but as you mentioned, there’s a massive refactoring required on the code base. Mixing CommonJS and ESM just doesn’t work. So, everything has to move to ESM in a kind of 3.0 Big Bang.

I’d be supper supportive if you’d like to work on this. There’s currently only two of us working part time on JSCAD so any progress is slow.

[2022-02-05 09:38] hrgdavor commented on #433
Such work also hides some extra pitfalls that we do not even know now.

I converted a very small project to ESM, that is also using ava for testing and there was an issue that forced me to always write imports with full js name for local dependencies. This was easy to work around, but is interesting to know.

as @z3dev mentioned, easier step forward would be supporting esm as output, and I have al

[2022-02-06 00:17] samuelwang48 opened #992 "The example in curves/tangentAt() has a syntax error"
## Expected Behavior
[code]

## Actual Behavior
[code]

## Steps to Reproduce the Problem

  1. go to https://www.openjscad.xyz/docs/module-modeling_curves_bezier.html#.tangentAt

## Specifications

  - Version: production
  - Platform: all
  - Environment: all

[2022-02-06 02:59] samuelwang48 opened #993 "modifier/generalize() is missing argument in the doc"
## Expected Behavior
It should document the repeatable argument "geometries".

## Actual Behavior

It is not documenting the repeatable argument "geometries".

## Steps to Reproduce the Problem

  1. go to https://www.openjscad.xyz/docs/module-modeling_modifiers.html#.generalize

## Specifications

  - Version: production
  - Platform: all
  - Environment: all

[2022-02-06 04:08] mtsmfm opened #994 "Parameter is not applied correctly"
## Expected Behavior

Modified cuboid is rendered

## Actual Behavior

- Initial parameter is passed always
- Update button doesn't respond

![jscad-bug](https://user-images.githubusercontent.com/1796864/152667351-af8c31c3-ebf4-40c9-8a91-547372f638c6.gif)

## Steps to Reproduce the Problem

  1. Visit https://openjscad.xyz/
  2. Paste following script:
[code]
  3. Shift-Enter
  4. Change parameter

[2022-02-06 09:10] hrgdavor commented on #994
I have just tried it in FF chrome and Firefox on Windows 10 and it works as expected. Please give some more details.

[2022-02-06 10:10] z3dev commented on #994
@mtsmfm thanks for the very nice issue.

I watched the video again, and think that the issue might be the RESET button. I have never tested that completely.

what do you think?

[2022-02-06 10:54] mtsmfm commented on #994
@hrgdavor I tried with Google Chrome 97.0.4692.99 with Win 10. I've noticed it's old and updated Google Chrome to the latest (98.0.4758.82).
Perhaps reloading solves this problem though, now it works. Let me close this issue.

@z3dev Hmm, I can't reproduce this problem anymore...

[2022-02-06 10:54] #994 closed

[2022-02-07 06:07] z3dev commented on #907
@t1u1 can you try changing the ‘segments’ parameter value?

in previous tests, I found some solutions if the segments was adjusted.

[2022-02-07 06:51] t1u1 commented on #907
@z3dev Changing the segments works randomly. If segments == 128 works for model dimension of 200mm, it fails for 201mm, and so on.

IMO, this is a serious bug (that is, it prevents JSCAD from being used for any serious application). For example, the models I am building will be useful for calibrating optical elements used by hobby astronomers, such as mirrors or lenses. The precision required is n

[2022-02-07 07:52] hrgdavor commented on #907
@t1u1 is your main problem with using letters and numbers ? I can look into the problemnext week, or maybe I catch some time this week, but that does not mean I can guarantee a fix.

As a workaround you could use a ttf font, we have a working example  mentioned here: https://github.com/jscad/OpenJSCAD.org/issues/72

[2022-02-07 09:19] t1u1 commented on #907
No, no. Letters and numbers are just a test case.

My model looks like this:
![model](https://user-images.githubusercontent.com/90307689/152309958-a084d722-38ac-4282-aaec-4f6619ed8a7f.png)

[2022-02-07 09:30] hrgdavor commented on #907
@t1u1 could you share that script ? and params when problems happen ?

[2022-02-07 11:10] t1u1 commented on #907
It's not a script. It's a webapp. I could have still tried to share it, but it seems useless because its geometry is much more complex than the simple examples reported here.

Did you try the script shared in my previous comment: https://gist.github.com/t1u1/81cf1c9e4d4cce1d0eaf8b1ec6ebff5d

I have spent days trying to create simpler examples, but it's not easy. The  bug is frequent but brittle; i

[2022-02-07 11:25] hrgdavor commented on #907
@t1u1 some operations are more brittle than others. seing the script might allow me to propose workarounds.
It is possible some issues are caused by booleans. and is also possible there are more than one issue at hand.

[2022-02-07 11:33] t1u1 commented on #907
@hrgdavor This particular issue is happening in intersectGeom3Sub(), just as @z3dev has described. I have stepped through the code, and verified that the problem exists there by looking at its output and the output of previous steps. I think @z3dev 's analysis is spot on.

[2022-02-07 11:45] hrgdavor commented on #907
What I noticed here in example from @z3dev is that either 2d part of the process is creating a case that breaks extrude. either the 2d starting model is faulty or extrude has a bug ...

after such faults are introduced, stuff down the line will break too.

![issue907_1](https://user-images.githubusercontent.com/8969165/135198067-aee476dc-6f6f-43c8-8060-a7c8cf5d5530.png)

[2022-02-07 11:58] t1u1 commented on #907
The location of the bug is already pinpointed. I suggest reading @z3dev's comments again.  The problem is in the part that creates the polygons for the end caps. These polygons are created by intersecting the polygons of the wall with a large polygon that covers the slice. The bug exists in the logic that computes this intersection.

[2022-02-07 12:15] hrgdavor commented on #907
@t1u1 I can likely fix issues with those texts by making a custom extrude function easier than fixing the existing one. Would this be helpful to you ?

[2022-02-07 12:28] t1u1 commented on #907
Thanks, but I am not sure I understand. Will the custom function only work with texts? There is no text in my models, only geometry created from booleans as shown in the picture.

[2022-02-07 12:34] hrgdavor commented on #907
idea is that it should work with all proper 2d shapes.... if the 2d shape does not look broken, it should work.. ... I tested the number 7 and it looked ok in 2D, but got messed up by extrude. I just have a feeling it would be easier for me to create a new extrude than fix the current one. at least for this simple case with only extruding 2d shape straight up.

[2022-02-07 12:35] z3dev commented on #907
It’s the TOP and BOTTOM caps that have issues. Not extruding the walls.

[2022-02-07 12:38] hrgdavor commented on #907
@z3dev hm, ok, I could look into that then

[2022-02-07 13:05] z3dev commented on #907
FYI, I have been playing with 2D boolean libraries to remedy these issues, as the 3D booleans pretty much fail when working with complex planar polygons. It looks promising but even the 2D libraries have issues. I’ll post updates going forward, and maybe some code if there are some improvements.

[2022-02-07 16:51] platypii commented on #907
It seems like a special case of extrudeLinear when twist = 0 would be really easy to make work correctly without these artifacts. Would likely be much faster too. However that just hides the problem. Fixing `intersectGeom3Sub` is the real solution. I am also looking into it.

[2022-02-07 17:03] hrgdavor commented on #907
if the issue is only with caps, then the twist is not the problem. The caps are just rotated, so a new code that makes caps properly would work just fine with or without the twist.

[2022-02-07 23:17] platypii commented on #907
It seems like intersectGeom3Sub is really just being used here to split non-convex polygons into convex polygons for the caps. It might be better to just implement a triangulation algorithm? For example, [Earcut](https://github.com/mrdoob/three.js/blob/master/src/extras/Earcut.js)

[2022-02-08 02:54] platypii commented on #907
The bug happens BEFORE the extrusion!! The geometry is not closed! This causes the extrusion to "leak" through the gap.

I found this when I tried to compute the outline of the geometry. The topological sort in `toOutlines` proved it. The "7" example has a discontinuity between `17.980817485911114,20.804759900888893` and `17.980817485911114,20.804896567511115`. Right where the artifact appears.

W

[2022-02-08 03:43] t1u1 commented on #907
Indeed, I saw this error too. But I thought `toOutlines()` is also buggy, or I am not using correctly!

What you say makes a lot of sense now :+1:

[2022-02-08 08:49] platypii commented on #907
I made a script to mend the gaps in a polygon to make it closed. It looks for vertices with mismatched in/out edges, and then merges the closest vertex that fills the gap. It fixed all the examples from this thread, if called before extrudeLinear. @t1u1 this might help your designs?

[code]

[2022-02-08 10:49] t1u1 commented on #907
@platypii Thanks! The examples indeed work fine now. However, my design still fails in the same way as earlier. This is progress because it is clearly a different type of failure. (As further confirmation, the `toOutlines()` call works fine on my design, with or without the repairGeom2() call).

I will try further to isolate the problem now, and raise a different issue.

[2022-02-08 11:01] t1u1 commented on #907
Holdon! One case from the examples here is still showing a problem!

See this script: https://gist.github.com/t1u1/a8300974af1f7c8f213cdc7541cb348d

The `text("4", 2, 1, 26)` object still has this glitch, even after calling repairGeom2()

[2022-02-08 12:40] z3dev commented on #907
Nice investigation @platypii

There are similar ‘closing’ issues with projections, as projecting a point to a plane is never floating point correct. Snapping points to an ESP seems to help but doesn’t solve the issues completely.

Just feedback…

[2022-02-09 13:55] t1u1 commented on #907
I found a few other glitches (just trying to help find more test cases).

Test script is here: https://gist.github.com/t1u1/6d5a1c6f6494f61394ca7735a53aad78

With `repairGeom2()` :
![moreGlitchesRepair](https://user-images.githubusercontent.com/90307689/153215185-25bb3eb7-37d0-47d7-be91-36723189dffb.png)

Funnily, some of these work better without `repairGeom2()`:

![moreGlitches](https://user-ima

[2022-02-09 14:04] t1u1 commented on #907
@platypii Perhaps there is a small bug in `repairGeom2()`, which when fixed will make all the tests pass. I couldn't understand its logic so can't offer any suggestions.

Thanks for looking!

[2022-02-09 14:30] hrgdavor commented on #907
I have discussed this with  @platypii , and the repairGeom2() was working properly, but creation of caps using booleans intersectGeom3Sub created more edge cases.

So he made code that handles more cases better by using repairGeom2() and earcut algorithom taken from threejs(which they took from somewhere else). We discussed this on discord, he is still working on this, but he could have a good sol

[2022-02-12 08:32] z3dev commented on #907
OK. Two days of deep dive into the BSP trees and here's what I found.

Basically, the Node.clipTo() function has some issues. If you have ever looked into the code, you find some funny looking loops that use a 'stack' to control processing through the trees. If you think about this, basically the order of the calls are determined by the stack, which is created in a pretty strange fashion.

Why is

[2022-02-14 07:20] platypii commented on #907
@t1u1 can you try out my earcut branch?
https://github.com/platypii/OpenJSCAD.org/tree/earcut

It uses a combination of the repair function, and a new earcut triangulation algorithm for the caps. It's worked on all the examples I've tried.

This does not fix floating point issues in the BSP tree code, it just avoids using the BSP tree for extrusion. The nice thing about the earcut triangulation al

[2022-02-14 12:38] t1u1 commented on #907
@platypii Woohoo! I confirmed that your branch works fine with all the examples in this issue so far. A few questions:

1. Why is R and B appearing dark in your screenshot? On my system only R appears dark, B doesn't. Is something wrong with the normals?
2. I would love to test your branch in my webapp. Is there an easy way to do this by publishing it to npm? (I tried a local way of doing it, but

[2022-02-14 12:51] hrgdavor commented on #907
1. it could be that those are inverted, or simply lighting issue in the current render code.

[2022-02-14 12:57] z3dev commented on #907
That’s a huge improvement. As I’ve been improving the internals, the key is reuse of the vertex (points) as any calculation just adds floating point errors.

Thanks a lot @platypii

[2022-02-14 15:44] platypii commented on #907
The lighting on R and B is something I'm still investigating. I wouldn't be surprised if related to #985.

The reason for the change in "B" you saw, is that I took a screenshot first and then subsequently made a small fix to the plane calculation. Specifically [this change](https://github.com/jscad/OpenJSCAD.org/commit/90f19719ed1e073a425e20b05f0d35f2d15b758b#diff-81a23638bf3e80fcf444137d3c35f8ad9

[2022-02-15 01:24] platypii commented on #907
After some investigation, determined that a bug in `slice.calculatePlane` returns `[0,0,0,0]` when it hits a self-edge. I fixed this in two places: 1) `repairSlice` function now removes self-edges, and 2) `slice.calculatePlane` will skip a self-edge if it encounters one.

The updates are on my `earcut` branch

[2022-02-15 04:50] mark-hahn commented on #72
I've created a utility that converts single-line SVG font files into jscad text data format.  SVG font files are nice because they are a standard and widely available.  I've personally  found TTF files to be a kludge with paths being retraced needlessly or open-path paths being closed and screwing things up.

The output can be a module to be imported, or the data can be directly injected into a js

[2022-02-15 06:30] t1u1 commented on #907
@platypii Cool! Confirming that the latest `earcut` branch works fine on all the examples posted here, including the correct brightness on "R". However, noting a few new failures:

![hb-xyz](https://user-images.githubusercontent.com/90307689/154005382-e2f96131-751f-40c4-ae4c-5f147ffc1c55.png)

![hb-me](https://user-images.githubusercontent.com/90307689/154005394-5344ef03-fc2a-4ddf-a9e3-c40f69ed05f

[2022-02-17 03:58] platypii commented on #907
@t1u1 you are good at finding counter examples :-)

I just updated my earcut branch again to fix your example. I had to write a function to generate a polygon hierarchy, associating holes with their outer polygons. It seems like this is really close to working!

[2022-02-17 04:02] t1u1 commented on #907
@platypii :) Wow, freak coincidence. I was just about to post simpler counter examples. Will try with your updates now!

[2022-02-17 04:07] t1u1 commented on #907
@platypii I think you have hit gold. The happy birthday examples + the other examples I had in queue are working fine on your latest branch! Thanks! :heart:

Could you publish a test or snapshot version to npm? I can then test it with my webapp.

[2022-02-17 04:23] platypii commented on #907
I'm not really sure how to publish it as a snapshot. I don't have access to the jscad account or anything. Maybe could generate a bundle file?

I plan to make a pull request after some cleanup.

[2022-02-17 04:25] t1u1 commented on #907
Ok, sounds good. Will wait for the powers-that-be to make a release!

For regression testing, etc, here's a script that replicates all the examples so far:
https://gist.github.com/t1u1/6c6a4664b08ff6d4a9e9c6f3a87e7d31

(Note that some of the glitches were only evident in intermediate commits, but not in the current master, nor in the final earcut branch)

[2022-02-17 09:03] hrgdavor commented on #907
that is interesting, and now that you mentioned it makes perfect sense that it is needed.
Having tools that fixes stuff like this is excellent and should be part of the API.

From the performance perspective, extrude and other steps should not always run all possible fixing utilities.

If we want to be nice to new devs, fixing could be by default turned on, but we need for advanced users to be abl

[2022-02-18 00:20] z3dev commented on #991
Probably this function should be fixed or removed.

[2022-02-18 01:23] z3dev commented on #982
@samuelwang48 if this is fixed now then please close this issue.

[2022-02-18 01:24] #982 closed

[2022-02-18 01:25] samuelwang48 commented on #982
Changes merged. Closing now.

[2022-02-18 01:25] #950 closed

[2022-02-18 01:26] samuelwang48 commented on #982
Thanks for the reminder. Sorry about the delay.

On Thu, Feb 17, 2022 at 20:23 Z3 Development ***@***.***>
wrote:

--
Thanks
Sam

[2022-02-18 06:15] samuelwang48 opened #999 "Uncaught Type Error in viewer.js in package Web"
## Expected Behavior

A model related method should not break if provided with invalid values such as null values.

## Actual Behavior

Given any method that takes repeatable geom2, geom3 or etc, upon being flatten, it doesn't detect or filter the value of being a null type, resulting in an Uncaught Javascript error.

For example, the null should either be ignored, filtered or captured but it is l

[2022-02-18 06:17] samuelwang48 commented on #999
Line 266 is assuming the object is an object instead of being a null
Line 264 is the fix I made locally

![Screen Shot 2022-02-18 at 01 05 13](https://user-images.githubusercontent.com/23735294/154628405-51ddec57-6ab5-483f-b8a0-3d272d2971b7.png)
![Screen Shot 2022-02-18 at 01 06 06](https://user-images.githubusercontent.com/23735294/154628407-69762b1b-7933-4c4a-a793-8a13b0b8452d.png)

[2022-02-18 06:42] samuelwang48 commented on #999
I am open for a discussion on this issue.
Given the complexity of the codebase there might be several ways to solve it.
Here are a few options I can think of.
1. Address this issue in flatten() but IMO flatten should just do flatten even there are null elements in the list. Introducing filtering logic seems a bit off.
2. In all the model methods, every single one of them, add a filtering logic to

[2022-02-18 06:55] hrgdavor commented on #999
I am in favor of viewer handling null by ignoring it.

[2022-02-18 07:16] samuelwang48 commented on #999
@platypii you are absolutely right here. I wanted to fix it so any errors including this one and even user syntax errors can be captured and handled in a recoverable way. That would be ideal but I am still digging into the whole design to find out how. At a first glance it seems non-trivial. Not sure if this is something has been discussed before in the community.

[2022-02-18 07:23] hrgdavor commented on #999
@samuelwang48 current viewer uses most library that streams events and personally it is annoying to deal with, or trach what code does. Fixing the viewer to ignore nulls among geometries would be nice, but I personally am working on a new viewer prototype rather than dealing with most library.

[2022-02-18 07:30] samuelwang48 commented on #999
@hrgdavor thanks for providing the background and I agree. Will submit a change along with test cases later.

[2022-02-18 08:07] z3dev commented on #999
@samuelwang48 interesting issue.

Since javascript supports sparsely populated arrays, this library should as well. there are those that want to pass nothing to the common operations, like #820 . And there have been previous requests that wanted to pass 'null' in order to create shapes using complex loops.

sadly, you hit one of those edge cases. i remember testing various combinations of sparse a

[2022-02-18 08:08] z3dev commented on #999
Yeah. This is bad. The whole application should recover, and allow the user to continue.

[2022-02-18 08:10] z3dev commented on #999
Yeah. This is bad. The Web UI should recover and allow the user to recover. And as @hrgdavor mentioned error handling is tricky in the current framework.

[2022-02-18 08:51] z3dev commented on #999
@samuelwang48 I took a look at the compareSolids() function. i think a simple filter would be best, i.e. reduce current to a list of objects.

[2022-02-18 08:59] samuelwang48 commented on #999
@z3dev I will have a try tomorrow.
 Something similar to this
…current.filter((s)=>{s!=null}).map(…

[2022-02-18 17:37] samuelwang48 commented on #999
here I have some updates. I've tried to filter as suggested by @z3dev

I did something similar to this within the implementation of `compareSolids(a, b) => boolean`
[code]

Unfortunately the result was not ideal as it didn't fix the issue.
Moreover I also realized that this idea was to mutate one or more "Inputs" of a function inside the implementation of this function.
It was not very "functional

[2022-02-18 23:25] samuelwang48 commented on #999
Another similar but not directly related issue.
If null is present in colorize() the UI becomes unrecoverable.

[code]

[2022-02-19 03:24] samuelwang48 commented on #999
[code]
Found more cases that will break the web and cause the web to be unrecoverable especially with the dist'ed package.
Looks like once an error is detected in a user script some state will not immediately be restored or reverted.
I am struggling to figure out how to solve it in a more elegant way but I lack the redux expertise.
My workaround is to flush the state by feeding the codemirror an e

[2022-02-19 05:45] z3dev commented on #993
Doc change has been released.

[2022-02-19 05:45] #993 closed

[2022-02-19 05:46] #992 closed

[2022-02-19 05:46] z3dev commented on #990
Doc change has been released.

[2022-02-19 05:46] #990 closed

[2022-02-19 05:46] z3dev commented on #989
Doc change has been released.

[2022-02-19 05:46] #989 closed

[2022-02-19 05:46] #988 closed

[2022-02-19 05:47] z3dev commented on #986
Doc change has been released.

[2022-02-19 05:47] #986 closed

[2022-02-19 09:34] hrgdavor commented on #999
Personally I am not against this fix. It is useful, and if sbdy will want to tackle it elegantly, that is fine as well. I just think app is better with it than without.

[2022-02-19 21:38] samuelwang48 opened #1005 "Not possible to draw a perfect cone using cylinderElliptic"
## Expected Behavior

Since cylinder doesn't take two sets of arguments to render a cone, cylinderElliptic becomes an option to render a cone.

## Actual Behavior

cylinderElliptic() doesn't accept [0, 0] as a valid value for radius. This seems acceptable in OpenSCAD.

[code]

## Steps to Reproduce the Problem

  1. use the code snippet provided in codemirror in the UI
  2. SHIFT+ENTER
  3. Uncaug

[2022-02-19 21:41] z3dev commented on #1005
True, but the radius can of on cap can be any floating above zero, like 0.0001

[2022-02-19 21:43] samuelwang48 commented on #1005
@z3dev thanks yes that's what I am using for now. Not sure this is an issue or not. If not please close the issue.

[2022-02-20 02:30] platypii commented on #1005
Is there a reason that constraint is in place? When I change [cylinderElliptic.js:43](https://github.com/jscad/OpenJSCAD.org/blob/master/packages/modeling/src/primitives/cylinderElliptic.js#L43) to allow zero, things appear to still work.

[code]

![Screenshot at 2022-02-19 18-25-50](https://user-images.githubusercontent.com/1766297/154825974-b0cf897b-4889-4d31-bf4e-763d80bbbc73.png)

[2022-02-23 03:01] z3dev commented on #999
I found the old issue #665 which also reported the same issue.

Here's my test case for it...

[code]

[2022-02-23 05:34] platypii commented on #876
This appears to have been fixed by #898

It's possible there are other issues. But I tried using the example given by @kbruneel and could show that it crashed on every version before #898, and renders correctly after.

[2022-02-23 07:32] #876 closed

[2022-02-24 06:10] samuelwang48 opened #1011 "the orientation option of polyhedron is incorrectly typed in the documentation"
## Expected Behavior

In primitives/polyhedron API, the `orientation` option is incorrectly typed in the documentation. It should be String.

## Actual Behavior

It is now documented as Array.

## Steps to Reproduce the Problem

  1. goto https://www.openjscad.xyz/docs/module-modeling_primitives.html#.polyhedron

## Specifications

  - Version: Production
  - Platform: all
  - Environment: all

[2022-02-24 21:58] paulftw opened #1012 "extrudeRotate is broken when input polygon is clockwise"
## Steps to Reproduce the Problem
Paste below code into `openjscad.xyz` (two triangles are rotateExtruded, but in the first case the vertices  are counterclockwise).

You'll see rendering artifacts on the bottom extrusion. Boolean operations with an "inside out" extrusion also give weird results.

[code]

[2022-02-24 23:57] hrgdavor commented on #1012
My opinion is that library should not defensively call all sorts of fixes for the input.
This would allow code like above  to work, but would punish with performance degradation those that provide good input geometry.

I would be against input cleanup, and in favor of making clear in docs that input must be ccw.

[2022-02-25 00:01] platypii commented on #1012
This is expected behavior. Most computational geometry assumes that polygons are oriented in a counter-clockwise direction. This is even more important in 3D where a polygon can face in or out. However even in 2D, counterclockwise is considered a solid, and clockwise is used to represent holes, or negative space. That is why extruding a negative space does not totally make sense.

I am against "au

[2022-02-25 00:02] z3dev commented on #1012
@paulftw right or wrong, there might be cases where someone wants to create an inverted extrusion. i know that some users are using inverted 3D shapes as 'holes' when using the booleans.

i also looked at the user guide. it doesn't mention anything about the 'handed-ness' of shapes, so probably a document change would be good.

[2022-02-25 13:42] kume-negitoro opened #1014 "The type of relativeTo in AlignOptions is wrong"
Hello, thank you for a great project.
I found a small mistake in the type definition file.

There is no problem with the .js file, but there is a problem with the .d.ts file. So it could not compile with TypeScript.

I will send out a pull request.
Let me apologize for my poor English.

## Expected Behavior
The relativeTo option of the `align` function should accept values of the following types:

[2022-02-25 13:50] kume-negitoro commented on #1014
By the way, I noticed that it is okay to pass an empty array to relativeTo. Should I add to the type definition that empty arrays are allowed?

[2022-02-25 20:13] paulftw commented on #1012
A mention in the docs would be nice. An optional flag (which most people will just switch to true) or at least a utility function to detect directionality would be even better.

Supporting all possible use cases and prioritizing the most common ones aren't mutually exclusive goals. And these goals have been combined in other places in the JSCAD API.
(e.g. some people want to set alpha channel expl

[2022-02-25 22:00] platypii commented on #598
Did some investigation here. The short version is that this `bend` function creates a geometry with gaps in it. So when you pass a non-solid geometry to a union function, weird things will happen.

To understand what's happening, first I took the script that @hrgdavor made in #898 which was the V2 port of the bug here. It generates a geometry with gaps in it. I simplified the example, replacing th

[2022-02-25 23:03] hrgdavor commented on #598
Personally, I was thinking of doing the bend function without booleans, by creating new mesh with polygons split manually, and then applying the bend without changing their association.

[2022-02-26 08:57] kume-negitoro commented on #1014
OK, I think that's good too.
Thank you for your review !

[2022-02-27 04:29] t1u1 commented on #907
Just a gentle reminder. Thanks for all the other PRs too!

[2022-02-27 19:45] platypii commented on #907
I have not forgotten. I'm doing some additional testing and tweaks to the Earcut implementation. The other PRs I made are small bugfixes -- for comparison, the earcut branch has over 1000 lines of new code, so I want to be careful. But it will be worth the wait! Some stats I posted on discord:

[2022-02-28 12:07] #1014 closed

[2022-02-28 12:14] paulftw opened #1017 "offset(-1, offset(1, ...)) produces "island" artifacts"
## Steps to reproduce:

[code]

[This produces](https://scriptcad.com/paulftw/jscad-tests) the following:
<img width="563" alt="Screen Shot 2022-02-28 at 2 10 35 PM" src="https://user-images.githubusercontent.com/769142/155981511-ebacc0c3-2208-4805-bf36-48dff19999b6.png">

Segment of a circle should **not** be there.

[2022-02-28 12:21] paulftw commented on #1017
Artifacts are visually similar to #907 but that one doesn't seem to use `offset`

[2022-02-28 12:28] z3dev commented on #1017
@paulftw cool examples.

from looking at this, the last round segments may be illformed after the first offset.

[2022-02-28 21:55] platypii commented on #1011
Fixed now in master. Thanks @samuelwang48 !

[2022-02-28 21:55] #1011 closed

[2022-03-01 01:52] platypii commented on #1017
Notes:
1. The way that rounded edges are constructed results in the two "side" edges coming together and eating the "middle" edge. This is because the outer edge angle is less than the middle edge angles. Not a bug, just how the construction works:

Offset delta = -0.92:
![offset-0 92](https://user-images.githubusercontent.com/1766297/156089109-f2ffe090-74ff-4fc1-82df-3a092ea9f212.png)

Offset del

[2022-03-01 12:02] z3dev commented on #1017
@platypii take a look at line 66… I’m wondering if there’s a special condition that requires additional math to find the correct point of intersection.

[2022-03-03 18:56] paulftw opened #1019 "booleans.intersect fails for an extrude with rotation"
Basically if a twist angle is large enough it breaks `booleans.intersect`.

<img width="574" alt="Screen Shot 2022-03-03 at 8 53 48 PM" src="https://user-images.githubusercontent.com/769142/156632788-2f7ba01a-b590-4676-ac4a-0a80661d0706.png">

[code]

[2022-03-03 20:34] paulftw commented on #1005
Doesn't make sense to me either. If it passes the tests why don't we change to `>=`? both end and start radius would need this change.

[2022-03-03 21:38] z3dev commented on #1019
Yeah. Extrusions are tricky sometimes. Have you tried increasing twistSteps ?

[2022-03-03 21:52] paulftw commented on #1019
This seems to me like a problem with intersect, not with extrusion.

Upon visual inspection the extrusion looks alright - no holes, no CW polygons, not self intersecting, etc.
So basically I'm calling intersect on two seemingly correct 3d geometries, but it returns a messed up result.

If you think the bug is in the extrusion, How do I find it? What should I be looking for?

[2022-03-04 09:26] z3dev commented on #1019
Initially, you said…

**Basically if a twist angle is large enough it breaks booleans.intersect.**

If there are more steps then the walls of the extrusion are smoother and more contiguous. And I suspect that the booleans perform better as well.

[2022-03-06 05:26] z3dev commented on #999
@samuelwang48 the latest release contains YOUR fix for this error. if satisfied then please close this issue.

[2022-03-06 10:31] udif opened #1023 "Install fails"
## Expected Behavior
Following the instructions in `CONTRIBUTING.md` should lead to a successfull installation

## Actual Behavior
`npm test` fails with missing packages

## Steps to Reproduce the Problem

  1. `git clone https://github.com/jscad/OpenJSCAD.org.git`
  2. `cd OpenJSCAD.org`
  3. `npm install`
  4. `npm test`

Each time this is run, `npm test` fails due to missing packages. I had to

[2022-03-06 10:34] udif commented on #1023
Following on:
[code]

[2022-03-06 11:17] udif opened #1024 "Wrong line indication on SCAD import error messages"
## Expected Behavior
When an error is encountered, report the correct line number.

## Actual Behavior
Under Window, the line number reported is 2 * the actual line number, probably due to `\r\n` counted as two lines.

## Steps to Reproduce the Problem

  1. Create a fake SCAD file with a few comment lines, then a dummy error:

test.scad:
[code]
And the container OpenJSCAD file:
[code]
  2. Now ru

[2022-03-06 12:14] z3dev commented on #1023
Windows? Please see #777

[2022-03-06 13:55] udif commented on #1023
OK, going by the path of least resistance, I'm now cloning OpenJACSD.org on my WSL2 environment instead.

[2022-03-06 17:13] z3dev commented on #1023
Thanks @udif

Let us know if there are any more problems.

[2022-03-06 17:23] #1023 closed

[2022-03-06 20:48] samuelwang48 commented on #999
Verified the changes in the merged branch. Ok to close now. Closing.

[2022-03-06 20:48] #999 closed

[2022-03-11 09:42] aurpine opened #1027 "Desktop app displays file contents instead of rendering"
## Expected Behavior
Desktop app renders dropped file.

## Actual Behavior
Desktop app displays contents of file (text) instead. Text is selectable but not editable.

## Steps to Reproduce the Problem

  1. I changed the line in `packages/desktop/package.json:16` because it wouldn't find electron without it from `"dev-win": "node_modules/.bin/electron.cmd .",` to `"dev-win": "electron.cmd .",`
  2

[2022-03-11 11:04] z3dev commented on #1027
@aurpine welcome

there are no plans to support the old application. @hrgdavor is working on a new version and could use some help. Interested?

[2022-03-12 02:20] #907 closed

[2022-03-13 02:09] z3dev commented on #1019
@paulftw
I tried the example with twistSteps larger than 1. The results are far better.

[code]

[2022-03-14 13:02] z3dev commented on #1017
Yeah. Those little ‘middle’ edges will be discarded on normal corners because that edge occurs in the middle of outer segments. The normal loops removes those ‘middle’ edges. For closure to work properly, another iteration / check should be performed to adjust the outer segments if intersecting.

[2022-03-14 22:40] z3dev commented on #1017
I’ll read the paper.

I think #782 has the same issue, where the shape contracts upon itself, and creates edges with inverted angles.

[2022-03-15 12:17] z3dev commented on #1017
I like this note…

Maybe one suggestion is to throw an error if the topology changes, i.e. something bad happened.

[2022-03-15 12:26] z3dev commented on #1017
By the way, returning two or more pieces (outlines) should be a error. The offset of a line is exactly that… a line… it can cross… it can be strange… it can be wrong. But it’s still a line.

Geometry 2D is another story.

[2022-03-15 12:28] z3dev commented on #1017
This is far more complex then initially coded. 😃

[2022-03-16 20:23] NilsKrause opened #1030 "openjscad.xyz / Browsereditor line numbers overlapping"
## Expected Behavior
![Screenshot 2022-03-16 at 21 27 53](https://user-images.githubusercontent.com/15922517/158684941-8165898b-94f2-4bbd-8f4c-5c3a646f3571.png)

## Actual Behavior
![Screenshot 2022-03-16 at 21 19 58](https://user-images.githubusercontent.com/15922517/158683554-7fcdeaa0-c708-4fce-8374-eb2229d9bef2.png)

## Steps to Reproduce the Problem

  1. Goto https://openjscad.xyz/
  2. Open

[2022-03-16 21:27] z3dev commented on #1030
@NilsKrause welcome

this is present in all browsers. A fix would be very nice.

[2022-03-16 21:36] NilsKrause commented on #1030
Thanks, just found jscad and am already a big fan of it.

Will submit the PR tomorrow.

[2022-03-16 22:00] hrgdavor commented on #1030
If you can also fix, why editor content is not visible before clicking would be perfect.
openin jscad and choosing an example, then opening editor, it looks like code is not loaded, but it is, just not shown

[2022-03-17 18:43] NilsKrause commented on #1030
Both issued should be fixed in #1031, take a look if you got the time. It's only a very minor change.

[2022-03-17 20:46] briansturgill opened #1032 "Incorrect order of arguments in enclosedEdge (modling/src/operations/modifiers/edges.js)"
## Expected Behavior
This template doesn't really cover this issue.
I'm in process of translating jscad to C#.... the type checking caused me to find a clear problem in enclosedEdge.

The line3 method closestPoint has a signature of closestPoint(line, point).
In enclosedEdge (edges.js, lines 116 and 117) the calls to closestPoint clearly have the point and line arguments reversed.

Here are the re

[2022-03-18 00:43] z3dev commented on #1032
@briansturgill C#!!! Wow! That's pretty cool. I know that someone translated this to C++ once, long long ago.

We will look at this little 'mistake' in more detail, test, and fix.

[2022-03-18 12:58] paulftw commented on #1017
Random idea: negative offset of a N vertices polygon is boolean difference of the polygon and N rectangles, where rectangle `i` is parallel to the edge `i`, has its length and width equal to `delta` (bad explanation but I think you get the idea).
positive offset is boolean union of the input polygon and similar rectangles.
Assuming boolean operations work better than offset and aren't too expensiv

[2022-03-19 00:31] #1030 closed

[2022-03-21 00:49] TheJudeAustin opened #1035 "Add DSTV/NC file import"
Hi,

If someone is willing to add DSTV/NC file import I would be forever grateful.

Here is the standard: https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&ved=2ahUKEwjkgtbT_dX2AhWYHjQIHXUYDVwQFnoECAUQAQ&url=https%3A%2F%2Fforums.autodesk.com%2Fautodesk%2Fattachments%2Fautodesk%2F2056%2F8772%2F1%2FNC-DSTV-Interface.pdf&usg=AOvVaw3GqbcS9K6lVLziu5cVYTs-

I've tried forever, with ThreeJS,

[2022-03-23 13:04] z3dev commented on #1035
@TheJudeAustin welcome

The DSTV specification is very interesting, but contains information for large CNC based machines. JSCAD is focused on 3D printers, and therefore only related technology is considered seriously.

From looking at the specifications, some of the pieces / the operations could be simulated. Why don’t you start with some of those? Are there any alternatives, like AUTOCAD?

[2022-03-23 13:09] hrgdavor commented on #1035
@TheJudeAustin there is a project that does CNC stuff https://grid.space/

What is your use-case after the import ?

[2022-03-23 13:10] z3dev commented on #948
@MichaelJumble ping… count down begins…

[2022-03-24 22:42] platypii commented on #1005
Although the code does seem to work if one of the ends is `[0, 0]` there are still some issues. It is not as simple as relaxing the strict equality to greater-than-or-equals. For example, `cylinderElliptic({ endRadius: [0, 1] })` gives the following invalid geometry:

![cone](https://user-images.githubusercontent.com/1766297/160021674-fe42768e-d719-40dc-9496-86d406d25158.png)

I'm still investigat

[2022-03-25 05:24] hrgdavor commented on #1005
It is interesting to explore, but looks like to support it, alg needs to be changed in some way. Likely special handling for the case.

[2022-03-25 08:36] z3dev commented on #1005
Yeah. Since the calculations are based on ellipse, a perfect cone is probably not possible.

An alternative is creating another primitive for cones.

[2022-03-26 05:07] #765 closed

[2022-03-26 05:24] z3dev commented on #557
3MF serializer completed as part of #1036

[2022-03-26 05:27] z3dev commented on #1019
@paulftw are you able to continue after making the suggested changes?

[2022-03-26 13:21] z3dev commented on #790
Done

[2022-03-26 13:21] #790 closed

[2022-03-26 13:25] #633 closed

[2022-03-26 13:26] #619 closed

[2022-03-26 13:26] #511 closed

[2022-03-26 13:27] #470 closed

[2022-03-26 13:27] #454 closed

[2022-03-26 13:28] #407 closed

[2022-03-26 13:28] #404 closed

[2022-03-26 13:30] #279 closed

[2022-03-26 13:30] #125 closed

[2022-03-26 13:32] z3dev commented on #315
@donhatch please try openscad.xyz and let us know if this issue still exists. Things are a little different now.

if satisfied then please close this issue.

[2022-03-29 06:54] platypii commented on #1032
Steps to reproduce the problem:
[code]

[code]

[2022-03-29 09:08] z3dev commented on #1032
Probably anything "repair" will die. It was a ambitious idea...

[2022-03-29 14:27] platypii commented on #1032
Should I change #1042 to just delete all the generalize repair code? Happy to delete lines of code :fire:

[2022-03-30 22:44] ornamentist commented on #582
Do these 2020 installation instructions still apply in 2022?  I'm seeing the same error from a git clone of master/main.

[2022-04-01 02:28] briansturgill opened #1044 "Another incorrect arguments issue."
## Expected Behavior
That unit test depending on nearlyEquals actually work! :-)

## Actual Behavior
The missing "t," argument causes one important argument to nearlyEquals to be undefined and the test will always return true.

## Steps to Reproduce the Problem

  1.Don't bother.
  2.Just change the nearlyEquals calls to have missing "t, " as the first argument. (8 in each file)
  3.3 The two file

[2022-04-01 22:12] #1044 closed

[2022-04-01 22:24] #1005 closed

[2022-04-04 18:26] briansturgill opened #1051 "Improper/missing use of modern Javascript features."
## Expected Behavior
Yes.

## Actual Behavior
No.

## Steps to Reproduce the Problem

  1. Not using Set when more appropriate than Map. Note: use of Map vs Set will double memory usage.
  See hullGeom2.js, line 17 & 26, hullGeom3.js line 20 & 29.

  2. When using Map() with vectors or other numbers, you sometimes convert to string. This just isn't necessary, Map and Set can be indexed by any Java

[2022-04-04 19:30] platypii commented on #1051
Disagree on this point. We are trying to find unique points by value, not by pointer. It's important that duplicate points, but with different underlying pointers, still map to the same entry. So two different points with `[1,2]` and `[1,2]` should map to the same entry, regardless of how they are created.

Not what we want:
[code]

This is what we want:
[code]

Overall great feedback though! I ag

[2022-04-04 19:47] briansturgill commented on #1051
Interesting... this is the problem with really only having book learning on the subject.
When I was translating... I had to often read the Javascript spec and it says that all types work.
Apparently they don't consider lists a type.
Note, I do this in C# all the time. For a class, you have to have IEquatable implemented.
For tuples (anonymous structs) you don't have to do anything, it just works.

[2022-04-04 20:05] hrgdavor commented on #1051
Just wondering, have not seen any articles or mentions ...

could it be that there is performance improvement if using classes Vec3 with declared x,y,z fields instead of arrays. JIT compiler is likely to have more options for optimisations. I am wondering if performance is the reasong threejs and babylonjs use classes Vec3 vec4 Color3 Color4 ...

[2022-04-04 20:45] briansturgill commented on #1051
@platypii You got me curious... so C# doesn't let me do it with Arrays or Lists.
However Python does. Python is the dynamic language I use the most so is likely why I interpreted the spec to mean it work for lists too.

[2022-04-04 23:40] z3dev commented on #1051
SIGH. The original implementation was using Map with the vectors, but it turns out that converting to string provided a huge performance improvement. I suspect that the issue is with the comparison of objects which occurs dead last after all other types have been passed by. Anyway, we are at the mercy of the javascript engines.

[2022-04-04 23:43] z3dev commented on #1051
GAGA. I hope the code isn’t using OBJECT for hashing. If so, that needs to be fixed.

[2022-04-05 11:36] ssendev opened #1052 "svg deserializer ignores pathSelfClosed"
## Expected Behavior

svg is imported without error

## Actual Behavior

Error: Malformed svg path at 2:46. Path closed itself with command #1

but that branch should never be reached

https://github.com/jscad/OpenJSCAD.org/blob/56f572518c85d767ac680aa2da1af46c4847e63c/packages/io/svg-deserializer/src/shapesMapGeometry.js#L438-L441

## Steps to Reproduce the Problem

go to https://openjscad.xyz an

[2022-04-06 09:14] hrgdavor opened #1053 "rewrite proposal hullGeom2.js/hullPoints2.js"
## Expected Behavior
inc performance

## Specifications

  - Version: all
  - Platform: all
  - Environment: all

there is a proposal in discussion #1050  for change in implementation of hullGeom2.js/hullPoints2.js

 It gets rid of the index vector and the use of Atan2 and is generally easier to understand... translation back to JS should be straight forward.

[code]

[2022-04-06 17:01] #1032 closed

[2022-04-06 21:05] Oisangui opened #1054 "cutByPlane function of old openJSCAD not implemented"
## Expected Behavior
Expected ```cutByPlane``` to be implemented

## Actual Behavior
It is not implemented, at least not with a similar name and it is not obvious.

[2022-04-06 23:29] z3dev commented on #1054
@Oisangui welcome

this function was considered broken in V1, and better implemented by users or special libraries.

https://github.com/jscad/csg.js/blob/master/src/api/ops-cuts.js

This function is fairly simple to duplicate in V2. Let us know if you need a few pointers.

[2022-04-07 01:37] Oisangui commented on #1054
It would be nice to get some help with that. The thing is I became used to V1 and implemented a solution for a problem that uses the aforementioned function, but I'm having trouble connecting that with node and that's why I'm trying to do the same in V2 (better node integration for what I have read). What I was doing in V1 is running a script and within the script I do a console log which  prints

[2022-04-09 02:09] z3dev opened #1057 "maths : add TAU constants and rework code"
## Expected Behavior

Use a constant for PI * 2, i.e. TAU

https://tauday.com/tau-manifesto

## Actual Behavior

There are many many calculations of PI * 2 in the code.

## Specifications

  - Version: ALL
  - Platform: ALL
  - Environment: ALL

[2022-04-09 07:41] z3dev commented on #1052
@ssendev thanks for the nice example. we will take a look at this.

[2022-04-09 07:45] z3dev commented on #1051
[code]

[2022-04-09 17:16] Oisangui commented on #1054
I solved it with the following: Create a big 2D square, the extrude it really high, rotate it so that the normal of the plane is the one specified, and finally translate it. Then you can subtract your shape with this plane.

[2022-04-09 17:17] #1054 closed

[2022-04-09 20:06] briansturgill opened #1059 "Possible flaw in poly3.validate"
## Expected Behavior
Perhaps, poly3.validate should check to see that the vertices are coplanar?

## Actual Behavior

## Steps to Reproduce the Problem

  1.
  2.
  3.

## Specifications

  - Version:
  - Platform:
  - Environment: (browser, local server, node.js etc)

[2022-04-09 23:22] z3dev commented on #1024
This is even worse in #881

[2022-04-09 23:40] z3dev commented on #809
This would be a very nice feature to have as part of JSCAD (or community). If anyone has some skill at writing VSCODE extensions then this could be very easy to get started.

See the following for inspiration.

https://github.com/ayan4m1/vscode-scad

[2022-04-09 23:50] z3dev commented on #809
@crysislinux would you be interested in taking this on?

[2022-04-11 10:36] crysislinux commented on #809
@z3dev I haven't touched 3d modeling for some time. I guess I am not able to maintain https://github.com/crysislinux/vscode-openjscad for a long time, I can transfer the project if someone is interested. the code may be a bit hard to understand. Here I will describe the core ideas of the project:

1. I learned the code of the v2 website, and created two js classes to simplify the job. `OpenJscadBu

[2022-04-11 11:02] #1053 closed

[2022-04-13 01:49] z3dev commented on #1059
I guess that for more than 3 points this makes sense.

[2022-04-13 02:05] #916 closed

[2022-04-16 09:42] #1059 closed

[2022-04-17 07:58] z3dev opened #1067 "vectorChar vs. vectorText"
From rozek via User Group

Hello!

First of all: thank you very much for [Open]JSCAD - it often helps me modeling technical objects which can then be sent to a 3D printer.

A few days ago, I've started tweaking the JSCAD User Guide mainly by adding require statements to the examples found there in order to simplify coding for casual JSCAD users like me.

During that process, I - again - stumbled a

[2022-04-17 07:59] z3dev commented on #1067
From

suggestions would depend on whether you would accept breaking API changes or prefer keeping the API stable.

A somewhat silly idea could be to assign the output of vectorText to its own subproperty segments (outlines.segments = outlines) : in that case, one would always have to convert outlines.segments.

From a user's point of view, however, the main question should probably be why vectorCh

[2022-04-18 15:28] platypii opened #1070 "reset parameters gets stuck processing"
## Expected Behavior

Clicking "reset" on the parameter dialog should reset parameters and update model.

## Actual Behavior

UI gets stuck with message "processing, please wait".

## Steps to Reproduce the Problem

  1. Load a model with parameters (eg- Help Menu > Center function demonstration)
  2. Click "Reset"
  3. "processing, please wait" will display forever

It's not 100% reliable. Someti

[2022-04-18 23:18] #991 closed

[2022-04-24 06:53] z3dev commented on #231
See https://rosettacode.org/wiki/Catmull–Clark_subdivision_surface#Python

[2022-04-24 07:04] z3dev commented on #231
Even closer to home... https://github.com/Erkaman/gl-catmull-clark/blob/master/index.js

[2022-04-25 18:21] briansturgill opened #1075 "Problems with use of Math.Floor and with comparisons of inexact data."
## General Bug Report
I recently experiment with making my CSharp port of JSCAD using single precision arithmetic. (This was in hopes of using some special Microsoft features that would speed things like Transformations, but only used Single precision.) This experiment failed, but it did uncover some general bugs in JSCAD. These all fall into the realm of side effects of floating point precision.

[2022-04-26 11:47] z3dev commented on #1075
@briansturgill i have read this several times now in order to understand the issues.

first, the changes made by @platypii were to correct the primitive shapes, and make sure those are water-tight meshes.

second, you're trying to solve something with the changes but I'm not certain of the issues. Maybe a slightly better example would help.

third, although the 'math' might be off, there are expec

[2022-04-26 15:56] platypii commented on #1075
I am still looking into this, so far I've only looked at the ellipse feedback, but I am not sure I agree with your issue. Maybe you could give a specific example ellipse that demonstrates the problem?

The code is different for full rotation vs less-than-full rotation. Which case do you think contains a bug? Assuming the case of a full rotation, the `rotation` is set on line 45:
[code]
Since the d

[2022-04-26 18:55] platypii commented on #1075
For ellipses, it seems this is not actually a bug in JSCAD. But it is a bug when porting JSCAD to a new language that has mixed `float` and `double` precision numbers.

Relying on exact floating point arithmetic seems valid in this particular case in javascript, but we could make the code a bit more robust for porting by making the logic of "is this a full or partial rotation?" more explicit.

The

[2022-04-26 19:55] briansturgill commented on #1075
OK, people keep looking at specific cases (for example at Math.PI*2) and not looking at the bigger picture.
I see this happening all through the JSCAD code... simple comparisons are made on numbers that are not safely considered exact.
What first triggered this was the fact I was using Single precision, but that is only because your normal unit test started failing.
The problem isn't the single pr

[2022-04-26 20:15] platypii commented on #1075
We understand that. The challenge is where exactly to put fuzzy checks vs exact checks. There are lots of places in the code base with epsilon checks, and there are certainly more places needed.

My point though is that I presented an argument why, in the ellipse case, I can prove that the checks are correct as-is, assuming we're in a double-only environment like javascript. This has nothing to do

[2022-04-26 20:22] briansturgill commented on #1075
A circle has a circumference of 2pi, not Math.PI*2, so YES there is definitely error there.

[2022-04-26 20:27] hrgdavor commented on #1075
@briansturgill I am a noob, could you point to a link or an explanation

[2022-04-26 23:03] briansturgill commented on #1075
A circle's circumference is 2 "pi" (the Greek letter) radians.
Pi represents an irrational number which is: 3.14159265358979323846264338327950288419716939937510582097494459230781640628620899862803482534211706...
The ... means it goes on literally forever... it has an infinite length.
Math.PI is a JavaScript floating point number that is EXACTLY: 3.141592653589793
It is finite.
Meaning any attempt

[2022-04-26 23:04] z3dev commented on #1075
Tis so with any CPU based math, float, double, integers, etc.

All calculations are inherently inaccurate. If the code can be rewritten (and it has been) to eliminate comparisons between inaccurate numbers then there's improvements.

[2022-04-26 23:22] briansturgill commented on #1075
One odd note... if the routines were written in degrees, not radians, much of the pain would be gone.

[2022-04-27 19:42] gilboonet commented on #1075
Before I used OpenSCAD then JSCAD, I used Povray and its source is C++, maybe it can give you some hints that JSCAD cannot.
Do you have an use case where Math.PI value is not precise enough ? I'm not specialist but I already use code like your *ish and I'm sure that we all do the same, use comparaisons adapted to our needs, more precisely to the granularity of our needs. What you say about Math.PI

[2022-04-30 06:31] z3dev commented on #1024
@udif sorry, but we have no plans to support SCAD to JSCAD translation at this time.

the version that you have been trying to used is very old; **published 1.0.0-alpha.d0fb3056 • 3 years ago**

i'll keep this issue open for those brave and bold enough to port this module to V2.

[2022-04-30 07:22] z3dev opened #1079 "API breaking changes in modeling"
I'd like to group together all API breaking changes into a single release. So, if there are any suggestions then now is the time.

Suggestions:
- move slice to geometries
- add dependency to array-utils, and remove duplicate functions in modeling
- change vectorChar() and vectorText() to return consistent objects, or path2 shapes, or new function
- remove Orthonormalbasis (this should be used inte

[2022-04-30 07:46] hrgdavor commented on #1079
There is `axes` parameter for ellipsoid that buggs me

Name | Type | Attributes | Default | Description
|-- | -- | -- | -- | --
|axes | Array | <optional> |   | an array with three vectors for the x, y and z base vectors

it allows for changing orientation and maybe size of the ellipsoid. I do not really understand it and it is one thing that was thorn in my eye when looking into instancing.

My i

[2022-04-30 17:09] platypii commented on #1079
Unify `offset` and `expand` since they seem to do _almost_ the same thing. I would remove one or the other.

[2022-05-02 08:34] z3dev commented on #1051
Closing as the use of map vs set has been reviewed. only the hull logic was adjusted.

[2022-05-02 08:42] #408 closed

[2022-05-03 06:58] z3dev commented on #1012
@paulftw yeah. we could follow suit, and provide an 'orientation' parameter.

`
const myshape = polyhedron({points, faces, orientation: 'inward'})
const myshape = polygon({points, orientation: 'clockwise'})
`

[2022-05-03 07:04] z3dev commented on #962
@gilboonet hmm... if orientation is changed to 'outward' then the faces of the polyhedron are inverted, and the display of the polygons change as well.

The orientation parameter was added because SCAD wants 'inward' facing polygons. Do not ask me why... it seems broken. The 'inward' orientation allows designs from SCAD to be imported into JSCAD without a lot of change. Changing the order of 500 f

[2022-05-03 22:07] #881 closed

[2022-05-03 22:14] platypii commented on #1079
Another idea: I would like a more standard way to convert between geometries. Examples:
 - `path2` <-> `geom2`
 - `geom2` <-> `slice`

There is a general question of should there be `path2.fromGeom2`? Or should there be `geom2.toPath2`?

Right now there are places in the code that do:

[code]

But this is actually the wrong way to convert to geom2 -- because it doesn’t check for `path.isClosed`.

[2022-05-03 22:56] z3dev commented on #1079
True. I think there was hesitation to add these because of one geometry is required to know the internals of another.

I have no preference.

geom2.fromPoints() checks for closure so it doesn't matter.

There could just be a set of utility functions that convert between geometries.

[code]

[2022-05-03 23:03] z3dev commented on #1079
Sounds fine but a new parameter is required to control the expand. That's why I opted for two functions.

[2022-05-03 23:05] z3dev commented on #1079
Me too. This piece of strangeness is used by 3D expand. It would be nice to remove this after 3D expand is rewritten.

[2022-05-03 23:13] platypii commented on #1079
Remove functions which do basically the same thing modulo cloning. As long as we treat data structures as immutable, these can be combined:
- `path2.create` and `path2.fromPoints`
- `poly3.create` and `poly3.fromPoints`

Related, `path2.create` should have an option parameter for `isClosed` instead of defaulting to false. It's weird to assume that the path is _not_ closed when calling `create`.

[2022-05-04 18:42] hrgdavor commented on #1079
I just remember one really big issue I have with modeling and that is `segments`
 - lack of global control of precision for smooth shapes
 - lack of distinction between a smooth cylinder versus intentionaly specivic segment count (very common: 6)

OCCT and OpenSCAD have this not because they want to be very fancy, but because reducing precision and number of vertices can help a lot with performanc

[2022-05-07 09:48] z3dev commented on #1079
I found some parameter names which are not camelCase. Those should be fixed as well.

[2022-05-07 09:58] z3dev commented on #280
@jleppert please reopen if still interested but basically this functionality is best left to the built in debuggers of the browsers or IDE tools.

[2022-05-07 09:58] #280 closed

[2022-05-08 22:28] z3dev opened #1086 "TS definitions for geometries"
## Expected Behavior

Proper TS definition of color as an attribute of geometries.

## Actual Behavior

it seems that there's a hierarchy of classes where Color is the base class. Totally wrong.

## Steps to Reproduce the Problem

  1. See code

## Specifications

  - Version: all
  - Platform: all
  - Environment: all

[2022-05-10 00:12] z3dev commented on #1086
@platypii can you take a look at this? i'm not knowledgable about TypeScript definitions.

[2022-05-10 00:38] z3dev commented on #1086
Just a quick look at the definitions... I don't understand why Colored is 'type' defined. I think the geometries should not define 'types' but rather 'interfaces' only. No hiearchies, no types.

Interfaces are more flexible and extendable. And users can define 'types' if they want to define objects with methods, etc.

[2022-05-10 20:21] platypii commented on #1086
I'm experimenting with different type hierarchies to see what will be best. The current types are not _wrong_ but I do think there is room for improvement. I agree that `Colored` should probably be an interface not a type alias.

Here is a simplified version of the jscad geometries, for testing different types. Commented lines are type errors:

[code]

[2022-05-10 23:40] z3dev commented on #1086
There's very little difference between types and interfaces. It's very subtle.

https://www.typescriptlang.org/play?e=83#example/types-vs-interfaces

And the recommendation is to use interfaces. But I wonder...

[2022-05-11 12:44] z3dev commented on #243
@gilboonet is this issue still important to your projects?

I can supply some example code if interested.

[2022-05-11 12:49] z3dev commented on #558
Summary
- AMF TBD
- DXF support for 'name' attribute #684
- OBJ TBD
- STL impossible as format does not support
- SVG support for 'id' and 'class' #974
- 3MF

[2022-05-11 12:57] #315 closed

[2022-05-11 13:09] z3dev commented on #488
@gitzdnex can you provide an example of what you REALLY want to make? A small example should help us understand, and provide some assistance.

[2022-05-11 20:45] gilboonet commented on #243
@z3dev For this kind of project I'm using vanilla JS for a long time now, even if I wrote V2 version of my unfolder recently, so it's not an issue for my projects, but such code is always welcome.

[2022-05-12 16:25] kbruneel opened #1087 "SVG path with "hole" does not import correctly"
## Expected Behavior
When I import an svg path with a hole, the hole is not shown.

## Actual Behavior
Hole is not visible.

## Steps to Reproduce the Problem

  1. Past the following code in https://openjscad.xyz/
[code]

2. What it should look like:
[code]

## Specifications

  - Version: 2.9.3
  - Platform:
  - Environment: browser

[2022-05-12 19:04] platypii commented on #1087
Yep this looks like an issue. Here is a simplified SVG that shows the same problem:

[code]

[2022-05-13 13:44] kbruneel commented on #1087
@z3dev Any idea what is going wrong where? I can try to solve it, but its not clear to me at this point

Also notice, to get the correct result I need to invert the second geom3 and the subtract it from the first. Because of this I was thinking that the second geom3 is a hole and that I would get the correct result by taking the union of the two geoms3s. Should it work like that, or am I missing s

[2022-05-13 17:38] platypii commented on #1087
Actually after some more investigation I realized I was wrong. The actual problem is that the deserializer produces two separate `geom2`'s instead of one. If you "merge" the two objects by concatenating the sides together, it actually works:

[code]

![hole3d-good](https://user-images.githubusercontent.com/1766297/168337951-68eafdb7-63f6-4278-8f9c-99ae9997ad4e.png)

[2022-05-13 23:08] z3dev commented on #1087
@kbruneel this is a common issue when importing SVG paths.

SVG is about rendering a raster image (and has rules too) so JSCAD takes a simple approach when converting to useable geometry. Complex, multi-part paths are split into pieces. So, you have to KNOW the contents in order to use results.

If you want to extrude the results then some inspection is required to assure geometries follow proper

[2022-05-14 07:08] z3dev commented on #562
Performance improvements to mat4.isMirroring() completed.

[2022-05-14 07:08] #562 closed

[2022-05-14 07:16] z3dev commented on #948
@MichaelJumble closing this as feedback has not been provided. Feel free to reopen if you need further assistance.

[2022-05-14 07:16] #948 closed

[2022-05-14 09:53] kbruneel commented on #1087
@z3dev I understand that and looking into it a bit more now, but my question was about something else. I didn't explain it well, so let me explain it a bit more.

When I import my svg and extrude it I get two geom3s let's call them Solid and Hole.

I get the correct result when I do this:

[code]

But I expect to also get the same result when I do this

[code]

Just because I expect

[code]

But t

[2022-05-14 10:03] kbruneel commented on #1087
@z3dev @platypii I looked a bit more into the how the insideness of a SVG path is determined (https://developer.mozilla.org/en-US/docs/Web/SVG/Attribute/fill-rule) and if I understand it correctly it does look like they also use clockwise and counterclockwise to distinguish solid and hole. At least in the standard setting for the standard setting for `fill-rule = nonzero`. Look at the example in t

[2022-05-14 21:19] kbruneel commented on #1087
@z3dev I did misunderstand Union :) I had to use intersect. Now I get the correct result like this:

[code]

I'm wondering if the solution could be that:
When importing a path that contains multiple subpaths, just take the intersection of the subpaths and return this as the geom2 for the path.

[2022-05-14 21:40] platypii commented on #1087
Intersect is not the correct solution, in general. It works specifically in this case because the hole essentially defines "all the plane except this hole" and the outer polygon defines the area inside itself, so the intersection is the correct area in this example. But in general there can be holes inside of holes and that wouldn't work using intersection.

![nested](https://user-images.githubuse

[2022-05-14 21:53] z3dev commented on #1087
I think a utility function that converts multiple path2 into geom2 would be better. Then the general utility is available for use. The conversion can be complex, as you already pointed out.

And SVG should just return paths, period.

[2022-05-14 21:57] z3dev commented on #1087
Also, those SVG fill rules are not about holes. Those rules are about how to display the overlaying areas of shapes. It does not equate to booleans.

[2022-05-15 11:54] kbruneel commented on #1087
@z3dev Do you mean that when importing an SVG path, the d-property should be imported as a path without taking into account things like fill, stroke-width, stroke-style, ... Or do you mean all these extra properties of SVG paths should be taken into account when converting an SVG path to JSCAD paths?

[2022-05-15 11:57] kbruneel commented on #1087
@platypii yes indeed you are right.

Intersect may be a quick fix while waiting for a general solution.

[2022-05-17 12:06] z3dev commented on #1079
@danmarshall do you have any suggestions? I'm sure there are a few things that you would like to see changes. 😃

[2022-05-25 07:44] z3dev commented on #1051
Reopening as there are additional functions using... yup... objects for maps.
- DONE slice.repairSlice()
- DONE reTesselateCoplanarPolygons() in booleans

If anyone knows of more then please add a comment.

[2022-05-27 20:30] briansturgill opened #1094 "Problem with JSCAD measureBoundingBox/measureBoundingSphere caching."
1. Because Geom2/Geom3/Path2 geometries are NOT immutable, any transformation on a Geometry after the first call to measureBoundingX will in most cases return an invalid result from the cache.

2. The caching of values makes the performance testing numbers very skewed. In real life the cache would be very seldom used as new geometries are usually created for each position in which they are used. O

[2022-05-27 22:48] briansturgill opened #1095 "Nodejs Math.hypot performance is pathetic."
Math.hypot is written to the IEEE standard for hypot... which forces the routine to handle very tiny/large (e-/+250) numbers by scaling the incoming numbers. It slows things down greatly, though not as much as in node... something very wrong there.
Anyway, a CAD package doesn't need to handle such tiny/huge numbers... the "simple" hypot would work just fine.
As I pointed out in a different issue,

[2022-05-27 23:43] platypii commented on #1095
The change to `Math.hypot` was my doing in PR #996. I was trying to minimize floating point error, but that is surprising how bad the performance is.

Maybe worth switching back to pythagorean distance. Or adding `maths.utils.trigonometry.hypot` using `Math.sqrt(...)` under the hood.

[2022-05-28 15:13] hrgdavor commented on #1095
@briansturgill thanks for the insight. I was expecting that Math.hypot is faster since I expectig the performance was the reason begind adding it to Math. It is good to be aware of the performance hit it brings.

[2022-05-28 15:25] hrgdavor commented on #1094
I would not disregard caching of bounding boxes as easily. The bounding box can be safely recalculated for transforms that only translate and scale (no rotation). One of reasons I wanted to introduce caching is to allow for shape generators to prefill the cache. For example it is trivial to precalculate bounding box of a sphere, but is exponentialy more expensive wirh increasing segment count.

On

[2022-05-28 16:45] briansturgill commented on #1094
...

I think you misunderstand... all geometries ARE mutable. That is how Transform/ApplyTransforms works.
The "measurement.measureBounding... routines INCORRECTLY do the caching. They will return incorrect values
if the routine is called before a Transform, and then called again. The current caching simply is incorrect.
If you want caching, the the cached bounds should be on the geometry object a

[2022-05-28 17:05] briansturgill commented on #1094
BTW. if you want to speed up your boolean operations, one should study the screenshot I gave you above.
I renamed a few things in my CS version, so here is a translation:
JSCAD poly3.measureBoundingBox is CSCAD Poly3.BoundingBox
JSCAD poly3.measureBoundingSphrere is CSCAD Poly3.BoundingSphere
JSCAD (really Nodejs) Math.hypot is Vec3.Hypot.

The column you want to look at is Self CPU... this is the

[2022-05-28 18:06] briansturgill commented on #1079
Just to give an outsider's perspective on Path2. I found it incongruent with Geom2/Geom3. I see no reason why boolean operators, etc. should be used on a "path". So I left it out of CSharpCAD. If I do put it in eventually, my idea was to have a "Path" object that would have methods like arc, bezier, line, etc (a set of primitives that 2D drawing has) and you would "finish/close" it by calling ToGe

[2022-05-28 18:07] hrgdavor commented on #1094
That is not the intention, and if true will be fixed.

Transform creates new geometry by keeping keeping reference to same vertex data but generating a new transform that is a combination of existing transform and newly applied transform. Intention is not the "absolute immutability" but the "effective immutability" and the is the direction I am lobbying for internally.

ApplyTransforms is allowed

[2022-05-28 21:21] #756 closed

[2022-05-29 01:19] briansturgill commented on #1094
Wow... OK, I tried to make a test case that failed and it didn't fail.
I see what you mean about what Transform does, and you're right, at least for caching it works.
I will close this issue.
I'm going to move the Profile png to a new issue as that is still valid.

[2022-05-29 01:19] #1094 closed

[2022-05-29 01:27] briansturgill opened #1096 "Output profiling from C# that might prove useful to JSCAD development."
Below is an image of a profile of my translation of JSCAD "union" performance tests to C#.
In particular what it shows is that unions (and it will be true for all booleans) are dominated by the seemingly simple
routines poly3.measureBoundingBox, poly3.measureBoundingSphere and Math.hypot.
I renamed a few things in my CS version, so here is a translation:
JSCAD poly3.measureBoundingBox is CSCAD Pol

[2022-05-29 07:48] hrgdavor commented on #1094
Cool. I am, glad it actually works. Thanks for the feedback. Yor feedback is welcomw, and I hope we can work together towards more speed improvements.

[2022-05-30 22:21] #1086 closed

[2022-06-06 07:19] z3dev commented on #1096
@briansturgill

i've been trying to understand the reasoning behind the IEEE-like implementations. it seems that the scaling (by largest value) makes an assumption that ALL values are of the same 'scale'. i that isn't true then there's not much value in scaling to eliminate loss of precision errors.

did i understand correctly?

and yeah. i think JSCAD doesn't benefit from the use of Math.hypot()

[2022-06-06 08:41] z3dev commented on #90
Here's another node based design tool, which incorporates JSCAD, and even more.

https://polygonjs.com/

[2022-06-06 19:30] briansturgill commented on #1096
It isn't entirely unreasonable to believe they are likely to be of the same scale... How many triangles do you have that have two sides a light-year long and and the third a nano-meter long? The problem is that hypot if you deal with very large or very small numbers, hypot done with Sqrt fails. Fortunately that doesn't apply to CAD. I'm assuming that the IEEE people made the assumption that people

[2022-06-09 20:35] briansturgill opened #1105 "Fault in documentation of circular/elliptical primitives."
In numerous of these primitives you document:
"number of segments to create per full rotation"

That implies to me that the number of segments is per a whole (360 degree, "full" rotation) object.
However, I've reading the code a lot and clearly it is the segments per the potentially partial object from startAngle to endAngle.
Perhaps it should say instead of "per full rotation", "for the defined r

[2022-06-09 20:50] hrgdavor commented on #1105
I think that was intended as a goal, but not implemented properly everywhere.
Having same number of segments for 360 deg and then also same for 50 deg is incosistent. I prefer if effort is made to go towards something consistent like:
 -  actually obeying: "number of segments is per a whole (360 degree, full rotation)"
 - or something similar to OCCT

[2022-06-09 21:18] briansturgill commented on #1105
...

Interestingly, when I was trying to decide whether or not to keep the startAngle:, endAngle: features in CSharpCAD, the main (really only) pro reason was that you could control the number of segments in a partial circle. (In my head I was considering what it would take to make a pool table "rack" (i.e. rounded triangle). I decided I'd be better off making a Path object that drew it directly a

[2022-06-09 21:29] hrgdavor commented on #1105
to me it is more about precision of curves when converted to mesh, and it looks like 2 separate concepts that can not be handled by single param.
Sometimes I want direct control over number of segments, sometimes I need a kind of concept of smoothness.

[2022-06-10 11:59] z3dev commented on #1051
@platypii would you like to rework insertTjunctions() ? If not then I'll start working on the changes.

[2022-06-12 04:07] platypii commented on #1051
I'll take a shot at it, unless you've already started working on it

[2022-06-12 05:02] z3dev commented on #1051
Go for it.

[2022-06-12 05:07] z3dev commented on #1096
@briansturgill thanks for the nice performance hints.

The change from hypot() to sqrt() has been released. As well as, the improvements to measureBoundingSphere(). Performance of the BSP trees has been boosted by 40 to 50%.

I think this issue could be closed now. Please let us know if you find any more areas for improvement.

[2022-06-12 18:13] briansturgill commented on #1096
Yeah, it's looking good, I'll try to run a full performance test on it tonight.
I reran profiling on CSharpCAD after making similar changes and believe what's left is just indicative of what it takes to do the job.
I also looked at many other places and it looks like most things are fine.
One exception, extrudes... but I'm just now looking into why. I'll post more if I decide there's potential sig

[2022-06-12 18:20] briansturgill commented on #1105
This turns out to not be wrong in circle/ellipse, so I going to close this.

[2022-06-12 18:20] #1105 closed

[2022-06-12 23:41] briansturgill commented on #1096
OK, generally nothing wrong in extrudes. I found a few problems in my translation, but I think it unlikely any of it applies to JSCAD.
It might be worth someone's time to take a look at extrudeWalls as it is very critcal path and moves a lot of data around.

[2022-06-13 06:36] hrgdavor commented on #1096
the extrude alg probably needs revisiting. Maybe splitting into few variants. I am sure there is subset of use-cases (that are actually likely very common) that can be superfast.

[2022-06-13 16:41] briansturgill commented on #1096
Interesting... as you know I'm review the primitives to finalize CSCAD API. One thing I've been doing is rewriting (actually massively refactoring) the primitives (for example circle to circle (full) and semicircle).
One thing I've found is that there is quite a bit of unnecessary work done. For example "center" always gets added, even though that wouldn't be the usual case. (I mean, does one real

[2022-06-13 19:16] platypii commented on #1096
An optimization I've been meaning to implement on `extrudeLinear` is a check for convexity. Right now it runs the ear cut algorithm, cutting off triangles "ears" recursively, until everything is triangles. But there is no need to do that if the polygon is convex.

First of all, if the poly is convex, then triangulation is trivial, no need for complicated earcut algorithm. But also, JSCAD allows fa

[2022-06-14 11:22] z3dev commented on #1096
The extrude functions were created using the same functionality to make the process exactly the same. There are cases where the number of points are not the same, and therefore triangles are required to create the walls.

I'm sure optimizations are possible but don't forget that the extrude functionality is very powerful.

[2022-06-14 17:21] hrgdavor commented on #1096
I am in favor of having a different extrude for cases that can benefit in performance. I would welcome even going to a next level general aproach of adding more performance hints similar to HasOnlyOnePath .

[2022-06-14 17:29] briansturgill commented on #1096
Oh, I'd appreciate if those of you that understand sides (likely better than I do) check that the HasOnlyOnePath property checks  what it says it checks.

[2022-06-15 17:16] briansturgill opened #1112 "3D Primitives need work."
The CSharpCAD version of cylinder which used cylinderElliptic, was already about 10% faster than JSCAD.
My new version of cylinder is 10x faster.
It uses extrudeSimple, which we discussed in #1096 .
I also include my lastest version of extrudeSimple below.

I suspect my similar version of cuboid is also faster than the old one, but performance tests didn't cover cuboid.

## cylinder.cs
[code]
## c

[2022-06-15 21:50] z3dev commented on #1112
@briansturgill wouldn't it be easier just to provide links to the code? In fact, I'd prefer pull requests against JSCAD.

[2022-06-16 00:39] briansturgill commented on #1112
I've been delaying getting online because the API is still in flux.
However, I can put it out for you guys.  I'll try to get it there tonight.

As to "prefer pull requests against JSCAD"... if I actually liked working in JavaScript, surely, I'd just do that?
I actually detest JavaScript (no offense intended), so no, not going there.
I do think it is good to have JSCAD around (i.e. there is a real

[2022-06-16 03:58] briansturgill commented on #1112
You may also want to check out the latest:

So, I've created a Cylinder/Semicylinder/EllipticCylinder/SemellipticCylinder. And removed CylinderElliptic entirely.
There was one piece missing, so I create another "Simple" form of extrude.
Called ExtrudeSimpleBetween, it extrudes between two Geom2 objects, one for the top and one for the bottom.
ExtrudeSimpleBetween is as fast as ExtrudeSimple. It re

[2022-06-16 09:14] hrgdavor commented on #1112
@briansturgill I see you aer very active with this. If this will happen for a longer term I think jscad can benefit too if we could stay aligned in some way so we both benefit from the efforts. I completely understand that you prefer C# and I feel that way for JavaScript.

I am fine with translating cool bits that you make in CSharpCAD. (I am still for few weeks in the mode where I am swamped with

[2022-06-17 02:25] z3dev commented on #1051
I believe that all the functions are now using proper maps. Closing this issue.

[2022-06-17 02:25] #1051 closed

[2022-06-17 02:33] briansturgill commented on #1112
OK, I've finished finallizing the API. You can see Docs: https://briansturgill.github.io/CSharpCAD/CSharpCADDocs.html
I changed Cutter to have startAngle and endAngle in the exact same was as if the object you want to cut had those arguments.
For example: Subtract(Sphere(radius:5), Cutter3D(radius: 5, startAngle: 90, endAngle: 180)) would remove the 4th quadrant of the Sphere.
UnitTest for the two

[2022-06-19 20:20] briansturgill opened #1113 ""subtract" gives bad output."
## Expected Behavior

## Actual Behavior
Meshlab reports 12 non manifold vertices
64 faces over non manifold edges.
(I've seen this several times, here's a simple example.)

## Steps to Reproduce the Problem
Run this: program output to .stl
const {cylinder } = require('@jscad/modeling').primitives
const { subtract } = require('@jscad/modeling').booleans

const main = () => {
	h = 8
	size = 3
	cons

[2022-06-19 22:43] briansturgill commented on #1113
OK, put updated code in original support.
The union also has a similar problem.
The intersect works perfectly.
Is this by an chance, the "T-junction" problem?

[2022-06-20 03:48] platypii commented on #1113
Yea, the issues with boolean operations creating non-manifold geometries is well known. #807 #696 and others. Here's the simplest example I've found:

[code]

![nonmanifold](https://user-images.githubusercontent.com/1766297/174521764-9ce3ee82-cbb8-4d27-aede-f071e96c7fb7.png)

The main issue appears to be creation of T-junctions as you mention. To fix it will require either:

1. Fix it inside the B

[2022-06-20 07:31] z3dev opened #1114 "replace lerna with yarn(?) and lerna-lite(?)"
## Expected Behavior

Using a new mono-repo management tool; build, version, and publish packages to NPM

## Actual Behavior

Lerna has been going through some major disappointments. First, it was deprecated, end-of-life. Then, it was given to over to Nrwl to maintain.

It's probably time to try a few other options, as technology around mono-repositories has been improving.

- pnpm
- yarn
- lerna-

[2022-06-20 08:04] hrgdavor commented on #1114
I vote for pnpm :) ...
I have limited experience with it, and my main reason to use it because it reuses packages via symlinks and hardlinks, thus conserving space.

[2022-06-20 08:12] hrgdavor commented on #1113
1) sounds faster, and I am not sure if it will be more complicated to make a better fixing tool, or change BSP to track these splits.
I can only hope someone with better knowledge of computational geometry than me will find this problem interesting to fix :)

[2022-06-21 03:49] briansturgill commented on #1113
@platypii Thanks for that example, I'm sure that will be handy while I work on this!

I'm starting to question if the right criterion is being use see the union algorithm [here](https://www.gamers.org/dhs/helpdocs/bsp_faq.html).

I find this very unlikely to work. The boolean algorithms only work on manifold sets of polygons.
Anytime you do one of the booleans, there's a good chance you're not man

[2022-06-21 03:52] briansturgill commented on #1113
I'm busy until next week sometime.
I intend to go after the problem full blast when I get free. So if you want to beat me to it, now's the time. :-)
I've been hunting down reference materials.

https://www.gamers.org/dhs/helpdocs/bsp_faq.html
https://commons.apache.org/proper/commons-geometry/tutorials/bsp-tree.html
Here's a paper from 1990 about this...
http://www.cs.yorku.ca/~amana/research/bspt

[2022-06-21 15:31] platypii commented on #1113
I should have been more clear. The example I gave DOES produce a non-manifold geometry. But on export, `generalize` is called and is able to fix this example. There are other examples (like yours) that fail to repair even with `generalize`. The nice thing about my example was just that it demonstrates the same kind of underlying issue, with nice easy round numbers. This can be shown using `geom3.v

[2022-06-21 15:50] platypii commented on #1113
Looking at @briansturgill's example.

Before `generalize`, it produces 326 non-manifold edges.
After `generalize` there are zero-area polygons, and 71 non-manifold edges. Even after repair.

<details>
<summary>nonmanifold.js</summary>

[code]
<details>

[2022-06-21 18:48] briansturgill commented on #1113
@platypii Thanks!
So, I think I've definitively shown that the adjacent faces is not the problem.
In a manifold object, every edge has exactly two faces. That edge will get split twice.
So I modified SplitPolygonByPlane to use a Dictionary (Map) of edges to returned values and then check for the
reverse edge to see if the adjacent was already done, returning the cached intersect point if it was th

[2022-06-21 22:36] z3dev commented on #1113
It's a problem of precision.

@platypii lets investigate those zero area polygons. The generalize functions should be removing those.

[2022-06-21 22:39] briansturgill commented on #1113
Ummm... I believe that was what the recently removed repair did. It was
generally not turned on anyway.

On Tue, Jun 21, 2022 at 4:36 PM Z3 Development ***@***.***>
wrote:

--

Brian

[2022-06-21 22:43] z3dev commented on #1113
The serializers call generalize if necessary to create triangular meshes, etc.

[2022-06-22 06:17] z3dev commented on #1113
Form the paper on BSP trees...

`Note that this code is not robust, since numerical stability may cause errors in the classification of a point. The standard solution is to make the plane "thick" by use of an epsilon value.`

Which is the current approach being taken to classify polygons for clipping.

[2022-06-23 02:41] briansturgill commented on #1113
I've found a better PDF of the naylor journal article:
http://www.vjlove.com/publications/papers/siggraph90.pdf

[2022-06-23 16:32] briansturgill commented on #1113
Yes, but the problem (at least with the Cube, Cube example) is that it is not clipping properly.  Or more accurately, edges that should have been split were not. As I said, I think the algorithm implementation is faulty. (It's kind of a myth that there is a BSP union algorithm... generally the academics wave their hand and say it's possible. Note, I only have found only one other package that use

[2022-06-23 17:32] briansturgill commented on #1113
Anybody at an institution that has access to this: https://www.sciencedirect.com/science/article/abs/pii/S0010448512002412?via%3Dihub
It sounds like exactly what we are looking for.
Title: "Fast and robust Booleans on polyhedra"

[2022-06-23 18:09] hrgdavor commented on #1113
I am willing to bu iy for $32 if you are eager to try it out.

[2022-06-23 18:17] briansturgill commented on #1113
I too am willing to buy it, but only if it looks like it really does what it is billed to do. Abstracts are unreliable.
I was hoping someone could take a look at it first to see if was implementable.
Academics are prone to hand waving when it comes to the hard parts.

[2022-06-23 18:20] briansturgill commented on #1113
So I think I may have figured out what is wrong with the Booleans algorithm. I think it may be for convex polyhedron.
We have convex polygons, but definitely not convex polyhedron [that would be wrong].
Anyway, it would explain why somethings are missed.
If I am right, we'll have to find a different algorithm.
I tried find evanw's email but didn't find it.
Perhaps we could ask him about the origin

[2022-06-23 20:51] platypii commented on #1113
The paper is on sci hub :innocent:

Also evan's email is in the git logs of https://github.com/evanw/csg.js though not sure its current

[2022-06-24 06:54] hrgdavor commented on #1113
@briansturgill there are some more in the references
this one is may 2022 https://arxiv.org/abs/2205.14151 https://arxiv.org/pdf/2205.14151.pdf

[2022-06-25 06:08] z3dev commented on #1087
I'm looking at this further now. So, the resulting code (translation of svg to js) looks like this.

[code]
The sub-paths are being translated into geom2 shapes, and accumulated into a group of 'parts'. All good.

The NEXT step should perform some inspection, and then call a boolean function on the 'parts' to produce the final geom2 shape. There are several IO libraries that create paths, so hopef

[2022-06-30 23:12] platypii commented on #1113
Hm, I'm not seeing any effect from changing that line. On your example with the 2 cylinders, I get exactly the same numbers of non-manifold edges with EPS or with EPS * EPS. I looked at the values we were getting for `distancesquared` and they were all either like `0` or `0.001` or `1e-32`. None were affected by choice of `EPS = 0.00001` or `EPS * EPS = 1e-10`. Maybe I'm missing something?

[2022-06-30 23:17] briansturgill commented on #1096
@z3dev

Could you elaborate on the cases where there number of points are not the same?
At least in extrudeLinear, I expect it is always the same.

[2022-06-30 23:30] briansturgill commented on #1113
@platypii

Perhaps I wasn't clear enough.  You do indeed still get manifold issues, etc. The changes only occur when you output an STL file. It is passing meshlab perfectly. In other words, you need to go through snap/insertTjunctions/triangulate.

I just went back and checked and that one change in insertTjunction fixes this sample:
(To be clear, I checked that (EPS*EPS) failed and just EPS works

[2022-07-01 03:08] briansturgill opened #1117 "Probable bug in torus.js"
I would try to reproduce, this but I don't really understand what innerRotation on a torus is supposed to do.
Anyway, I'm pretty sure this is a bug:

torus.js:
[code]
The z value of argument 1 to rotate will not be used as circle is a Geom2.

[2022-07-01 03:20] briansturgill commented on #1117
Never mind, I seem to misunderstand 2D rotate.

[2022-07-01 03:20] #1117 closed

[2022-07-01 19:24] briansturgill commented on #1113
So, EPS (1e-5) might be too large:
For:
[code]
I set the value to 1e-6 and get no errors from meshalb.
At 1e-5. it causes 1 failure that was different (I thought maybe it "fixed" a T-junction that wasn't a T-junction.
However, 1e-7 and below still sees errors from unfixed T-junctions.

The real solutions is to of course not to create T-junctions to begin with.
One serious problem with the current

[2022-07-02 03:23] briansturgill commented on #1113
OK, I've tried various values, it looks like 1e-6 works the best.
This is all very much a hack though.

[2022-07-03 20:10] platypii opened #1119 "User Group is offline"
## Expected Behavior

User group link should work

## Actual Behavior

Link redirects to NodeBB homepage. Seems like the account expired or something.

## Steps to Reproduce the Problem

  1. Click "User Group" under the JSCAD help menu.

## Specifications

  - Version: 2.5.11
  - Platform: all
  - Environment: browser

[2022-07-03 22:39] z3dev commented on #1119
Yeah. I was hoping that it was just a temporary outage, as we didn't get any notice of extended down time. 😞

[2022-07-04 15:50] briansturgill opened #1120 "2D booleans are an absolute mess."
## Expected Behavior
Reasonable retention of precision.

## Actual Behavior
Some of these numbers are off by 4 times EPS!!!
[code]

## Steps to Reproduce the Problem
[code]

[2022-07-04 15:53] briansturgill commented on #1120
Anyway, as step one to correcting the Boolean issues (#1113 ), I'm working on booleans for 2D.
It's kind of crazy to be using 3D for 2D anyway.

[2022-07-04 16:08] briansturgill commented on #1120
BTW, is there some hidden documentation about how Geom2 outlines and sides work?
I was making a sample, trying to understand how they work when I realized the severe precision issues.

[2022-07-04 20:25] platypii commented on #1120
Yea using the 3D BSP algorithms (which already have issues) for 2D is kind of crazy. Using the "fake polygons" to do so leads to a whole bunch of numeric errors, and the performance is awful.

There has been discussion, and I even started some work, on changing the 2D boolean operations to use better algorithms which are both 1) much faster and 2) more accurate and stable.

There was general agree

[2022-07-04 20:48] briansturgill commented on #1120
Great. I'll look at those two. In almost every case, a JS version exists of the algorithms I've been looking at and they had either MIT or Boost licenses.

[2022-07-04 23:21] briansturgill commented on #1120
Comments moved that were posted in the wrong place...
OK, just been looking around. Polybooljs is also based on Martinez. More important from my standpoint is that two C# ports already exist!
Martinez-Rueda is very full blown... it will be quite of bit of work paring it down...

Oh, NOTE: polybooljs seems to have a different maintainer, it now appears to be at: https://github.com/velipso/polyboolj

[2022-07-04 23:22] briansturgill commented on #1120
OK, revising my opinion about the martinez-reuda link @z3dev gave above. It seems it's is very similar to polybooljs, and the reason
is simple, it all started with the author's C code, see:
https://github.com/akavel/martinez-src
The link @z3dev gave above is probably the best to go with because it uses the newest form of the algorithm.
The new form gives information on what are holes, for example.

[2022-07-04 23:57] z3dev commented on #1120
This library has also been ported to Rust, if that helps. Bot are actively maintained.

[2022-07-05 02:02] z3dev commented on #1120
FYI, the results of 2D booleans are snapped (rounded) in order to prevent gaps, which comes from the 3D booleans, so precision is 'adjusted'.

[2022-07-05 09:20] z3dev commented on #1119
The User Group is online again. 😃

[2022-07-05 12:14] z3dev commented on #1075
@briansturgill can you provide a reference for the "willow" project? It would be good reference for this issue.

[2022-07-05 19:12] briansturgill commented on #1075
The "willow" project was pointed out to me by @hrgdavor a couple of months ago. I had assumed at the time it was from an OpenSCAD.org discussion, but I cannot find it searching for it. Perhaps @hrgdavor will remember where the reference originated. Basically the guy was tired of problems in JSCAD and was writing his own CAD... I think it was in C++ and it definitely was going to use large integer

[2022-07-05 21:09] z3dev commented on #1075
Ah... I see. It's actually called Walnut. See the discussion on trying to integrate/ use as part of JSCAD.

[2022-07-06 03:17] platypii commented on #1075
Side note, but I don't see how switching to BigInt rationals really helps. As soon as there is any nontrivial rotation you'll end up with irrational numbers, and you'll need to approximate again anyway.

It seems like every system will approximate at some level. Maybe some operations can be made precise with rationals that floating point cannot, I'm not sure. But overall it seems like it would sig

[2022-07-07 03:29] briansturgill commented on #1120
@z3dev , this is what numbers should look like!!!
[code]
I hacked in a C# translation of https://github.com/velipso/polybooljs called Polybool.Net.
I wanted to see if it was worth translating w8r/martinez.
The verdict is YES.
The version of the algorithm I running is older and does not separate out holes, so I had quite a bit of frustration
getting this in proper order for Geom2.

w8r/martinez doe

[2022-07-07 03:36] briansturgill commented on #1075
...
I agree, I don't really think it's that much of a help and it's a definite performance hit.
Note, there might be a good reason on the horizon though. I'm thinking that they may be thinking that GPU hardware could handle large ints better than floating point.
A lot of CAD research these days is more display oriented than creation of model oriented.
One problem I've had finding a good 3D boolean

[2022-07-12 12:21] #1096 closed

[2022-07-16 16:33] briansturgill commented on #1113
Ok, after mind numbing searching, I think I've found the general approach that should be used to replace 3D boolean processing.
This approach is used in Blender and CGAL and apparently in OpenGL as well.
It requires that meshes be triangulated.
There are a number of papers:
https://cims.nyu.edu/gcl/papers/zhou2016mas.pdf
https://arxiv.org/pdf/1601.07953.pdf
https://igl.ethz.ch/projects/winding-num

[2022-07-21 11:37] platypii commented on #1070
I'm not working on this, but I noticed the bug and wanted to file it somewhere.

[2022-07-21 12:44] z3dev commented on #1070
Cool. I hope to start reviewing and contributing to the new WEB UI soon. We need to push that along now, and start moving towards ES6 import / export

[2022-07-21 13:40] hrgdavor commented on #1070
I have been silent for some time, but I have been exploring executing scripts that use es6 modules and how other web IDEs do it, and I was doing it outside jscad web prototype branch.

The solution might not be too complicated for WEB IDE of jscad, but for cli we might need a different solution to simplify execution. In web context I have been able to setup babel transpiler that converts es6 modul

[2022-07-26 18:17] elalish commented on #1113
Sorry to jump in late; I just found your library. I too am a big fan of OpenSCAD, web development, and computational geometry. I've been building a library that might be helpful on the Mesh Boolean front: https://github.com/elalish/manifold

It's C++, but we now have a WASM build that's <200kb; you can see a really basic test [here](https://elalish.github.io/manifold/bindings/wasm/examples/index.h

[2022-07-26 19:21] hrgdavor commented on #1113
@elalish wow, that looks promising indeed. We are definitely interested in making the boolean engine plugabble at some point and also explore what there is. I am also very curious seeing that you also have a gpu variant.

[2022-07-27 17:46] briansturgill commented on #1113
...
@elalish Interesting, does the algorithm you are using require the meshes to be triangulated. (Our current one doesn't, but I'm having trouble find one to replace that directly.)
I'm doing a C# translation of JSCAD, with a Python API Wrapper. C++ is somewhat problematic for me, though I guess I could translate that too. :-)

I don't think you're late to the game at all... currently focused on

[2022-07-28 15:27] elalish commented on #1113
So, yes and no. Manifold's API is based on triangle meshes (I wouldn't trust an input polygonal face to be planar). However, a Boolean operation obviously creates polygonal faces from triangle inputs, so I have internal triangulation and decimation routines to return it to a clean triangle mesh. I invented by own robust triangulator as part of writing this library, since none of the existing ones

[2022-07-29 19:24] briansturgill commented on #1113
@elalish

Yeah, that's the conclusion I've been coming to as well... First I need to get 2D Primitives and Extrudes robust and properly triangulated (almost there), then I'll tackle 3D. Any suggested papers for 3D mesh booleans? Oh, I love the GPU stuff.... but not likely practical for my own project at this stage.

[2022-07-29 20:01] elalish commented on #1113
Manifold already has a Python API wrapper, in addition to WASM. Is there a reason you can't use it directly? It has extrusion with triangulation and lots of other handy functions. If you're interested in collaboration, it would be great to flesh out our 2D subsystem (I'm thinking of taking a dependency on clipperLib).

[2022-08-03 10:47] GrreenZ opened #1131 "npm install @jscad/web fails (broken dependencies)"
## Expected Behavior

npm install @jscad/web
should install package in node_modules directory

## Actual Behavior

There are two unfulfilled dependencies in source code
* copy-dir
* docblock (also with 2 high severity vulnerabilities)

## Steps to Reproduce the Problem

  1. mkdir broken-deps
  2. cd broken-deps
  3. npm init -y
  4. npm install @jscad/web

## Specifications

  - Version: @jscad/w

[2022-08-03 11:40] z3dev commented on #1131
Looks like the post install step is incorrect. It should only link the examples when boot strapping for development.

[2022-08-04 05:04] z3dev commented on #1131
P.S. It's best to stay away from the NPM and LERNA standard lifecycle steps.

[2022-08-04 19:59] briansturgill opened #1132 "Possible problem with assignHoles.js"
## Expected Behavior
You're going to hate this as I haven't found one that fails under jscad!
None the less, you really should take a look at the original Earcut paper:
https://www.geometrictools.com/Documentation/TriangulationByEarClipping.pdf
On page 9 at the bottom it says that holes need to be sorted by max.X.
assignHoles.js is not doing this.
I was having a problem with my C# earcut and putti

[2022-08-05 05:40] briansturgill commented on #1120
It is very important that you guys look into what I have done. @platypii @z3dev @hrgdavor
Much, if not all of this needs done in JSCAD.
OK, I've done the following to CSharpCAD:
* Changed 2D booleans to use a C# translation of polybooljs called NPolyBool.
- It is based on the eariler martinez algorithm. I had difficulties with the w8r/martinez. Problems in the code, etc. Also I did not like the fa

[2022-08-05 05:53] briansturgill commented on #1120
### Why I've started deprecating sides in Geom2.
They simply are not useful. I cannot find a single place in the code where having sides was useful.
In most cases ToSides is called only to get data and convert it to some other format.
They take twice the storage and it is fairly expensive creating them.

### What I am using:
I created an NRTree (a nested Ring Tree).
It is incredibly simple:
[code]

[2022-08-06 04:40] z3dev commented on #1131
@GrreenZ By the way, although you could use the WEB UI to create a website, we don't recommend it for many reasons.

If you are looking for a quick example website then see demo.html in packages/utils/regl-renderer

[2022-08-07 00:42] briansturgill opened #1134 "geom2.reverse creates an invalid geometry."
## Expected Behavior
That's the really odd part, if you think about what reverse would do, that is what you would get.
It's a really bad idea to have such a function as a geom2 "method".
It is used only in extrudeRotate.

## Actual Behavior

## Steps to Reproduce the Problem

  1.
  2.
  3.

## Specifications

  - Version:
  - Platform:
  - Environment: (browser, local server, node.js etc)

[2022-08-07 17:51] briansturgill commented on #1120
OK, I have created a full replacement for extrudeRotate. It runs about 50% faster than the old version.
The primary problem with the current JSCAD extrudes in general is that they all cater to extrudeRotate.
This makes most extrudes way too slow.
I have code that autoselects midpoint triangulation over earcut if the Geom2 is Convex.
Earcut handles Convex shapes somewhat painfully... especially on

[2022-08-07 17:55] briansturgill commented on #1120
Some may be mystified about my making new extrude functions... but take a look at what happens when you extrudeLinear under JSCAD.
1) You (Have created Sides in a Geom2), now copy the Sides in Edges (which are 3D).
2) Remember each point gets a memory allocation. (Really 2 in the sides and 3 in Edges)

2) You the

[2022-08-08 08:07] hrgdavor commented on #1120
@briansturgill all of your insights are appreciated, and I enjoy reading your posts here and suggestions. @z3dev is much longer on this project than me and he may know (but may also not) who made some choices in the current code-base.

I agree with your sentiment about the extrude, and although elegant I prefer splitting the concept so simple linear extrude can benefit in performance.

Thank you f

[2022-08-08 18:18] hrgdavor opened #1135 "Malformed svg path at x:y. Path closed itself with command."
## Expected Behavior
closed path from svg

## Actual Behavior
error because last line ends at the begining

## Steps to Reproduce the Problem

  1.
create simple script:
[code]
  2. run it on openjscad.xyz
  3. error is generated "Error: Malformed svg path at 2:50. Path closed itself with command # 3 L0 0"

This is what inkscape produces and is not unexpectd path in general. I was part of adding t

[2022-08-13 09:25] z3dev commented on #1057
Closed by #1128

[2022-08-13 09:25] #1057 closed

[2022-08-13 09:32] z3dev commented on #968
@jue89 theres a set of changes coming for poly2. Can you follow and add comments? Or even better... enhancements.

[2022-08-13 10:18] z3dev commented on #558
Closing this issue as the relevant serializers have been changed to support names, ids, etc.

[2022-08-13 10:18] #558 closed

[2022-08-13 11:13] z3dev commented on #1075
I'm closing this as there's very little to 'take home'. The issues with floating point is well known and documented all across the internet. Let's focus on discrete examples where the floating point is failing, and try to improve those calculations.

[2022-08-13 11:13] #1075 closed

[2022-08-13 11:25] z3dev commented on #598
@SebiTimeWaster not sure what to do now... there's still some hope for a native bend function but that will probably have limitations. How about creating a new issue with some of your thoughts about what the new bend function should be able to do...?

[2022-08-13 11:42] z3dev commented on #324
@jtoy please open a new issue against V2 if you still want this functionality. And of course, you are welcome to submit a pull request. :)

[2022-08-13 11:42] #324 closed

[2022-08-13 11:57] z3dev commented on #417
www.openjscad.xyz

@davibe If satisfied then please close this issue.

[2022-08-15 07:37] z3dev commented on #181
@szivgy Closing this issue as various performance improvements have been made as part of V2. Please try the latest, and open a new issue if there are still performance issues.

[2022-08-15 07:37] #181 closed

[2022-08-15 07:40] z3dev commented on #90
@alranel Closing this issue as there are no plans, and probably never will be plans, to create a node based design tool. There are now tools available, which use JSCAD underneath. Please try those.

[2022-08-15 07:40] #90 closed

[2022-08-16 23:11] briansturgill commented on #1113
Working on 3D now. Does anyone know why the retessellation of coplanar polygons were added to the booleans?
The algorithm seems to be designed to remove the triangulation that I so having been adding.
Why did someone thing this is needed? I tried to look in the git logs, but it only goes back to the last source tree reorganization.
Anyway, I have commented it out at the moment, and it doesn't seem

[2022-08-16 23:19] z3dev commented on #1113
simply to reduce the number of small polygons, which is a by product of the booleans.

[2022-08-19 20:55] tarikjabiri commented on #565
Hi,

I see the way of exporting dxf content by using some static parts and combine them.
For the INSERT entity to work properly its need the BLOCKS section to be dynamic and support:
- Adding new blocks
- Adding entities to blocks (lines, circles, etc...)
- Add INSERT entity by referencing created blocks

There is to options to acheive this:
- Using a tier library to handle all the complexity (I s

[2022-08-19 23:48] briansturgill commented on #1113
Ok, now I know way more about BSP trees than I ever wanted to know.
I also no why the retessellation was absolutely necessary... in fact Naylor knew about this problem in 1990.
I add some paper links in the next comment.
The short version:
The BSP boolean algorithm is severly broken. As Naylor admits the problem, one thinks it might be an intractable problem.
But the problem with boundary conditio

[2022-08-19 23:58] briansturgill commented on #1113
The paper quoted above is "Merging BSP Trees Yields Polyhedral Set Operations"
http://www.vjlove.com/publications/papers/siggraph90.pdf
I believe than evanw may have been using either an early version of this paper, or else both he
and this group of students learned from the same source:
https://static1.squarespace.com/static/51bb9790e4b0510af19ea9c4/t/51bf7c34e4b0a897bf550945/1371503668974/CSG_re

[2022-08-20 00:05] elalish commented on #1113
@briansturgill Indeed, I started my Manifold library because A) some folks I worked with in the CAD industry said a robust mesh boolean operation has been an open problem for a long time and they didn't think it was feasible to solve and B) I found someone's dissertation that outlined a new approach avoiding floating-point error entirely. It's taken me years, but I haven't found a manifoldness err

[2022-08-20 01:04] briansturgill commented on #1113
I'm not entirely ruling the possibilty of collaboration out, but I think I'm a lot closer than you think I am.
O'Rourke Computation Geometry in C is a good place to look at the old school approach to booleans.

Note, we might be talking at cross-purposes here.  If you are dealing with meshes for more than say 3D printing... especially if you are dealing with models that will go through constant ha

[2022-08-20 21:15] hrgdavor commented on #1113
Looking at this topic I am more and more convinced that jscad take more effort in separating modeling part of the library from the actual boolean operations, or even further than just booleans.

One big reason is that I have different priorities for the output precision correctness and speed depending if I am rendering preview or exporting for 3d printing .

@elalish I have bookmarked manifold, an

[2022-08-20 21:28] hrgdavor commented on #1113
Also I would like to point you to checkout https://github.com/bluelightning32/walnut
A design doc for how the internals of Walnut work is available at: https://docs.google.com/document/d/1G9616Bs4OURC1fKEUgY0b25A_Wra7Mn9mVxW1SmjVRY/edit?usp=sharing

[2022-08-21 02:58] z3dev opened #1137 "Packaging : drop NODE 12 support"
Node 12 is no longer supported. The supported versions should as of 2022-08 should be 14, 16, 18

See https://nodejs.org/en/about/releases/

[2022-08-23 04:33] elalish commented on #1113
Thanks for the pointer, that library looks cool. I was thinking about how to fix up non-manifold / self-intersecting input and that looks like it could help.

[2022-08-24 00:08] briansturgill commented on #1137
The version of node that comes with the current Ubuntu (22.04.1) LTS is 12.22.9, its end-of-life is April 2027.
To be clear, a large portion of the Linux world won't normally get an upgrade of node for quite some time.
Not a problem for me, but most people don't upgrade outside of their distributions.
I find it weird that Ubuntu lags so badly, but it's reality.  Any idea if other distributions are

[2022-08-24 07:15] z3dev commented on #1137
Basically, dropping support means no more testing with that version, and if people drop by and say they use an older version then the first answer would be "please try a tested version".

A while back, someone was using an older version of NODE  on windows, but was able to get the test suites to run. So, who knows.

Not sure what happens when we move to pnmp/yarn and lerna-lite. Hopefully, the wor

[2022-08-24 15:40] briansturgill commented on #1137
OK, some additional feedback. It looks like non-Debian versions are pretty much upto date.
OpenSuse lags a bit at node 14 (though 16 is in the latest).
Centos/Redhat/Fedora, Arch, Gentoo are all at 16 or 18.

Under Ubuntu you can install a snap with version 16. But all Debian variants seem to default to 12.
No idea what is going on here. I point it out to you only because Debian-based variant prob

[2022-08-24 16:33] platypii commented on #1137
Node 12 is still widely deployed, so I would vote to not intentionally break compatibility.

But when we do decide to move forward, there are some polyfills which won't be needed anymore. For example, the [Blob](https://github.com/jscad/OpenJSCAD.org/blob/master/packages/io/io-utils/Blob.js) polyfill won't be needed in Node 15+. See #1006

[2022-08-24 18:14] hrgdavor commented on #1137
@briansturgill @briansturgill we will not intentionally break node 12 but will be less inclined to fix node 12 specific issues.

One of the steps forward will likely be ES6 and that works in node 12 https://stackoverflow.com/questions/56744272/specifying-es6-modules-in-node-12

[2022-08-25 15:02] SebiTimeWaster commented on #598
i dont know how to further proceed here. if im in the mood i might try to fix it (one way could be to cut at all nodes z points, but on complex shapes that would produce incredibly thin slices), but the chances for success are probably rather slim.

[2022-08-25 15:02] #598 closed

[2022-09-02 11:39] hrgdavor commented on #598
Way to do it would be by manually "slicing" the mesh and producing new mesh without using jscad booleans.

 - take a shape
 - increase poly count by "splitting" the polygons on z-axis

![image](https://user-images.githubusercontent.com/2480762/188129566-ab2253c8-2a88-456a-b70e-7cb95c65de0c.png)

 split should just increase number of points in polygons to have more detailed z axis
![image](https://

[2022-09-19 22:00] miao-liu opened #1144 "Failed to import stl file in jscad"
## Expected Behavior
The imported file is displayed in the scenario

## Actual Behavior
The console reported an error. Cannot find the file

## Steps to Reproduce the Problem

Based on JSCAD V2.6.0 -> web
[code]
<img width="879" alt="Screen Shot 2022-09-20 at 5 58 52 AM" src="https://user-images.githubusercontent.com/36464497/191127028-99d8f0e8-5063-47a2-9869-d9d5c0b7542b.png">
<img width="1371" a

[2022-09-23 11:40] z3dev commented on #1137
There's no choice really, as this project will be using PNPM soon. PNPM requires 14+ versions of Node.js.

[2022-09-23 14:07] hrgdavor commented on #1144
I only see you mentioning test.js

what file did you drag and drop into the browser ?

import only works if you drag drop a folder with multiple files.

[2022-09-24 11:11] z3dev commented on #1144
@miao-liu the 'project' folder seems correct. Please drag and drop the folder to the website.

[2022-09-24 11:13] z3dev commented on #1137
Notice has been given to the user group. The next release will add Node 18 and drop Node 12.

[2022-09-24 11:39] miao-liu commented on #1144
I use it in combination with three + Vue. If you need to drag the relevant JS into the browser, this is obviously not the way the client wants to proceed. However, I found the code associated with Vue-Components to implement the functionality.

[2022-09-25 06:20] z3dev commented on #1135
@hrgdavor I believe the fix has been released. Please verify, and close this issue if satisfied.

[2022-09-25 08:13] hrgdavor commented on #1135
works :)

[2022-09-25 08:13] #1135 closed

[2022-09-28 18:15] briansturgill commented on #1113
@elalish

Coming around to believing this.
Amazing how the academic papers punt on the hardest parts (while still claiming to be robust).
My biggest problem is I really want to avoid the C++.
The C++ you use is very modern and kind of out there (i.e. lots of C++ only features used).
It does appear to be good code though.
Still, it would be a bear to translate to C# or JS.
It's not small either...

[2022-09-28 19:30] elalish commented on #1113
@briansturgill I just got a notification from you on this thread, but your comment seems to have vanished. Anyway, I thought you might be interested in a JS example of `manifold`: https://elalish.github.io/manifold/bindings/wasm/examples/model-viewer.html - the whole library is <150kb gzipped.

[2022-09-28 21:46] briansturgill commented on #1113
@elalish Yeah, I posted, then deleted it as I haven't made up my mind.
I agree that "It's a long road to reimplement".
Every academic source left out the hardest parts, yet still claimed to be robust.
Much of the open-source is not really open (tied up in GPL).
I've been through several algorithms in detail in the last few weeks and several things are true:
1) Implementations, even when using exac

[2022-09-28 22:14] elalish commented on #1113
Thanks for the writeup; I agree with most of what you're saying. However, a few things:

We do in fact have Manifold now compiling on a variety of targets, including Windows (build steps in [yml](https://github.com/elalish/manifold/blob/master/.github/workflows/manifold.yml), CI [results](https://github.com/elalish/manifold/actions/runs/3137060362)). Github doesn't have a MacOS CI, but a user did

[2022-09-28 22:20] udif commented on #1113
I think it does, you can take a look at this as an [example](https://github.com/MikePopoloski/slang/blob/master/.github/workflows/build.yml) . You can also take a look at MacOS jobs [here](https://github.com/MikePopoloski/slang/actions) .

[2022-09-28 22:23] briansturgill commented on #1113
@elalish

I'm with CSharpCAD (and Pycscad)... a port of JSCAD that has some extras (and is missing a few things too)... I share code/bug reports/ideas with the JSCAD people but am not a part of their team.

Have you ever run your WASM version against JSCAD?

[2022-09-28 22:29] hrgdavor commented on #1113
you are right here regarding jscad, I have bookmarked manifold to look into at some point later

[2022-09-28 23:01] elalish commented on #1113
@briansturgill Gotcha; indeed it's less appropriate for CSharpCAD 😄 We do have Python bindings now if that's useful.

Thanks @udif, I didn't realize that. We'll have to add it.

We're working on getting a v2.0 out the door fairly soon; a lot of work has happened in the last 6 months! So stay tuned for that release.

[2022-10-02 01:26] briansturgill commented on #1113
@elalish  I discovered that the Bytecode Alliance released wasmtime-dotnet 1.0 5 days ago, so I was going to try Manifold for speed. But I cannot get it to build. I am confused, you seem only to build it with Github CI?
I just wanted to get Python and WASM versions under Linux.

[2022-10-03 16:17] elalish commented on #1113
Cool! Would you mind filing an issue with your build difficulties? I have been using `manifold.yml` as our canonical build instructions since the CI validates they are complete and correct. As I say, I need to update the README with some distillations of that. But seeing the troubles people have will help me know what to write there.

[2022-10-09 02:12] briansturgill commented on #1113
I'll probably do more of this discussion to Manifold's board, but felt this thread needs an update.
@elalish where would you want this done, Discussions?

Using [union script](https://github.com/jscad/OpenJSCAD.org/pull/1106#issuecomment-1152800342) by @platypii (translated to python and adding subtract and intersect) I managed to get a first round of timing tests comparing the C# version of the B

[2022-10-09 09:47] hrgdavor commented on #1113
@briansturgill, @elalish  that is great news, looking forward to trying out manifold wasm

[2022-10-09 17:49] elalish commented on #1113
Thank you @briansturgill! You really made my day with your analysis.

Manifold does in fact have a fast path for disjoint inputs, but it could probably use further optimization; I'd guess we're not skipping as much as we could.

[2022-10-09 17:51] elalish commented on #1113
Oh, forgot to answer the question: Yes, please start a Discussion thread in Manifold.

[2022-10-11 04:31] z3dev commented on #1114
V3 is now using PNPM and LERNA-LITE. This will be closed when V3 is released.

[2022-10-13 20:04] hrgdavor opened #1153 "API flattening"
## Specifications
Proposal for API change update

[code]
and then we need to look into `jscad.booleans` to get subtract ... even though 99% of the functions in to primitives, booleans etc have unique name.

it would be nicer if they were declared on top level instead:
[code]

as a bonus, this would also improve current issue I have with vscode that prefers to generate automatic import like this
[c

[2022-10-22 02:09] miao-liu opened #1156 "Is jscad have raycaster like Three?"
## Expected Behavior
Click on a graphic to select it  for move and scaling related operations.

## Actual Behavior
Click on a graphic to select it, trying to move it, it's dons't work

[2022-10-22 06:11] hrgdavor commented on #1156
@miao-liu jscad is using libraries similar to Three.js to display the results. But there is no UI interface to manipulate shapes with mouse. All manipulations to the shapes (moving scaling rotating) are done inside the script with code.

[2022-10-22 09:12] miao-liu commented on #1156
ok

[2022-10-22 09:12] #1156 closed

[2022-11-01 22:38] btakita opened #1159 "@jscad/svg-serializer opacity is in base256 & should be normalized to 1.0"
## Expected Behavior

[code]

## Actual Behavior

[code]

## Steps to Reproduce the Problem

  1. Call @jscad/svg-serializer function on a jscad object with a color having transparency

## Specifications

  - Version: @jscad/svg-serializer 2.3.10
  - Platform: linux
  - Environment: nodejs

[2022-11-07 08:02] Jamesgt opened #1161 "Missing opening curly brace in cuboid example"
See the code example here https://openjscad.xyz/docs/module-modeling_primitives.html#.cuboid , it should be:

[code]

[2022-11-07 08:40] hrgdavor commented on #1161
could you make a PR ? it is nice to get ppl involved :)

[2022-11-07 15:30] Loosetooth opened #1162 "Helix extrude"
I was unable to find a function to help me extrude a helix. Currently, both the `extrudeRotate` and `extrudeLinear` functions are not suitable for this task.

Would it be interesting to add this functionality to JSCAD?
I think it's a pretty basic function, for example if you want to model something like a bolt or a nut.

Here is my current naive implementation:
[code]

Which you can then use as:
[

[2022-11-08 00:01] z3dev commented on #1162
@Loosetooth Welcome to JSCAD.

Absolutely, we are always looking to expand the API, especially if the functionality adds to the user experience.

For 'helix', there are several existing implementations out there. I know that AutoCad and OpenSCAD both have 'helix' shapes, so please review those. It would be great if the JSCAD helix can mock those implementations.

Also, the API should follow other

[2022-11-08 08:45] Loosetooth commented on #1162
Thanks for the quick reply and warm welcome.

As for the existing implementations, I did a quick search, I'll list a few of them here:
* [Autodesk HELIX](https://knowledge.autodesk.com/support/autocad/learn-explore/caas/CloudHelp/cloudhelp/2019/ENU/AutoCAD-Core/files/GUID-C6FE985E-8978-4D11-8490-D81CFB323CDD-htm.html)
* [Fusion360 Coil](https://help.autodesk.com/view/fusion360/ENU/?guid=SFC-REF-CO

[2022-11-08 09:18] z3dev commented on #1162
@Loosetooth nice investigation. It seems that there's some consistency, which is good.

please work with the V2 API, and branch from master branch. This is the stable version of the API.

[2022-11-08 12:22] hrgdavor opened #1163 "#V3 tree shaking and gl-matrix"
I was building sth regl related for jscad and seen that regl-renderer uses some fork of gl-matrix, as probably an old way to reduce size of the bundle. Also jscad has copy of glmatrix functions....

nowdays when we have build tools that easily do tree shaking with ES imodules it would be a good idea to start using gl-matrix directly again in jscad V3.  While testing how tree shaking performs also

[2022-11-08 15:16] hrgdavor commented on #1162
@Loosetooth if u ever feel chatty, there is a discord channel https://discord.gg/AaqGskur93 there is not many of jscad ppl active there, but if you already use discord might be interesting.

[2022-11-09 08:38] Loosetooth commented on #1162
Thanks for the invitation @hrgdavor

I currently don't use discord. Perhaps I'll look into it in the future, depending how much development I'll do for JSCAD.

[2022-11-12 17:40] Papooch commented on #1087
I was trying to convert my OpenSCAD project to JSCAD, and bumped into this issue, too. In OpenSCAD, importing SVG with nontrivial holes just works™. Here's a screenshot with the input file and the result. It's basically just import and extrude with some fancy operations on top.

![openscad-svg-import](https://user-images.githubusercontent.com/46406259/201487076-716f0ec5-fef5-46bc-9ed4-2edd65d45c63

[2022-11-13 02:39] z3dev opened #1165 "V3 : IO deserializer packages need to translate to ES6 based scripts"
## Expected Behavior

IO deserializers translate objects to ES6-based JSCAD scripts. The JSCAD scripts can be used directly by CLI, WEB, etc. applications.

- amf-deserializer
- dxf-deserializer
- json-deserializer
- obj-deserializer
- stl-deserializer
- svg-deserializer
- x3d-deserializer

## Actual Behavior

IO deserializers continue to translate objects to CommonJS-based JSCAD scripts. These Co

[2022-11-13 02:44] z3dev opened #1166 "V# : core package does not support ES6 JSCAD designs"
## Expected Behavior

New designs with use the ES6-based packages (V3+) are supported. This includes both single file designs as well as projects with several components.

## Actual Behavior

Fails

## Steps to Reproduce the Problem

  1. Convert simple design to use ES6 import / exports
  2. Use CLI to convert design to STL, etc.
  3. BIG FAILURE

## Specifications

  - Version:
  - Platform:
  -

[2022-11-13 05:36] z3dev opened #1167 "V3 : regl-renderer demos"
## Expected Behavior

All demos of the regl-renderer package work as expected.

## Actual Behavior

The regl-renderer package has been changes to use ES6 imports / exports. A new library needs to be created via ROLLUP, and the demos need to be reworked to work again.

## Steps to Reproduce the Problem

  1. Try to open demo.html

## Specifications

  - Version: V3
  - Platform: All
  - Environment

[2022-11-19 07:12] the-robo opened #1169 "Support for 3MF files"
## Expected Behavior
Import/Export 3MF files
The feature I like most about 3MF file is the ability to embed author, copyright information, and notes in the file.

## Actual Behavior
Not currently supported

## Steps to Reproduce the Problem

  1.
  2.
  3.

## Specifications

  - Version:
  - Platform:
  - Environment: (browser, local server, node.js etc)

[2022-11-19 07:21] z3dev commented on #1169
@robertmartin Welcome!

The export to 3MF is supported today. There's more information about the supported functionality in the [README](https://openjscad.xyz/docs/module-io_3mf-serializer.html).

If you feel inclined, a new importer would be cool.

[2022-11-20 00:25] robertmartin commented on #1169
Thanks! I didn't see the list of supported files and must have missed that
in the documentation.

On Fri, Nov 18, 2022 at 11:21 PM Z3 Development ***@***.***>
wrote:

--

Best regards,
Robert

[2022-11-20 04:57] robertmartin commented on #1169
BTW, I am unable to register for the user group.

"ERROR for site owner: Invalid key type"

On Fri, Nov 18, 2022 at 11:21 PM Z3 Development ***@***.***>
wrote:

--

Best regards,
Robert

[2022-11-20 05:26] z3dev commented on #1169
@robertmartin bummer. are you trying to register with an email account? via Github?

[2022-11-20 10:32] hrgdavor commented on #1169
there is also a discord channel if u use discord: https://discord.com/invite/AaqGskur93

[2022-11-20 23:23] robertmartin commented on #1169
I wanted to use an email account, but it worked when adding github

On Sat, Nov 19, 2022 at 9:26 PM Z3 Development ***@***.***>
wrote:

--

Best regards,
Robert

[2022-11-21 07:52] Jamesgt commented on #1161
of course and you've got also another language match free :)

[2022-11-21 23:26] #1161 closed

[2022-11-23 23:20] #1162 closed

[2022-11-26 14:08] clupnyluke opened #1173 "path3 primitive in modeling"
I know that you guys are working on v3 but if I create a pull request for a path3 primitive for v2 would it be considered? Of course I would follow the style guide but i just wanted to check before i spend time creating it.

[2022-11-26 22:31] z3dev commented on #1173
@clupnyluke sure. But I'm wondering what other shapes are planned after path3 becomes available...

[2022-11-26 23:40] clupnyluke commented on #1173
I mostly want it to be able to display paths in 3d space like using a bezier curve for a support or pipe through 3d space. I'm not sure what other people will create with it but I hope other people find use

[2022-11-27 02:13] z3dev commented on #1173
There's another related issue #488

[2022-11-27 19:21] hrgdavor commented on #1173
@clupnyluke supporting 3d lines in jscad requires also changes in entitiesToSolids function and renderer due to z values being ignored during conversion to webgl data.

I have work in progress that supports lines in 3d space on the rendering side, and is par of my long running effort to prepare friendlier reusable UI components for jscad.

firstly I did it inside a jscad branch, #944

Right no I a

[2022-11-27 19:49] clupnyluke commented on #1173
@hrgdavor I defintely don't mind helping out and I will join discord thanks for the heads up

[2022-11-27 22:36] z3dev commented on #1173
@clupnyluke lets continue the discussion here. Feel free to create a pull request, and let us know if you have any questions.

[2022-11-29 12:02] Loosetooth opened #1174 "mention `shift + enter` render keys in UI"
When using https://openjscad.xyz/ it's currently not clear for new users that they have to press `shift + enter` to render their code.

Quick fix would be to mention it somewhere in the UI. For example in the editor when it's empty.
Another option would be to add a `render` button somewhere.

Not sure how easy this is. What do you think?

[2022-11-29 13:29] Loosetooth commented on #1174
I'm currently just doing a quick fix, where a message is permanently shown in the top right corner of the editor. Even when a design is loaded, people need to know how to render. PR will follow.