[2020-10-05 10:37] hrgdavor commented on #707
ok, thnx for the hint. I will look into the examples.
and hope we can also get to the bottom of render issues I have.  V2 render is pretty slow it is annoying af for me.

[2020-10-05 10:39] hrgdavor commented on #707
One questio aslo:
 - are there some limitations I should be aware of ? (except of stupid shapes that are impossible to connect)
 - do slices need to have same number of points ?

[2020-10-05 16:21] Kenzu commented on #694
A link that works :-) https://discord.gg/UXtQcA6

[2020-10-05 22:06] z3dev commented on #694
The User Group is here... https://openjscad.nodebb.com/

The links at www.openjscad.org have been updated.

What’s missing?

[2020-10-06 04:55] z3dev opened #708 "Add display of current value to slider parameters"
## Expected Behavior

As the slider is changed, show the value of the slider.

@gilboonet suggests "An option to show/hide slider value would be great."

## Actual Behavior

The slider is shown but there's no display of the current value.

## Steps to Reproduce the Problem

  1. Open the example call "All Parameter Types"
  2. There slider can be moved but there's not value displayed.

## Specific

[2020-10-06 08:44] z3dev commented on #641
A general solution might make sense, but even more important would be the removal of T-junctions.

[2020-10-06 08:46] z3dev commented on #701
See #634 as well.

[2020-10-06 08:50] z3dev commented on #700
Also see #235

[2020-10-06 16:03] gilboonet commented on #708
When I tweaked the old version (0.4 if I recall correctly) of openjscad to customize parameters, I added sliders with value, and also dual slider that allow to specify an interval, but my solution was ugly : I used bootstrap controls that replaced a text parameter and feed its value. And it needed javascript code to init the bootstrap controls with parameters names. And to be able to do that I nee

[2020-10-06 18:33] hrgdavor commented on #707
did it ! :D
gist:
https://gist.github.com/hrgdavor/7419194097fc2ffd42d840f82fc83ca1

preview:
https://jscad.xyz/#https://gist.githubusercontent.com/hrgdavor/7419194097fc2ffd42d840f82fc83ca1/raw/31e0194693629e780e3b82848f9082d1796814ec/rounded_top.js

[2020-10-06 18:50] hrgdavor opened #710 "V2 increase polling rate for refreshing display for snigle file scripts"
## Expected Behavior
faster reload after save.

## Actual Behavior
slower reload than V1

## Steps to Reproduce the Problem

  1. open single file script
  2. change script
  3. wat for refresh

## Specifications
I have asked for similar thing but more complicated regarding usage of livereload.
This request is different. Although for folders and big projects, polling rate should be carefully picke

[2020-10-06 22:26] z3dev commented on #707
Cool! I foresee many new inventions from @hrgdavor. 👍

Slices can have have different shapes and number of points. But there are limitations. Just be sure to provide enough slices to make the transitions easy to stitch together.

Slices can also have holes as well. Same limitations apply.

[2020-10-07 08:04] hrgdavor commented on #707
I would be honored if you add my script above to examples :)

.. now I am think bit further in this regard ...
Are there functions in jscad I could use to inflate / deflate a slice ?
simple scaling works for my example above, but is wrong for other shapes.

for example this Q on stacko
https://stackoverflow.com/questions/1109536/an-algorithm-for-inflating-deflating-offsetting-buffering-polygons

[2020-10-07 08:28] z3dev commented on #707
Inflate / Deflate... JSCAD calls those offset(+/-). But offset() only works on path2 and geom2, not slices.

Note: offset() doesn't work on geom3 (3D) yet. it's a BIG TODO.

[2020-10-07 09:33] hrgdavor commented on #707
well path2 could be sufficient, offset path2 and create slice after. Thnx for the hint :)

[2020-10-10 06:17] crysislinux opened #711 "auto reload not working on chrome"
## Expected Behavior
auto-reload should work

## Actual Behavior
it throws error:

[code]

I couldn't find any settings in chrome to workaround the issue.

## Steps to Reproduce the Problem

  1. set up a project with index.js in a folder
  2. open v2 site: www.jscad.xyz and load the project
  3. check `Enable auto-reload`

change some parameters in index.js to trigger a change. model does not upd

[2020-10-11 02:23] z3dev opened #713 "V2 : correct packages to publish web-ready libraries."
The current packages are slight incorrect, and don't publish pre-built libraries for immediate use.

[The UNPKG website](https://unpkg.com/) has a great summary of how packages should be setup, built, and published to NPM. The results in NPM will allow users to immediately insert the packages into web pages, or use in NODE projects.

## Expected Behavior

Allow immediate (CDN-like) inclusion of JS

[2020-10-11 04:46] z3dev commented on #711
@crysislinux thanks for this information.

sadly, this is one of those area where the browsers differ in implementation. can you answer a few questions for us?
- Did you use drag-n-drop to load a project, or select a directory using load a project?
- Did the error appear immediately? Or after a few changes?
- Did the WEB UI stop functioning after the error appeared?

[2020-10-11 08:08] z3dev commented on #711
Seems to be the standard... Files cannot be re-read if loaded from the file chooser.

CHROME - Drag-and-drop OK, File Chooser Exception, NotReadableError
FIREFOX - Drap-and-drop OK, File Chooser Exception, NotReadableError
SAFARI - Drag-and-drop OK, File Chooser Exception, WebKitResourceError
EDGE - ???

[2020-10-11 12:50] crysislinux commented on #711
@z3dev

load a project button

Not work at all on Chrome, sometimes work on Firefox, but mostly not working too.

It just doesn't update on changes, but buttons still work and can load the project again.

To solve the issue, I learned the web package code and implemented a new loader with WebSocket. And create my project with `webpack` + `typescript`. it's event-driven and works smoothly, I can lo

[2020-10-11 22:43] z3dev commented on #711
@crysislinux this sounds interesting. A new pull request would be great. And we can give some feedback as to wether the changes can be integrated.

[2020-10-12 00:46] z3dev commented on #679
FYI. The connectors has been temporarily disabled in V2.

Let's start some discussions about use cases, and then work on some changes to bring connectors (or something else) back into V2.

[2020-10-12 00:51] z3dev commented on #679
@johnwebbcole for these connectors, i have a few questions.
- does your design expect a certain order to the connectors available? how does the design know which connector to use?
- does your design expect connectors to 'transform' whenever the shape transforms?
- connectors are now only for 3D geometries. would connectors on 2D primitives be useful?

[2020-10-14 11:58] crysislinux commented on #711
Tried to create an extension for vscode. Seems promising.

![2020-10-14 19-53-16 2020-10-14 19_55_03](https://user-images.githubusercontent.com/5404597/95985537-4bb48f00-0e57-11eb-960d-60c0c5d1290e.gif)

[2020-10-14 13:05] z3dev commented on #711
Cool. I’m sure there are lots of people looking for that extension. Be sure to publish it to the user group.

[2020-10-14 13:22] crysislinux commented on #711
@z3dev

Will do that. Seems like I put more time on tooling than actually building things 😅

[2020-10-14 22:35] z3dev commented on #711
Same. 😔
If you want something to do... there are plenty of open issues, and you are welcome to try to fix some of those.

[2020-10-15 00:21] z3dev commented on #584
@hrgdavor there was an enhancement to the geom2.fromPoints() function to allow the same start and end points.
If this is resolved then please close this issue.

It's not really about precision, but scale of the shapes due to the use of floating point numbers. The booleans work best from 1~200 units (mm for 3D printers).

[2020-10-15 01:51] z3dev opened #715 "ES6 module support"
## Expected Behavior

Currently, there is no way to use the various packages as standard JavaScript modules. For example, in browsers...

`<script type="module">import {primitives} from "https://unpkg.com/@jscad/modeling";</script>`

## Actual Behavior

I believe that this can be accomplished without any code changes by using WebPack, creating both UMD and ES6 modules.

## Steps to Reproduce the P

[2020-10-15 02:00] z3dev commented on #713
@johnwebbcole please correct me if wrong, but i believe that 'module' in package.json is now reserved for ES6 modules.

i'm intending to do the following in each of the packages.
- package.main is for NODE (common JS) entry point
- pacakge.unpkg is for the UMD bundle (See www.unpkg.com)
- package.module is for ES6 module

Thoughts?

[2020-10-15 02:05] z3dev commented on #713
See #715 for some thoughts on how to support ES6 modules.

[2020-10-15 08:16] hrgdavor commented on #584
cool, works now with the same start and end points.

[2020-10-15 08:16] #584 closed

[2020-10-15 12:36] crysislinux commented on #711
@z3dev

The extension was released 😄

https://marketplace.visualstudio.com/items?itemName=crysislinux.openjscad

I made a post in the user group: https://openjscad.nodebb.com/topic/178/an-vscode-extension-for-v2

[2020-10-17 10:18] hrgdavor opened #718 "Canvas resolution larger than necessary on phone in portrait mode"
## Expected Behavior
correct canvas resolution

## Actual Behavior
canvas resolution is too large on Android phone in portrait mode.

## Steps to Reproduce the Problem

  1. open app in Android phone
  2. turn on grid
  3. rotation is sluggish
  4. put phone in landscape, rotation is much faster

The slowdown is due canvas being posibly 3x size needed (in portrait mode)

## Specifications

I have

[2020-10-17 13:29] z3dev commented on #718
I think the grid size can be calculated whenever a new set of geometry is being rendered. There’s a really old issue about this as well.

[2020-10-17 15:09] hrgdavor commented on #718
The grid size would be a separate issue. I used grid here just as a convenient tool to display performance hit.

The issue reported is that canvas area is much larger than needed in portrait mode.
 - 4x when pixelRatio=2
 - 9x when pixelRatio=3
(that is a huge difference for rendering).

[2020-10-17 17:37] johnwebbcole commented on #679
Connectors are named so you need to know the names for the object you are connecting to/from.

Yes, they should transform with the rest of the shape (like any point on the properties parameter).

And yes, 2d connectors would be very helpful.

[2020-10-18 23:59] amca01 commented on #700
I was just about to ask about this when I saw this issue here.  In that case, maybe the list of keyboard shortcuts should simply be removed from the settings menu until such time as they might be implemented?   cheers, Alasdair

[2020-10-19 00:54] z3dev commented on #700
This is still a target functionality of V2, so let's leave those shortcuts. Hopefully, someone will find some time to work on this soon.

[2020-10-19 02:11] BarbourSmith commented on #594
I want to add another voice in favor of color being preserved through operations.

My workflow involves making a lot of things like libraries for bolts and whatnot when then lose their color when imported and used in a project.

I'm guessing that if this hasn't been done by now it's probably difficult to do though

[2020-10-20 07:19] crysislinux commented on #594
I couldn't see any workaround to this problem when assembling parts together. Only the big parts in the last assembling step can have color. But parts of big parts cannot have any colors.

[2020-10-20 13:01] crysislinux opened #719 "v2: hangs when using extrudeRotate, polygon and union"
I have a minimal code to reproduce the issue.

[code]

without the union(return them in an array), it renders like this:

![image](https://user-images.githubusercontent.com/5404597/96588972-dc3b1580-1316-11eb-8f19-b97042ac4daf.png)

## Expected Behavior
It should render properly (looks the same as the version without union)

## Actual Behavior
It hanges forever and cpu usage is high.

The issue ac

[2020-10-20 22:13] z3dev commented on #594
@crysislinux and folks

Keep in mind that many pieces can be returned from a design, each having colors.

[2020-10-20 22:17] z3dev commented on #594
Not really. It depends on what’s being done with the parts.
Not everyone wants a black bolt or a gold bolt either.

The two tone piece was not by choice. It was a result of boolean operations. That little piece of ‘functionality ‘ always drove me crazy. It’s not coming back.

[2020-10-21 00:18] BarbourSmith commented on #594
If not the V1 behavior, what would be the ideal behavior of subtract(A,B) where A and B are different colors? The result is the color of A?

[2020-10-21 00:57] crysislinux commented on #594
Yeah, that's why I said:

translate is required when assembling parts together, then you can only specify colors for parts in the final step.

After all, this is a really great thing to have, if it's adorable.

[2020-10-21 01:12] z3dev commented on #594
Now, V2 does not set a color after operations.

Ideal color after booleans? I don't think there is one. The old V1 boolean operations were just weird.

[2020-10-21 01:58] BarbourSmith commented on #594
It makes sense to me that most of the boolean operations would have a clear behavior when it comes to color, or at least an answer which is more user intuitive than no color at all.

I guess union would be the tricky one, because looking at the way color works there isn't a way for an object to have multiple colors.

If the decision is that the way things work now is the way things will stay, shou

[2020-10-21 05:02] z3dev commented on #594
Visually, V1 might be better at times.

But colors really need to be applied per solid for 3D printing. Many of the slicers use colors to determine which filament to select, and produce multi-color prints. The focus of JSCAD is still 3D printing. 👍

[2020-10-21 07:07] crysislinux commented on #594
It's actually fine to lost colors when doing transformations. It's useful when designing the parts. But we can have a `main` function for each part and work with a standalone part at a time most of the time.

Off-topic,

@z3dev could you please take a look at https://github.com/jscad/OpenJSCAD.org/issues/719 is that a limitation or bug?

[2020-10-21 07:12] crysislinux commented on #38
I am playing with a different animation solution.

You can write the code like this:

![image](https://user-images.githubusercontent.com/5404597/96685413-a7c76800-13af-11eb-8b64-be582d47a88d.png)

![2020-10-21 15-05-25 2020-10-21 15_06_43](https://user-images.githubusercontent.com/5404597/96685311-82d2f500-13af-11eb-9c47-b2b016249372.gif)

[2020-10-21 08:00] z3dev commented on #719
@crysislinux nice example. it's probably an issue with the generated polygons, probably the caps on top and bottom.

[2020-10-21 09:23] gilboonet commented on #719
I replaced the extrudeRotate with a cylinder and then the union renders without hanging, there is certainly an issue, but with extrudeRotate + union. I exported both volumes to Meshlab and they were exactly the same.
![Capture d’écran de 2020-10-21 11-21-07](https://user-images.githubusercontent.com/22082873/96700445-bd2c9a00-138f-11eb-867f-db469aee2bac.png)

[2020-10-21 10:26] crysislinux commented on #719
@gilboonet yeah, cylinder works in the example. But it's just for demonstration. In reality, we need `extrudeRotate` very much to create special shapes.

[2020-10-21 10:36] gilboonet commented on #719
@crysislinux I understand and I use extrudeRotate too on some designs. My point was to say that the problem is complex, the volume created by extrudeRotate there is exactly the same as a cylinder and therefore its union with a cylinder hangs when union of two cylinders render ok. Must test with another shape than a cylinder, to see if it is due to extrudeRotate or union of different kinds of shape

[2020-10-21 11:37] crysislinux commented on #719
@gilboonet

the example was simplified by purpose. I tried different kinds of shapes, it hangs if there is a shape(no only a cylinder) created with `extrudeRotate` when doing boolean operations.

[2020-10-21 14:34] crysislinux commented on #419
@kaosat-dev @z3dev what's the best practice for chaining now? It's ok but feels a bit weird when having more than three transformation functions chained.

[2020-10-22 13:19] z3dev commented on #676
@SimonClark can this be closed?

[2020-10-22 13:20] z3dev commented on #673
@SimonClark can this be closed?

[2020-10-22 14:08] #673 closed

[2020-10-22 14:08] SimonClark commented on #673
Yeah, sorry, I suck at housekeeping

[2020-10-22 14:08] #676 closed

[2020-10-23 02:24] z3dev commented on #719
Definitely an issue with the top / bottom polygons as there are duplicated polygons. Here's the polygons from the top.
[code]
Now that I know the issue, a fix is probably possible.

[2020-10-23 03:02] z3dev commented on #719
UG... Here's what's happening.

In the normal case, the 'walls' between previous and current slices are created as 'triangles'. All fine when the slices have unique edges (no overlap).

But in this special case, the slices actually have overlapping edges. This makes 'trangles' that also overlap.

And of course, those boolean functions will die a horible death.

[2020-10-23 03:04] z3dev commented on #719
I recognized this issue when revisting rotate extrude in V2. The comment says... in the overlapping case...
[code]
It's even worse than I thought.

[2020-10-23 03:08] crysislinux commented on #719
@z3dev is there a workaround to the issue?

I find myself really need this bc I don't know other ways to create an unusual shape.

[2020-10-23 04:39] z3dev commented on #719
For now, make sure the 2D shape has X > 0. It can be a very small X.

[2020-10-23 04:46] z3dev commented on #719
@crysislinux can you provide a short example?

[2020-10-23 05:59] z3dev commented on #696
@gilboonet do you know if meshlab has the ability to correct t-junctions in STL files?

[2020-10-23 06:01] z3dev commented on #693
Closing as V2 has been released to www.jscad.xyz, and this issue no longer exists.

[2020-10-23 06:01] #693 closed

[2020-10-23 06:18] z3dev commented on #404
@gabrielgrant www.jscad.xyz is now running the latest V2 JSCAD (alpha version). There's an example on the new offset functionality, which includes 'chamfer', 'edge', and 'rounded' corners.

[2020-10-23 06:22] z3dev commented on #395
@danielmaartens @BGEray please try this with V2 JSCAD cli command. here's how to get started...

https://openjscad.org/dokuwiki/doku.php?id=early_v2

[2020-10-23 06:26] z3dev commented on #390
@KOLANICH there's no intention to fix this as JSCAD works in all know browsers.

so, what's the issue, really?

[2020-10-23 06:44] KOLANICH commented on #390
`webgl.min_capability_mode` is often used as a hardening measure against browser fingerprinting.

[2020-10-23 07:09] z3dev commented on #390
I’m not sure what that means. I’m not even sure minimum WebGL capabilities are possible.

So, again, I have to ask... What’s the issue? What are the benefits? Are there performance gains? Improved compatibility to other devices?

[2020-10-23 07:28] gilboonet commented on #696
@z3dev I tried to repair with Meshlab, but it creates holes that cannot be filled easily. It's the main reason that made me withdraw almost all my jscad devs involving boolean operations.

[2020-10-23 07:32] z3dev commented on #285
The original issue was titled 'loading multiple files'.

Even if there are ways around the cross domain access issues (CORS), there is no way to read a file system on the server. That's only possible when the webserver is configured specifically (against many many security policies), and the client (JSCAD) would need specific processing as well.

That's two strikes...

By the way, I'm expecting ES

[2020-10-23 07:40] z3dev commented on #39
@runsun Can you try the new version of V2 JSCAD at www.jscad.xyz ? I believe this issue has been fixed.

[2020-10-23 07:44] z3dev commented on #696
@gilboonet thanks.

i'll port fixTjunctions() and try with this example.

[2020-10-23 19:33] KOLANICH commented on #390
No issue. I won't use it even if it supported `webgl.min_capability_mode`. I have WebGL and WebGPU disabled entirely. It is impossible to make WebGL secure.

No benefits. The ones who don't have WebGL disabled are already hacked. The pref reduces fingerprinting surface, but it doesn't deal with allowing websites to interact with complex hardware sitting on PCIE bus and controlled by complex driver

[2020-10-23 19:33] #390 closed

[2020-10-25 02:43] crysislinux commented on #719
@z3dev

I am building things like this one:

![image](https://user-images.githubusercontent.com/5404597/97097698-aac3a080-16ae-11eb-972a-a3e1bb514ce9.png)

The practical way I can think of is creating a 2d shape and then `extrudeRotate` it to a 3d object.

[2020-10-28 13:47] z3dev commented on #657
@hrgdavor can this be closed now?

I believe the latest release contained the changes for improving the rendering.

[2020-10-28 13:50] z3dev commented on #491
No replies. Closing.

[2020-10-28 13:50] #491 closed

[2020-10-28 13:55] z3dev commented on #449
@gitzdnex V2 JSCAD is now available at www.jscad.xyz
Your designs will need some changes, but the viewing of large designs is possible. Just double click on the window.
Note: There are other issues with large designs, so please scale appropriately.

[2020-10-28 14:04] z3dev commented on #435
@alzatin @BarbourSmith was this a hardware issue?

Can this issue be closed? Without feedback, we cannot work towards a solution.

[2020-10-28 14:10] z3dev commented on #403
Everyone, the documentation is online now, and updated during releases. See

www.jscad.xyz/docs/

[2020-10-28 14:16] alzatin commented on #435
@z3dev  I no longer see this issue on https://openjscad.org/. It must have been a hardware issue.

[2020-10-28 14:17] z3dev commented on #330
I think this his has been reached via V2 JSCAD.
Closing.

[2020-10-28 14:17] #330 closed

[2020-10-28 14:43] BarbourSmith commented on #435
Looks good to close to me 👍 👍

[2020-10-28 14:43] #435 closed

[2020-10-28 17:49] hrgdavor commented on #657
Yes

[2020-10-28 17:49] #657 closed

[2020-10-30 15:50] bitbybit-dev commented on #696
Hello, I stumbled upon this thread by looking into similar non-manifold issues that Prusa slicer is reporting on V2 geometries that I produce. I will try @z3dev snapVec3 suggestion on solids before they go to the STL export. I did not experience any problems for boolean operations as it was mentioned here as well, so I guess there's no need to use this method more often.  Just wanted to ask, I stu

[2020-10-30 21:27] z3dev commented on #696
@bitbybit-dev thanks for looking at this.

retessellate.j is part of the booleans, and is called after each of the boolean operations. It’s a totally different algorithm to merge small polygons in the same plane.

I have a fix for extrudeRotate, and testing now.

[2020-10-31 05:41] z3dev commented on #719
@crysislinux there's a new pull request for the fixes. here's the result from the original example.

![6](https://user-images.githubusercontent.com/8969165/97772075-ca633900-1b86-11eb-8138-f69024409e95.png)

I tested several different variations of 2D shapes that start from X=0, as well as shapes that overlap the X axis (-/+). And actually discovered another issue. 🐛

You'll see these fixes in the

[2020-10-31 08:47] crysislinux commented on #719
@z3dev wow, that's nice. Thanks.

[2020-10-31 10:31] Irev-Dev opened #728 "Summary for curated list of code CAD"
Hey 👋 ,

I finally got around to putting together a list of all of the code-CAD projects that I know of here, and also on Github.

I've put a short summary of each one, but it's hard to do them all justice. for JSCAD I've only got:
Formerly OpenJsCad, also inspired by OpenScad. The project is close to a v2.0 release. Implemented in javascript allowing it to be modelled directly within a browser.

[2020-10-31 11:37] z3dev commented on #728
@Irev-Dev what’s the audience for the summary?

There’s a on line user guide which explains JSCAD in more depth.
https://openjscad.org/dokuwiki/doku.php?id=start

[2020-10-31 13:28] Irev-Dev commented on #728
@z3dev Thanks,

The audience would know what code-cad is (probably from openscad), and is interested in alternatives.

[2020-11-01 01:28] z3dev commented on #707
Also, if you want to create a 3D solid from a set of 3D points then there’s the polyhedron primitive. There’s an example as well.

[2020-11-01 09:13] gilboonet commented on #728
I use JSCAD to pick a volume and process it (slice or unflatten) to render 2d surfaces to lasercut. I think lots of people do the same with lots of software tools. It doesn't seem possible to do that with OpenSCAD where you cannot dynamically compute bounding box. Maybe your list could provide uses cases for each project.

[2020-11-01 10:07] hrgdavor commented on #707
That is next level :) ... for now I am playing with extrude. Still playing with few concepts around 2D shapes, making basic shape and then rounding corners or making sections curved :)

[2020-11-01 15:23] hrgdavor commented on #707
For now there is useful information in this ticket for someone looking for similar info. Closing this ticket, to maybe reopen later or another one that is more specific.

[2020-11-01 15:23] #707 closed

[2020-11-05 01:07] z3dev commented on #728
Overview / Introduction

JSCAD (formally know as OpenJSCAD) provides a programmer’s approach to develop 3D models. In particular, this functionality is tuned towards creating precise models for 3D printing.

JSCAD provides
* ability to create and manipulate 3D models, as well as 2D models
* ability to use JavaScript programming concepts, and libraries
* ability to save 3D models as STL (and other)

[2020-11-05 01:09] z3dev commented on #728
@Irev-Dev let me know if that will suffice. It contains just the basic information, but probably enough for your site.

Please let us know when the information is posted.

[2020-11-05 09:04] Irev-Dev commented on #728
@z3dev  Thanks,
I've made those changes.

[2020-11-05 09:04] #728 closed

[2020-11-05 13:25] #39 closed

[2020-11-05 13:33] z3dev commented on #336
@danmarshall please take a look at these tutorials of this project.

https://github.com/z3dev/vue-components

I’ve been working on a set of tutorials that express the depth of what JSCAD provides. One of the strong points is the available rendering functions, which allow any kind of interaction.

[2020-11-05 14:37] z3dev commented on #554
Another library that does conversions....

https://sourceforge.net/projects/dxf2gcode/

[2020-11-07 09:43] #713 closed

[2020-11-13 01:26] z3dev commented on #700
Now available on the www.jscad.xyz website. Closing.

[2020-11-13 01:26] #700 closed

[2020-11-13 01:27] z3dev commented on #235
@ghpenguin this functionality is not available on the www.jscad.xyz website. please try this out, and close this issue if satisfied.

[2020-11-13 01:29] z3dev commented on #719
@crysislinux @gilboonet @BarbourSmith did you get a change to try the latest release? this should be fixed now.

[2020-11-13 01:32] z3dev commented on #661
@hrgdavor probably not what you actually want, but the delay intervals are now dynamically calculated. for small projects, the reload time should be about 1 second. how's that?

[2020-11-13 01:33] crysislinux commented on #719
@z3dev haven't got time yet. I will try it at the weekend, thanks.

[2020-11-13 01:33] z3dev commented on #710
@hrgdavor probably not what you actually want, but the delay intervals are now dynamically calculated. for small projects, the reload time should be about 1 second. how's that?

[2020-11-13 12:36] hrgdavor commented on #710
yes, dynamic delay is better, and livereload support is underway :)

[2020-11-13 12:36] #710 closed

[2020-11-13 12:37] hrgdavor commented on #661
yes, and will be even nicer with livereload pull req :) https://github.com/jscad/OpenJSCAD.org/pull/729

[2020-11-13 12:37] #661 closed

[2020-11-14 01:37] BarbourSmith commented on #719
The issue with the render hanging seems to be fixed for me 👍

Unfortunately I am still seeing some artifacts although they may be caused by something else unrelated to this issue.

From doing some reading it seems that the underlying math may be to blame. My understanding is that doing successive boolean operations using floating point math will always eventually lead to artifacts and non-manifold

[2020-11-14 02:53] z3dev commented on #719
See the discussion on Issue #696
I'm working on some changes now to snap, to triangulate, and to manifold 3D geometries.

[2020-11-14 03:30] BarbourSmith commented on #719
Ahh right, my bad. I think I confused these two issues. Very cool!

I tested a good number of shapes without getting the renderer to hang so from my perspective this one looks fixed.

[2020-11-16 00:54] z3dev commented on #403
Everyone!

There's a new pull request for adding TypeScript declarations. It would be really helpful if others (you) take a look at the declarations, and if possible try them.

[2020-11-16 20:02] hrgdavor opened #734 "V2 feature - orientation indicator in the top-right corner"
## Expected Behavior
A way to know orientation when object covers XYZ axis lines

## Actual Behavior
no additional indicator

## Steps to Reproduce the Problem

  1. open web
  2. add a sphere
  3. try to guess where you are after rotating

## Specifications
example fusion360
![image](https://user-images.githubusercontent.com/2480762/99301816-c9046280-284e-11eb-99a6-1c1938bcfadb.png)
exmaple freec

[2020-11-16 22:29] z3dev commented on #734
FYI, there are now keyboard shortcuts.

[2020-11-17 08:52] hrgdavor commented on #734
Yes, I am aware of those. I am follwing th amailing list. I have already forgottne most of them, and I cant find in the help section the list of shortcuts :). Still, an indicator is very useful.

[2020-11-17 08:58] hrgdavor commented on #734
posibly useful from stacko
https://stackoverflow.com/questions/60245700/three-js-rotate-group-with-same-orientation-as-camera-for-view-cube-orientation

[2020-11-17 09:15] z3dev commented on #734
See the settings. The shortcuts can be changed.

[2020-11-17 10:14] gilboonet commented on #657
The changes made to resolve this issue is now causing moving (shift + mouse RB and mouse move) of very big 2D renderings (like furniture, not 3d print, and on 4K screen) very very slow and hard to track as the render move slower than the cursor.

[2020-11-17 10:18] hrgdavor commented on #657
@gilboonet do you have a sample to share that is causing this issue ? I would need sth to test.

[2020-11-17 11:29] gilboonet commented on #657
@hrgdavor the code where I have this is here : https://jscad.xyz/#https://raw.githubusercontent.com/gilboonet/gilboonet.github.io/master/sq_edit/demo_big2dmove.js. If you zoom out to see all the pieces, it becomes hard to move the render

[2020-11-17 23:34] hrgdavor commented on #657
Yes, I see, it is not relatad to performance or complexity.
The issue is that amount of pan is same regardless of zoom, so when you zoom out to far as in your model the pan is hardly moving :)

@gilboonet
I found a possible solution and created a pull request:
https://github.com/jscad/OpenJSCAD.org/pull/735

Please test if it works better now by running local web from my branch:
https://github.com

[2020-11-18 09:50] z3dev commented on #657
I’ll try out the changes as well.

[2020-11-18 10:51] gilboonet commented on #657
I tried to run local web with "npm run dev" into the folder extracted from your branch downloaded code, but it didn't work. Do i need to use git clone instead ?

[2020-11-18 11:11] hrgdavor commented on #657
If you download or pull from git, you need to follow the steps the same as for main repo.
https://github.com/jscad/OpenJSCAD.org#development

in the openjscad main directory , you need to run
[code]
and then go to `packages/web/` and run
[code]

[2020-11-18 22:54] maspe36 opened #736 "Can't npm install @jscad/web@2.0.0-alpha.12"
Sorry if this is known but I didn't see an issue for it. It looks to be expecting a version of a package that isn't released on npm yet. https://www.npmjs.com/package/most-gestures only goes up to 0.4.1

## Expected Behavior
I can install the latest 2.0 alpha build from npm.

## Actual Behavior
[code]

## Steps to Reproduce the Problem

  1. `npm i @jscad/web@2.0.0-alpha.12` in an empty project

#

[2020-11-19 06:55] z3dev commented on #736
@maspe36 welcome!

Yeah. Sorry. I need to push a change to this library.

Just to be sure, do you really want @jscad/web ?
This is really for the website. It’s based on MOST is not user friendly.

[2020-11-19 14:30] maspe36 commented on #736
Thanks!

Yeah I do mean `@jscad/web`, but in the future we may drop down to `@jscad/regl-renderer`. I really just wanted to play around with the 2.0 API and see how much effort it'd be to update from 1.0

[2020-11-19 17:31] gilboonet commented on #657
Sorry, I have troubles installing local web version, I'll try again later.

[2020-11-19 18:56] hrgdavor commented on #657
It's ok :). gl next time :)
... it took me few attempts at first. But it is worth it so you can sometimes use a different branch that has a fix you need :)

[2020-11-19 22:48] z3dev commented on #736
@maspe36 Great! It would be beneficial to have another framework around V2 JSCAD.

I’ve been working on some tutorials for V2 JSCAD libraries via VUE. It been going well, and some recent changes were made to ease the pain. I think there are still some improvements to be made. Please see...

https://github.com/z3dev/vue-components

[2020-11-19 23:09] z3dev commented on #736
If you decide to use V2 @jscad/web then you will be tied to MOST, as I doubt that other frameworks can interact with MOST. Also, @jscad/web is packed full of functionality, which may not be appropriate in other websites. There’s no way to disable functionality, and there’s only one configuration of MOST streams.

[2020-11-20 05:03] z3dev commented on #719
Let’s close this issue, and open a new issue if anything shows up.

[2020-11-20 05:03] #719 closed

[2020-11-20 05:50] z3dev commented on #657
FYI, I reviewed, tested, and merged the PR from @hrgdavor
The fixes for PAN are now part of the V2 branch.

[2020-11-20 16:50] maspe36 commented on #736
Very cool, I'll check it out 👍

I'm familiar with MOST. Our original project wrapped the 1.0 Viewer in a React component so I was planning to upgrade to 2.0 and fix what broke.

Slightly off topic but, would you recommend using `@jscad/regl-renderer` to create that React component? Or am I missing something else?

[2020-11-20 22:34] z3dev commented on #736
Correct. The regl-renderer and core will provide the necessary functionality. I would guess that a react component would be fairly easy to create, very much like VUE.

[2020-11-24 17:03] faithhack opened #737 "V2 : Text example can't render 'e', 'i', or 'j' correctly"
I suspect this has more to do with the example code than the simplex.js font or the text API but I thought I should report it.
I have used lautr3k/jscad-vector-fonts to make new font files like camBamStick1 and they have similar issues (or worse)
## Expected Behavior
render "e", "i", and "j" correctly

## Actual Behavior
using examples/core/text/text.js produces non-manifold letters for 'e', 'i',

[2020-11-26 03:38] ahdinosaur commented on #562
hi @z3dev, how does someone run the performance suite?

i noticed these caches when trawling through the code, and i'm curious about the performance impact of using a WeakMap to store cached values rather than mutating the object, as i wonder if mutating the object would lead to JavaScript engine de-optimizations due to polymorphism. ([:information_source:](https://www.digitalocean.com/community/t

[2020-11-26 06:03] z3dev commented on #562
Interesting idea.

I’ve looked at WeakMap before and it seems kind of incomplete. I’m not sure why the standards introduced them. SIGH

I have a performance suite that runs whenever changes are merged into the V2 branch. It actually lives outside of this project, here.

[2020-12-06 23:49] z3dev opened #740 "V2 : offset of inside outlines is wrong, opposite direction"
## Expected Behavior

It seems to be a special case, as other combinations of primitives work fine.

[code]

## Actual Behavior

## Steps to Reproduce the Problem

  1.
  2.
  3.

## Specifications

  - Version: V2
  - Platform: All
  - Environment: All

[2020-12-08 10:01] z3dev commented on #737
Hmmm... it looks like the extrudeLinear() is creating some overlapping polygons. Maybe those font outlines overlap at certain points.

An alternative would be to use chainHull between circles, where a circle is placed at the point in the font segments.

[2020-12-08 21:00] SimonClark commented on #737
The problem is due to the expand() method creating a polygon that overlaps itself. Z3Dev's solution would work, as it would treat each line segment as a discrete polygon.  Performance would suffer for large strings though.  I have a fix in progress, but not much time to work on it a the moment.

[2020-12-08 23:36] #704 closed

[2020-12-08 23:37] #523 closed

[2020-12-08 23:45] z3dev commented on #403
Typescript declarations are now available in V2 JSCAD.
Please try those declarations, and open a new issue for any problems found.

[2020-12-08 23:45] #403 closed

[2020-12-09 08:46] z3dev commented on #295
@sevkin This has been fixed... I believe. Please try the examples again. If fixed then please close this issue.

https://www.openjscad.org/#https://www.thingiverse.com/download:8726126

[2020-12-09 08:51] z3dev commented on #282
@Ph1r3ph0x Is this a specific feature for STL exports?

I once had a discussion about color printing with Mr. Prusa. He mentioned the above formats, but preferred 3MF for multi-color prints. The Prusa slicer handles 3MF files very nicely.

[2020-12-09 09:06] z3dev commented on #72
V2 JSCAD can handle outline fonts via this library.

https://github.com/jscad-community/jscad-text

This library can be used as part of any V2 project. In addition, the library can be use via WEB or CLI.

[2020-12-09 17:29] #295 closed

[2020-12-13 11:01] gilboonet opened #742 "Very difficult to change text parameter value"
## Expected Behavior
without automatic refresh; one should be able to change parameter values then hit refresh button to render

## Actual Behavior
but when the script already has lots of parameters set, it seems to render automatically or at least perform parameter checks while typing and it melts parameter value with keystrokes.
To make it work I type the value somewhere else, copy it, then past

[2020-12-15 06:50] z3dev commented on #696
@MathieuLoutre
@gilboonet
@bitbybit-dev

There are some changes as part of a new pull request #743 which address this issue (and more).

If you have a local copy of V2 then the changes can be obtained via
`git checkout v2-fix-t-junctions`
No other changes are required.

There's a new class of functions called 'modifiers'.
`const {snap, generalize} = require('@jscad/modeling').modifiers`

And the g

[2020-12-15 06:52] z3dev commented on #696
Before:

![issue696_letter_original](https://user-images.githubusercontent.com/8969165/102181161-6c4ba480-3eed-11eb-9fe5-ed9dd82bd255.png)

After:

![issue696_letter_repaired](https://user-images.githubusercontent.com/8969165/102181186-75d50c80-3eed-11eb-907e-381e272e6fef.png)

[2020-12-15 06:57] z3dev commented on #696
It's still there, but only applied after boolean operations. See modeling/src/operations/booleans/*

The retessellate does not snap. It's retessellates co-planar polygons by rebuilding the faces. It's super hard to understand, and possibly unnecessary given that the set of polygons is typically very small (My opinion).

[2020-12-15 18:50] MathieuLoutre commented on #696
Hi @z3dev! Thanks for this, it looks really great. I can see it's already reduced the number of non-manifold vertices and edges. Do you already know what's the cause of the remaining ones?

[2020-12-15 22:39] z3dev commented on #696
Probably my bad code. 😃

I’ll take another look at this later. There are some pressing issues to fix before V2 can be released properly, which I would like to address now.

[2020-12-16 09:35] bitbybit-dev commented on #696
Thanks for letting us know @z3dev and also for working on it! I'm 3D printing things with V2 just fine, Cura complains a little, but heals everything. Good to know that you'll look at it later.

Made this vase with Chain Hulls, such a nice feature
https://www.instagram.com/reel/CHp5ye3lHYa/

Cheers!

[2020-12-16 11:44] z3dev commented on #696
Wow! That is sooooooooo cool! 😎

Please share more with them the user group.

[2020-12-16 15:42] bitbybit-dev commented on #696
Thanks, glad you like it, it means a lot, will share on the user forum.
Sorry to spam the issue comment with this, hope you don't mind. I try to
resist, but I really enjoy JSCAD and that sometimes gets me carried away
from the topic at hand :)

Matas

[2020-12-17 05:42] z3dev commented on #235
No reply from @ghpenguin

Closing

[2020-12-17 05:42] #235 closed

[2020-12-18 14:48] Philius opened #745 "Servo example on openjscad.org renders nothing with Google Chrome"
## Expected Behavior
Clicking on "Examples/Intreractive Params: Servo Motor" brings up the parameters and source code, with the example rendered.

## Actual Behavior
Clicking on "Examples/Intreractive Params: Servo Motor" brings up the parameters and source code, but nothing is rendered.

## Steps to Reproduce the Problem
Click on "Examples/Intreractive Params: Servo Motor"

## Specifications
Go t

[2020-12-19 07:56] z3dev commented on #745
Certainly looks broken. This example doesn't run on any browser. 👎

[2020-12-23 02:20] z3dev opened #747 "V2 : cannot change the shortcuts for reloading designs"
## Expected Behavior

Type in new shortcut, and use the shortcut to reload designs.

## Actual Behavior

Cannot type in new shortcut.

## Steps to Reproduce the Problem

  1. Open V2 website
  2. Pop open settings
  3. Try to change the reload shortcut

## Specifications

  - Version: V2
  - Platform: All
  - Environment: web

[2020-12-23 02:21] z3dev commented on #747
A few comments...

Probably one shortcut is fine IF the shortcut can be changed.

Mobile devices need to be able to change the shortcut, as SHIFT-RETURN is not possible from soft keyboards.

[2020-12-23 06:20] Irev-Dev commented on #728
Hey @z3dev , I've been modelling the same bird house in a couple of different Code-CAD packages and adding them to the repo as examples.
https://github.com/Irev-Dev/curated-code-cad/pulls
![OpenScad](https://user-images.githubusercontent.com/29681384/102965894-e4941480-4542-11eb-822d-c7ac8bd58c25.png)
![cadquery](https://user-images.githubusercontent.com/29681384/102965901-e6f66e80-4542-11eb-9897-

[2020-12-23 06:27] z3dev commented on #728
Cool! Should be fun!

I suggest that you use an external editor, and drag and drop the file to www.jscad.xyz. Then just check auto-reload.

There's a new user guide at www.jscad.xyz/dokuwiki/ which should get you running quickly.
And there the API documents at www.jscad.xyz/docs/

[2020-12-23 10:56] Irev-Dev commented on #728
Thanks for the quick response. I've added it, but since this kinda becomes public example code, I'm more than happy for anyone from JSCAD to review the code before I merge it in.
https://github.com/Irev-Dev/curated-code-cad/pull/16

[2020-12-23 22:48] z3dev commented on #728
@Irev-Dev there’s a new kid in town...

https://bitbybit.dev/home

Also, BlocksCad hasn’t been updated for years, and looks dead. You might want to mention this point when software is stale / unmaintained.

[2020-12-23 23:41] Irev-Dev commented on #728
Thanks @z3dev, Both good points. I'll make some changes to the readme.

[2020-12-25 07:28] z3dev opened #748 "V2 : Balloons example is not rendering correctly"
## Expected Behavior

Should work like V1 example.

## Actual Behavior

Very different, and missing pieces

## Steps to Reproduce the Problem

  1. Open the balloons example for V2

## Specifications

  - Version: V2
  - Platform: web
  - Environment: web

[2020-12-26 13:45] hrgdavor opened #749 "V2 strange artifact when extruding"
## Expected Behavior

just extrusion without bottom square that surrounds it

## Actual Behavior
extrusion with bottom square that surrounds it

## Steps to Reproduce the Problem

  1. save script in file
[code]
  2. load in jscad.xyz
  3.

![image](https://user-images.githubusercontent.com/2480762/103152509-fff06100-4788-11eb-828d-75c38e8003e8.png)

## Specifications

  - Version: all
  - Platfor

[2021-01-01 07:51] Irev-Dev commented on #728
Me again.

I also want to add some of the best real-world examples of Code-CAD being used out in the wild. Do you know of any good projects using JSCAD that I can feature?

So far what I've found is:
- [Acedemics using it for reactor design](https://github.com/ukaea/paramak)
- [Lego compatible blocks](https://fxbricks.com/)
- [specialised in-house equipment for drones](https://twitter.com/robsmall

[2021-01-01 08:39] z3dev commented on #728
@Irev-Dev Hello again! I think this would be a great question for the user group. I’ve seen lots of great projects from several of the members.

[2021-01-01 10:36] Irev-Dev commented on #728
Good call, done.

[2021-01-02 05:01] z3dev commented on #749
@hrgdavor this fix has been released as part of V2 Pre-Release 2021 Jan 04. if the fix resolves this issue then please close this issue.

[2021-01-02 05:02] z3dev commented on #747
this fix has been released as part of V2 Pre-Release 2021 Jan 04. closing.

[2021-01-02 05:02] #747 closed

[2021-01-02 05:04] z3dev commented on #742
@gilboonet a fix to 'Instant Update' has been release as part of V2 Pre-Release 2021 Jan 04. the instant update can be disabled (uncheck), which will allow the text to be updated easily. if this fix corrects this issue, then please close this issue.

[2021-01-02 05:05] z3dev commented on #740
this fix has been released as part of V2 Pre-Release 2021 Jan 04. closing

[2021-01-02 05:05] #740 closed

[2021-01-02 05:06] z3dev commented on #701
@SimonClark there's an implementation of the editor now, as part of V2 Pre-Release 2021 Jan 04. it's not perfect yet but allows users to view and edit designs on-line. please review.

[2021-01-02 05:12] z3dev commented on #634
@TomSwift the editor window is back, and functional. 👍

**the editor works for single file designs only.**

if you drag-n-drop a file to the main canvas then the source code will become available in the editor. just open the editor window and click on the window.

examples are also available, and can be opened from the help (?) window. once again, the source code will become available in the edito

[2021-01-02 14:33] gilboonet commented on #742
I just tested it again, and effectivey, with current web version (JSCAD V2.0.0-alpha.13) it works fine with instant update unckecked. Thanks a lot.

[2021-01-02 14:33] #742 closed

[2021-01-02 15:37] hrgdavor commented on #749
works :)

[2021-01-02 15:37] #749 closed

[2021-01-03 07:04] z3dev commented on #594
I've been thinking about this further. Basically, there are some 'operations which produce a new geometry.
- extrusions
- expansions
- hull
It's pretty clear that these would produce a new geometry without 'color'.

Next up are the booleans (union, subtract, intersect) which also produce a new geometry. (Forget V1 behaviour please.) So, I still think that a new geometry without 'color' is the best

[2021-01-04 04:02] z3dev opened #753 "OFF : create deserializer and serializer"
## Expected Behavior

Deserializer
- Drag-n-drop OFF file to web, and view 2D / 3D design
- Convert OFF file to STL, etc.

Serializer
- Export 2D / 3D design to OFF file
- Convert STL file to OFF file

## Actual Behavior

Not available

## Steps to Reproduce the Problem

  1. Not available

## Specifications

http://www.geomview.org/docs/html/OFF.html

https://people.sc.fsu.edu/~jburkardt/data/off

[2021-01-04 04:06] z3dev commented on #753
@gilboonet might be interested in creating these now that V2 is functional. it should be slightly easier to create, test, and package now.

[2021-01-04 19:55] gilboonet commented on #753
@z3dev I'm not sure I am skilled enough for that (I know almost nothing about git, node package and when I tried, I was able to code serializer but when I started to test it, I never managed to debug properly), but I will give it a try.

[2021-01-05 00:27] z3dev commented on #753
@gilboonet please try again.

To start...
- git clone the repository
- cd OpenJSCAD.org
- git checkout V2

And create a copy of the OBJ deserializer
- cd packages/io
- cp -R obj-deserializer ./off-serializer

[2021-01-06 16:47] gilboonet commented on #753
I created a folder for this, followed the steps and for the moment it is all ok. I will start the deserializer and will get back to you for the next steps.

[2021-01-06 17:01] hrgdavor opened #754 "subtract a cube from polyhedron freezes in "processing, please wait""
## Expected Behavior
cube subtracted from a pyramid

## Actual Behavior
render hangs

## Steps to Reproduce the Problem

[code]

![image](https://user-images.githubusercontent.com/2480762/103797674-1334e380-5049-11eb-86c6-f50e2aafa32d.png)

## Specifications

  - Version: V2
  - Platform:
  - Environment: (browser)

[2021-01-07 08:02] z3dev commented on #754
@hrgdavor welcome again! Just a quick question, is the list of points correct in the example? Some of the points are not 3D points.

[code]

[2021-01-07 09:00] hrgdavor commented on #754
:) it works when I add z=0

[code]

I was confused because the object was shown without boolean operations, so I assumed the code was fine when I ommit `z`

Although it is pretty obvious now, I did not think to test with `z` ... it was code from my other script in jscad V1,
and even then I did not do boolean on it so if the same issue was present then I did not run into it :)

thanks for the quick

[2021-01-07 10:25] z3dev commented on #754
@hrgdavor thanks for the quick feedback.

Ok. So, should there be checks performed on the points provided? Should checks be performed on the polygons created?

[2021-01-07 10:39] hrgdavor commented on #754
Well, I am not the one to define standards four your lib :), but here is my opinion based on what I have seen while using jscad.

Some other code I called generated an error when I provided wrong type of data, I would prefer that polyhedron throws an error if point is not [x,y,z] and also an error for faces that reference a non existent point.

currently if I provide a non existent point in faces

[2021-01-08 21:14] gilboonet commented on #753
I wrote the deserializer and now I need to test. Apparently the two files instantiate.test.js and translate.test.js need to be changed. What do I need to do to test ? It's the point where I was stopped last time, my test was not ok and I didn't knew how to debug.
![Capture d’écran de 2021-01-08 22-04-03](https://user-images.githubusercontent.com/22082873/104064819-e3c7d780-51fe-11eb-9ab3-1716203f5

[2021-01-08 22:34] z3dev commented on #753
👍

Just start easy, and create a single test case.
- Move instantiate.test.js and translate.test.js to another directory
- Create a new translate.test.js with just one test case (cut and paste from the old)
- In the first test case, pass a text string as input to deserialize()

The first test case is just to check logic, and verify that the basic translation.

You can use console.log() to see the

[2021-01-09 10:32] hrgdavor opened #755 "Export renders scene without transforms"
## Expected Behavior
scene does not change whan exporting

## Actual Behavior

scene is rendered again, but without transforms applied

## Steps to Reproduce the Problem

  1.
[code]
  2. press export(and cancel)

before export
![image](https://user-images.githubusercontent.com/2480762/104089311-39879880-526e-11eb-8c27-fdd6123ec9db.png)

after export
![image](https://user-images.githubusercontent.

[2021-01-10 02:11] z3dev opened #756 "X3D Serializer Improvements"
## Expected Behavior

The serializer should be able to
- Serialize geom3 to IndexedTriangleSet
  - Support colors on polygons, translating to Color
- Serialize geom2 to IndexedLineSet or LineSet
- Serialize path2 to IndexedLineSet or LineSet
- Support UNIT in header
- Support 'name' attributes on geometry
- Support colors on geometries, translating to Appearance
  - Material emissiveColor

## Actu

[2021-01-10 11:14] gilboonet commented on #753
I started the first test. Put together a simple test case into translate.test.js then run "npm test. The test failed but shows no difference between observed and expected, so I don't see how to resolve that.
![Capture d’écran de 2021-01-10 12-09-56](https://user-images.githubusercontent.com/22082873/104121302-5d65df80-533d-11eb-89de-732ad17f76d7.png)

[2021-01-10 11:59] z3dev commented on #753
Great!

I suggest using something like this for testing translation, as strings can be different across operating systems. (From AMF deserializer tests)

[code]
})

[2021-01-11 01:16] z3dev commented on #556
I have yet to see a library support DXF binary format, so this is kind of a waste of time. Closing.

[2021-01-11 01:16] #556 closed

[2021-01-13 00:48] z3dev commented on #753
@gilboonet How are you progressing on the testing? I hope that you are making some good test cases. 👍

By the way, I'm working the X3D deserializer. I added a new pull request that contains the initial code. This should help you to understand how packages are 'linked' together. #757

[2021-01-14 17:48] gilboonet commented on #753
@z3dev I replaced deepEqual() by a simpler : t.is(countOf('primitives.polyhedron', observed), 1) and the basic test is ok, but then I added a console.log(observed) and it didn't have any data fetched from the test file, so I'm not sure that I understand enough the mechanics of testing to be able to help.
![Capture d’écran de 2021-01-14 18-43-44](https://user-images.githubusercontent.com/22082873/1

[2021-01-14 22:17] z3dev commented on #753
The left hand view doesn’t look correct. This shows the output from console.log(observed).

**There are no points or faces.** So, there are some issues in the translation.

Now, you need to find out why... you can add console.log() statements to make sure data is correct, as well as check parameters being passed to functions.

[2021-01-15 12:08] z3dev opened #758 "V2 extrusion issues"
## Expected Behavior

There seems to be some issues with the extrusion logic.
- Only closed slices (those that defined closed sets of edges) can be extruded
- Uncapped extrusions seem strange, where sides are built between end edge and start edge

## Actual Behavior

## Steps to Reproduce the Problem

  1.
  2.
  3.

## Specifications

  - Version: V2
  - Platform: All
  - Environment: (browser, l

[2021-01-16 07:08] jzyzxx opened #759 "V2: Some DXF entities could not convert correctly."
Cound you update the libary version of your offcial website to 2.0?Some 2D enties could not convert collectly.

[2021-01-16 07:29] z3dev commented on #759
@jzyzxx welcome!

V1 is still available at www.openjscad.org
V2 Alpha is available at www.jscad.xyz

Are you using V2?

[2021-01-16 07:49] jzyzxx commented on #759
Yes,i am using V2,Here is my dxf file,when i droped my file o the window,i found some relative position cound not convert collectly,I am sorry that i colud not upload the dxf file

[2021-01-16 10:49] z3dev commented on #759
There are know issues with the DXF import. Please see Issues.
Also, JSCAD converts the DXF entities into JSCAD objects, so there is always some loss of detail, colors, etc.
V2 has improved the DXF conversation but there’s still a lot to do. :(

[2021-01-16 10:50] z3dev commented on #759
If you rename the DXF file to *.txt then you can attach here.

[2021-01-18 01:09] z3dev opened #760 "V2: mat4 enhancement"
## Expected Behavior

I find this function very useful at times, and think that other users will be interested. From the example, extrudeAlongPath.js

[code]

## Actual Behavior

Not available

## Steps to Reproduce the Problem

  1. NA

## Specifications

  - Version: V2
  - Platform: all
  - Environment: all

[2021-01-18 02:59] z3dev commented on #760
Suggested names...
- mat4.fromVectors(source, target)
- mat4.fromVectorRotation(source, target)

[2021-01-18 08:40] hrgdavor commented on #760
That is cool. Could you give few more use cases ? I am curious :)

[2021-01-18 09:39] gilboonet commented on #758
Here a little comparison of a typical combination of operations I do (2d geometry made from boolean operation on polygons, then linear extrusion of the result). I tried it on those 4 platforms
- OpenSCAD where it renders a STL with no holes
- OpenJSCAD v0.4 (using my old website) where it renders a STL with 23 holes
- OpenJSCAD v1.9 (latest v1 web) where it renders a STL with no holes
- JSCAD v2.a

[2021-01-20 08:11] z3dev commented on #758
This is true. This functionality was added in order to 'close' shapes that complete a rotation (torus). In general, the behaviour is:
- if isCapped then generate caps at the start and the end of the extrusion.
- if NOT isCapped then generate sides between start and end

I may be useful NOT to generate sides between start and end.

[2021-01-20 08:15] z3dev commented on #758
Not true. Actually, 'unclosed' slices can be extruded. The results are not very viewer friendly but may be useful.

![issue758_1](https://user-images.githubusercontent.com/8969165/105146181-0634eb80-5b43-11eb-8c5a-ee7cd43f45c5.png)

[2021-01-20 08:31] z3dev commented on #760
I'll try...

Currently, the API has a transform function called rotate([x, y, z], ...objects) which is based upon the mat4.fromTaitBryanRotation function, i.e. yaw, pitch, roll rotations. All fine for those that think in X, Y, Z rotations.

An alternative (and possibly more mathematically correct) is basing rotations upon directional vectors. For example, rotating a direction vector to point to 5,

[2021-01-20 08:36] z3dev commented on #760
@SimonClark might have some nice applications as well.

[2021-01-20 08:45] hrgdavor commented on #760
Could it be used to make a simpler version of this ?
https://openjscad.nodebb.com/topic/183/cylinder-between-points?_=1611131975841

[2021-01-20 09:05] z3dev commented on #760
I would think so... the directional vector (DV) is just P2 - P1
Then it’s just get the rotation from 0,0,1 to DV

[2021-01-21 02:40] z3dev commented on #758
@gilboonet thanks again. nice detective work. fyi, a review of the new snap, etc. functionality is in progress as part of PR #743

[2021-01-21 19:37] WolfgangFahl commented on #167
Still can't figure out how to do this for version 1.9.0 but need it.

[2021-01-22 12:55] z3dev commented on #753
@gilboonet how goes the testing? Are you making progress?

[2021-01-22 18:04] gilboonet commented on #753
@z3dev I didn't make any progress, my code looks ok, so I didn't find what to check. I don't think I'm skilled enough for such development even if I wrote a node js off to jscad translator that works, it requires more to be able to do the same into such a big project.

[2021-01-22 22:38] hrgdavor commented on #760
Huh,

I am having issues with your function. I might be using it incorectly, please check.

![image](https://user-images.githubusercontent.com/2480762/105555721-4e523a80-5d0a-11eb-9b83-242faab04638.png)

green is double the starting vector,  and red is the rotated vector using the function.

blue sphere is where it should go through.

Script:
[code]

[2021-01-23 00:58] z3dev commented on #99
A nice discussion on projections from Stack Exchange.

https://math.stackexchange.com/questions/2305792/3d-projection-on-a-2d-plane-weak-maths-ressources

[2021-01-23 01:05] z3dev commented on #760
Real close... remember that rotationMatrixFromVectors is returning a math.mat4. So...

`	var **matrix** = rotationMatrixFromVectors(vecFrom,vecTo)`

[2021-01-23 01:09] z3dev commented on #753
@gilboonet ok. it might be easier if i can comment on the code. have you created a fork of OpenJSCAD.org?

[2021-01-23 10:08] hrgdavor commented on #760
ok works now
![image](https://user-images.githubusercontent.com/2480762/105575344-352da600-5d6b-11eb-8624-f263e6b23267.png)

I am completely clueless what mat4 is :)

[2021-01-24 06:17] z3dev commented on #760
There is nothing special about mat4, which is a 4 x 4 matrix. However, understanding matrix math is always a challenge. You can find lots of information on matrix mathematics. One of the best websites for beginners (of all ages) is [MathIsFun](https://www.mathsisfun.com/algebra/matrix-transform.html)

[2021-01-24 19:47] hrgdavor commented on #760
I am familiar with matrix math.  But I googled why 4x4 matrix is used in 3D  to learn a bit about the concept :)

[2021-01-24 22:02] hrgdavor commented on #562
Something is fishy in the renderer when geenrating regl code for 1000 cubes takes 4 seconds, but rotating the scene and zooming is snappy and works fine (so likely is at least 60fps).

my knowledge here is limited, but I am sensitive to performance of the tools I use.

It is not unusual for designs to have multiple instances of "same" geometry that is only copied and translated
to multiple places.

[2021-01-25 05:49] z3dev commented on #562
Nothing fishing going on... the rendering just changes the position of the camera. All those visible shapes (packed arrays) are cached.

Just a tip... create the cube once... translate 1000 times.

[2021-01-25 06:58] hrgdavor commented on #562
Am I doing it wrong here ?
[code]

it did not gain any speed

[2021-01-25 08:52] z3dev commented on #562
Nope. You won’t improve performance further using a browser.

[2021-01-25 08:58] hrgdavor commented on #562
Sure there is limit to what some code could do in js. But you missed one detail. Both versions when cube is created once ona 1000 times inside loop has the same performance. So no instancing is used, which is a shame.

[2021-01-25 14:23] gilboonet commented on #753
Such project deals with too many tools/libraries/technologies and I don't feel I could be helpful and instead will make others lose time to help me. I think I could provide feedback and use cases, but not contribute efficiently to the code.

[2021-01-27 05:32] z3dev opened #763 "V2 : binary STL files cannot be loaded properly via URI parameter"
## Expected Behavior

This URL works:

https://www.jscad.xyz?uri=https://github.com/jscad/sample-files/raw/master/stl/testcube_10mm.stl

## Actual Behavior

The cube does not render and the viewer is very strange. The conversion by the stl-deserializer failed.

## Steps to Reproduce the Problem

  1. Click on the URL above

## Specifications

  - Version: V2
  - Platform: web
  - Environment: all

[2021-01-27 22:15] SebiTimeWaster commented on #598
yeah, it looks fine and renders in a reasonable time ~10secs, when the parameters are correctly adjusted (segmentation):

![image](https://user-images.githubusercontent.com/3726309/106060397-4cb2b900-60f4-11eb-970b-43a3c6fc8ccc.png)

if you run this with a very low segmentation it produces wrong faces since the curvature of the object is too high for something low poly like a cube. low poly object

[2021-01-28 06:25] z3dev commented on #671
@SimonClark I have some hacking good news. I was able to change the core library to handle normal or async versions of main functions. This means that users can do most anything now, including network fetches, etc.

I just know that something else will break, so further testing is required.

[2021-01-28 11:16] SimonClark commented on #671
Fantastic!  I need to find some time to play with it.  Got lots of ideas

[2021-01-29 10:52] z3dev commented on #396
@profOnno the ability to use promises within V2 designs is not supported yet. See

However, V2 JSCAD exposes the file system, just like running from the command line. Therefore, fonts and images can be loaded as part of V2 projects.

I posted an example at the User Group.

https://openjscad.nodebb.com/topic/188/access-to-the-fake-filesystem-in-web-applications

[2021-02-02 02:55] z3dev opened #765 "V2 : issue with bootstrap on Windows"
## Expected Behavior

The project should bootstrap properly, with simlinks between packages. The web development server should start properly.

## Actual Behavior

Simlinks are missing. The web development server fails to start.

## Steps to Reproduce the Problem

  1. npm install
  2. npm run bootstrap
  3. cd packages/web
  4. npm run dev

## Specifications

  - Version: V2
  - Platform: Windows

[2021-02-02 02:57] z3dev commented on #765
This seems to be a general issue with lerna.

Here's a work around:
- edit package.json
- remove '--hoist nyc --hoist ava'

The bootstrap should work now.

[2021-02-03 10:21] hrgdavor commented on #562
This is my first time playing with three.js but creating many cubes there is much faster

I took a number that takes three.js just a bit of time to generate and render (8000 cubes in 20x20x20 formation) but takes jscad a very long time.

http://3d.hrg.hr/jscad/three/three.js.webgl.exporter.stl.html

you can test 2 versions of add mesh (refresh the page after each test)

version without mesh reuse

[2021-02-04 02:21] z3dev commented on #562
@hrgdavor It's very simple. All the math is done in the JSCAD internals, running in the JavaScript engine. Three.js creates WebGL structures that are shoved onto the 3D graphics card. Which do you think will be faster?

The goals of the two libraries are very very different.

[2021-02-04 11:11] hrgdavor commented on #562
Yes, but my perception is that after csg operations are done faster (for number of models I made), I have to wait for renderer that is slow. My example here is exaggareted to show the difference.

If I create a mesh like this (what is interesting this one does no csg)
![image](https://user-images.githubusercontent.com/2480762/106883907-ebd14500-66e0-11eb-86a0-277dfd258f9e.png)
and want to add more

[2021-02-07 07:34] z3dev commented on #763
Fixed via #764

[2021-02-07 07:34] #763 closed

[2021-02-07 07:37] z3dev commented on #755
@hrgdavor the latest V2 JSCAD ALPHA release contained a fix for this. please try www.jscad.xyz again

[2021-02-07 07:38] z3dev commented on #691
@SimonClark the latest V2 JSCAD ALPHA release contains a fix for this issue. please try the latest version at www.jscad.xyz

[2021-02-07 07:39] z3dev commented on #641
The latest release of V2 JSCAD contains the new generalize() function, which includes converting geom3 polygons to triangles.

[2021-02-07 07:39] #641 closed

[2021-02-07 07:43] z3dev commented on #758
@gilboonet please try the latest release of V2 JSCAD. there's a new funcation called generalize()

[code]

[2021-02-07 12:16] hrgdavor commented on #755
works ! :)

[2021-02-07 12:16] #755 closed

[2021-02-07 22:50] z3dev commented on #642
@hjfreyer there’s a new transformer function called align() which can align shapes, and place those aligned to a given pint.

This should make aligning shapes to a ‘corner’ very easy.

And center() should be rewritten to use align() as well.

[2021-02-08 10:51] gilboonet commented on #758
First of all, thank you for this Alpha 14 release. I did a quick test of generalize and here it is
![testGeneralize](https://user-images.githubusercontent.com/22082873/107209698-72e52c80-6a03-11eb-9462-44641a209c9e.png)
Apparently there's no change when using only snap.

I need now to close holes with each configuration to see if one of them render the model as needed.

[2021-02-14 07:40] z3dev opened #767 "V2 : typing input into text parameter is impossible"
## Expected Behavior

Type a string into the text parameter
Push "UPDATE" button
Design updates

## Actual Behavior

Type and the string resets, and the design resets, and the input is GONE

Copy and paste of the string can be done.

## Steps to Reproduce the Problem

  1. See above

## Specifications

  - Version: V2
  - Platform: Web UI
  - Environment: Chrome

[2021-02-16 01:48] z3dev opened #768 "V2 : sphere example"
## Expected Behavior

The parameters for geodesicSphere should be:
- radius
- frequency

## Actual Behavior

Using segments

## Steps to Reproduce the Problem

  1. Run example

## Specifications

  - Version: V2
  - Platform: examples
  - Environment: all

[2021-02-25 06:49] z3dev commented on #758
@gilboonet a quick update...

I ported the old fixTJunctions() function to V2 JSCAD, and found out that it doesn't fix anything.
This function changes the polygons, and ADDS points at the T junctions. It does not fix the polygons.

The good news is that those additional points allow the creation of water-tight triangles. And the results are very good.

![issue_758_1](https://user-images.githubuser

[2021-02-25 07:56] z3dev commented on #696
@MathieuLoutre @gilboonet just an update...

I ported the old fixTJunctions() to V2, and found out a few things. This function actually injects points into polygons if a T junction is detected (It doesn't fix anything!). And putting that together with snap() and improved triangulate(), the results are much better.

![issue696_1](https://user-images.githubusercontent.com/8969165/109121177-4878ca80-

[2021-02-27 01:16] z3dev commented on #696
More improvements today, as the triangulation logic has been changed. I think this will be the final version.

![issue_758_2](https://user-images.githubusercontent.com/8969165/109370691-c9e47000-78e4-11eb-8ae0-74324f914894.png)

Note: MeshLab... unified vertices.

[2021-03-01 04:41] z3dev opened #774 "V2 AMF colors"
## Expected Behavior

The colors set on 3D geometries should be set at the geometry level (volume) in the AMF file as per the specification.

`8.1 Colors may be introduced using the < color > element by specifying the RGBA (transparency) values in a specified color space. By default, the color space must be sRGB (2) but alternative profiles may be specified using the metadata tag in the root < amf

[2021-03-01 06:58] z3dev commented on #701
@SimonClark please close if satisfied.

[2021-03-01 06:58] z3dev commented on #691
@SimonClark please close if satisfied.

[2021-03-01 06:59] #634 closed

[2021-03-01 23:06] hrgdavor commented on #562
Hi,

I have created a hacked-up (do not look at the code) example of jscad with threejs as renderer to show what is possible.

Here is one of my recent projects in my fancy/ugly jscad+threejs demo
http://3d.hrg.hr/jscad/three/three.js.webgl.jscad.html

to compare here is a link to the same basic script that can be viewed usin jscad.xyz
https://jscad.xyz/#http://3d.hrg.hr/jscad/three/aqua_pump.jsca

[2021-03-03 06:37] z3dev commented on #767
UG... the keystroke events are being propagated to the parent DIV, which handles the 'short cut' keystrokes. And guess what happens?

[2021-03-07 06:23] z3dev commented on #767
Released

[2021-03-07 06:23] #767 closed

[2021-03-07 06:26] z3dev commented on #754
@hrgdavor thanks again for the feedback.

Improvements to polyhedron have been released, which includes checking points and faces.

[2021-03-07 06:26] #754 closed

[2021-03-07 06:28] #691 closed

[2021-03-07 06:30] z3dev commented on #758
The improvements to snap and triangulate have been released. Closing.

[2021-03-07 06:30] #758 closed

[2021-03-07 06:34] z3dev commented on #294
www.jscad.xyz

SHIFT-RETURN is the default for recompile / rerender. Also, tryouts night to move away from the page will pop up a dialogue to confirm.

Closing this as this is not an issue with V2.

[2021-03-07 06:34] #294 closed

[2021-03-07 06:44] z3dev commented on #696
@MathieuLoutre
@gilboonet
@bitbybit-dev

The latest release of V2 JSCAD has fixes for this issue. Please try your designs again, and export to STL. I hope that there are vast improvements in the mesh being exported.

Please post back and results. 😃

[2021-03-07 12:11] z3dev commented on #315
This is the V1 WEB UI so no further fixes are expected.

[2021-03-07 12:17] z3dev commented on #314
Umm... no. It’s an example of blockly only.

There are some other websites using Blockly to generate JSCAD designs, and view the results.

[2021-03-07 12:21] z3dev commented on #271
The V2 WEB UI has the ability to load projects from a selected directory, so I’m closing this issue. Please open new issues against after trying the V2 WEB UI at www.jscad.xyz

[2021-03-07 12:21] #271 closed

[2021-03-07 12:34] #372 closed

[2021-03-07 22:43] #642 closed

[2021-03-08 05:04] z3dev opened #777 "V2 sliders do not work properly"
## Expected Behavior

Click on a slider and adjust the value
Design changes based on value
Value of slider is retained

## Actual Behavior

Slider always resets to initial value

## Steps to Reproduce the Problem

  1. Load a design with a slider definition
  2. Try to use it

## Specifications

  - Version: V2
  - Platform: WEB UI
  - Environment: www.jscad.xyz

[2021-03-08 07:25] minatani opened #778 "V2 union() does not work properly."
Union() does not work properly.
This code can be expected to produce a crossing bars, but in fact makes cuboids with complicated facets.

const { cuboid } = require('@jscad/modeling').primitives
const { union } = require('@jscad/modeling').booleans

const main = () => {
    let juuji=[];
    const vertical=cuboid({size: [10, 60, 10]});
    const horizontal=cuboid({size: [40, 10, 10]});
    juuji.p

[2021-03-09 00:06] z3dev commented on #778
@minatani good to hear from you again.

So, here are the polygons after the boolean operation.

![issue778](https://user-images.githubusercontent.com/8969165/110398136-9957bf80-80b6-11eb-81dd-10752b08763b.png)

Are you expecting a different set of polygons (faces)?

[2021-03-09 05:17] z3dev commented on #695
A page about Orientation was added to the V2 User Guide at https://jscad.xyz/dokuwiki/doku.php?id=en:math_guide_orientation

[2021-03-11 04:30] z3dev commented on #777
Retested sliders which look fine.
So maybe this is related to the storage of previous values, which is pretty sick at times.

[2021-03-11 21:18] arcanemachine opened #779 "jscad.xyz is down"
## Expected Behavior
jscad.xyz resolves properly

## Actual Behavior
Connection times out

## Steps to Reproduce the Problem

  1. Go to jscad.xyz in the browser.
  2. Wait for it to load.
  3. It doesn't load

## Specifications

  - Version: N/A
  - Platform: The Web
  - Environment: Browser

[2021-03-11 22:17] rachidlamouri commented on #779
Is jscad.xyz the same as openjscad.org? Because I have been using openjscad.org and it is also not responding.

[2021-03-11 22:46] arcanemachine commented on #779
I pushed a clone of the web packages to jscad.surge.sh if anyone needs to whip anything up in the meantime.

[2021-03-11 22:54] udif commented on #779
@arcanemachine you have pushed a copy of the old 1.x code. jscad.xyz was running the new v2 branch when it was up.
openjscad.org was running the old 1.x code.

[2021-03-11 22:59] z3dev commented on #779
Yeah. Both websites are down... have sent the notices for help but this may take some time.

[2021-03-12 08:04] gilboonet commented on #779
If this is due to OVH data center fire, they said the servers will be replaced on monday for some of them and next friday for the last one.

[2021-03-12 12:37] z3dev commented on #779
Possibly... hanks for the information.

[2021-03-17 04:22] z3dev commented on #779
V2 DOCUMENTATION...

I put the documentation online at http://www.gfnews.net/jscad/docs/index.html

[2021-03-18 04:08] z3dev commented on #779
For those in a bind, I put V2 JSCAD online at www.gfnews.net/jscad/

[2021-03-18 09:16] arcanemachine opened #780 "How can I access CodeMirror via Javascript from the browser when using v2?"
Rookie question ahead...

## Expected Behavior

When using the v2 version in the browser, I want to access the CodeMirror instance through some variable connected to the jscad instance running in the browser (e.g. jscadInst1.codeMirrorEditor.doc.blahBlah() ).

## Actual Behavior

The setup code returns a Promise, and I have no idea how to interface with the CodeMirror instance (or any of the "back

[2021-03-18 09:22] z3dev commented on #780
@arcanemachine thanks for using V2.

The WEB UI for V2 is very very different. The interaction of components (canvas, editor, etc) is based on 'most', which is not very easy to understand or extend.

So, what are you looking for? Do you want to create a new web site? Use V2 as a component?

[2021-03-18 20:06] arcanemachine commented on #780
Basically, I'm running the entire page in an iframe. Users can write data into the editor, preview the results, then save the results in the profile for other users to view. It's basically just a "wrapper" (if that is the correct use of the word) for the openjscad/jscad web apps.

The hope is, of course, to contribute to the code base as well, once I can get a handle on things. The ~66k lines in t

[2021-03-18 22:24] z3dev commented on #780
Ok. I see where you are headed now.

The compiled library (jscad-web-min.js) was created for the JSCAD website, and includes EVERYTHING. You might be able to use it but it probably wouldn’t be a good idea. It can change, and there are no hooks for developers.

There are several packages that wrap JSCAD in different styles, and far easier to work with. You can find most of those by just following t

[2021-03-18 22:56] arcanemachine commented on #780
I appreciate the quick replies.

I'd gotten to the point where I was just gonna manually add some buttons before re-Browserify-ing everything, but I will take a look at the Vue stuff (I know enough Vue to get by, fortunately).

Thanks again :)

[2021-03-19 01:02] z3dev commented on #780
@arcanemachine super! i think you will be successful using the vue components.

all changes are welcome as well! :)

[2021-03-19 01:20] arcanemachine commented on #780
The Vue components work very well. I hope to be able to give back something of worth to the project. Thanks yet again.

[2021-03-19 01:20] #780 closed

[2021-03-19 12:04] bitbybit-dev commented on #696
Hey @z3dev, I've just updated and tried few of the models and indeed I'm getting way fewer repairs in Prusa slicer! Thx for these updates. I'll try to do more detailed tests later. Have to round up one large release...

[2021-03-19 12:58] hrgdavor commented on #696
@bitbybit-dev ... a relatively unrelated hint that I would like to share:

When I had models from jscad or elswhere that would be broken in prusa slicer (even after repair), the builtin "3D Builder" in windows fixed the model in those cases.

[2021-03-21 22:58] z3dev commented on #779
The Strasbourg OHV data centers are coming online again. Servers are being checked, then brought online. It may take a few more days. It seems that the main UPS in data center 2 started on fire, and took all four centers offline. Nice design... 😔

[2021-03-24 07:19] kenianbei opened #781 "V2 rotate() doesn't seem to use 360 degree angles when rotating"
## Expected Behavior

This is happening on the V2 latest alpha.

Rotation should follow normal angle degrees of 0-360. When using:
[code]
cube should align with grid and only have rotated 90 degees.

## Actual Behavior
Cube is rotated a huge number of revolutions. It seems like 90 degrees is close at [1.6, 0, 0].

## Steps to Reproduce the Problem

1. Go to a sample site like http://www.gfnews.net

[2021-03-24 07:28] z3dev commented on #781
All angles are now RADIANS as the JavaScript math library uses radians as well.

It’s a little confusing at first but pretty easy to use after a while. There’s a utility function to convert from degrees to radians called ‘degToRad()’.

`const { degToRad } = require(‘@jscad/modeling’).utils`

[2021-03-24 07:30] kenianbei commented on #781
Perfect, thanks for the update!

[2021-03-24 07:31] kenianbei commented on #781
BTW I created a react component if anyone needs one for V2: https://github.com/kenianbei/jscad-react

[2021-03-24 07:32] z3dev commented on #781
@kenianbei no problem.

The online API documentation has some good references, and examples.

Sorry, but the User Guide is not available. The websites are still down. 😔

[2021-03-24 07:34] z3dev commented on #781
OOOO...nice! I’ll take a look.

Please post to the User Group. There are many folks creating websites, components, etc.

[2021-03-24 07:48] kenianbei commented on #781
Cool I will do that...

[2021-03-24 08:20] z3dev commented on #781
Super. If you found a solution then please lose this issue. ;)

[2021-03-24 15:49] #781 closed

[2021-03-27 23:41] vorpalhex commented on #779
@z3dev I can probably help provide hosting in the meantime if that's helpful.

[2021-03-28 06:51] z3dev commented on #779
@vorpalhex thanks for the offer.

the latest is that the servers will be brought back on-line sometime this week. not the best news but let's wait a few more days.

[2021-03-30 02:32] jfo8000 commented on #779
There's a V1 mirror of OpenJSCad up at https://creator.buildbee.com/ - I couldn't figure out how to host the docs, but the site is up if anyone needs it.

[2021-03-31 07:24] z3dev opened #782 "V2: invalid 2D geometries after contract"
## Expected Behavior

The following example should contract, and produce a valid 2D geometry.

## Actual Behavior

tbw

## Steps to Reproduce the Problem

  1.  Run the given example in V2

## Specifications

  - Version: V2
  - Platform: All
  - Environment: All

[2021-03-31 07:58] z3dev commented on #782
FYI, V1 is worse. Here's the results of the same example.

![2](https://user-images.githubusercontent.com/8969165/113110655-47800080-9242-11eb-9f82-8b8b668723c2.png)

[2021-04-05 09:43] WolfgangFahl opened #783 "Clean up usability and documentation mess"
## Expected Behavior
OpenJsad should be useable and documented

## Actual Behavior
- the website is down
- there are two different versions of openjscad - the old one has flaws and the new one is not ready
- google search points to outdated documentation

## Steps to Reproduce the Problem

  1. try using openjscad with an existing openjscad project - the website is down - work around it
  2. try f

[2021-04-05 11:17] z3dev commented on #783
I (and others) understand the frustration, but no one expects four(4) major data centers to go down at the same time. OpenJSCAD isn’t the only website down still.

In addition, those domain names are owned by individuals, who have drifted away from the project. Request for help was sent, but... yeah.

[2021-04-05 12:47] WolfgangFahl commented on #783
@z3dev  thank you for your swift answer which clarifies the DNS problem. When following a workaround such as https://creator.buildbee.com/ and then the documentation link you end up in https://openjscad.org/dokuwiki/doku.php which is also offline at this time - what's the workaround for that one?

The major question is to avoid such disruption and confusion in the future as well as make it easier

[2021-04-05 17:34] danmarshall commented on #783
I am personally a fan of using all the GitHub resources. GitHub pages for web hosting (both docs and online web app), and GitHub Discussions. Everything can be contained in this single repo.

[2021-04-06 03:50] z3dev commented on #783
@danmarshall please remember that the websites need that little Perl script. as far as I know, only static content can be served up by GIST. is there something that I missed?

For the API documentation, it's possible to create both HTML and MARKDOWN versions. The question is... where to put the MARKDOWN versions.

Discussions? Do you mean Team discussions? That's the only discussions that I know a

[2021-04-06 06:03] WolfgangFahl commented on #783
@z3dev  Discussions are for creating a forum/chat room and are effectively handled like issues so that e.g. issues changes and discussion entries can be linked. See https://github.com/somnathrakshit/geograpy3/discussions for an example.

The MARKDOWN can be put directly in the github pages which are effectively just a branch gh-pages of  the main gitrepository. Where is the content and the perl sc

[2021-04-06 06:23] z3dev commented on #783
Always something new at GitHub.... discussions are enabled.

[2021-04-06 07:28] WolfgangFahl commented on #783
See #785 for a first followup

[2021-04-07 01:03] jonsadka commented on #779
@z3dev any updates on this?

[2021-04-07 04:55] z3dev commented on #558
Comment... each serializer should provide a list of supported attributes, such as 'name' or 'class' or 'id'. In addition, these attributes need to be preserved by generalize(), possible a new option.

[2021-04-07 04:58] z3dev commented on #558
From the forum...

'class' element for sure is interesting as it will ease styling. About 'id', yes it must be used carefully to ensure that each object has its unique id, generally I use names forged from data (line between triangle 23 and 111 has id 'L_23_111', etc.). 'name' is deprecated so it's maybe wise to avoid it, on very old js code I remember i used 'tag', as svg doesn't use it, as svg c

[2021-04-07 22:16] hobofan opened #786 ""Cannot read property 'length' of undefined" during generalize for STL serializer"
## Expected Behavior

I can correctly export my model via the STL serializer

## Actual Behavior

It crashes with the following error:
<details>
<summary>Full error</summary>

[code]

</details>

## Steps to Reproduce the Problem

// TODO: Code to reproduce - Will try to get to it the coming days

I think the problem is that I'm trying to `union` a `cylinder` and a `cylinderElliptic` in some edge

[2021-04-08 01:57] z3dev commented on #786
@hobofan can you share the design? that would help write a test case.

[2021-04-08 05:17] hobofan commented on #786
I built it with my project Landau, which is still experimental and I didn't want to bother you with for this bug (the main mechanics work though, so I'm pretty sure the bug doesn't come from there).

Anyways, I put the design online [here](https://github.com/hobofan/landau-net-cup). You can try to build the model with `npm run build-model-broken` and the relevant parts of the code are [here](https

[2021-04-09 20:59] jfo8000 commented on #779
I have updated the documentation to the wikibooks version but if there is a more recent one let me know!
https://creator.buildbee.com

[2021-04-09 20:59] jfo8000 commented on #783
I have updated the documentation to the wikibooks version but if there is a more recent one let me know!
https://creator.buildbee.com

[2021-04-10 06:30] WolfgangFahl commented on #783
https://en.wikibooks.org/w/index.php?title=OpenJSCAD_User_Guide&action=history shows the history of the page. I also had the assumption that this is the official documentation but it seems not to be any more and at least that should be pointed out

[2021-04-10 06:50] z3dev commented on #783
As discussed earlier, WIKIBOOKS is the V1 Documentation from a long while back. I’d be glad to use WIKIBOOKS again if they improved the review process. But waiting 6 months for some old fart to review two changes is ridiculous. I doubt that you can even make changes to those pages. I doubt that anyone can delete those pages.

😔

[2021-04-10 20:55] jfo8000 commented on #783
@z3dev is the newer v1 documentation checked in anywhere?

[2021-04-10 21:59] z3dev commented on #783
Sadly, no.
Both V1 and V2 WIKIs are still offline. I’ve been following the OHV recovery process but it’s going slow. I’ll start some discussions with OHV this week, and try recovering everything.

I had an old copy of the V2 wiki and put it online at openjscad.xyz/guide.html which forwards to the wiki. This is the new website.

[2021-04-11 05:54] WolfgangFahl commented on #783
Just added a hint to the wikibooks page about the deprecation:
https://en.wikibooks.org/w/index.php?title=OpenJSCAD_Quick_Reference&type=revision&diff=3826690&oldid=3583623

[2021-04-11 11:12] z3dev commented on #783
@WolfgangFahl thanks.

Do you know if books can be removed from WIKIBOOKS?

[2021-04-11 21:08] hobofan commented on #786
I reproduced it with plain `@jscad/modeling`: https://gist.github.com/hobofan/d5840fdb0f0978c19f4e8a7d5bf0bc55

A few observations that might help to narrow it down:

- Error only occurs when both `snap` and `triangulate` are `true` for `generalize`
- When `times` is changes to any value other than `10` https://gist.github.com/hobofan/d5840fdb0f0978c19f4e8a7d5bf0bc55#file-broken-generalize-js-L59,

[2021-04-12 01:30] z3dev commented on #779
There's a new website for V2 JSCAD... www.openjscad.xyz

Enjoy!

[2021-04-12 01:41] z3dev commented on #336
@danmarshall how about closing this issue now? i think you are convinced now.

[2021-04-12 01:44] #777 closed

[2021-04-12 01:45] #701 closed

[2021-04-12 01:48] z3dev opened #789 "Unsupported setting for enabling automatic zoom"
## Expected Behavior

Enable or disable the options for zoom, and then load a new design. The design is automatically resized to the view.

## Actual Behavior

These options are not supported.

## Steps to Reproduce the Problem

  1. See above

## Specifications

  - Version: V2
  - Platform: website
  - Environment: browsers

[2021-04-12 07:02] z3dev commented on #759
@jzyzxx sorry. i'm closing this. if you can provide an example DXF file then please attach to this issue and reopen.

[2021-04-12 07:02] #759 closed

[2021-04-12 07:28] z3dev commented on #786
@hobofan thanks for the example.

looks like snap() is merging very close vertices, and sometimes those vertices are within the same polygon.
[code]
I think snap() should check the polygons, and throw one of the vertices away.

[2021-04-12 16:08] danmarshall commented on #336
Yes, thanks!

[2021-04-12 16:08] #336 closed

[2021-04-13 08:21] z3dev opened #790 "Support for old V1 designs"
## See V1 to V2 Migration Guide #883 for assistance

[2021-04-14 01:50] z3dev commented on #245
With the release of V2 JSCAD, this issue has been resolved as the Common.js (Node) method for require() has been adopted. This may be extended or changed in the future.

Thanks all for the feedback!

[2021-04-14 01:50] #245 closed

[2021-04-14 01:51] z3dev commented on #405
The documentation has been updated as part of the V2 JSCAD release. It's a BIG release so please try again from scratch.

Closing this issue. Please open a new issue if necessary.

[2021-04-14 01:51] #405 closed

[2021-04-14 01:52] z3dev commented on #119
Closing. As this is now possible when using the V2 JSCAD packages.

[2021-04-14 01:52] #119 closed

[2021-04-14 01:54] z3dev commented on #419
Closing as V2 JSCAD has been released.

Any outstanding tasks have been converted to issues.

[2021-04-14 01:54] #419 closed

[2021-04-14 04:40] z3dev opened #792 "automatic zoom does not work for 2D geometries"
## Expected Behavior

Double click the canvas and the view zooms to view the design.

## Actual Behavior

This works for 3D geometries but no 2D geometries.

## Steps to Reproduce the Problem

  1. Load a design returns only 2D geometries
  2. Double click the canvas to zoom

## Specifications

  - Version: 2.0.0
  - Platform: Web
  - Environment: all browsers

[2021-04-14 12:14] #786 closed

[2021-04-15 00:56] #792 closed

[2021-04-15 11:17] z3dev commented on #72
Closing as font outlines are now possible using V2 JSCAD, which has been released.

[2021-04-15 11:17] #72 closed

[2021-04-15 11:24] z3dev commented on #451
@bluelightning32 there’s been a lot of progress since we last talked. V2 JSCAD has been released, which includes improvements in many areas. Have you tried any of your designs with the latest versions?

[2021-04-15 11:25] z3dev commented on #449
Closing, as this should not be an issue with V2 JSCAD.

[2021-04-15 11:25] #449 closed

[2021-04-15 11:38] z3dev commented on #411
V2 JSCAD has been released. It’s time to convert the world to JSCAD. :)

[2021-04-15 11:39] z3dev commented on #408
@johnwebbcole please move to V2 JSCAD. If this problem still exists then it can be addressed.

[2021-04-15 11:49] z3dev commented on #329
@kevinmamaqi the scenario that you described looks a lot like a react based web application. Are you still interested? This should be possible now with V2 JSCAD.

[2021-04-15 11:51] z3dev commented on #282
@Ph1r3ph0x please respond, otherwise this issue will be closed. Of course, you can reopen anytime.

[2021-04-15 11:53] #225 closed

[2021-04-16 04:18] bluelightning32 commented on #451
I updated the repro for the V2 API:
[code]

V2 is a little better, but the test still fails.

**Expected**
![image](https://user-images.githubusercontent.com/21202621/114970827-0b4ac380-9e30-11eb-9016-355b7987ffb1.png)

**Actual**
![image](https://user-images.githubusercontent.com/21202621/114970869-1dc4fd00-9e30-11eb-9fa2-f4355aa064a6.png)

[2021-04-16 07:05] z3dev commented on #451
@bluelightning32
Interesting indeed. I will take another look at this when I get some band width.

[2021-04-16 07:06] z3dev commented on #451
FYI, 3D hulls are supported now. :)

[2021-04-16 07:31] z3dev opened #796 "rendering huge geometry is impossible"
## Expected Behavior

The current implementation of the renderer does not convert HUGE geometries correctly. This includes paths, 2D geometry and 3D geometry.

The geometry created in this test should render.

[code]

## Actual Behavior

Partial rendering or worse. Sometimes, the PC may die due to invalid graphics commands.

## Steps to Reproduce the Problem

  1. Run the example for each type of

[2021-04-16 07:48] z3dev commented on #696
There was a recent fix to the snap() function. Please test with the latest and greatest.

[2021-04-17 09:42] WolfgangFahl commented on #783
@z3dev  with admin right pages can be deleted in a wiki. There is a deletion log then but the page won't be visible any more and robots won't pick it up. It better practice to remove all content and place a redirect on the page to make sure outdated content is not referenced any more.

[2021-04-18 13:52] hrgdavor opened #800 "threejs integration discussion"
moved to  https://github.com/jscad/OpenJSCAD.org/discussions/821

[2021-04-22 13:00] hrgdavor opened #805 "Allow scripts to cache geometries when parameters change"
## Expected Behavior
call main function with new parameters without reloading the script

## Actual Behavior
script is reloaded completely

## Steps to Reproduce the Problem

  1. load https://openjscad.xyz/?uri=http://3d.hrg.hr/jscad/three/examples/parametric_butt_hinge_3.7.js
  2. change "throw angle"
  3. it should change instantly, but the whole script is reloaded so no caching is possible

##

[2021-04-22 13:39] hrgdavor opened #806 "Improve regl-renderer to better reuse same geometry with different location or color"
## Expected Behavior
Fast change of colors on colorcube example at jscad

## Actual Behavior
slower than expected

## Steps to Reproduce the Problem

  1. load https://openjscad.xyz/?uri=https://openjscad.xyz/examples/core/colors/colorCube.js
  2. change parameters
  3. wait for update on screen

## Specifications
The colorcube example will also likely benefit from #805

  - Version: V2
  - Platfo

[2021-04-24 22:54] platypii opened #807 "Non-manifold objects generated from union"
## Expected Behavior

Output a manifold STL file

## Actual Behavior

The generated STL file reports errors in various 3d programs. I imported to blender to inspect the non-manifold vertices. It looks like the issue is splitting faces at different sets of edge vertices:

![nonmanifold](https://user-images.githubusercontent.com/1766297/115974937-57bf8e80-a515-11eb-8965-e7dde2e2a98c.png)

## Steps t

[2021-04-24 23:06] #626 closed

[2021-04-25 03:45] platypii opened #808 "Inverted extrusion on clockwise polygon"
## Expected Behavior

When extruding a valid 2D shape, the "direction" of the points should not matter. Note that I'm porting some code from V1 to V2, and this worked in V1.

## Actual Behavior

If you define a polygon with counter-clockwise points, then extrudeLinear works fine. If you pass a clockwise polygon, the resulting geometry is inverted, with faces pointing in.

![inverted_poly](https://

[2021-04-25 05:09] platypii commented on #790
I've been porting several models written in V1 to V2. In the process I have made this compatibility shim which makes things work like in V1. All you need to do is add imports and exports around your V1 code. It is by no means complete, but maybe helpful?

[code]

[2021-04-25 05:45] z3dev commented on #808
The API documentation explicitly says... "NOTE: The ordering of points is VERY IMPORTANT."

https://openjscad.xyz/docs/module-modeling_primitives.html#.polygon

Sadly, we lost some of the documentation on orientation in the User Guide.

[2021-04-25 05:51] z3dev commented on #807
Thanks for the example.

This is a know issue. Also see #696
Things have improved but not perfect.

[2021-04-25 17:38] platypii commented on #808
Ah fair enough. I just updated doc wiki [here](https://openjscad.xyz/dokuwiki/doku.php?id=en:design_guide_polygon)

[2021-04-28 01:55] HKalbasi opened #809 "VSCode integration"
OpenSCAD has an [extension](https://github.com/Antyos/vscode-openscad) for vscode which it's main function is adding two buttons, one for export to stl and one to preview the file. Is there something similar for JSCAD?

[2021-04-28 02:05] z3dev commented on #809
JSCAD doesn’t have a preview function. Just drag and drop any design to the website, which compiles the design and renders the results. And of course, the same results can be exported as STL, DXF, etc.

[2021-04-28 04:03] danmarshall commented on #809
Also, check out jscad-now, I use it with VSCode and I like the browser's debugger better than if it were in a VSCode extension window. https://github.com/danmarshall/jscad-now

[2021-04-30 05:28] #796 closed

[2021-04-30 06:08] z3dev opened #811 "regl-renderer : enhance demo to include mouse / touch event handling"
## Expected Behavior

Open demo.html, and use mouse / touch pad to rotate / zoom / pan the design.

## Actual Behavior

Static display of design.

## Steps to Reproduce the Problem

  1. As described

## Specifications

  - Version: V2+
  - Platform: regl-renderer
  - Environment: browser

[2021-04-30 06:23] z3dev commented on #445
From @danmarshall

Hello, just announcing yet another way to code your jscad stuff:
https://observablehq.com/@danmarshall/hello-jscad

Observable is a "magic notebook" for JavaScript. There is a learning curve to it, but it's very powerful.
One idea that makes this a different dev experience is the fact that you can have a page with multiple Jscad views at the same time. So you can work on coding

[2021-04-30 06:28] z3dev commented on #395
@danielmaartens @BGEray please try again with V2+ of the CLI. (or website openjscad.xyz)

I think the results will be better. I will close this issue if there's not response in 1 month.

[2021-04-30 07:08] hrgdavor commented on #445
Error reporting is pretty neat
![image](https://user-images.githubusercontent.com/2480762/116660603-2dddf000-a98b-11eb-9c05-1f4d0140c559.png)

[2021-04-30 07:15] z3dev commented on #354
@Evil-Spirit Can you supply the original 'script' that produced those results? Working with the original script is the only way to debug this issue. Knowing how the original block and cylinder were created would be very helpful.

[2021-04-30 07:22] z3dev commented on #280
@jleppert You might be interested in this small project. With this, the debugging of designs can be completed within a browser.

https://github.com/danmarshall/jscad-now

[2021-04-30 07:37] z3dev opened #812 "regl-renderer : improve performance of viewer"
## Expected Behavior

Produce native buffers for use with WEB GL.

## Actual Behavior

Provided geometries (solids) are converted to entities for use in WEB GL, but the buffers are arrays of Number values. This results in an unnecessary conversion inside the regl library. (See line 122 of https://github.com/regl-project/regl/blob/master/lib/buffer.js that copies the array)

## Steps to Reproduce t

[2021-04-30 10:35] hrgdavor opened #813 "Improve regl-renderer to use less power (skip repaint when not needed)"
## Expected Behavior
renderer repaint stops when there are no changes to the view (orbit, model change)

## Actual Behavior

renderer draws constantly and

## Steps to Reproduce the Problem

  1. this is not clearly visible to users
  2. but developer can see it easily
  3.

## Specifications
this will be an issue for anyone showing rendered models on a phone or on laptop on battery power.
this is

[2021-04-30 11:45] Evil-Spirit commented on #354
@z3dev I made it in NoteCAD, get the problem, then ported to JSCAD to test if this situation will be the same. NoteCAD uses booleans from OpenJSCAD translated into C#, so, if it will be fixed here, I can fix it for NoteCAD.

[2021-04-30 12:12] z3dev commented on #354
Understood. However, I won’t be able to reproduce this issue without some assistance. I need more information about the two shapes; base and cylinder.

[2021-04-30 12:13] z3dev commented on #813
@hrgdavor Are you going to make some changes? This seems something that you could fix easily. 😃

[2021-04-30 12:22] hrgdavor commented on #813
ok, I'll take a look and try to make a fix

[2021-04-30 13:14] z3dev commented on #89
Considered done.

@jgrizou Reopen and comment if you feel differently.

[2021-04-30 13:14] #89 closed

[2021-04-30 15:14] hrgdavor opened #815 "jscad WASM port discussion"
This is just a placeholder issue for anyone else wondering if WASM would bring even more performance to jscad.

I was wondering about that, and it is not clear cut at all (from what I gathered so far).

What is more, it could easily be less performant, but WASM is also about portability now and is all the rage....

One exploration where it shows how difficult it is to outperforms js: https://surma

[2021-04-30 15:17] hrgdavor opened #816 "jscad and WASM (discussion)"
moved to https://github.com/jscad/OpenJSCAD.org/discussions/822

[2021-04-30 21:40] hrgdavor opened #818 "Move render to worker and use offscreen-canvas (transferControlToOffscreen)"
## Expected Behavior
both render and model executor to be in the same space (preferably worker)
then there is no need to convert to compactbinary

## Actual Behavior
render is in main thread, model executor is in worker

## Steps to Reproduce the Problem

 it's just  how it is right now

## Specifications

https://caniuse.com/offscreencanvas
browser support for this will only get better

https://d

[2021-05-01 04:38] z3dev commented on #815
Can these discussions be move to the Discussions area?

[2021-05-01 06:10] hrgdavor commented on #815
I wanted to make an issue so if someone else wants to propose wasm  in the future they can find it. Using discussion is better. But I would keep this issue and link to discussion, then close the issue so it does not count towards open issues.

[2021-05-01 06:58] z3dev commented on #815
I was able to search for information, which found both issues and discussions. So, I think an issue isn’t necessary. Let’s use issues for real issues. ;)

[2021-05-01 07:23] hrgdavor commented on #815
Ok :) 👍

[2021-05-01 07:23] #815 closed

[2021-05-02 01:46] z3dev commented on #808
@platypii thanks. I saw the changes to the user guide.

If satisfied then please close this issue.

[2021-05-02 01:51] z3dev commented on #666
@sdaau it’s time to close this issue now. V2 has been released and there are now several examples of websites using V2. And there are variations of using V2 in react frameworks as well.

[2021-05-02 06:26] z3dev commented on #800
@hrgdavor please move this to Discussions

[2021-05-02 13:45] ikeji opened #820 "[Feature request] Null 3d object"
I want to have a 3d object that have no actual object but able to pass to union() or other boolean function.
This is useful for the function that have return value conditionally.

In V1, world I can use unison([]) for this use case.
But in V2, it will make a error.

Can we have a null 3d object?

## Expected Behavior

union([]) will return empty result.

## Actual Behavior

It make error.
[code]

[2021-05-02 15:45] #808 closed

[2021-05-02 18:31] #800 closed

[2021-05-02 18:33] #816 closed

[2021-05-02 18:46] #620 closed

[2021-05-02 20:20] hrgdavor commented on #805
I tried to tackle this one as well, but this code style of streams all over the place is freaky difficult for me to follow.

I could not find where the events for rebuildSolids originate to be able to insert source:
 - model reloaded
 - parameter changed

so worker could be left alive and able to use cached reference to main method of the jscad script

and even if I do find a way to transmit tihs

[2021-05-02 20:25] hrgdavor commented on #805
If somebody could help  inject info for the source of the rebuild:  "model relaod" vs "parameters change"

I could play around with making the worker reusable. It will have issues to cover with multiple changes to paramters incomming while script re-evaluets the model if the re-eval is slow.

[2021-05-06 00:58] #813 closed

[2021-05-06 02:02] z3dev commented on #820
@ikeji Thanks! We will take a look at this.

[2021-05-06 05:20] z3dev opened #826 "renderer : there should be reasonable defaults for all the drawing commands"
## Expected Behavior

Initialize the drawing commands (drawGrid, drawAxis, drawMesh, etc)
Add each drawing commands to a list of entities
Render the entities

## Actual Behavior

BIG BOMBS!!!

## Steps to Reproduce the Problem

  1. See above

## Specifications

  - Version: 2+
  - Platforms: All
  - Environment: browser and node

[2021-05-06 05:22] z3dev opened #827 "renderer : split out new command to drawSegments"
## Expected Behavior

No behavior changes. Refactoring for better maintenance / future support

## Specifications

  - Version: 2+
  - Platform: All
  - Environment: browser and node

[2021-05-06 09:06] hrgdavor commented on #805
@z3dev please help 🙏 🙏

[2021-05-06 09:12] #167 closed

[2021-05-06 09:12] #789 closed

[2021-05-06 09:15] z3dev commented on #805
The key is the VTREE package, as that has the start of the caching per shape / geometry. However, it's not well tested.

In addition, it's totally disabled in the WEB UI.

**IF** caching should come back then there's a **BIG PILE** of work to complete.

[2021-05-06 09:43] hrgdavor commented on #805
I might be mistaken, but I think this is not about vtree or full blown caching of rendering of geometries,
I am talking about the simple fact that whole jscad script is re-evaluated every time thus leaving zero chance to cache result of expensive operations like booleans.

This is one small step that could help right away, and will be useful in the future caching .

Could you please just help me s

[2021-05-06 10:32] z3dev commented on #805
Please review the VTREE package. I think that you will understand quickly. Basically, it duplicates the API of modeling (except for special cases), and caches every call as well as the results. And... reuses the ‘tree’ for everything that hasn’t changed.

[2021-05-06 11:07] hrgdavor commented on #805
could you please help me with this so I can know when worker is called the reason is:
 - model reloaded
 - parameter changed
🙏 🙏 pls pls help me 👼 it is all in vain if I don't fix the worker, as there is no way any cache implementation will work with the context being  destroyed on each param change.

I am not sure I would  go in the direction vtree is going, especially since it looks like: "all o

[2021-05-07 00:28] z3dev commented on #805
Let's back up.

Designs export main() and getParameterDefinitions(). There are two exported functions but only one 'evaluation' of the main javascript module (file).

It's even more complicated than that as V2 duplicates the order of 'evaluation' that Node.js uses. Complex designs can be composed of several files, sub-directories, etc. The WHOLE FILE SYSTEM is passed to the rebuildGeometry() funct

[2021-05-07 01:58] z3dev commented on #593
The resizing of the grid has not been implemented so re-opening this issue.

@Evgsurf please see the new WEB UI at openjscad.xyz as there is now an option to 'auto zoom'. this should handle very large designs.

[2021-05-07 02:31] z3dev commented on #807
I enjoy these kinds of issues as every application has a different take on what manifold means. Here's what MeshLab says about those 'non-manifold vertices'.

![meshlab01](https://user-images.githubusercontent.com/8969165/117389739-cba36300-af27-11eb-9eee-7d03b5c9263b.png)

[2021-05-07 05:09] hrgdavor commented on #805
Last time i tested the whole script is re-evaluated on parameter change. Just add some console log in script body outside of main, and test the script by changing params.  Console log is called every time.

[2021-05-07 06:01] hrgdavor commented on #805
open these 2 examples and change params after you F12 open dev console
https://openjscad.xyz/?uri=http://3d.hrg.hr/jscad/three/examples/sphere.js
http://3d.hrg.hr/jscad/three/threejscad.html?uri=examples/sphere.js

[code]

[2021-05-07 06:04] z3dev commented on #805
Correct. Think about this... it's a complex design... maybe with a parameter that says 'USE B-STATISTICS'... which resides in a JSON file. So, now what do you do?

[2021-05-07 06:19] hrgdavor commented on #805
The code did not change, so there is no need for re-eval  the script.
if the code loads something else based on the parameter, still code did not change, an no  need to re-eval the script.

If you produce an example example I would gladly investigate.

[2021-05-07 06:25] z3dev opened #830 "regression in conversions of solids to entities?"
## Expected Behavior

The following script should not fail.

## Actual Behavior

Dies in rendering.

## Steps to Reproduce the Problem

  1. Drap and drop the script to JSCAD website

## Specifications

  - Version: 2+
  - Platform: All
  - Environment: browser

[2021-05-07 06:26] z3dev commented on #830
[code]

[2021-05-07 06:37] z3dev commented on #805
The worker thread does not cache the 'evaluated' code. The exchange is like this...

1. Drag-n-drop file/folder to WEB UI
1. main thread read file contents and creates 'fake' file system
1. main thread sends file system to worker thread for evaluation
2. worker thread evaluates code, starting from 'index'
1. worker thread calls getParameterDefinitions()
1. worker thread sends parameter definitions

[2021-05-07 06:43] hrgdavor commented on #805
yeah, but the whole process is also repeated for every parameter change:

1 change parameters
2 main thread sends file system to worker thread for evaluation
3 worker thread evaluates code, starting from 'index'
4 worker thread calls getParameterDefinitions()
5 worker thread sends parameter definitions / defaults to main thread
6 worker thread calls main()
7 worker thread sends results of main() t

[2021-05-07 06:59] z3dev commented on #805
So you think that 'evaluation' of the code is taking the major time? I doubt that. It's the total number of small allocations for points, polygons, etc. The creation of the geometry is taking the major time.

For example, create a design that adjusts the 'segments' on a sphere, and perform some boolean operations. The performance gets worse as the number of 'segments' grows.

This is where VTREE c

[2021-05-07 07:01] z3dev commented on #805
Just see web/src/ui/flows/design.js as this is the main 'controller' for the solid generation.

[2021-05-07 07:19] hrgdavor commented on #805
yes, but there is zero chance to optimize by reusing some operations results if code is revaluated every time.

The way I see it, there are multiple levels to optimize the final user experience and you are only focusing on a singular part and that is internal optimization of the operations.

level1 - internal speed for operations
level2 - reuse of some generated solids when parameters cahage ... t

[2021-05-07 07:37] hrgdavor commented on #805
I have found it before and seen it, I have seen it again.....

it is just so very confusing for me this style of code, and I can't understand it enough to inject the info I need in the worker...

that is the reason I am asking for your help so you do it... that small change would not break existing code, but would help me continue to explore the worker.

[2021-05-07 07:39] z3dev commented on #805
Not at all.

There's no way that I can walk you through that maze of the WEB UI. The 'most' framework makes tracing and tracking almost impossible. There is no one function that handle a specific event. There is no one function that updates 'state'. Everything goes into 'most' streams, gets processed, and posts new events.

If you want to make a new WEB UI then please feel free to start. I'm sure

[2021-05-07 07:41] z3dev commented on #805
And hopefully, those 'core' functions can be reused to 'evaluate' code and create geometry as well.

[2021-05-07 07:43] hrgdavor commented on #805
so, the dev that chose 'most' framework is no longer here ? or someone else that understands how it works ?

[2021-05-07 07:45] z3dev commented on #805
BINGO! Now you understand!

[2021-05-07 07:48] z3dev commented on #805
Actually, IF you are interested then please work with the OpenJSCAD.org packages. Your version of the WEB UI can live side-by-side until ready. And if there are changes required to the 'core', 'io', etc then those can be integrated as well.

[2021-05-07 07:51] hrgdavor commented on #805
is the dev that made reg-renderer still here or sbdy that understands it ?
I found it easier to navigate three.js even tho it is huge...
I think it would be at least for now easier for me to make  compatible renderer in threejs and if you prefer regl-renderer we could make them both as option.

[2021-05-07 08:13] z3dev commented on #805
Sounds like a reasonable first step... creating a new renderer.

[2021-05-07 08:15] z3dev commented on #805
I'm starting to understand but nothing in WEB GL is easy. And I always find little bugs that need patching.

[2021-05-07 08:24] hrgdavor commented on #805
ok, it is ok then that I play around with threejs for the new web ui in a separate repo?
 is threejs possible as a future direction or future alternative paralel with regl-renderer ?

[2021-05-07 12:07] z3dev commented on #805
Absolutely!

[2021-05-07 18:45] WolfgangFahl commented on #167
How would i know what to do now? Please provide an example.

[2021-05-07 19:54] hrgdavor commented on #167
Your script would be like this in jscad v2

[code]

_cube from v1 is now cuboid, and builtin objects are cenetered by default._

 - open https://openjscad.xyz/
 - check 'Enable Auto-zoom"
 - Save that script into a file
 - drag and drop the file onto the openjscad window

The model will be loaded, and jscad will zoom out to display the whole model

![image](https://user-images.githubusercontent.co

[2021-05-07 21:49] hrgdavor commented on #354
is the port public ? could it be compiled to WASM ?

[2021-05-08 03:34] Evil-Spirit commented on #354
I use it with Unity3D
my branch is here: https://github.com/NoteCAD/Csg

[2021-05-08 04:43] z3dev commented on #736
@maspe36 I'm thinking about two options for this package; most-gestures.

#1 suck in the code and make it part of the web package; 7 files, 980 lines (This has been done before.)
#2 make most-gestures into a JSCAD package, which means publishing it under @JSCAD on NPM

Either solution will fix this issue. Any preference?

[2021-05-08 04:58] maspe36 commented on #736
Hey thanks for reaching back out about this. I have actually stopped development for now on the project I was working on so I would say what ever makes the most sense for your project maintenance structure. As long as folks have a way to opt out of using most-gestures I don't think it matters and both options would work well for my use case if I ever pick the project back up

[2021-05-12 07:32] z3dev opened #833 "strange issues with rendering"
## Expected Behavior

Load the following design (drag and drop), and the design is rendered.

## Actual Behavior

The screen goes 'white'.

If any rotation is performed then the design is rendered.

This same issue appears in Firefox, Chrome, and Safari.

## Steps to Reproduce the Problem

  1. As described.

## Specifications

  - Version: Latest
  - Platform: All
  - Environment: All browsers

[2021-05-12 07:33] z3dev commented on #833
[code]

[2021-05-12 07:34] z3dev commented on #833
@hrgdavor can you take a look at this issue?

these are BIG designs that take some time to render.

[2021-05-12 08:34] hrgdavor commented on #833
I have tried it on https://openjscad.xyz/ and it has the issue that you described.

When I tried it locally, sphere was rendered on the screen just fine after processing was done.

online live version rendered sphere with 720 segments just fine in few seconds, but I had to reduce segments to 155 locally to get the sphere rendered in 3 seconds ... segments larger that that would just hang and not f

[2021-05-12 08:55] z3dev commented on #833
Both. And across browsers.

it only happens with BIG designs.

[2021-05-12 09:05] hrgdavor commented on #833
I am using master branch locally, and could not reproduce it locally in chrome.
Also I have issue where 720 segments is waay too many (it hangs) on the local version.

did you notice such differences ? I will ned to somehow reproduce it locally to be able to fix :)

[2021-05-12 09:09] z3dev commented on #833
hmm… I try some different versions and designs tomorrow. I should be able to get a better test.

[2021-05-12 09:16] hrgdavor commented on #833
I think main issue is that render time limit expires.
this is a blind attempt for fix
https://github.com/jscad/OpenJSCAD.org/pull/834

[2021-05-13 01:01] z3dev commented on #833
I added some console logging to find out what's happening. It seems that the 'timer' is not working as expected.

For small designs, the rendering of the design is happening many times. See the green circle. I think the rendering is called while "renderUntil > Date.now()". And depending on the time it takes to render, this can be many many times.

![issue883_1](https://user-images.githubuserconten

[2021-05-13 05:36] hrgdavor commented on #833
the whole web gui is messed up a bit.
when page is loaded viewer is recreated 4 times
![image](https://user-images.githubusercontent.com/2480762/118082693-86fb4a00-b3b5-11eb-88dc-0b43d347cdcf.png)

[2021-05-13 05:38] hrgdavor commented on #833
The timer is needed because gestures like pan or rotate have elasticity so camera changes some time after gestures have stopped.

The issue is for huge designs that viewer currently has no knowledge when design recalculation ends.

[2021-05-13 06:21] hrgdavor commented on #833
please check #834 , it is not perfect but is still much better than running render all the time

[2021-05-13 10:13] z3dev commented on #833
@hrgdavor thanks. I’ll try out the changes tomorrow.

[2021-05-13 10:14] z3dev commented on #833
That’s very true. I have no idea how to fix it either. So the best solution is a total rewrite.

[2021-05-14 00:58] #826 closed

[2021-05-14 00:58] #830 closed

[2021-05-14 08:34] #833 closed

[2021-05-15 04:30] #736 closed

[2021-05-16 04:41] #695 closed

[2021-05-16 04:41] #737 closed

[2021-05-16 04:41] #748 closed

[2021-05-16 04:41] #768 closed

[2021-05-16 05:43] z3dev commented on #760
FYI, this is required for the new X3D serializer, so a small pull request to add this function will happen soon.

[2021-05-18 05:03] z3dev opened #842 "maths utilities are not documented"
## Expected Behavior

The maths utilities should be part of the API documentation.

## Actual Behavior

NOPE

There's no definition of the name space, nor do the functions have appropriate documentation.

[2021-05-18 23:23] z3dev commented on #842
And no test suites either.

[2021-05-21 01:32] #760 closed

[2021-05-25 02:12] #99 closed

[2021-05-25 02:12] #486 closed

[2021-05-30 06:04] z3dev commented on #783
Closing this issue. Let's open new issues for anything left over.

[2021-05-30 06:04] #783 closed

[2021-05-30 06:05] #779 closed

[2021-05-30 06:22] z3dev commented on #451
@bluelightning32 try this...

[code]

Basically, this adjust the vertices to a calculated 'EPS' based on the size of the shape. So, all those vertices with really really small precision (0.00000762939453125) are snapped to the EPS of the shape.

And, the given test case works now.

[2021-05-30 06:33] #446 closed

[2021-05-30 06:41] z3dev commented on #329
@kevinmamaqi it's been a long time. did you make any progress?

if you are still interested then there are some new reactive based frameworks that will help you get going faster.
- https://github.com/z3dev/vue-components

[2021-05-30 06:48] z3dev commented on #85
@thehans grouping of parameters has been implemented, and groups can be collapsed or expanded interactively.

please try the 'Birthday Ballons' example as www.openjscad.xyz

[2021-05-30 06:54] z3dev commented on #53
@matthijskooijman it's a bit complicated but creating outlines from fonts is now possible by using several libraries as part of a JSCAD project.

https://github.com/jscad-community/jscad-text

See the Project section on how to assemble the project contents.

[2021-06-02 06:16] #363 closed

[2021-06-02 06:23] z3dev commented on #143
@mtippett If you want to split polygons into smaller pieces that that should be possible. The new triangulate() function does this, and splits polygons based on how many vertices are available. The algorithm is based on some information that I found on [Splitting facets by Paul Bourke](http://paulbourke.net/geometry/polygonmesh/).

[2021-06-02 06:38] z3dev commented on #354
@Evil-Spirit The artifact is not present using V2 JSCAD. Attached is the script, just drag and drop to www.openjscad.xyz

[issue354.js.txt](https://github.com/jscad/OpenJSCAD.org/files/6582481/issue354.js.txt)

[2021-06-02 13:22] onebeartoe commented on #370
Hey, thanks for update!  I am glad to see this project is still going.

[2021-06-02 21:23] z3dev commented on #370
Sorry. OpenSCAD files are not converted automatically. You will have to make changes.

First, make a copy and rename it with “***.js”. Then drag and drop the file to the website. You will have to follow JavaScript now, and change the script.

There are examples under the ? icon, which you can view in the editor (click once in the pop).

[2021-06-03 04:39] z3dev commented on #486
@geobruce  Just for your information, as part of the last release, there's a new project() function which can project a 3D shape to a 2D shape.

[2021-06-03 04:40] z3dev commented on #99
@g19fanatic @BrianGenisio @luciancd  Just for your information, as part of the last release, there's a new project() function which can project a 3D shape to a 2D shape.

[2021-06-04 01:38] z3dev commented on #679
Just had a stupid thought...

Currently, connectors are:

1. created and added to the 'properties' of a geometry
2. the 'properties' are transformed when a geometry is transformed
3. designs know connectors by 'name', e.g. geometry.properties.center
4. designs connect geometries together using known connectors
5. a new geometry is created that aligns to the connectors

So, what if this is inverted

[2021-06-04 05:44] #774 closed

[2021-06-04 19:46] hrgdavor commented on #679
I agree with the direction from the perspective, as it is wasteful to generate bunch of connectors in advance and transform them all over the place. It should be something that happens only when needed.

What we really need are connector generators for each built-in geometry, and a pattern for modules that provide custom geometries to follow suit and provide own factories. This way connectors are

[2021-06-04 19:59] johnwebbcole commented on #679
The [addConnector])https://johnwebbcole.gitlab.io/jscad-utils/code/util.html#addconnector-object-name-point-point-point-⇒-csg_) helper that I use helps with naming and construction. https://gitlab.com/johnwebbcole/window-motor/-/blob/master/dist/window-motor.jscad#L733

Here's an example in use https://gitlab.com/johnwebbcole/window-motor/-/blob/master/dist/window-motor.jscad#L733

[2021-06-05 13:57] hrgdavor commented on #679
[code]

could be simplified
[code]

[2021-06-06 06:14] hrgdavor commented on #679
Or version without hiararchical model or generators
[code]

[2021-06-06 07:23] hrgdavor opened #856 "reimagine transforms to be more open to more rich geometry behaviors"
## Expected Behavior
simplify transform, and also let it keep all properties except `transforms`

## Actual Behavior

translate function has this piece of code
[code]

that then calls transform on each type, but implementation there is all the same
 - call create that copies one or two properties and adds empty transforms
 - combines the the transforms

this is bunch of redundant code that could b

[2021-06-06 08:20] hrgdavor commented on #679
After talking to myself in the comments here, I have deleted them, as I have come up with a proposal that is more in line with how jscad scripts work now. Here is a cleaner version of my old comments:
I was refining the text [here](https://github.com/hrgdavor/OpenJSCAD.org/wiki/connectors-proposal)

What I thinkg we need
 - connector generators for each built-in geometry,
 - pattern for modules th

[2021-06-06 22:37] z3dev commented on #856
Simplification of code is always best for maintenance and innovation. This can probably happen after something like this (from the wiki)

Geometries
- add both clone (shallow) and clone (deep) functions
- cloneShallow() creates a new object using Object.assign()
- cloneDeep() creates a new object by making new allocations of everything
NOTE: applyTransforms() must reset transforms with a NEW mat4

[2021-06-07 06:14] hrgdavor commented on #856
Personally, I think cloneDeep should not be needed as geometries are immutable and should be immutable.
cloneDeep should be avoided aggressively.

Googling Object.assign performance, it looks like it is either faster or same ... I would image it should be same as compiler should know it is the same code logically. https://jsben.ch/7oaEs

[2021-06-07 09:39] z3dev commented on #856
I found JQUERY $.entend() today. An interesting concept, as the geometry objects are immutable by design, so it seems reasonable to ‘extend’ these with more attributes, like ‘color’. The result of extend() would be a new geometry with the same guts, but with extended attributes.

Jusr more food for thoughts.

[2021-06-07 10:18] hrgdavor commented on #856
Jquery is pretty old and was solving stuff browsers did not have at the time.

I think that Object.assign was added to browsers to replace jquery.extend ... (I might be wrong)
It was used so much because it was very useful so a native imeplementation in form of Object.assing then allowed it to be much faster.

[2021-06-10 01:17] z3dev commented on #517
@joebk There's a new function call scission() :)

This can be accessed by...

`const { scission } = require('@jscad/modeling').booleans`

[2021-06-11 22:24] z3dev commented on #818
FYI, there’s requirement for transferring the solids to the main thread, as the front end also ‘exports’ the solids to external formats.

[2021-06-11 23:07] hrgdavor commented on #818
I have looked into that previously, and I think that export can be done in the worker as well. The file is transferable. I will keep it in mind to test it too.

[2021-06-15 00:34] #811 closed

[2021-06-15 00:34] #827 closed

[2021-06-28 22:42] etjones opened #873 "Typescript compiler reports already exported member 'Vec'"
All those Typescript typing files were a lot of work, and I'm grateful to have them. I'm still ending up with a couple issues, though; have you guys seen anything like this? I set up a sample repo for replication. It looks like one issue with a missing file or a reference that should have been removed, and another issue that *might* be resolved with a setting in `tsconfig.json` or something?

## E

[2021-07-01 14:11] hrgdavor commented on #818
I have succeded in moving render to worker by making a new version of demo.html in regl-renderer package.
I have some code cleanup to do, but will add an PR so there will be both simple demo and demo with workers.

I will also try to implement export in worker, nad this way all 3 parts: model-gen, render, export will be in same scope and will not need postMessage

[2021-07-14 21:37] kbruneel opened #876 "V2 expansions.expand of "simple" geom3 crashes"
## Expected Behavior
For the expand not to crash

## Actual Behavior
It slowly fills up the memory until the browser crashes.

## Steps to Reproduce the Problem
I have trouble reproducing it and needs some help with this. Currently I play with some user inputs until the browser freezes. Then I click the pause button in the javascript console and use the call stack to find the expand in which it ha

[2021-07-14 23:52] z3dev commented on #876
@kbruneel thanks much for the nice example.

First, some answers…
- there’s no additional state. The call to geom3.create() looks correct.
- there are several things to look at further…

The expand() function also supports the ‘segments’ option. Have you tried adjusting this to something smaller, like 16?

There might be issues with previous functions. Are you using any booleans functions? Any oth

[2021-07-15 07:06] kbruneel commented on #876
@z3dev

Thanks for your quick answer!

For 'segments', I'm currently using the default option, which is 12. When I lower it to 8 the problem seems to disappear. This is ok for me, but there is still something wrong when 'segments' is set to 12.

I'm using a subtract before doing the expand. Is it possible that the subtract changes the result of the expand when I copy the full state of the inputs t

[2021-07-15 10:32] hrgdavor commented on #876
@kbruneel can you give an example that fails as you described ?

[2021-07-15 12:32] kbruneel commented on #876
@hrgdavor That's what I'm trying to do by reconstructing the geometrie and passing it to the expand function, as I showed above. But somehow the reconstruction is not correct, or there is some hidden state that I don't know about. Maybe some stuff gets cached and is reused by jscad?

[2021-07-15 16:53] z3dev commented on #876
Thanks for the additional information.

so, the results change by changing the segments. Interesting.

the expand does a massive union as the final step, which is why the function is so SLOW. There may be a subtle bug when building up the ‘corners’.

I also noticed that the precision of the points is rounded, e.g. -19.6100000
I think that the example should be adjusted to use the actual values, fu

[2021-07-15 17:40] kbruneel commented on #876
@z3dev It was indeed the precision. I didn't know your toString function was changing the precision. So, now with full precision, I get the following code that fails:

[code]

[2021-07-15 22:04] z3dev commented on #876
Excellent! Thanks for staying with us, and helping out.

I’m not able to work on this until September. Does this need to be fixed soon?

[2021-07-16 19:03] hrgdavor commented on #876
I have attemped a fix at:
https://github.com/hrgdavor/OpenJSCAD.org/tree/fix-expand

the branch does not pass tests yet but try it anyway.

[2021-07-17 12:53] hrgdavor commented on #876
@kbruneel can you check the branch with possible fix and let us know if it works now, or provide further test samples 🦊

[2021-07-20 06:00] WolfgangFahl opened #880 "accessibility of V2 ... website/issue tracker and so on"
### Discussed in https://github.com/jscad/OpenJSCAD.org/discussions/814

<div type='discussions-op-text'>

<sup>Originally posted by **WolfgangFahl** April 30, 2021</sup>
Since openjscad.org is still down i gave version 2 a  shot which was very frustrating.

It was hard to find out where it is hosted - there is no redirect and in the README the website is hard to find.

A drag and drop of one of m

[2021-07-20 06:01] WolfgangFahl opened #881 "Error: size must be greater than zero Line: 1536"
## Expected Behavior
Proper error message or working

## Actual Behavior
![grafik](https://user-images.githubusercontent.com/1336221/126269452-bb43fc49-068c-473f-b339-0a1cf5a6d725.png)

## Steps to Reproduce the Problem

  1. Drag and drop design below to https://www.openjscad.xyz/

[code]

[2021-07-20 06:11] WolfgangFahl commented on #880
I am using
``bash
docker run --publish=8080:8080 --name openjscad  --volume $HOME/openjscad/workspace:/openjscad/packages/web/examples/workspace bitplan/openjscad:latest
[code]

[2021-07-20 06:12] WolfgangFahl commented on #880
I love the
![grafik](https://user-images.githubusercontent.com/1336221/126270648-aab91214-22a9-4bda-be84-b1b65827a9e1.png)

[2021-07-20 06:14] WolfgangFahl commented on #880
and to see that things are working with
![grafik](https://user-images.githubusercontent.com/1336221/126270811-54ebeb3d-7cb7-4103-ba2c-8f0d03f40ee4.png)

[2021-07-20 06:14] WolfgangFahl commented on #880
and having the editor right there:
![grafik](https://user-images.githubusercontent.com/1336221/126270859-b74b3e92-79ee-473e-a334-34f8801a9aae.png)

[2021-07-20 06:15] WolfgangFahl commented on #880
So all thre things are missing in V2 out of the box. I'd appreciate if the V1 behavior would be made the default and V2 features are only optional.

[2021-07-20 06:17] WolfgangFahl commented on #880
And seeing my design:
![grafik](https://user-images.githubusercontent.com/1336221/126271081-1c2ef14d-2a0f-4017-b8b3-6b5935b41185.png)
Helps a lot ...

[2021-07-20 11:31] gilboonet commented on #880
Hello, I think your design can be adapted to V2 syntax. Roughly you only need to change lines like
[code]
to
[code]

and start your script with requires like
[code]

[2021-07-20 13:33] hrgdavor commented on #880
@WolfgangFahl I understand your frustration, as switching versions is sometimes scary, and often tedious task.

I have created a discussion page that explains a bit about how to migrate from V1 to V2 https://github.com/jscad/OpenJSCAD.org/discussions/883.

hope you convert more of your scripts to V2, feel free to ask more qustions if you  have issues doing that

also if you have a bit of patience

[2021-07-20 18:35] z3dev commented on #881
See #790 for some hints on supporting / using the old V1 API

And it looks like @hrgdavor has started some information on the conversation of designs from V1 to V2 on the discussions.

[2021-07-20 22:31] JamesNewton opened #884 "Editor panel hides error messages"
## Expected Behavior
When making a programming error, and then pressing shift+enter in the editor window at
https://openjscad.xyz/
I expected to see an error message

## Actual Behavior
The error message was hidden behind the editor panel.

## Steps to Reproduce the Problem

  1. Go to https://openjscad.xyz/
  2. Press the editor icon.
  3. enter "alsdkfjsaldkfj" and press Shift + Enter
  4. Notic

[2021-07-21 01:17] brucedjones opened #885 "TypeError: Cannot read property 'isClosed' of undefined during svg deserialization"
## Expected Behavior

The SVG below is successfully deserialized

[code]

## Actual Behavior

Deserializer throws `Cannot read property 'isClosed' of undefined`

## Steps to Reproduce the Problem

run
[code]

## Specifications

  - Version: `"@jscad/modeling": "^2.5.0",`
  - Platform: mac/chrome
  - Environment: browser

[2021-07-21 11:59] brucedjones commented on #885
The above is from running in my own app. Running this at https://www.openjscad.xyz/ it throws a different error:
`cannot append points to a closed path`

[code]

[2021-07-21 15:38] hrgdavor commented on #885
@brucedjones if you are ok with starting local jscad from source can you check if this fix #886 works for you.

[2021-07-21 17:41] brucedjones commented on #885
i can take a look at this tonight, thanks for looking in to it!

[2021-07-21 23:30] brucedjones commented on #885
Tested locally and that appears to work, thanks!

[2021-07-21 23:33] brucedjones commented on #885
Looks like the same bug existed in `appendBezier` and `appendArc`

https://github.com/jscad/OpenJSCAD.org/blob/2e52f104e569f2bb7dd9e1be3d238f471f4d3dfa/packages/modeling/src/geometries/path2/appendBezier.js#L40

https://github.com/jscad/OpenJSCAD.org/blob/2e52f104e569f2bb7dd9e1be3d238f471f4d3dfa/packages/modeling/src/geometries/path2/appendArc.js#L50

[2021-07-22 00:14] brucedjones opened #888 "svg deserializer constructs paths in reverse order"
## Expected Behavior
Geometries have correct normals when extruded from svg

## Actual Behavior
Geometry normals are flipped.
[code]
const { deserializers } = require("@jscad/io");

const main = () => {
  const svg = `<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="5.6298828125" height="11.71875"><path d="M5.37 6.60L5.37 6.68Q5.37 7.98 4.83 8.68Q4.29 9.38

[2021-07-22 00:37] z3dev commented on #888
SVG paths don’t have a concept of rotation. So, yeah. Some paths with definitely be going clockwise about Z. You’ll have to do some calculations to determine if the path needs to be reversed before extruding, or converting to 2D geometry.

[2021-07-22 01:16] brucedjones commented on #888
Hm I'm going to have to do some reading on this... Fwiw the svg in the example is a filled polygon, there must be some convention to that for it to work and I think a user would intuitively expect the svg deserializer to figure it out

[2021-07-22 02:53] z3dev commented on #888
The results are paths… which can be any order of points.

If the path is closed then it’s easy to convert to 2D geometry (geom2). The area of a 2D geometry will be positive (CCW rotation) or negative (CW rotation).

[2021-07-22 13:17] hrgdavor commented on #885
@brucedjones my first attempt did remove the error. But it was not the right way to fix. New version of the fix will still complain but will tell you what part of svg is broken.

as mentioned in #886 :
------------------------
The problem is that the test sample svg is malformed and now error is thrown
`Malformed svg path at 2:445. Path closed itself with command #29: Q2.12 -3.54 1.84 -3.17`

The

[2021-07-22 13:57] brucedjones commented on #885
Interesting. If this is detecting that the path closed itself, wouldn't it be better to be robust to this and handle it accordingly rather than throwing an error? At the very least an option to ignore this would be nice.

[2021-07-22 14:07] hrgdavor commented on #885
well, what would be "accordingly" ?  different users would have different expectations 😐

that would be nice, but also what would it mean ?
What to do with a line that is added to a closed path:
 - return as an additional path ?
 - ignore it ?
 - ...
 -

[2021-07-22 14:27] brucedjones commented on #885
So in this case you specifically noted that the polygon is self closing ie the last point is coincident with the first. The code could be robust to this specific case. The outstanding edge case is, as you noted, what happens if there are points *after* the point that is coincident with the first point. You could

* throw an error
* ignore it
* add an additional path.

IMO returning an additional p

[2021-07-22 14:48] hrgdavor commented on #885
that case is ok :) it does not throw an error.

I would go in this direction
 - pathSelfClosed: 'error' - default throw an error
 - pathSelfClosed: 'trim' - ignore it
 - pathSelfClosed: 'split' - add an additional path.

default would make it less likely to break extrude if it passes

[2021-07-22 15:27] brucedjones commented on #885
Sounds good!

[2021-07-22 16:45] hrgdavor commented on #888
@brucedjones #889 isCCW willl probably be useful

[2021-07-23 03:11] ikeji opened #890 "[Feature Request] Wire frame mode"
I want to have Wire frame view in OpenJSCAD.

For example, when I have cube with hole.
With current view, it's difficult to see how deep the hole.

Here is screenshots from FreeCAD.

Normal View
![20210723120238](https://user-images.githubusercontent.com/38523/126733178-b53393a7-30ce-479d-b1ad-3efa4aff6b11.png)

Wire frame View
![20210723120300](https://user-images.githubusercontent.com/38523/1267

[2021-07-23 21:33] hrgdavor commented on #890
@ikeji the sample in your screenshot is actually not wireframe but outline. Wireframe would show all vertices.

This would be a nice feature to have, but may be a long time until available.

I have two alternatives that could help you with the visualisation.

# subtractX transparency
paste this function into your script
[code]

for example if you take this test script

[code]

![image](https://use

[2021-07-31 16:48] Sam-Apostel opened #896 "file import "Cannot find relative path to module /babypanda2.svg""
I seem to be unable to get any imports working. After some testing this issue appears in the [hosted version](https://www.openjscad.xyz/#) too.

## Expected Behavior
file is imported and contents can be used.

## Actual Behavior
error is thrown
[code]

## Steps to Reproduce the Problem
  1. Go to https://www.openjscad.xyz/#
  2. Open an example from the `imports` section or the `Modular Project De

[2021-07-31 18:49] hrgdavor commented on #896
Not sure why links at https://openjscad.xyz/ don't work. But the modular projects examples work if you:
 - go to https://github.com/jscad/OpenJSCAD.org/tree/master/packages/examples/import
 - download the folders
 - open  https://openjscad.xyz/
 - drag/drop one of the example folders

I have just tried it and it works as expected. So if you have a modular project, try those as a starting point.

[2021-07-31 19:40] Sam-Apostel commented on #896
Ah, drag the entire folder over. Makes sense! Will try to fix the examples.

[2021-08-01 03:37] z3dev commented on #896
Folders cannot be loaded from the examples. It’s a know issue.

It’s probably best to remove those from the examples until a solution is found.

[2021-08-01 13:52] gilboonet commented on #896
For the moment the only solution I found for a script to be able to use files is to ask users to download it an run it locally as @hrgdavor does, and if they want to use a new file with a running script, the script must be reload first.

[2021-08-03 11:55] ahdinosaur commented on #114
hi, i believe this bug still exists. :bug:

example:

[code]

[2021-08-03 17:35] hrgdavor commented on #114
fixed in #897  @ahdinosaur check it out if it works for you

![image](https://user-images.githubusercontent.com/2480762/128060565-a43304b8-26d6-4f8d-bcd0-5e7700cc5dfd.png)

[2021-08-10 17:51] Rlesjak commented on #72
@z3dev

Hi, is there any documentation on this?

I found this:
https://openjscad.xyz/dokuwiki/doku.php?id=en:design_guide_text

But it was written before you closed this issue, also you mentioned this repository:
https://github.com/jscad-community/jscad-text
in which google fonts can be used, yet docs say only single-line fonts can be used.
Can this repo be used to 'compile' google fonts for JSCAD

[2021-08-10 19:06] hrgdavor commented on #72
I have not played with ttf in jscad, but this might be useful:
https://gero3.github.io/facetype.js/

[2021-08-10 19:39] z3dev commented on #72
@Rlesjak Welcome!

Correct. That little library can be used to build outlines from TTF fonts. You can play around and try some of the examples. The documentation also shows how to construct a project which includes the little library (and the opentype.JS library).

For Google fonts, the font has to be fetched from Google. The example only works for NPM (command line) based projects.

Are you build

[2021-08-10 20:55] hrgdavor commented on #72
I was very intrigued by the issue so I decided to try to make a version
http://3d.hrg.hr/jscad/jscad_text/demo.html

![image](https://user-images.githubusercontent.com/2480762/128933453-e82d09d2-541b-48c5-99cb-a48df96a6a57.png)

I copied code from https://github.com/jscad-community/jscad-text
to transform text command to polygons, then used some magic knowledge of how jscad geoms work to create a

[2021-08-10 21:05] hrgdavor commented on #671
@z3dev downloading resources probably should go through different method other than require.
That way whatever direction goes for require/import for javascript dependencies, it does not have to break resource fetching.
And this could then make it easier to go in direction of supporting promises form main, and scripts taht use external resources that need to be fetched async.

sync XHR is perfectly

[2021-08-11 10:00] Rlesjak commented on #72
@hrgdavor
WOW! Thanks a lot for the help!

I tested it with a few additional fonts and it seems like on some fonts triangles get flipped.
You can see it here:
https://demo.rlesjak.info/jscad/fonts/

[2021-08-11 10:31] hrgdavor commented on #72
yes, that could be resolved by

A)
separating polygons for each letter
 - and realising which one a hole belongs to so to group them
 - then making union while it is still 2d (union is much faster in 2d) and then extrude
B)
but thinking of it, maybe just creating separate shape out of each poly, and doing union might do the trick too without being concerned which one is hole and which is area

I a

[2021-08-11 12:41] hrgdavor commented on #72
here is updated version that does union and subtract based on if path is CCW
copied function that is no yet officially part of jscad #889

http://3d.hrg.hr/jscad/jscad_text/demo.html

![image](https://user-images.githubusercontent.com/2480762/129030083-10e89b44-43c1-4f04-8885-84eb2e9bf3b0.png)

[2021-08-12 20:47] hrgdavor commented on #806
The concept that can provide this is instancing and is only available in wegl2.

To implement at some point in regl-rendere maybe
 - new draw command is needed
 - code that groups geometries
 - a fallback to current method of drawing them when webgl2 is not supported

It may have too many obstacles in regl to implement, so it would have to be considered carefully before committing to do it.

[2021-08-12 22:54] apla opened #901 "OpenSCAD importer improvements"
I did some OpenSCAD improvements to generate human readable results.

scad file:

[code]

jscad

[code]

It's still WIP, but allows me to convert some files from [Prusa i3 printer repo](https://github.com/prusa3d/Original-Prusa-i3).

Can't show my fork at this time; instead of using last version from `git` I've used last version from `npm`. It will take some time to commit my changes.

This issue

[2021-08-13 08:44] hrgdavor commented on #901
Excellent, let me know if you will need help or join discord if you are in a mood to discuss jscad related stuff. Beware, tho, I am rather chatty and opinionated. https://discord.gg/UXtQcA6

[2021-08-13 09:00] hrgdavor commented on #901
not sure if you changed your jscad impl, but current master branch param name for precision is `segments`

[code]
-->
[code]

[2021-08-13 09:05] apla commented on #901
No, I haven't changed anything in `jscad`. I'll fix it.

[2021-08-13 09:25] apla commented on #901
This is my modifications https://github.com/protobor/OpenJSCAD.org/commit/d0e49bebe4b243af984047c7b09947eafdfd9f60

If somebody wants to try it out, I test changes with simple script

[code]

as an input file I'm using `x-carriage-back.scad` from [Prusa i3 repo](https://github.com/prusa3d/Original-Prusa-i3)

[2021-08-13 15:19] z3dev commented on #901
Some related issues just in case you feel motivated. 😃

#188 #370 #392 #447

[2021-08-13 15:39] apla commented on #901
@z3dev I've already found some bugs in jison file, some valid constructs like one below cannot be processed:

[code]

User needs to wrap module contents with `{}` like this

[code]

So, jison grammar should be modified. Problem is — output is unreadable. Even slightest modification impossible. I modified the output to return same constructs in JSCAD. Now it lookalike and can be hacked by other peo

[2021-09-04 10:15] hrgdavor commented on #598
There is now an ongoing attempt to fix this in https://github.com/jscad/OpenJSCAD.org/pull/898 ... with original code from this bug report converted to V2.

[2021-09-06 06:21] mister-jscad commented on #876
@kbruneel Here's a little hack for you. Basically, you mesh is fine but some of those points are not aligned. Luckily, there's some new functionality to modify meshes.

`
  sub = generalize({snap: true, simplify: true}, sub)
`
There are two steps being called here. The first, 'snap' determines the precision of the mesh and snaps all the points to the precision, eliminating small floating point err

[2021-09-06 06:25] mister-jscad opened #903 "Issues with expand on 3D geometries"
## Expected Behavior

Something better than described below.

## Actual Behavior

There are some issues with the expand function when used with 3D geometries.

First, due to differences in corner radius, imprecise calculations are causing unclean corners which are misaligned.

![issue876_1](https://user-images.githubusercontent.com/81607784/132169984-2198cafa-e417-4625-ab7b-0a7fa27c139f.png)

Seco

[2021-09-06 07:01] hrgdavor commented on #876
@mister-jscad is generalize open to users ?
it is present in the jcad build under jscad.modifiers but is not part of the docs: https://openjscad.xyz/docs/
it seems to fix leftover issues in #877

[2021-09-06 07:59] z3dev commented on #901
@apla Did you manage to create a new version of the serializer? Any chance that we can play with it and give some feedback?

[2021-09-06 08:03] z3dev commented on #876
Yes. But the doc strings are incorrect so no documentation yet.

[2021-09-06 08:13] hrgdavor opened #904 "add/fix docs for modifiers"
## Expected Behavior
docs for modifiers

## Actual Behavior
no docs

## Steps to Reproduce the Problem
open https://openjscad.xyz/docs/

## Specifications

  - Version:
  - Platform:
  - Environment: (browser, local server, node.js etc)

Fix docs for modifiers

[2021-09-06 08:13] hrgdavor commented on #876
added #904

[2021-09-06 09:14] z3dev commented on #778
@minatani Please reopen if there are still issues.

[2021-09-06 09:14] #778 closed

[2021-09-07 08:46] #904 closed

[2021-09-10 02:54] IanSC opened #907 "Birthday Balloons"
<img width="449" alt="Screen Shot 2021-09-10 at 10 35 07 AM" src="https://user-images.githubusercontent.com/8453489/132791331-02579398-a668-4beb-821e-5a13ff1b00e7.png">

## Expected Behavior
great birthday celebration

## Actual Behavior
deflated balloons ruining the party

## Steps to Reproduce the Problem

  1. visit https://www.openjscad.xyz/#
  2. load 'Birthday Balloons' example
  3. Age 7

[2021-09-10 07:50] z3dev commented on #884
@JamesNewton the latest release of openjscad.xyz now has a change that addresses this issue. all messages are now shown on the left hand side of the window.

if those changes resolve this issue then please close this. thanks

[2021-09-10 07:53] z3dev commented on #880
Both Discord Community and Open Issue links have been added to the latest version of the WEB UI at openjscad.xyz

[2021-09-10 07:57] z3dev commented on #885
@brucedjones the latest version of openjscad.xyz has the modified SVG deserializer (import function), but the default is 'error' at this time. hopefully, the error message will be meaningful.

please try it out, and let us know if anything should be adjusted.

[2021-09-10 07:59] z3dev commented on #114
@ahdinosaur the latest versions of openjscad.xyz (and libraries) have the fix for this issue. please try out the latest, and let us know if there are further issues. thanks

[2021-09-10 16:03] #884 closed

[2021-09-11 10:47] WolfgangFahl commented on #880
Great. I still think github discussion should be more prominent. The legacy forum is IMHO awkward to use.

[2021-09-11 11:14] hrgdavor commented on #880
For me the forum is not that bad, but email notifications are not going through, so I have to repeatedly open the forum to see if there is something new :(

[2021-09-14 00:01] z3dev opened #910 "AMF serializer : should compress zip the XML for export"
## Expected Behavior

AMF by design is compressed (zip), with XML content. The AMF serializer should do this by default, and support an option to skip compression if requested.

## Actual Behavior

AMF content is not compressed, only XML content.

## Steps to Reproduce the Problem

  1. Create any 3D shape
  2. Select AMF from export formats
  3. Export
  4. Results are XML only

## Specifications

[2021-09-14 01:33] z3dev commented on #873
@danmarshall is there an easy way to verify the typescript files are correct? functional?

[2021-09-14 01:59] danmarshall commented on #873
@z3dev - I suppose you could add the TypeScript compiler to the test suite.

[2021-09-14 03:18] z3dev commented on #873
The TSD package is included and executed via:

`  "test:tsd": "lerna run test:tsd",`

I guess that’s not the same…

[2021-09-14 08:18] hrgdavor commented on #910
I would recommend fflate instead of jszip as it is much smaller and seems to be working well, supports multithreading.

multithreading is less important for 3mf or amf or svg as usually there is only one big main file to compress, and multi threading is only for when there are multiple files to compress.

[2021-09-16 11:41] brucedjones commented on #885
Nice thanks!

[2021-09-16 11:41] #885 closed

[2021-09-18 12:27] franknoirot opened #912 "`path2.concat()` of mirrored pair of paths followed by `extrudeRectangular` results in mesh with gaps"
## Expected Behavior
Mirroring a path and concatenating it would result in a clean, deduplicated path ready to be extruded, with the same output as creating the path without mirroring (the output of which is shown on the right in the image below).

<img width="661" alt="left: broken mesh version of chip clip model, right: resolved version" src="https://user-images.githubusercontent.com/23481541/13

[2021-09-18 22:21] hrgdavor commented on #912
This should be easy fix in path concat. The problem seems to be that concatenated paths share same point but resulting concated  path contains it then twice instead of merging that point into one

if I change your model to pop the problematic point it works

it is a workaround for now, but also points to the direction of the needed fix in the lib

add this to line 47 before mirroring
[code]
this j

[2021-09-18 22:36] franknoirot commented on #912
Ah thank you @hrgdavor! I suspected it was a duplicate point causing the trouble but couldn't identify the correct method to remove one of them.

Deduplicating the array of points seems like a nice ergonomic feature to include within `concat()` to me, unless you think it's too magic.

[2021-09-18 22:44] hrgdavor commented on #912
Mentioned workaround is a hack that abuses knowledge of the path internals, so not a desirable option.

 Adding a  check to concat is not expensive for performance, and also is very useful for end user.

Personally, I prefer to add the fix to concat, and will post a PR soon.

[2021-09-20 11:50] #912 closed

[2021-09-27 02:28] #842 closed

[2021-09-27 02:28] #873 closed

[2021-09-27 02:28] #896 closed

[2021-09-27 09:14] JessYan0913 opened #916 "A questions about project()"
When I use `project()` to try to project the `.stl` model onto a 2d plane, the console prompts:

![image](https://user-images.githubusercontent.com/52144974/134876229-91a32353-44c8-44c1-b59e-2e81c1da2752.png)

But the 3d model can be displayed normally.

This problem does not appear in all `.stl` models, only complex `.stl` models will appear in this problem.

I debugged and found that the cause o

[2021-09-28 00:04] platypii opened #917 "Missing dependency json5 in npm package"
## Expected Behavior

I have a jscad cli project. When I did `npm upgrade` I was no long able to compile my models with jscad.

## Actual Behavior

After upgrading to the latest version, when I run jscad on the command line I get an error about missing json5 dependency. It appears it was added to jscad [8 days ago](https://github.com/jscad/OpenJSCAD.org/commit/a33a66151ef79d62443333275e6de72fe18d0

[2021-09-28 00:37] z3dev commented on #917
@platypii thanks for the heads up on this.

we'll get this fixed in the next release.

the work around is add this line to "dependencies" in packages/core/package.json

`    "json5": "^2.2.0",`

Then run 'npm run clean' and 'npm run bootstrap' again.

[2021-09-28 00:47] z3dev commented on #917
FYI, the above work around does not correct the NPM packages. You should pull the previous version of the CLI. Sorry.

[2021-09-28 01:55] platypii commented on #917
My workaround was to explictly add json5 to my package.json file.

`npm i json5`

package.json:
[code]

Then it works. Would be nice to have that in the @jscad/core dependencies though. Thanks, jscad rocks!

[2021-09-28 07:46] z3dev commented on #916
@JessYan0913 thanks again.

the STL file provided looks fine, and has no errors in Meshlab. 👍

so, there's something else going on internally. i suspect that the union is failing somehow, and producing bad polygons. this may take some time.

[2021-09-28 08:01] z3dev commented on #907
This issue has been present from the initial V2 release; April 2021

[2021-09-28 08:02] #917 closed

[2021-09-29 03:30] z3dev commented on #907
OH PAIN!!!!

It turns out that the linear extrude for '7' is failing, and producing artifacts (extra polygons).

![issue907_1](https://user-images.githubusercontent.com/8969165/135198067-aee476dc-6f6f-43c8-8060-a7c8cf5d5530.png)

Internally, the call to intersetGeom3Sub() is producing those artifacts. So, the BSP algorithms are having issues with constructing trees for the polygons.

I've reviewed

[2021-09-29 06:59] hrgdavor commented on #907
@z3dev could you re-run those perf tests for these 2 different index start points? Maybe there is a slight chance that the fix with stop condition affects performance difference between the two.

[2021-09-29 07:26] z3dev commented on #907
@hrgdavor thanks for the suggestion.

i think there's some issues with the Node.toClip() function, and will try to get a small test case.
This issue may be affecting other functions that use the boolean functions as well, such as extrusions, project, etc.

[2021-09-29 07:47] hrgdavor commented on #907
Now that I think of it, changing start index might not be a fix, but just moving the issue to a different edge case. This is just a suspicion. I agree with trying to postpone changing the index, as it affects maaaany test cases.

[2021-09-29 07:53] z3dev commented on #907
This is definitely an edge case. This is only happening for...
- character '7' (probably due to the angle of the sides)
- round corners with segments: 32

So, yeah. Another deep dive is required.

[2021-09-30 09:03] z3dev commented on #907
A little more information... inside intersectGeom3Sub(), the BSP trees are called to clip polygons from each of the trees. This is the call that produces the artifact polygon.

`  a.clipTo(b)`

I'm going pretty deep into the trees now, and understanding things further. Something is definitely hitting an edge case, which leaves the artifact polygon in the tree.

[2021-09-30 09:15] hrgdavor commented on #907
I am thinking of ways to help with visualising stuff like this. I have an idea how to anble pausing the code in debugger but also being able to view stuff currently debugged.

I have been using watch expression to dump polygon data into console, but I think I can make it possible to also visualize points by calling jscadDebug(....code to produce geometry from local data ...)

[2021-09-30 10:06] hrgdavor opened #920 "forum email notifications"
## Expected Behavior
receive email notifications based on notification settings

## Actual Behavior
nothing happens

## Steps to Reproduce the Problem

  1. https://openjscad.nodebb.com/
  2. setup notifications for email
  3. wait and nothing happens

## Specifications

  - Version: none
  - Platform: forum

[2021-09-30 10:06] Carl-Hughes-Cerberus opened #921 "problems with ellipsoid and cube boolean operations"
I have two objects, a cube and an ellipsoid which overlap.

![problem1](https://user-images.githubusercontent.com/48712218/135433341-72a6c0a1-337b-4da2-949b-f1684f3e6069.JPG)

which is a result of the following code:
[code]

However, when I try and intersect the two objects and return the resultant model, it doesn't work as expected. It produces what looks like a subtraction of the cuboid.

![imag

[2021-09-30 10:39] hrgdavor commented on #921
just remove the axes parameter, `ellipsoid({ center:[5,200,5], radius: [20, 20, 30], segments: 25})`
it was causing it to create and inverted sphere for some reason, and then booleans produced unexpected results

[2021-09-30 10:42] Carl-Hughes-Cerberus commented on #921
Thank you, that makes everything better!

[2021-09-30 10:42] #921 closed

[2021-09-30 12:20] z3dev commented on #920
Yup. I’m talking with NodeBB now.
I need to install an addition function, and register to a service.
Not fun…

[2021-09-30 12:26] hrgdavor commented on #920
thanks !!! I feel your pain, but notifications on email would help the community be more active, I think.

[2021-10-01 21:35] hrgdavor commented on #812
@z3dev I have draft branch for this that works ok, but some major things came up that are far greater killer of performance...
more details in a new discussion #923 .

[2021-10-02 06:33] z3dev commented on #907
Another update... I went way way down the boolean road, but could not find any kind of bug or condition that produced that artifact.

So... I tried V1 booleans on the same set of polygons. WA LA! THE SAME BUG!!! 🐛

So, the technique being used by slice.toPolygons() is not going to work. An alternative approach is required.

FYI, this bug affects everything in the extrude family.

[2021-10-02 06:39] z3dev commented on #907
[bug_V1.js.txt](https://github.com/jscad/OpenJSCAD.org/files/7270969/bug_V1.js.txt
[bug_V2.js.txt](https://github.com/jscad/OpenJSCAD.org/files/7270972/bug_V2.js.txt)
)

[2021-10-02 11:02] hrgdavor commented on #907
Interesting. It is good that you have pinpointed the culprit.

[2021-10-03 06:17] z3dev commented on #437
Closing as support for vagrant instances has been added.

[2021-10-03 06:17] #437 closed

[2021-10-03 06:23] z3dev commented on #395
Closing as no example DXF file was supplied for testing.

[2021-10-03 06:23] #395 closed

[2021-10-03 06:27] z3dev commented on #354
Closing as this issue is not present in V2.

[2021-10-03 06:27] #354 closed

[2021-10-03 06:28] WolfgangFahl commented on #437
I don't think this issus is related to containerization. My main need to properly use openjscad and reference it from a mediawiki isn't supported any way yet so this is just a puzzle piece for that need.

[2021-10-03 06:32] z3dev commented on #279
@Kenzu sorry, but there’s not much hope of fixing this issue. Support for SCAD files has been dropped in V2 JSCAD.

there is some hope as another developer has been making some changes to the SCAD deserializer.

[2021-10-03 06:33] z3dev commented on #557
@hrgdavor do you have any progress on the deserializer?

[2021-10-03 06:37] hrgdavor commented on #557
I have a serializer prototype. Did not start on deserializer, but it should not be a big problem.

[2021-10-03 06:39] z3dev commented on #437
The issue regarding Wikipedia integration #448 is still open.

But I think that this issue has been addressed by @SimonClark

[2021-10-03 06:41] z3dev commented on #557
Ok. I’m going to make a small release which has a few small fixes. The next release can have some NEW functionality.

[2021-10-03 12:24] z3dev commented on #790
FYI, all support for V1 will be removed in the WEB APP soon, which basically is broken anyway.

The proper way to support V1 is via a ‘shim’ like above. But the shim has to be supported outside of the core as there’s way too much work already.

@platypii how about adding the above shim to the JSCAD Community repositories? That would allow others to contribute, and / or use the code directly.

[2021-10-03 12:32] hrgdavor commented on #790
Also in migration guide discussion #883  there is a link to an automatic script that converts v1 to v2.

And if you have more ideas for integration guide we could improve it.

[2021-10-03 12:49] apla commented on #790
I've just uploaded latest version of [my V1 => V2 converter](https://gist.github.com/apla/90edff2e4993f3e3592f8795c2050cc5), converted successfully almost anything.

[2021-10-03 12:58] hrgdavor commented on #790
@apla I was not sure if the link is the same, so I updated the migration guide just in case.

[2021-10-03 13:16] apla commented on #901
@z3dev I haven't touched scad converter for a while. Tried to convert some designs from thingiverse, but when those designs have global variables, result is ugly.
You can try to play with [my fork](https://github.com/protobor/OpenJSCAD.org/commit/d0e49bebe4b243af984047c7b09947eafdfd9f60), but it is incomplete.

[2021-10-03 23:40] z3dev commented on #790
Wow! Full conversion is really nice. Thanks @platypii

I kind of like both approaches…
- Full conversion from V1 to V2 using the converter
- Some guides on creating small ‘shims’ for specific V1 functionality

We can probably use the discussion as the guide #883 for both approaches.

[2021-10-05 04:02] z3dev commented on #888
@brucedjones taking another look at the given example, using target: "geom2" should produce valid useful geometries, so this is probably something that should be fixed.

[2021-10-05 11:31] hrgdavor commented on #765
huh I get this error after runing clean again and again:

[code]

[2021-10-05 12:26] hrgdavor commented on #765
@z3dev here is possible fix #930 it helped me to build and test again.

[2021-10-06 01:02] #516 closed

[2021-10-06 02:49] z3dev commented on #916
@JessYan0913 can you provide an example of your jscad script? i would like to see that parameters being passed to project()

thanks

[2021-10-06 07:13] z3dev commented on #916
There are issues with the booleans again, which do not do what's expected. If the shape is complex then the 2D projection is too complex for the calculations. And you end up with something like this... or worse.

![issue916_1](https://user-images.githubusercontent.com/8969165/136156815-ce06da2e-5227-4476-8df1-b1104091d15c.png)

[2021-10-09 04:59] z3dev commented on #812
First, I still think that rendering the geometry in the web worker is the the best direction to pursue. That allows everything to happen in the web worker, as well as rendering optimizations can be made.

Second, yeah. Geometry can be converted to buffers and posted back (maybe even transferable). That's why there are to/fromCompactBinary() functions. But that didn't turn out as planned, as genera

[2021-10-09 08:33] hrgdavor commented on #812
postMessage to be fast does not need to have all data as native buffers

if you have a geometry: `{ color:[..], transforms:[..], polygons:[..]}`
  - convert it to make a copy that uses native buffers
  - new object will have all user properties but will replace `polygons` with native buffers `vertices`, `indices`, ``
  - fill `trensferables` a separate array that holds reference to each transferab

[2021-10-09 09:45] hrgdavor commented on #812
I will create an initial prototype and a new discussion after that with first impressions.

I was hoping to bring those new parts that I need for new prototype separately, but then you would not know the whole picture, why some choices are made etc..

I will say again: it will be messy, but I work faster that way, and can go faster through different ideas.

[2021-10-09 10:36] z3dev commented on #812
Looking forward to it. I won’t be able to help much as I have some major difficult bugs to look at still. Also, there are some core changes to finish, and some IO enhancements. Work never ends!

[2021-10-10 09:34] hrgdavor commented on #812
I agree but the current setup where code-eval is in worker and render is on main thread will also need to be supported
 - to be able to use debugger and show geometry(from debug) at the same time
 - to support browsers without offlineCanvas (Safari and Firefox) sadly this is not that well supported as webgl2 :(

This can be done transparently, but will have to be communicated as an option for thos

[2021-10-14 07:10] JessYan0913 commented on #916
@z3dev
This is a code part.
[code]

[2021-10-14 16:47] hrgdavor opened #934 "host v1 version of jscad too"
## Expected Behavior
official V1 hosted version is needed

for the purpose of allowing ppls to use old examples and maybe get motivated to move to V2, here is a version that supoprts remote urls via hash

https://3d.hrg.hr/jscad/V1/

## Actual Behavior
No V1 to be found

## Steps to Reproduce the Problem

open https://openjscad.xyz/
no link to V1 instance anywhere

## Specifications

it needs to b

[2021-10-15 01:17] platypii commented on #934
Not sure who is responsible for hosting these, but there's at least 2 mirrors that are already search ranked higher than the official v2 if you google for "openjscad":

https://openjscad.com/

http://openjscad.azurewebsites.net/

[2021-10-15 02:34] z3dev commented on #934
I'm not really interested in V1, nor interested in bringing V1 back on-line. So, having those websites available is fine.
- no time for V1 website
- no time for V1 questions
- no time for V1 docs
- no time for V1

The focus should be pushing users to V2, which is now over 6 months old, and totally functional.

[2021-10-15 03:21] z3dev opened #935 "Support for browsers WITHOUT OES_element_index_uint extension"
## Expected Behavior

The WEB UI should work with older browsers that only have 'webgl' support. This includes browsers with or without support for OES_element_index_uint extension.

Later, when refactoring the regl-renderer, the presence of OES_element_index_uint extension should be checked, and webgl buffer lengths adjusted.

## Actual Behavior

Error thrown.

## Steps to Reproduce the Problem

[2021-10-15 07:10] #934 closed, assigned to nobody

[2021-10-16 08:52] z3dev commented on #935
Unknown. We thought everyone would be using something newer then 2017!

[2021-10-16 13:53] #451 closed

[2021-10-17 06:12] z3dev commented on #674
Closing, as these 'project' based examples have been removed from the list of examples.

[2021-10-17 06:12] #674 closed

[2021-10-17 06:17] z3dev commented on #594
@hrgdavor @crysislinux @BarbourSmith

This is fixed. Please try the latest release of JSCAD.

[2021-10-17 10:39] hrgdavor commented on #856
Transform is ok now, but colorize changes original object.

[code]

the sphere on the left shoud be blue
![image](https://user-images.githubusercontent.com/2480762/137623582-e3be90ec-2c0a-4145-b4f5-0e32c62e594d.png)

[2021-10-17 10:47] hrgdavor commented on #594
The transforms now preserve color. This issue is fixed :)

[2021-10-17 10:47] #594 closed

[2021-10-19 11:56] z3dev commented on #745
@Philius since this is V1, the example will not be fixed.

However, we could port the example to V2, which would be interesting. Do you think this is a good example for general users?

[2021-10-23 06:52] z3dev opened #939 "Enable support for VTREE"
## Expected Behavior

The ability to use VTREE from the WEB UI has been removed. This should be restored once VTREE has been fully tested, and ready for integration.

Tasks:
- enhance the core to accept an alternative modeling library, i.e. vtree
- enhance the web to support alternative serializations of geometry, i.e. vtree

## Actual Behavior

Disabled

## Steps to Reproduce the Problem

  1. No

[2021-10-24 07:44] platypii opened #940 "Missing faces in exported files"
## Expected Behavior

Objects should be solid.

## Actual Behavior

There is a bug that results in missing faces on objects when exported into any format. I run into this pretty frequently when making real world designs. This causes problems in 3D printing software.

It's interesting that if you just drag the .js file onto jscad, it renders correctly. If you export as any file type (stl, json, dxf

[2021-10-29 17:29] jeremyjacob opened #943 "Path extrude function is missing!"
## Expected Behavior
Hi all, I'm trying to extrude an SVG which as I understand is a path2 once deserialized.
`extrusions.extrudeLinear` should work on a path2, no?

## Actual Behavior
I get the error:
`if (objects3d.length === 0) throw new Error('only 3D geometries can be serialized to STL')`

Looking into the code I see this is because there is a commented line that handles path2s. Why is this t

[2021-10-30 09:22] z3dev commented on #943
@jeremyjacob Welcome!

Almost… The path has to be converted to a 2D shape before extruding. There are many ways to use paths from SVG files, so the automatic conversion is not performed by just a simple import.

https://openjscad.xyz/dokuwiki/doku.php?id=en:design_guide_path

Also beware the complex paths cannot be converted to 2D shapes, i.e. paths that cross itself.

[2021-10-31 06:24] z3dev commented on #515
@platypii you will never believe this but i stumbled upon a little bug in the new serializer. try this design.

[code]

You will notice that there are two red bolts. But the design only has one red bolt.
The issue comes because the 'usemtl' does not get reset after serializing the red bolt. So the material is getting carried forward.

A simple fix is to set 'usemtl nothing' for those shapes withou

[2021-10-31 23:54] glennerichall opened #945 "measureBoundingBox has bad min max bounds when mirroring geometry"
## Expected Behavior
After transform, geometry should have correct bounds. But as we can see in the screen capture of Chrome console above, y min,max bounds are swapped, ie, min=2 and max=-18. This has an impact to subtract the two shapes because in function subtractGeom3Sub(), if geometries do not overlap, a clone of the  first geometry is returned.

Rendering two shapes independently:
![image](h

[2021-11-01 11:26] Sam-Apostel commented on #890
I do think a vertex rendering mode could be helpfull too.

You could just extract the vertices becaus jscad supports rendering them

[2021-11-01 11:35] z3dev commented on #890
I think that you mean… the viewer supports lines between points. But sadly, only 2D lines. It definitely could be possible.

[2021-11-01 18:13] hrgdavor commented on #945
fix incomming :)
![image](https://user-images.githubusercontent.com/2480762/139720223-37650927-e264-4964-b380-18ed48c4ac31.png)

[2021-11-01 18:35] hrgdavor commented on #890
We are not against it :) ... we will get to it eventually :) so I posted workarounds ... also contributions are welcome :)

[2021-11-03 13:56] MichaelJumble opened #948 "cloned site doen't work"
## Expected Behavior
Last working version I used was 1.9.0. Now I want to repro the latest JSCad Web Site on my local server.

## Actual Behavior
BlankScreen with cords. Same like https://www.openjscad.xyz/

## Steps to Reproduce the Problem
Cone git clone https://github.com/jscad/OpenJSCAD.org and start webserver on path ./packages/web.

[2021-11-04 12:30] z3dev commented on #948
@MichaelJumble Super!

We had a user that cloned the V2 website to create a new website. Please see this thread at the User Group. If you have any issues then please let us know via this issue or the user group.

https://openjscad.nodebb.com/topic/309/proxyurl-setting

[2021-11-07 06:48] z3dev commented on #515
@platypii thanks again for this nice new feature. :)

[2021-11-07 06:48] #515 closed

[2021-11-07 07:45] z3dev commented on #948
@MichaelJumble Any luck creating a new website using V2?

[2021-11-08 07:00] platypii commented on #940
Fixed by #941

[2021-11-08 09:35] z3dev commented on #940
@platypii sorry but I’d like to reopen until the root cause is identified.

[2021-11-08 13:05] glennerichall opened #950 "require does not cache files"
## Expected Behavior
If the logic behind require is to mimic node's require behavior, then it should cache files after loading content.
Here's a log of running the code in node:
![image](https://user-images.githubusercontent.com/2382170/140746455-a2317421-849e-4310-805f-9ec6664331e4.png)

## Actual Behavior
Here's a log of running the code in jscad web:
![image](https://user-images.githubuserconte

[2021-11-08 17:12] platypii commented on #940
I can tell you exactly the root cause. The snapping causes a polygon to become non-convex. Specifically there is a pentagon which is convex before the snapping. After snapping, the first three points in the vertices become "inverted". It's important that the _first_ three points become inverted, because only the first three points are used to compute a face's "plane" [[1]](https://github.com/jscad

[2021-11-08 20:43] platypii commented on #940
This shows the same example as above, but AFTER the fixes which were just merged. Previously this showed a missing face. Now the face is there, but the lighting is wrong because the `plane` is pointing inward.

[code]

![lighting](https://user-images.githubusercontent.com/1766297/140814671-e63e29d2-416d-4f60-809a-8296bb8234de.png)

[2021-11-08 20:48] platypii commented on #940
If you isolate the bad faces I can show in isolation what happens:

[code]

[code]
The `plane` vector is inverted after the snap, because the polygon is no longer convex.

[2021-11-08 21:00] hrgdavor commented on #940
I may be completely wrong on this, but I have an idea that could help.

a trick to keep it form breaking the calculation for normals later-on could be like this:
 - calculate ccw of the 3 points before snap
 - perform snap
 - calculate ccw again
 - then rotate the points in the array until the first 3 points have same ccw as before snap

by rotate I mean move a point from the start of the array to

[2021-11-09 22:26] z3dev commented on #950
@glennerichall thanks for the nice example.

A fix may not be possible as require() is faked within the browser, as you know.

[2021-11-09 22:29] hrgdavor commented on #950
Could be possible. I will take a look into it :)

[2021-11-10 13:36] z3dev commented on #945
@glennerichall The fix has been released. If you have time then please try again.

[2021-11-10 13:40] z3dev commented on #940
It seems that snap needs to become a little more savvy when snapping polygons with more than three points, and possibly split the polygon to make sure the results are concave.

[2021-11-10 13:50] z3dev commented on #573
Recent changes have reworked the geometry objects to retain user assigned attributes, like color, name, etc. As a result, clone() is now shallow.

Closing.

[2021-11-10 13:50] #573 closed

[2021-11-10 17:43] glennerichall commented on #945
Excellent! Thank you for your time.
![image](https://user-images.githubusercontent.com/2382170/141165191-4950f56c-12c8-4199-9a1a-2ca1b62aed0a.png)

[2021-11-10 17:43] #945 closed

[2021-11-13 10:55] z3dev commented on #592
@RobBott can you provide a screen shot?

I keep scratching my head on this one as JSCAD doesn’t have any ‘blocks’.

[2021-11-13 11:09] z3dev commented on #329
@kevinmamaqi please reopen if there’s further desire to use JSCAD.

[2021-11-13 11:09] #329 closed

[2021-11-13 11:20] z3dev commented on #53
@matthijskooijman please reopen if there’s something further to discuss.

[2021-11-13 11:20] #53 closed

[2021-11-14 08:14] z3dev commented on #880
@WolfgangFahl please open this again if there are outstanding issues. It seems that all the documentation issues have been addressed, and a discussion has been added to assist those converting from V1 to V2.

[2021-11-14 08:14] #880 closed

[2021-11-14 14:16] jue89 opened #951 "Faces are lost during generalize({snap: true}, ...)"
## Expected Behavior

Faces stay in the model.

## Actual Behavior

1. `require('@jscad/stl-serialize').serialuze` makes use of `modifiers.generalize({snap: true}, ...)`.
2. `modifiers.generalize({snap: true}, ...)` makes use of `poly3.measureArea()`.
3. The following geom3 returns an area of `NaN`:
[code]

The problem is that the normal vector of the first 3 vertices is `[0, 0, 0]`.
https://githu

[2021-11-14 14:18] jue89 commented on #940
I'm observing the same symptoms, but I guess, I have another problem: the polygon area is not negative, it's `NaN`.

See #951.

[2021-11-14 17:27] platypii commented on #951
Worth mentioning that the serializers already triangulate before exporting [[1]](https://github.com/jscad/OpenJSCAD.org/blob/master/packages/io/stl-serializer/index.js#L63). So I'm not sure why you need to explicitly call generalize with triangulate yourself?

Can you give example code which demonstrates the problem?

[2021-11-15 02:04] RobBott commented on #592
Yikes.  I hardly even remember this over a year later.  I just hopped on
http://openjscad.azurewebsites.net/ and there are blocks.  Lol not sure
what's going on on your end but blocks are there.  A year late and you are
scratching your head about blocks?????  Blocks are in the top middle of
this screenshot!
[image: image.png]

On Sat, Nov 13, 2021 at 4:56 AM Z3 Development ***@***.***>
wrote:

[2021-11-15 03:12] z3dev commented on #592
Ahhh… I see. That little piece of mess was created by a user. JSCAD does not maintain anything there.

I’ll see if the user can take that down now. It causes a lot of pain.

[2021-11-15 10:18] jue89 commented on #951
I made a mistake and updated `@jscad/modeling` to 2.6.1 - and the issue is gone :D

I don't have the time right now, but I'll try to downgrade back to 2.6.0.

The example code I used in the first place: https://github.com/jue89/node-quickbox

[2021-11-15 10:55] z3dev commented on #951
Thanks good news.

Really nice design, @jue89

This little discussion has stirred up some possible issues with a key calculation for planes; plane.fromPoints()

I suspect that polygons with near co-linear segments will have invalid planes. And I need to review V1 code as well to determine if this issue was there as well, which I believe is true.

[2021-11-15 23:36] z3dev commented on #951
V1 and V2 use the first three pints of a polygon to calculate the plane (normal + w)

internally, planes are used heavily by booleans, expansions, and extrusions. And the internals favor polygons with more than three points. So, this could be a real issue, very subtle but real.

[2021-11-26 05:50] #943 closed

[2021-12-03 10:49] z3dev commented on #948
@MichaelJumble any luck duplicating the website?

I may have misunderstood the initiative information. The new website is different in appearance. The functionality is about the same.

To start, just drag and drop a design to the page, which will load, compile, and render the design. Of course, the design has to be compatible with V2 JSCAD.

There’s a user guide listed under the help, as well as a

[2021-12-04 04:08] z3dev commented on #592
Update: I asked Azure to take that application down, as it is very confusing for users and unmaintained.

FYI, I did find another 'blocks' based UI that uses JSCAD V1. And this one is maintained as well.

https://makecode.buildbee.com/

[2021-12-04 04:13] z3dev commented on #445
@drom There's an example now of using JSCAD with ObserverableHQ. Please discuss here...

https://openjscad.nodebb.com/topic/237/jscad-dev-environment-on-observable?_=1637976861258&lang=en-US

[2021-12-04 04:14] #445 closed

[2021-12-04 04:21] drom commented on #445
Great @z3dev thank you

[2021-12-04 07:28] RobBott commented on #592
Thank you

On Fri, Dec 3, 2021, 10:08 PM Z3 Development ***@***.***>
wrote:

[2021-12-08 13:47] gilboonet opened #962 "Call to polyhedron() with inward change input content"
## Expected Behavior
call to polyhedron with orientation: 'inward' doesn't change data (faces)

## Actual Behavior
call to polyhedron with orientation: 'inward' changes data (faces)

## Steps to Reproduce the Problem

 run this
[code]

## Specifications

  - Version: web 2.5.0
  - Platform: Ubuntu 21.10 64 bits
  - Environment: firefox 95b12

[2021-12-09 06:30] platypii commented on #790
@z3dev I made a repo containing my v1 -> v2 migration shim. I would be happy to transfer it to JSCAD Community Repo ownership if you are willing. I don't currently have permission to transfer ownership to jscad-community.

https://github.com/platypii/jscad-migrate

[2021-12-09 20:30] gilboonet opened #963 "export of 2d scene to svg lose transformations and has default black fill even on lines"
## Expected Behavior
add a 2d shape, translate it on X and/or Y, render, export to svg. The shape is correctly positioned

## Actual Behavior
add a 2d shape, translate it on X and/or Y, render, export to svg. The shape is stuck at the center

I made a version where the 2d shape are directly injected with their finished coordinates, this way it works, but the counterpart is that the script cannot u

[2021-12-09 21:47] z3dev commented on #963
Just a reminder, SVG is aligned from the top left (0, 0), and extends in positive X and Y only. So, JSCAD does an automatic translation of shapes to this alignment.

[2021-12-10 07:37] gilboonet commented on #963
You're absolutely right, I changed my design to make is start from the top left and extend in positive and the svg output was correctly aligned. For the moment I'm making the style customization by hand find and modify and I get this
![Capture d’écran de 2021-12-10 08-29-23](https://user-images.githubusercontent.com/22082873/145535439-2c14da6f-d28a-428d-adcb-83939942b534.png)

[2021-12-10 07:37] #963 closed

[2021-12-11 06:01] z3dev commented on #935
This should be fixed now. However, the regl-renderer needs to have support for with and without OES_element_index_uint

[2021-12-11 06:01] #935 closed

[2021-12-11 06:03] z3dev commented on #951
@jue89 The latest release of JSCAD (including the WEB UI) has a fix for this issue. Please give it a try, and if all works fine then close this issue.

[2021-12-11 06:03] z3dev commented on #940
@platypii @jue89 The latest release of JSCAD (including the WEB UI) has a fix for this issue. Please give it a try, and if all works fine then close this issue.

[2021-12-11 06:13] platypii commented on #940
Confirmed fixed on my example :heavy_check_mark:

[2021-12-11 06:13] #940 closed

[2021-12-11 09:43] z3dev commented on #790
Community repository is on the way. Once you accept membership, you can add your code import… I think.

[2021-12-12 21:57] platypii commented on #790
@z3dev I accepted the invite, but still don't have write access. And I can't even fork it to make a PR because the repo is empty :upside_down_face:
![Screenshot at 2021-12-12 13-56-05](https://user-images.githubusercontent.com/1766297/145731115-6f570876-2810-4319-ab99-31a09bb5a610.png)

[2021-12-12 23:14] z3dev commented on #790
@platypii please try again. You should have admin privileges now.

github provides some notes on importing from another repository as well.

[2021-12-13 17:48] platypii commented on #790
@z3dev I still don't have write access to https://github.com/jscad-community/jscad-migrate

[2021-12-13 21:55] z3dev commented on #790
UG… my bad, I think. I added you to the team, so you should have write access now.

[2021-12-17 16:37] jue89 opened #966 "Missing breakouts in my model due to eliminated allocations of measureBoundingBox"
## Expected Behavior

This model creates two STL files for a 3D-printable enclosure:

https://github.com/jue89/homie/tree/main/devices/relay/housing

With the old version of @jscad/modeling everything looks fine:

<img width="1136" alt="Screenshot 2021-12-17 at 17 15 45" src="https://user-images.githubusercontent.com/6105784/146575141-a345b022-1838-483e-acf0-cd1338e7ca25.png">

## Actual Behavior

[2021-12-17 16:38] jue89 commented on #951
Yes, works fine. Thank you a lot!

[2021-12-17 16:38] #951 closed

[2021-12-17 16:54] jue89 commented on #966
Those are the lines creating the breakouts: https://github.com/jue89/node-quickbox/blob/d84e8b3d89ee814a8a9eeb87933413dcf657a587/lib/box.js#L151-L154

[2021-12-18 12:01] z3dev commented on #966
UG… I’ll look at the recent changes but those should not have changed any behavior. I suspect that the caching logic has issues.

[2021-12-20 12:25] hrgdavor commented on #966
@jue89 can you give an example of box constructor that produces model in screenshots ? I need a sample code to test

[2021-12-20 13:16] hrgdavor commented on #966
@z3dev

The issue is that applyTransforms is not respecting immutability. I think it was the next step that we decided to do separately and forgot to do.
I will make i PR with fix applyTransforms and it should also fix this issue.

ofc. it then causes issue with caching. the inline change of polygons of geometry has no performance benefit, so it is definitely better to make applyTransforms respect

[2021-12-20 14:04] paulftw commented on #49
This issue was opened in 2014, had some commits but no recent activity for past 2 years.
And it's not a bug.
I suggest we close it as stale.

[2021-12-20 14:14] hrgdavor commented on #966
@SimonClark thnx. I will check it too.

[2021-12-20 17:06] jue89 commented on #450
A good visualization for an algorithm in 2D space: https://www.youtube.com/watch?v=3qMNuoTHNHs

This also works on concave polygons!

[2021-12-20 19:52] hrgdavor commented on #450
@jue89 I am seing your box code and it looks very nicely organized. I am working on different improvements for jscad, and @z3dev  is too.

Our time available for jscad varies. I am hoping you could give a try building such feature and contribute, maybe port from somewhere. It is one very big thing missing to be compatible with many OpenScad scripts regarding operations available to users.

[2021-12-20 20:02] jue89 commented on #450
Sure. I stumbled across the video and just wanted to let everybody know how wants to give the implementation a try. It wasn't meant to force anybody to do the implementation ;-)

I could try to come up with an implementation during the upcoming holiday season. I'm still a little bit lost in the code base of JSCAD. (Which doesn't mean its badly organized! It's just a lot of code ...) And I'm not a

[2021-12-20 20:06] hrgdavor commented on #450
@jue89 I am active on discord

there is one on CadHub server https://discord.gg/AaqGskur93
and one on Elmer server https://discord.gg/UXtQcA6

I am currently on both, but I am watching where most users will prefer to be.

[2021-12-20 21:56] hrgdavor commented on #450
@jue89

It does not need to be strictly meant as addition to jscad, I am just watching out for interested users to build-up an active community. Play with jscad, and see maybe what could be missing that is easy for you to implement that you would use yourself and others could too. Feel free to ask whatever on discord too, I am pretty chatty on the channel 😄

[2021-12-21 00:09] z3dev commented on #49
Let’s let @ErikDeBruijn decide to close. There’s no solution yet.

[2021-12-21 10:02] z3dev commented on #450
2D is very easy… 3D is another level, and very difficult.

I don’t think there’s a free version of this exists today.

[2021-12-21 10:29] hrgdavor commented on #450
Yeah. It may not be worth the hassle. Unless somebody that knows how to make it comes along maybe.

[2021-12-21 10:39] MatzeS commented on #450
When migrating from OpenSCAD, I was facing this issue and came up with the following solution.
The following code may serve as inspiration.
In essence, this computes a hull over the 'b' shape placed at outline points of the 'a' shape.

[code]

Disclaimer:
However, this is at least one year old and not up to date with the repo (maybe broken).
It only served as quick workaround and  does not follow

[2021-12-21 11:45] jue89 commented on #450
Isn't OpenSCAD open source and they have a 3D version of the minkowski sum?

[2021-12-21 11:49] hrgdavor commented on #450
I think their engine is SDF(signed distance field) internally that is then converted to mesh
Not sure if it can be ported as easily.

[2021-12-21 12:15] jue89 commented on #450
Nevertheless, I would say a 2D version is a great starting point!

[2021-12-21 13:37] jue89 opened #968 "Is poly2 always convex?"
The API description states that `poly2` is always convex:
https://github.com/jscad/OpenJSCAD.org/blob/f5f31084843adebaeb481c064eb09634fb7490a0/packages/modeling/src/geometries/poly2/create.js#L2

But looking in the code, `poly2` is created from geom2 outlines, which may not be convex:
https://github.com/jscad/OpenJSCAD.org/blob/f5f31084843adebaeb481c064eb09634fb7490a0/packages/modeling/src/operati

[2021-12-21 21:50] z3dev commented on #450
The underlying library (CGAL) does the heavy logic, and is 100% C++.

[2021-12-21 21:55] z3dev commented on #968
Ah… poly2… it was added as part of V2 but is not really 100%. So, I’m not sure where this geometry will be useful. I believe it was added to scope those special functions.

Do you have some use cases?

[2021-12-24 14:27] jue89 commented on #968
I was just wondering. I looked into the code for existing parts useful for the implementation of the Minkowski sum. If poly2 isn't guaranteed to be convex, a `poly2.isConvex()` function would make sense. Some goes for a decompose function to split a non-convex polygon into convex polygons.

[2021-12-24 22:35] z3dev commented on #968
Ah. Now, I understand where this is going. Feel free to contribute functionality to poly2. Please follow name and style similar to poly3, if possible. And of course, some rudimentary tests.

[2021-12-26 06:41] z3dev commented on #966
@jue89 the latest release has rolled back the changes to measureBoundingBox(). this is just a quick fix to insure that designs are not impacted. but please try out your designs once again.

[2021-12-26 14:06] hrgdavor commented on #966
@SimonClark @jue89 there is a PR #970

I have tested with your examples and it seems to be working good

[2021-12-26 14:53] hrgdavor commented on #950
@glennerichall there is a new PR #971 that adds the caching.

I agree that this is a useful thing to have and is more inline with nodejs behavior.

[2021-12-27 10:50] Sea-DH1 opened #972 "If loading stl binary file"
stl binary loading error
![image](https://user-images.githubusercontent.com/26751491/147464625-e7d7305c-07c6-4cb4-b1ad-36f258247cf0.png)

[123.txt](https://github.com/jscad/OpenJSCAD.org/files/7779834/123.txt)

This file is a stl file, you need to modify the suffix after downloading

[2021-12-28 18:35] jue89 commented on #966
Yes, I can confirm that all my design are looking good with @jscad/modeling@2.7.1.

Thank you for taking care of my problem! Shall we close this issue or shall we keep it open for the solution you are aiming for?

[2021-12-28 18:50] hrgdavor commented on #966
Hi. Yes I would prefer it stay open until my PR is in a published version so we can confirm the fix.

[2022-01-07 20:53] ErikDeBruijn commented on #49
I don't have a strong need for this anymore but if my request is useful to others we can keep it alive.
Im fine with focus on other, more recent feature requests, though! Perhaps that is time better spent.

[2022-01-08 03:38] z3dev commented on #972
@Sea-DH1 I tried the original STL file at www.openjscad.xyz, and it rendered properly. I also examined the STL file with Meshlab, and didn't find any issues with the STL file. There are problems with the design, which has a lot of 'non-solid' areas.

So, I'm wondering if the file is coming into STL deserializer as 'binary'. I can see that there's a Vue component working here, so I presume that the

[2022-01-22 08:30] z3dev commented on #972
@Sea-DH1 Did you resolve the issue?

[2022-01-22 10:11] FishOrBear opened #977 "[csg]How to keep csg state on intersect"
csg2.transforms = ...;//temp change
let interCsg = intersect(csg1, csg2);

After running the code, my csg object is modified, how can I avoid the csg being modified?

[2022-01-22 10:25] FishOrBear commented on #977
solve:    csg1.polygons = bak1.concat();

[2022-01-22 10:25] #977 closed

[2022-01-22 14:08] paulftw opened #978 "packages/web/src/ui/umd.js is broken (and unused?)"
## Actual Behavior
File `umd.js` tries to require [`processor-bare`](https://github.com/jscad/OpenJSCAD.org/blob/master/packages/web/src/ui/umd.js#L8) but `processor-bare` [has been deleted](https://github.com/jscad/OpenJSCAD.org/commit/5e666327a8b50a7fa6baa4bbdfd790d243f8064f#diff-aa1ae8074878b503b7e92241a4730e5d2fcf8110e0281de36e957e36ecdc01cd) back in 2019.

It's not right to keep a broken file

[2022-01-23 06:00] z3dev commented on #978
@paulftw Definitely NOT used anymore, and should be deleted. Thanks for the notice.

[2022-01-23 08:14] z3dev commented on #978
@paulftw this file is now GONE

[2022-01-23 08:14] #978 closed

[2022-01-23 08:16] z3dev commented on #950
@glennerichall The fix from @hrgdavor has been published. Please close this issue if the require() functions are now functioning as expected.

[2022-01-23 12:38] z3dev commented on #558
Support of 'id' and ‘class’ attributes added to V2 SVG serializer. #974

[2022-01-24 02:08] FishOrBear opened #981 "Make constants.EPS modifiable"
import { constants } from "@jscad/modeling/src/maths";
constants.EPS

Different projects have different precision requirements, it would be better if it could be modified.

[2022-01-24 10:56] z3dev commented on #981
@FishOrBear Long time no see!

I definitely agree with you. If you think that a configurable EPS is a good solution then a quick fix can be made.

However, most users just expect things to work. The EPS is super important inside the boolean tree calculations, and there’s a fix coming to calculate the EPS of shapes, and use that when performing the CSG operations. EPS is just a factor of boundaries

[2022-01-24 11:12] hrgdavor commented on #981
It should also be worth considering to have the fixed EPS, but introduce notion of unit on the document level, so then export can be made in expected unit....

Definitely some different use-cases for different EPS should be made to be able to better consider the topic.

[2022-01-24 11:21] hrgdavor commented on #981
@FishOrBear feel free to join the discord channel https://discord.gg/AaqGskur93
there is a jscad channel on CadHub discord

@z3dev could you please change discord link to this one, I am not sure where it is set. Elmer server is too big and it has gotten complicated for new users, CadHub is a bit more code-cad specific, so less noise from other channels.

[2022-01-25 06:45] Sea-DH1 commented on #972
Yes, I solved the problem by referring to the web core, thank you

[2022-01-25 06:57] FishOrBear commented on #981
The intersection of these two is a very thin slice, usually I don't need this, I will judge its volume inside the program and filter it out.

![image](https://user-images.githubusercontent.com/19372111/150926543-a0ae6466-80c8-435b-a175-2abd5fba077c.png)

[code]
[code]

[2022-01-25 06:59] FishOrBear commented on #981
Similar use case
[code]
[code]

[2022-01-25 07:00] #972 closed

[2022-01-25 07:00] FishOrBear commented on #981
[code]
[code]

[2022-01-26 06:39] samuelwang48 opened #982 "The World is rotating while being pinched to zoom on touchable devices"
## Expected Behavior
By World I mean everything including grid and axises. When someone is pinching to zoom the World should not rotate if you would agree? It should rotate only when one finger is operating/touching the screen.

## Actual Behavior
Two-fingers pinching triggers zooming and rotating at the same time.

## Steps to Reproduce the Problem

  1. Launch the web ui
  2. Try to use two fing

[2022-01-30 06:53] platypii opened #985 "Incorrect lighting on translated object"
A lighting bug was introduced recently. Models that used to render correctly started showing "double lighting" across parallel surfaces.

## Expected Behavior

Consistent global lighting as shown here in @jscad/web@2.4.3 and before:

![lighting-good](https://user-images.githubusercontent.com/1766297/151689221-a92a94c4-5fe3-4a4b-a1b7-468e46d2cfba.png)

## Actual Behavior

A double reflection of the

[2022-01-30 06:59] platypii commented on #985
I used `git bisect` to track the regression specifically to commit [b29993a8](https://github.com/jscad/OpenJSCAD.org/commit/b29993a8fd3da3bd43a5f871edae4c60d7f56fc7) from PR #928

It appears there was previous discussion of lighting bugs between @z3dev and @hrgdavor in #928 but maybe was not fully resolved.