[2017-08-09 07:20] KuoKongQingYun opened #283 "When I build the web,I got the error."
[code]

I have installed all node modules that the project need.
It seems like that the browserify got a wrong relative path.

The OS of my computer is Windows 10, the version of nodejs is 8.2.1 .

[2017-08-09 08:38] z3dev commented on #283
@KuoKongQingYun
We have not certified using NODEJS 8
Please back up to NODEJS 6, and use the latest LST

I suggest that you start with a new installation of OpenSCAD as well.

[2017-08-09 17:11] udif opened #284 "Output STL not sliced correctly in Slic3r Prusa3D Edition"
It seems that almost all (if not all) the models I prepare with OpenJSCAD do not slice correctly using Slic3r Prusa3D edition.
It may or may not slice under other software as well, but this is the only slicing software I've tried.

Here is a simple example:
https://www.openjscad.org/#https://raw.githubusercontent.com/udif/openjscad-objects/master/flexgrid.jscad
Loadging the STL generated by this o

[2017-08-09 17:31] udif opened #285 "Loading multiple files via URL"
It is possible to open JScad with a URL parameter either by using:
https://www.openjscad.org/#https://raw.githubusercontent.com/udif/openjscad-objects/master/flexgrid.jscad
or
https://www.openjscad.org/?uri=https://raw.githubusercontent.com/udif/openjscad-objects/master/flexgrid.jscad
(This was prepared, BTW, as a response to this: http://hackaday.com/2017/08/05/3d-printing-flexible-surfaces-out-o

[2017-08-09 22:47] z3dev commented on #284
@udif thanks for the information

There's a known issue in the STL export function, which is not trivial to solve. Hopefully, we will have time to work on this, but until then continue to "clean" or "fix" all STL files.

[2017-08-09 22:52] z3dev commented on #285
@udif there was a discussion about this on the OpenJSCAD community. Please read that first, and ask your questions there.

Lets talk there as there may be others that can assist.

[2017-08-09 23:29] udif commented on #285
Sorry, I was not aware of the Google+ group.
Is this the discussion you meant?
https://plus.google.com/112547487000950207437/posts/QEVvg2r99Q4

[2017-08-10 07:08] kaosat-dev commented on #284
@udif  very likely the same issue as this one : https://github.com/jscad/csg.js/issues/47
Perhaps try the fix mentionned there :

[2017-08-10 07:12] kaosat-dev commented on #285
Hi @udif !
Actually I would say exactly the opposite then @z3dev hahaha.
I find the Google+ group discussions very hard to follow (no way of displaying code correctly etc )
Anyway: from what I gather you would expect multiple files passed by url to behave the same way as multiple drag & dropped ones ?
The way it would work is not very clear : as you can only have one 'main' jscad file, so this is

[2017-08-10 07:13] kaosat-dev commented on #283
@KuoKongQingYun  It could also be a Windows specific issue (we have not tested things on Windows).
Did you run into any issues with npm install itself ?

[2017-08-10 07:56] KuoKongQingYun commented on #283
@z3dev hello,I changed the version of node to 6.11.2 that is the latest LST version,but the error still exists.

@kaosat-dev Yes,I think it is a windows specific issue too.I do the same work on Linux,and everything is Ok.
When I use node 8.x,there is no issue during installing,but there is a compiling issue about node-gyp when I run "npm install" with node 6.x on Windows.
I think that this is a co

[2017-08-10 08:14] kaosat-dev commented on #283
@KuoKongQingYun hmm that is too bad, I'll try to find where the issue comes from : this one also seems identical but not Windows related : https://github.com/substack/node-browserify/issues/1531

[2017-08-10 09:15] KuoKongQingYun commented on #283
@kaosat-dev How incredible it is ! I reinstalled nodejs and reinstalled those node-modules once more just now, it works well now!
I remember that I do the same things many times before,I don't know what difference happened this time and why it works now LOL~

[2017-08-10 13:12] kaosat-dev commented on #283
@KuoKongQingYun haha , well glad it works now at least :) If it happens again, please let us know

[2017-08-10 16:46] kaosat-dev commented on #265
hi @Jip-Hop
very likely the same issue as this one : jscad/csg.js#47
Perhaps try the fix mentionned there :

[2017-08-11 15:29] zhaochy1990 commented on #283
This problem happens on my computer....
I tried to reinstall node-modules several times, but it still there
I'm using node 6.9.5 and npm 3.10.10

[code]

[2017-08-11 17:46] kaosat-dev commented on #283
@zhaochy1990

[2017-08-11 18:15] KuoKongQingYun commented on #283
@zhaochy1990 Did you use cnpm of taobao?
Just use npm to install modules instead of cnpm.
I found that the cnpm has a bug which will cause this problem!

[2017-08-12 01:21] zhaochy1990 commented on #283
oh, I tried again, it seems the problem is caused by cnpm. Fixed, thank you

[2017-08-12 01:50] #283 closed

[2017-08-12 08:05] kaosat-dev commented on #283
thanks for finding the reason for this @KuoKongQingYun !

[2017-08-12 09:54] z3dev commented on #283
@KuoKongQingYun

Can you provide the OS, the NPM being used? It would be great reference.

[2017-08-12 11:15] KuoKongQingYun commented on #283
@z3dev The cnpm is a "special" version of npm which is used to speed up installing modules in China.(See detail:https://github.com/cnpm/cnpm)
Generally, The cnpm should behave as same as standard npm,but It seems like that there is a hidden bug in cnpm which cause the problem.
I created an issue in the project of cnpm: https://github.com/cnpm/cnpm/issues/214.
and hope that they will fix it.

[2017-08-12 11:20] z3dev commented on #283
@KuoKongQingYun Understood.

Please provide your
- OS and versions n
- NPM and version

Thnaks

[2017-08-12 11:30] KuoKongQingYun commented on #283
OS:Windows 10 14393.693
NPM:5.3.0
Node:v6.11.2 LTS

[2017-08-22 03:21] EternityForest commented on #90
I think a tree-like structure may be easier, both for developers and anyone used to traditional CAD. Graph-like features can happen on top of the tree by having a node that sets a variable to whatever it gets from child nodes, and another node that has a value equal to that variable.

A graph editor plus a 2D sketcher with basic constraints(or not) would almost be a full basic CAD.

[2017-08-22 21:32] RolandR commented on #111
Hey,

Sorry for asking this here, but what is the relationship between the version on [openjscad.org](https://openjscad.org) and the one you're referencing?

I still don't see this feature on the main [openjscad.org](https://openjscad.org) site. Should I clone a dev branch or something?

Thanks!

[2017-08-22 23:38] z3dev commented on #111
The last release has this feature. Please try the website, www.openjscad.org

Basically, the JavaScript detects that the browser is running on a mobile device (not easy), and then adds a file load button.

Let me know if this doesn't work with your device and or browser.

[2017-08-22 23:58] RolandR commented on #111
Oh, I see!

I think it would be very handy to also have a simple file upload button on desktop.
I know some people who don't actually have a graphical file browser installed, and in my opinion the drag-and-drop solution adds some unnecessary steps to the process - after all, I still have to navigate to the jscad file regardless of whether I'm doing so in nautilus/explorer/finder or in the browser'

[2017-08-23 10:39] udif commented on #285
Sorry @kaosat-dev , I somehow missed your issue update.

Yes, I expect it to behave exactly as multiple drag & drop.
When I use this, I only have **one** main file. My use case is libraries: I use external libraries such as https://github.com/johnwebbcole/jscad-utils . Apparently @johnwebbcole is using a NodeJS build system that packs everything into a single minified Javascript file, but I find i

[2017-08-23 13:00] johnwebbcole commented on #285
@udif my first build system would copy individual files so you could drag the directory into a OpenJScad window.  I changed it to a simple concatenation when I wanted to share the files online.  There are a number of security issues with loading remote JavaScript files, and concating them was the easiest solution at the time.

There are a few browsers that support URL loading of JavaScript es6 mod

[2017-08-24 08:54] z3dev opened #288 "Enhancement: add file upload button"
Basically, the JavaScript detects that the browser is running on a mobile device (not easy), and then adds a file load button.
Oh, I see!

I think it would be very handy to also have a simple file upload button on desktop.
I know some people who don't actually have a graphical file browser installed, and in my opinion the drag-and-drop solution adds some unnecessary steps to the process - after al

[2017-09-08 22:46] kaosat-dev commented on #197
@mrsimicsak could you please try it again with our latest release from npm ? This should have been fixed (at least 100% in node.js 7.x.x, need to check in node.js 8.x.x)

[2017-09-24 08:37] kaosat-dev opened #291 "When changing parameters, only remove current 3d objects AFTER recompile"
Currently, when changing settings, any parameter change results in
* removal of the current 3D objects from the view resulting in an ***empty*** 3D scene sometimes for a long time
* once the new 3D geometry has been generated, they get put into the 3D view

This makes changing parameters a lot less seamless then it could be.

[2017-09-24 10:33] kaosat-dev commented on #291
closed by #292

[2017-09-24 10:33] #291 closed

[2017-10-03 11:38] kaosat-dev commented on #89
This is really needed, and sadly a lot less trivial to implement then it seems. (we currently have no good way of fetching points along a path)
Will try to find a solution

[2017-10-04 00:43] Kevin-Prichard opened #294 "Autosave"
I love OpenJSCAD, but it doesn't take long to discover that it's easy to lose all your work.

F5 rerenders the model, but only when focused in the code editor (maybe some other areas).

F5 also reloads the page -destroying any changes to code editor- when focused elsewhere.

Autosave should be trivial to implement, with a checkbox to select, or maybe "Number of Minutes between saves" input field.

[2017-10-04 06:49] kaosat-dev commented on #294
Hi @Kevin-Prichard  !
Thanks for the feedback , and agreed !
There will be a interface redesign and upgrade in the next few months, so I'll try to add that even before that.
Btw about the re-render : perhaps favor using SHIFT + ENTER over F5, less dangerous

[2017-10-09 09:45] sevkin opened #295 "Share Online Designs: filename is undefined"
from openjscad user guide
![share_online_designs-sample](https://user-images.githubusercontent.com/18633/31332366-d0e18192-acee-11e7-9e2c-ae64c1bc24f6.png)
1, 4 - work ok
2, 3 - cant work with message
![openscad_share-online-designs_bug](https://user-images.githubusercontent.com/18633/31332403-ef7ca794-acee-11e7-9f59-54bdb0e208be.png)

[2017-10-09 10:54] z3dev commented on #295
Thanks. I'll look at that but I'm guessing that a recent security patch disabled some functionality.

[2017-10-09 12:05] kaosat-dev commented on #295
@sevkin  thanks, we will look into it !
@z3dev  do you mean your recent fix for the .pl ? That is not possible since it is not yet deployed :)

[2017-10-09 12:42] z3dev commented on #295
Actually, I think that the patch was deployed. I will double check.

[2017-10-10 08:05] jessp opened #296 "Import stl in OPENSCAD translation failing"
I'm encountering an issue when trying to import stl files in an openSCAD file.

In my .scad, I have the command:

`import("myObject.stl");`

or

`import("myObject.stl", convexity = 4);`

and I receive the following error:

[code]

I know in the documentation it states that .dxf import into openscad files is still in progress, which suggests (to me) that .stl import should work? I've also looked at

[2017-10-10 08:14] kaosat-dev commented on #296
Hello @jessp : there currently is NO support for importing stl files in that manner : you can only convert an stl to a jscad output and use that one.
We are however working on adding support (sooner rather than later):

https://github.com/jscad/io/issues/8
and
https://github.com/jscad/io/issues/3 (more up to date information)

The syntax will however be different from the one in openscad, as ```im

[2017-10-10 09:34] jessp commented on #296
Understood

[2017-10-10 09:34] #296 closed

[2017-10-10 19:38] faithhack commented on #72
Any progress on this? BlocksCAD's working support is in:
blockscad/viewer.js (formally openjscad.js) pathToPoints(path, resolution)
blockscad/text.js
openscad-openjscad-translator/src/PrimitiveModules.js

It seems like text.js does the pre-loading of the fonts with opentype.load and the viewer.js handles turning the opentype.getPath() Path into points and paths for a 2D shape for the PrimativeModu

[2017-10-10 20:09] kaosat-dev commented on #72
@faithhack thanks for the informations !
 it should be considerably easier to add support for it these days, as we cleaned up the code significantly :easier to see where/how webworkers are used ( and we switched to  a browserify approach)

Honestly we ( @z3dev  & I ) are already working on a ton of stuff, so not making any promises on this , but it would be nice ! @focomoso is this still a possibi

[2017-10-13 07:34] kaosat-dev commented on #158
closing this as the original issue was specific to the script, feel free to reopen if needed

[2017-10-13 07:34] #158 closed

[2017-10-13 07:38] kaosat-dev commented on #26
hi @stuartpb  I know this has been years, but could you explain what you mean by multi-path polygons ?

[2017-10-13 07:48] kaosat-dev commented on #78
@The3rdIcon as @thehans  said, it is all standard javascript so all js loops work
there are however no list comprehensions out of the box in js

[2017-10-13 07:48] #78 closed

[2017-10-13 08:02] kaosat-dev commented on #167
I will be adding adaptative (infinite?) clipping in a future version of the viewer

[2017-10-13 10:11] stuartpb commented on #26
See https://en.wikibooks.org/wiki/OpenJSCAD_User_Guide#Polygon:

[code]

A two-dimensional vector for paths specifies shapes to _subtract_ from the initial path. See [the documentation for OpenSCAD's polygon function](https://en.wikibooks.org/wiki/OpenSCAD_User_Manual/Using_the_2D_Subsystem#polygon).

[2017-10-14 02:48] drom opened #297 "rotate in the infinite loop"
I have trouble using rotate method. The website goes into infinite loop with the following code:

[code]

[2017-10-14 07:13] kaosat-dev commented on #297
@drom the current API for the rotate `method` is very weird
https://en.wikibooks.org/wiki/OpenJSCAD_User_Guide#Rotate
We intend to do a major overhaul / cleanup soon, in the meantime I recommend the functional approach, more future proof

[code]

[2017-10-14 15:28] drom commented on #297
Thank you @kaosat-dev . Functional API does look better and it works.
Please use the case above for error checking of the future API.
About the future functional API. Have you considered even more pure functional approach with currying?

[code]

[2017-10-14 16:39] drom opened #298 "Extrude shape along a 3D path"
I am building coil like 3D object.

<img width="407" alt="screenshot_20171014_092824" src="https://user-images.githubusercontent.com/511872/31577420-fc6887e8-b0c2-11e7-9c47-1eccd551b250.png">

The best solution I found so far is `union` of rotated `cylinders` (see the code below), but:
  * it leaves the gaps between segments
  * it is slow

Wouldn't it be nice to have some sort of `extrude_along_t

[2017-10-15 06:33] kaosat-dev commented on #297
haha @drom I **love** Ramda & other curryable, functional tools !
One thing for sure is , I would really like to have at least all main Openjscad api methods curryable.
Not sure how/what/when though, as a lot [of the internals](https://github.com/jscad/csg.js/issues/55) make this harder.

Ideally it would be good to put all breaking API changes in a single upgrade to not discourage people from mig

[2017-10-15 06:35] kaosat-dev commented on #298
Hi @drom !
There is something like that in the works :) I hope to get it done by the end of next week.
in the meantime , you can , with a bit of hacking around get close by using `solidFromSlices`

[2017-10-15 06:37] kaosat-dev commented on #298
Side note : I really like your coding style of small specialized functions, if you can help out, it would be awesome :)

[2017-10-16 18:42] cbrunschen opened #299 "CSG.ConnectorList does not work in current code on github"
See discussion on https://plus.google.com/+ChristianBrunschen/posts/JYdwR99GQTH

I'm trying to use CSG.ConnectorList but having mixed success. A simple example like

function main() {
  var cs = new CSG.ConnectorList();
  cs.appendConnector(
      new CSG.Connector([0,0,0], [0,0,1], [1,0,0]));
  cs.appendConnector(
      new CSG.Connector([0,0,12], [0,0,1], [1,0,0]))
  return cs.followWith(CAG.cir

[2017-10-17 06:12] drom commented on #298
@kaosat-dev thank you, I will try `solidFromSlices` and will test new API once available.

I would love to help with the project. I am new to solid geometry but using JS instead of some DSL language over OpenSCAD like approach is really powerful idea.

[2017-10-17 06:18] drom commented on #297
I still new to me, but I have started using more functional, curryable, immutable API this year, I am getting it step by step. Most of the people use to more traditional APIs. JS allows you to do both = good thing.
Have you seen https://github.com/fantasyland/fantasy-land ?

[2017-10-17 06:35] drom opened #300 "Ability to share OpenJSCAD application via URL"
Feature request:

Ability to embed OpenJSCAD code by encoding it together with URL.
This way URL can be shareable.

Example:

http://wavedrom.com/editor.html?%7B%20%22signal%22%20%3A%20%5B%0A%20%20%7B%20%22name%22%3A%20%22clk%22%2C%20%20%22wave%22%3A%20%22P......%22%20%7D%2C%0A%20%20%7B%20%22name%22%3A%20%22bus%22%2C%20%20%22wave%22%3A%20%22x.%3D%3D.%3Dx%22%2C%20%22data%22%3A%20%5B%22head%22%2C%20

[2017-10-17 21:15] kaosat-dev commented on #300
Do you mean encoding the `content`of the jscad script(s) into the url ?
Or just shareable urls pointing to a specific design ?
If the first, then I do not think this is very realistic given the potential complexity of the scripts (you would end up with unmanageable urls), if the second one, I have been exploring (nothing public for now) possibilities for self hosted, peer to peer designs etc which

[2017-10-17 21:18] kaosat-dev commented on #299
Thanks for the bug report !
Normally v`1.0.1` and `1.0.3` only differ by some very minor patches (see our [releases](https://github.com/jscad/OpenJSCAD.org/releases) ), but it almost looks like the dev version is fetching a wrong version of `@jscad/csg` . I was able to reproduce locally, so I will let you know as soon as there is a fix

[2017-10-17 22:54] drom commented on #300
### First Option:
Agree, it can be bulky, but maybe OK for some small code tweets. https://stackoverflow.com/questions/417142/what-is-the-maximum-length-of-a-url-in-different-browsers

### Second option:
https://gist.github.com is public.
Some projects using gist:
https://bl.ocks.org
https://jsbin.com/help/import-gists
http://requirebin.com

[2017-10-18 21:08] kaosat-dev commented on #297
That is great, functional is so much clean fun !

I have heard of fantasy-land , seen mentioned a lot in fp discussions but never looked at it in more details , will try that thanks!

[2017-10-20 22:29] kaosat-dev commented on #26
ok thanks for clarifying !

[2017-10-23 20:32] runezor opened #301 "Rotate extrude error"
Running the following function inside min.js:
`
document.getElementById('execute3D').onclick = function(){
        var source=design;
        gProcessor.setStatus('Processing ' + design + " <img id=busy src='imgs/busy.gif'>");
        gProcessor.setJsCad(source, design); }`

With source being this design:
`function main() {
	return rotate_extrude( polygon({points:[ [0,0],[2,1],[1,2],[1,3],[3,4],[0

[2017-10-24 19:02] runezor commented on #301
Actually, even running it by transferring the file onto the standard index.html produces the same result.

[2017-10-24 19:12] #301 closed

[2017-10-25 00:07] z3dev commented on #301
@richievos thanks good news.

Do you know what the core issue was?

[2017-10-25 03:03] alexose opened #302 "Zooming is too fast on Apple trackpad"
Hi OpenJSCAD,

It's really hard to control the zoom action on my Macbook.  I've confirmed that this behavior doesn't occur on a non-apple machine-- It seems probable that this has to do with different sampling rates.

Other projects have encountered this problem as well.  See: https://github.com/darsain/sly/issues/67, https://github.com/Prinzhorn/skrollr/issues/278.

[2017-10-25 07:01] kaosat-dev commented on #302
Hi @alexose !
I have an updated set of controls that should alleviate that, I will create PR soon, thanks for the links, very useful !

[2017-10-25 07:08] kaosat-dev commented on #300
I use require.bin all the time, so I get the appeal :)

# The problems:
- the current "UI" of openjscad is the same for running locally and on the official site, so it would need work to work correctly in both cases ( neither @z3dev  nor I are particularly happy about the current UI in the first place, but that is a different problem)
- I think this needs module support first https://github.com/js

[2017-10-25 07:25] runezor commented on #301
I can only guess
If it's any help, the failed installation happened when I copied and pasted
my files, and the succesful one happened by simply transferring the folder
inside the zip file.

Den 25. okt. 2017 2.07 AM skrev "Z3 Development" <notifications@github.com>:

[2017-10-25 16:40] drom commented on #300
@kaosat-dev I ❤️ `dat` . Let's do `dat`

[2017-10-25 18:35] alexose commented on #302
Thank you!  I look forward to it.

[2017-10-31 12:37] kaosat-dev opened #305 "Upgrade hosting and deploy updated OpenJSCAD"
A few things need to be dealt with
- [x] There has been a lot of work done on CSG.js , on the input/ output features that has not been impacted here yet
- [x] The currently available version at OpenJSCAD.org is starting to lag behind our current dev version
- [x] we need to resolve domain issues with OpenJSCAD.org
- [x] and also deploy to our secondary domain

[2017-11-01 19:55] kaosat-dev commented on #299
@cbrunschen I have traced the issue, and the fix is almost ready (see https://github.com/jscad/csg.js/pull/62) , however I still do not understand how it could have impacted this repository, as Openjscad.org is still using an older version of CSG.js which did NOT have the change/bug.

Could you please tell me the version number of csg.js in your `node_modules/@jscad/csg` folder ? (this is very imp

[2017-11-01 20:14] cbrunschen commented on #299
Hi @kaosat-dev , thank you so much for digging into this!

The OpenJSCAD.org tree does not seem to have a folder node_modules anywhere that I can find?

[2017-11-02 09:39] kaosat-dev commented on #299
@cbrunschen No problem !
For `node_modules` I mean in your local install :)

[2017-11-02 17:02] cbrunschen commented on #299
@kaosat-dev , per the steps I took above,

... there is no folder `node_modules` nor any file `csg.js` present in my local install.

[2017-11-02 17:32] kaosat-dev commented on #299
ahhh sorry, so you used the prebuilt version ! doh' sorry, my bad @cbrunschen, sorry !
In that case the issue is clear !
So the source of it is now fixed, I will impact changes in this repo and you should be good to go !
I will let you know once it is available

[2017-11-03 22:12] donhatch opened #308 "openjscad to explicit .stl file without -of says it's outputting stla but outputs stlb"
The following invocation of the openjscad command falsely claims it's outputting ascii stl, when in fact it outputs binary stl:
  $ openjscad example001.jscad -o example001.stl;  file example001.stl
      converting example001.jscad -> example001.stl (STereoLithography, ASCII)
      example001.stl: data

In contrast, the following commands all speak the truth about what they are outputting:
  $ op

[2017-11-04 06:24] donhatch opened #309 "trying to convert .stl to .jscad on command line produces invalid file"
I know the openjscad.org code is capable of converting stl to jscad,
since I can drag and drop an stl file onto the openjscad.org web page,
and it correctly shows a corresponding jscad file on the right.

But if I try to do the same conversion on the command line, I get an invalid output file.
Am I using it wrong?

Here's what I tried.

[code]

[2017-11-04 11:02] z3dev commented on #276
Also, view box does mean much... it just sets the outside dimensions of the view. It does NOT set the size or precision of the device. The viewpoint of a computer screen and the viewpoint of a printer maybe totally different.

Maybe this is why Microsoft cannot create documents that fit a "page".

[2017-11-04 11:02] #276 closed

[2017-11-04 13:31] donhatch opened #310 "openjscad command can't read STL files"
The manual https://en.wikibooks.org/wiki/OpenJSCAD_User_Guide#Via_Command-Line claims that openjscad can read STL files from the command line:

and it gives the following example:
`% openjscad frog.stl -o frog2.stl             # does actually stl -> jscad -> stl (ascii)`

There is no frog.stl in the repo, but there's a frog-OwenCollins.stl, which seems to be valid (since, if I drag-and-drop it int

[2017-11-04 19:25] kaosat-dev commented on #308
Thank you for the bug report @donhatch , I double checked, and that is indeed the case, I'll add a fix asap.

[2017-11-04 19:27] kaosat-dev commented on #309
Thanks for this bug report as well @donhatch  :)
I will double check the parameters you use, but could really be a bug.

[2017-11-04 19:31] kaosat-dev commented on #309
Ok, did some local tries and I can reproduce, will look into fixing this.

[2017-11-04 19:32] kaosat-dev commented on #310
Hi @donhatch  , you are on a roll !
I can reproduce this error locally, good catch, will fix.

[2017-11-05 07:54] kaosat-dev commented on #284
this is now fixed in the latest patch release ( `1.0.4`): it is not yet available in the online version, but you can already try a local copy if you want.

[2017-11-05 09:15] kaosat-dev commented on #299
@cbrunschen it should now be fixed, can you do a fresh install and try again please ?

[2017-11-05 09:22] cbrunschen commented on #299
Gladly! From the local prebuilt install (just did a 'git pull', started a local web server and tried the example above (as well as a more complex one) and CSG.ConnectorList works as expected!

The version is also indicated as '1.0.4'.

Many thanks!

// Christian

[2017-11-05 10:38] kaosat-dev commented on #299
glad it works :) You also helped us track down some internal issue with this bug so thanks for that :)
Have fun !

[2017-11-05 10:38] #299 closed

[2017-11-05 10:56] cbrunschen commented on #299
I am indeed having fun! :) Thank you again!
(May I ask what the internal issue was?)

[2017-11-05 12:23] kaosat-dev commented on #299
sure ! we changed the internals of csg.js (the main dependency) considerably, and we forgot to expose CSG.ConnectorsList.

[2017-11-05 17:57] #308 closed

[2017-11-05 17:57] #309 closed

[2017-11-05 17:57] #310 closed

[2017-11-05 18:01] kaosat-dev commented on #310
@donhatch please try the latest version, this is now fixed, and added tests to ensure no regressions, thanks for the feedback !

[2017-11-05 18:02] kaosat-dev commented on #309
Like the other issue, this is now fixed, please let us know if you run into other problems.

[2017-11-06 19:29] #267 closed

[2017-11-06 19:56] jtoy commented on #13
should this ticket still be open?

[2017-11-06 22:48] z3dev commented on #13
@jtoy not really.

If you have any ideas, issues, etc then please open a new issue. We accept all suggestions.

[2017-11-07 09:27] kaosat-dev commented on #13
I will write down some of the things that are not duplicates of the issues here on github, then we can close this issue I think.

[2017-11-07 17:05] jtoy opened #314 "simple shape GUI for making new shapes/code"
the ability from the web browser GUI to generate new drawings from a shape GUI

here is how I envision it could be implemented:
1# split the left window into 2 and in the bottom  window put a small "shape picker GUI" that can drag and drop shapes to the main view to render that shape in the "render GUI".
Then for whatever shapes are in the "render GUI", it automatically updates the code in the top

[2017-11-07 17:05] jtoy commented on #13
Great, I just added this: https://github.com/jscad/OpenJSCAD.org/issues/314

[2017-11-08 06:29] donhatch opened #315 "V1 viewer gets in bad state in which it wrongly thinks mouse button is down"
## Expected behavior:
Viewer should rotate as mouse pointer is moved only when left mouse button is down.

## Actual behavior:
Viewer often gets in a state where it is rotating even when left mouse button isn't down.

## Steps to Reproduce the Problem
  1. npm run start-dev
  2. open in browser: http://localhost:8080
  3. left mouse down in main display area
  4. with left mouse button down, move

[2017-11-08 08:38] donhatch opened #316 "request: please make viewer menu open/close on click instead of hover"
On the main website page, the viewer menu open/close on hover is clever, but I find it makes the page significantly less usable and less pleasant for me.

To enumerate my problems with it:
  - the menu opens frequently when I don't want it to
  - the menu closes frequently while I'm trying to read it
  - the menu opens-and-closes every time the mouse pointer crosses over it, which is useless and d

[2017-11-08 09:54] kaosat-dev commented on #314
Hi @jtoy  cool idea !
It could really help beginners, children etc and is close to blockly/code blocks in spirit I think.
I experimented with visual => code and code => visual generation a while back and it can be very fun to have things like this!
I will be honest I do not know what really fits the current UI : there were multiple alternate suggestions for more complex UI, and before any of these

[2017-11-08 09:58] kaosat-dev commented on #316
Hi @donhatch , lots of good points !
I think:
- We would need to keep the initial 'default to open then close after a short while' behaviour to signify its presence
- add the explicit on click behaviour you mention

Btw , I am less than in love with the whole current UI, so there will likely be a major overhaul at some point in the future, even if that is not high on the list so far.

[2017-11-08 09:59] kaosat-dev commented on #315
Thanks for the bug report @donhatch
Hmm I see the issue, this one and the one it solved are quite annoying, I'll look into fixing this.

[2017-11-08 15:33] jtoy commented on #314
i might try to get a simple prototype of it if you all thinkg it would be useful

[2017-11-08 15:35] jtoy opened #317 "request: standalone package to run as a native app"
wrapped in something like electron some people can run it on their desktops as an electron app. is this something people wound find useful?

[2017-11-08 17:48] donhatch commented on #316
Hi Mark, thanks for considering this.
Yes, retaining the initial 'default to open then close after a short while' sounds fine.

Clicking should probably cancel the initial timeout (so it doesn't automatically close after the user has explicitly opened it, which would be unfriendly).

[2017-11-09 05:21] z3dev commented on #315
Yes. I can reproduce,but a simple click anywhere resets.
It seems like expected behavior, as the click sets focus.
I could be wrong... but browsers are strange things.

[2017-11-09 05:23] z3dev commented on #317
There's an Atom plugin. Is that simular?

[2017-11-09 15:48] kaosat-dev commented on #317
I am on the fence on this one because of the atom plugin but I think there is room for both. I had always planned to create an electron app for openjscad so ....I will ;-)

[2017-11-09 18:18] donhatch commented on #315
Hi @z3dev, yes, the bad state can be corrected by clicking.
Sure, browsers are strange things, but that doesn't excuse the regression-- this was working perfectly well before the bad commit.

This failure to track the mouse button state is a common botch in user interaction: in general, if you want to track mouse button state, you have to listen for mouse-up on the *document*, not on the original

[2017-11-09 18:40] kaosat-dev commented on #315
@donhatch sorry but the behaviour before that commit was even more broken, since it made using the code editor a total pain

[2017-11-09 18:47] kaosat-dev commented on #297
closing this issue if you do not mind @drom  as it is was due to wrong input for the given method :)

[2017-11-09 18:47] #297 closed

[2017-11-09 18:48] kaosat-dev commented on #315
That does not mean that you are not right about this bug though:)

[2017-11-09 18:57] kaosat-dev commented on #45
Given the state of YouMagine (I will not go into details, but I worked for Ultimaker on Youmagine for the past 3 years) , this is pretty much a moot point at this stage.
Closing the issue, if things change we can always reopen.

[2017-11-09 18:57] #45 closed

[2017-11-09 19:01] kaosat-dev commented on #251
closing as this seems to be solved. Please reopen if needed.

[2017-11-09 19:01] #251 closed

[2017-11-09 19:02] kaosat-dev commented on #197
assuming this works, based on our recent tests, and no reply, please re-open if needed  @mrsimicsak

[2017-11-09 19:02] #197 closed

[2017-11-09 19:09] kaosat-dev commented on #76
at this stage,
- a lot of the internal code has been at least partially ported to / uses es6 features.
- openjscad and all its sub repos support latest versions of node.js
- for discussions about modules etc for user content please see #245
- because of the complexity of the project, and the endless headaches of transpiling etc and to keep things simple, for now everything is using common.js modul

[2017-11-09 19:09] #76 closed

[2017-11-09 19:13] meta-meta commented on #76
I had the pleasure of doing some design work with openjscad over the
weekend. Delighted to see arrow functions and other es6 features working.
I'm in love. The experience felt productive and expressive. Thank you so
much for all the hard work!!

On Thu, Nov 9, 2017, 13:09 Mark Moissette <notifications@github.com> wrote:

[2017-11-09 19:15] donhatch commented on #315
Hi @kaosat-dev,  I think whether it seems more broken before or after that commit depends on what features you use.   Personally, I don't use the code editor, so the old bad behavior didn't bother me much.   But I find the new bad behavior to be a big obstacle to me being able to manipulate and examine the model.

In general, I expect ad-hoc editors in uis to be chronically broken and inadequate i

[2017-11-09 19:22] kaosat-dev commented on #76
@meta-meta thanks a lot for the kind words ! It is really nice to know that all the work has not been for nothing :)
Lots of nice new things coming up in the next few months ! (finally getting to the interesting parts)
Btw if you have feedback for #245 please let us know, I really think it is critical for the future of the project.

[2017-11-09 19:25] kaosat-dev commented on #298
@drom I hope you do not mind, I created a copy of this here https://github.com/jscad/csg.js/issues/68 as it is part of the 'core' features (csg.js)

[2017-11-09 19:25] #298 closed

[2017-11-09 19:59] kaosat-dev commented on #315
Hi @donhatch  haha well I can related , not a fan of the code editor either, but I could be in the minority.
I played around with both versions and honestly even without the code editor, the current behaviour seems more natural to me.
Meh , you are right always an issue with Uis , too much subjective stuff!

A somewhat easy fix would be to just stop the mouse tracking on any mouse 'out' (trivial t

[2017-11-09 21:14] meta-meta commented on #245
I'm still VERY new to OpenJSCAD so I don't know the historic reasons for `include()` being the way it is and I'm not sure what the ultimate goals are for this project but I'm very interested in seeing a thriving open library of parametric CAD objects. Definitely opt for modules if possible. Having functions defined globally sounds totally insane to me as a front-end webapp developer with a functio

[2017-11-09 21:15] meta-meta commented on #245
Check out https://aframe.io/aframe-registry/ for inspiration regarding a repo of community modules.

[2017-11-09 23:20] z3dev commented on #315
Hmmm... I'm a BIG fan of the built in editor, as I use this functionality to write designs interactively via my Z3 Lab (There's automatic save to the server built in)

So, we have several takes on what would be right.... :)
It does seems strange to remain focused on the viewer. So I would favor this change.

[2017-11-09 23:23] z3dev commented on #317
@jtoy There seems to be interest here. Why don't you ask the User Group as well. It would be cool to see what others are thinking these days.

Open jscad.org needs to stay flexible and useable.

[2017-11-09 23:49] donhatch commented on #315
mouseout (or mouseleave) wouldn't be a good criterion-- interaction (rotate or zoom) should continue until the mouse button is released, even if the mouse pointer has left the element.   This is especially important when the window is small and the user wants to do a large sweeping drag to perform a large rotate or zoom-- it would be maddening if mouse tracking stopped every time the pointer left

[2017-11-10 00:20] donhatch commented on #315
To be precise-- it should listen for *mousedown* on the 3d view element
(so that part of the commit is correct-- it's good that mousedown on the editor or menu no longer initiates interaction)--  but it needs to listen for *mouseup* on the document instead.

[2017-11-10 01:39] donhatch commented on #315
Hi @kaosat-dev , it looks like this can be fixed (without re-breaking the editor)
in most-gestures/src/index.js, by changing the following lines:
[code]
to these instead:
[code]
However, that breaks `npm test` in most-gestures.  Not sure why.

[2017-11-10 20:32] kaosat-dev commented on #245
thanks a lot for the feedback @meta-meta !
I also think modules is a **must have** : since we are planning a set of breaking API changes in the near future, it might make sense to include that as well.
The globals spamming IS horrible in every possible way :)

Wow `a-frame` has grown a lot since I last saw it ! Nice set of community modules!

Btw I have seen a lot of users create module based code

[2017-11-11 07:39] #316 closed

[2017-11-11 07:56] kaosat-dev commented on #315
Hi @donhatch , good tracking job :)
Honestly , this really needs more consideration and experimenting on my end : things also need to work when Openjscad/ 3d viewer is not full page , and possibly with multiple ones on the same page etc.  (most-gestures is used by multiple 3d viewers that I do NOT want to break :D)
I'll take a deeper look, but do not hold your breath just yet, sorry !

[2017-11-14 13:20] jbodger opened #320 "union() with rotate_extrude object hanging with infinite loop"
## Expected Behavior
Union of the 2 objects

## Actual Behavior
If you union together an object created with rotate_extrude() with another object (cube and cylinder tried) the code hangs. The browser runs at high cpu and memory usage is high.

## Steps to Reproduce the Problem

Run the code below. If the final union is enabled the code hangs and the objects are not rendered. If the array of object

[2017-11-14 14:32] kaosat-dev commented on #320
Thanks a lot for the bug report @jbodger !
This is very good, and your workaround is also holding lots of information.
I believe, this is the same issue as this one  https://github.com/jscad/scad-api/issues/28 since they both use `rotate_extrude` under the hood and both result in infinite loops.

We will let you know once the issue is fixed.

[2017-11-16 09:39] kaosat-dev opened #321 "Feature: add axis indicators to the 3d view"
## Expected Behavior
Being able to tell which way is +/- x/y/z axis.
It is very confusing to navigate the 3d view and do correct modelling without clearly indicated axis.
I will be adding this feature asap

## Actual Behavior
No indicator

## Steps to Reproduce the Problem
1 . start openjscad
2. see there is not axis indicator

## Specifications

  - Environment: browser

[2017-11-16 22:52] z3dev commented on #321
Well... there is actually but you cannot see those easily. The axis lines have colors, and positive is the darker color. Not good.

By the way, please make this optional as well.

[2017-11-16 23:12] kaosat-dev commented on #321
Wow ok , even now that you gave me this info , I still do not see it.
And yes, optional it will be.
Also in the new renderer ;)

[2017-11-17 07:43] kaosat-dev commented on #284
closing since this is now deployed (from 1.0.4 onward)

[2017-11-17 07:43] #284 closed

[2017-11-17 07:44] kaosat-dev commented on #265
this should now be fixed from version 1.0.4 onward.
If you still have issues, please reopen.

[2017-11-17 07:44] #265 closed

[2017-11-24 16:04] #320 closed

[2017-11-29 06:38] gilboonet commented on #281
v 1.4.0 closes this

[2017-11-29 06:38] #281 closed

[2017-12-01 15:14] kaosat-dev opened #323 "Discussion: updates and breaking changes to the API(s)"
Please read this, even if it is a bit lengthy, as it contains information about future **BREAKING CHANGES** to OpenJSCAD, and the reasons behind it.

## The current sitation:

  - currently there are two APIs that you can use for modeling :
     - the functional, somewhat openscad-like API : ie `sphere()`, `circle()` , `rotate_extrude()` , `translate([0,1,20], shape1)`, `cube({round: true})` etc

[2017-12-01 17:03] kaosat-dev commented on #305
All done for a while now, closing

[2017-12-01 17:03] #305 closed

[2017-12-01 19:39] kaosat-dev commented on #231
@gfwilliams I know it has been a while, but to generate triangulated models, what you need to use is `CSG.reTesselated()`or even better `CSG.reTesselated().fixTJunctions()`
There have been a lot of changes in the past few months and this is now done by default when you export to stl or other formats.

Btw I am a huge fan of Espruino  (both the boards and the esp8266 port :)

[2017-12-01 19:41] kaosat-dev commented on #231
For `Catmull-Clark subdivision` and other types of smoothing, there *might* be some operators to do that in the future (emphasis on **might**, we might go through a rewrite of the geometric core of jscad first)

[2017-12-01 19:43] kaosat-dev commented on #137
this is going to be added to the new version of the 3d viewer , coming soon

[2017-12-01 22:40] kaosat-dev commented on #99
a simple `projection()` function is coming very soon ! (yes , took a while :) API updates are under way

[2017-12-01 22:45] relatingdata commented on #323
I see nothing but goodness coming from this! Clarity trumps all :-)

[2017-12-01 23:08] kaosat-dev commented on #13
thanks @jtoy ! We added a few others, closing this now

[2017-12-01 23:08] #13 closed

[2017-12-02 09:01] tedbeer commented on #323
One problem has to be solved - 2D and 3D API separation. You can extrude a flat 2D figure, but not a cube. That's where namespaces like CSG or Polygon3D help to understand what API is applicable and what kind of data methods expect.

[2017-12-02 09:48] gfwilliams commented on #231
Great - thanks! I'll take a look.

That'll be a huge help - there's loads of fun stuff you can do on the underlying mesh :)

Should I close this? My underlying question is answered.

If I complete this would you be interested in a PR? I know I did one for adding metaballs a while back (as a way to get some smooth objects :) ) but it didn't really fit with the direction you were headed in.

[2017-12-02 11:02] kaosat-dev commented on #231
by 'complete this' : do you mean Catmull-Clark subdivision ? Then yes , please! :) I can see that fitting into a general 'smoothing/refinement' operations category.

Very sorry about the Metaballs :( , it is not lost though !
We are still trying to figure out the best way to have a small(er) [core and API surface](https://github.com/jscad/OpenJSCAD.org/issues/323)  (it is a giant mess right now) a

[2017-12-03 22:09] danmarshall commented on #323
Hi Mark, this is a great discussion. Thanks for bringing it up.
I favor the decision to not cling to Openscad and create a more modern JavaScript API.

[2017-12-04 10:55] gfwilliams commented on #231
Yes :) Given the likelihood of API changes in the next version I'll probably just paste up a JSCad function and leave you to include it however you want to though?

Can't promise anything though - I'm a bit busy at the moment I'm afraid.

[2017-12-09 17:34] jtoy commented on #314
i have a very crappy prototype  that is working, but not very good.  is it worth sharing?

[2017-12-09 17:35] jtoy commented on #317
ok I will ask around more

[2017-12-09 17:51] jtoy opened #324 "possible to use interactive params examples to generate multiple models with openjscad CLI?"
In the examples directory you have files that have interactive parameters like the gear: https://github.com/jscad/OpenJSCAD.org/blob/master/examples/gear.jscad
Can that same file be run with the CLI somehow so I can generate multiple stl files like:
openjscad gear.jscad -paramaters numberTeeth=[5,10]  -output_folder gears_folder

where that would generate STLs with the number of teeth set to 5 and

[2017-12-09 18:08] kaosat-dev commented on #317
@jtoy I have started work on a prototype , and have done a poll in the community :  a great majority are also in favor of this, so expect it at some point in the not too distant future :)

[2017-12-09 22:05] z3dev commented on #314
@jtoy Thanks
I'd like to see what others can do with the libraries. Please share.

[2017-12-09 22:11] kaosat-dev commented on #314
@jtoy yes please ! :)

[2017-12-09 22:15] kaosat-dev commented on #324
@jtoy right now, only a single output per CLI call is possible but
- multiple outputs has been discussed previously : https://github.com/jscad/OpenJSCAD.org/issues/282
- parameters can be provided like this : https://github.com/jscad/OpenJSCAD.org/blob/master/src/cli/cli.test.js#L45
- for V2.0 multiple outputs for CLI is 100% going to be in there

[2017-12-10 01:30] jtoy commented on #317
@z3dev is google+ the user group? shouldn't that be some kind of forum or email list?

@kaosat-dev great to hear! what are you doing? electron ?  Will the code be part of this repo or as a separate package?

[2017-12-10 02:23] jtoy opened #325 "ability to render an image of generated file from CLI"
would be wonderful if we could output a jpg/png of the rendered object from the command line.
We would probably need the ability to set camera angles for said rendered item.
if this functionality wasn't added directly to the CLI tool, how would one go about doing this all from the CLI?

[2017-12-10 07:11] z3dev commented on #325
@jtoy I'm not sure but there are application frameworks that are available to display graphics. If that is possible then the conversion of the display buffer to PNG/JPG is typically available as well.

Maybe this is a feature for the new application. But that's yet to be determined.

[2017-12-10 07:12] z3dev commented on #317
Correct. The user and development group are currently present on Google+

[2017-12-12 09:27] kaosat-dev commented on #325
actually, this is *somewhat* trivial to add, with a few possible limtations
- I already did something like this for a few projects
- ZoomToFit allows automatically fitting the shapes in the camera view (this will be present in the new viewer)
- you can render things to a file using the SAME renderer that will be in the viewer using https://github.com/stackgl/headless-gl
- main limitation is , you

[2017-12-12 09:33] kaosat-dev commented on #317
@jtoy  yes, using electron, not 100% sure where to put the code yet, perhaps it will be in another repo under the 'jscad umbrella' :)
I have quite a few things working
- [x] the basics of the viewer
- [x] loading current jscad files / examples
- [x] loading common.js / node module flavor jscad designs (the future)
- [x] auto reload/ file watching

Here are a few teaser images :)
<img width="1205"

[2017-12-12 20:03] jtoy commented on #325
Love it, would love to see this in the app. Would we be able to configure the camera angle? I have seen apps that implement their own version of tiny renderer: https://github.com/ssloy/tinyrenderer  in case we don’t want OpenGL, but I think expecting OpenGL is fine, thoughts?

[2017-12-12 20:13] kaosat-dev commented on #325
yes, camera angle will be configurable :)
Honestly I tried to dance around the need for OpenGL for around a year (for example for docker containters), never found a solution that really works :( but if you do that would be great :)
In the meantime, OpenGL only is fine I think.

[2017-12-12 20:19] jtoy commented on #325
I use a non OpenGL rendered all the time with pybullet. They implemented tiny renderer. I have not implemented it myself before,maybe one day, need to learn more C.

[2017-12-13 11:32] loelkes opened #326 "World center and Autorotate"
It is a lot of code and I tried to figure it out myself but without success.

Question: the world center 0,0,0 is at the center of the viewer. I would like to shit it so that it is in the bottom left (for example). Moving the object is not an option, since i want the camera to move around it.

Question2: where in the code would I need to look if I want to add an z-axis-autorotate feature?

For bot

[2017-12-13 11:57] kaosat-dev commented on #326
hi @loelkes !
Neither is trivial to do with the current 3D viewer, but in a week or so I will release a new , written from scratch 3D viewer (using [regl](https://github.com/regl-project/regl)) that will support
- centering the camera on any object/ point
- autorotate can be added trivially
- zoomToFit to focus on a given object and have the camera fit it inside the viewport etc

you can see it in

[2017-12-13 12:06] loelkes commented on #326
Oh, OK. Thanks for the update.

[2017-12-13 12:06] #326 closed

[2017-12-13 23:13] z3dev opened #327 "Support multiple languages"
## Expected Behavior
The language of the page is now only English. There are other languages in this world, and support for other languages would be very nice.

## Actual Behavior
The language of the page is now only English.

## Steps to Reproduce the Problem

  1. Set browser language to German
  2. Load the website
  3. Language of website is English

## Specifications

  - Version: Any
  - Pla

[2017-12-17 23:27] kevinmamaqi opened #328 "Cannot read property 'setValue' of undefined when loading sample files"
## Expected Behavior
I am trying to do an experiment with OpenJScad. Everything goes well, except from an error that does not allow me to place the files inside the view-box. I don't know what is the problem, in the docs seems that even if you use file://... without a server should work, but in my case it doesn't even with a server.

Am I missing something?

## Actual Behavior
Receive the followin

[2017-12-18 09:04] kevinmamaqi opened #329 "Is possible to inject JS code into the jscad-container?"
## Expected Behavior
Write several functions and load the one that I want into the jscad-container.

## Actual Behavior
I need to upload a .jscad file.

[2017-12-18 11:07] z3dev commented on #329
@kevinmamaqi Hang in there!

It seems that you want to make a new website, using the libraries. Is this correct?

[2017-12-18 11:16] z3dev commented on #329
@kevinmamaqi Cool project! I see what you want to do now by looking at the source of your site.

It looks like...
- create a webpage with several DIVs containing different information
- one DIV is a JSCAD script
- the JSCAD script is reloaded periodically

Did I understand correctly?

[2017-12-18 11:19] kevinmamaqi commented on #329
@z3dev yes, but I can not even load the initial JSCAD file.

[2017-12-18 12:29] kaosat-dev commented on #329
can you explain a bit more what / you want to do things ? or what errors you are running into ?
is it as @z3dev  said, you have one div with the script, and you reuse the openjscad code for the rest ?

[2017-12-18 12:36] z3dev commented on #329
The steps are fairly easy but takes some "changes". The website comes with several examples; index.js, min.js, opt.js. See the dist folder.

These are built from the library components by NPM, using...
- npm run build-web
- npm run build min
- npm run build opt

See src/ui/* for the base script for these "libraries".

I hope this provides a few hints at how to create your special "library".

Let u

[2017-12-18 12:44] z3dev opened #330 ""CUSTOM" build script"
## Expected Behavior
Users are looking to create custom webpages which house JSCAD scripts, either static or dynamic. A method of creating the special composite "libraries" for these special websites would be beneficial.

User runs NPM command, which asks about required components, HTML layout, JSCAD script sources, etc. The script builds a "library" for use in the HTML page.

## Actual Behavior
N

[2017-12-18 13:24] kaosat-dev commented on #330
Yeah I agree something like this would be good, to make 'embedable' versions easilly.
What I think would help:
- seperate, reusable viewer
- reusable 'processor' / core
- reusable split out components (io, bla bla)

For now everything is still too tightly connected but we are on the right track

[2017-12-18 13:37] kevinmamaqi commented on #329
Thanks @z3dev

I understand what do you mean. but. I thought that index.js was ready to use in other website that incorporates the script. Am I right? and if not; How is it dependant on the src files from which was built?

[2017-12-18 13:38] z3dev commented on #330
@kaosat-dev thanks

I didn't know if this was tooooo far reaching or not.

[2017-12-18 13:47] z3dev commented on #329
Take a little look at each of those files, index.js, min.js, opt.js. You will find different ways to "load" the JSCAD script. There is no single library because each HTML page does different things.

For example, viewer-minimal.html only loads a single design, which is provided by the options on the HTML DIV. If you see min.js then you will understand that drag-and-drop is not supported, options a

[2017-12-18 13:56] z3dev commented on #321
@kaosat-dev Have you seen the Autocad web viewer? It has a different way of showing the "orientation", using a little cube in the upper right hand corner. Each side of the cube has a name; left, right, front, back,etc. I kind of like it.

[2017-12-18 14:02] kevinmamaqi commented on #329
Thanks again @z3dev still something is not clear to me.

1. I download OpenJSCAD via git clone, cd, npm run build-web and open index.html - result: I **can not load files**, I guess because it is not running in a server. *Is that correct?*

2. For my experiment I am using index.js (original) that contains most of the elements that I want to use and the following markup (see below) in my index.html

[2017-12-18 14:25] kaosat-dev commented on #321
yep :) that is significantly harder to do  than simple axis indicators (I implemented such a thing once, not trivial) , so add that to 'some day at a later point' :)

[2017-12-18 14:29] kaosat-dev commented on #330
@z3dev no I think it mostly is a question of exposing / reorganizing some of code in this repo.
I end up copy and pasting a lot of it for the jscad-desktop too, so it means candidates for re-use.
Not really sure at this stage how we would expose them: Ideally as node modules for nice composition.
But we would need to have something not-ui tighed to partially replace the messy 'processor' I think .

[2017-12-18 15:38] kaosat-dev commented on #329
@kevinmamaqi you cannot use ui/index or anything within `src`without using specific commands (ie npm run start dev , npm run build etc).
The prebuilt versions, as @z3dev  said so `dist/index.js , dist/min.js` etc should be the ones to use if you want to integrate into your website

[2017-12-18 15:53] kevinmamaqi commented on #329
@kaosat-dev that is exactly what I am doing. I have:

[code]
And I can not load jscad files because it get the following message:

`Uncaught TypeError: Cannot read property 'setValue' of undefined Line: 87252,col: 13 (http://localhost:3000/index.js)`

And this error in the console:

[code]

[2017-12-18 16:17] kaosat-dev commented on #329
hmm ok not quite sure what is going on :
is it in this  repo https://github.com/kevinmamaqi/TfCD_A2_Generative_Jar ?
On first glance it would seem that it does not find the instance of the editor :
https://github.com/jscad/OpenJSCAD.org/blob/a2125a9c8a6dc571e4d09e89e2f9bd0d7eacbcb9/src/ui/editor.js#L148

[2017-12-18 17:25] kevinmamaqi commented on #328
Error comes from Editor. It is not optional but required in default index.js. Replied back here: [https://github.com/jscad/OpenJSCAD.org/issues/329](https://github.com/jscad/OpenJSCAD.org/issues/329)

[2017-12-18 17:25] #328 closed

[2017-12-18 20:59] z3dev commented on #329
Try adding one more DIV with the id="editor"
It may not look proper but this may solve your issue. You can hide the editor later using CSS.

[2017-12-19 01:28] stuartpb opened #331 "Error uploading file on Chrome OS"
I got this error trying to upload a file on Chrome OS Version 62.0.3202.97 (Official Build) (32-bit):

[code]

[2017-12-21 15:11] jtoy opened #332 "support in GUI for ranges/steps in interactive params code"
when people are playing with the interactive examples, sometimes they choose a number that wont fit properly for the generated model. I propose adding a start, stop , and step parameters to allow the GUI to generate valid values for the model. I made an example here: https://github.com/jtoy/cad_model_experiments/blob/master/gear.jscad#L10
I already use that file format for code that I work with.

[2017-12-21 15:35] kaosat-dev commented on #332
Hi @jtoy there already is something like that in place :) you can specify
- min
- max
- step
in your `getParameterDefinitions`
:)

[2017-12-21 15:47] jtoy commented on #332
oh, that is great to know, I thought I tried this, I didn't see it in any of the examples and I tested it out in the GUI and it didnt seem to respect it. Is there an example script that shows this?

[2017-12-21 16:08] kaosat-dev commented on #332
Yeah , I also tend to forget about these:), there is no example for this sadly, perhaps you could help out and add them to the gear example ;) ?

[2017-12-21 16:13] jtoy commented on #332
ok, i will

On Thu, Dec 21, 2017 at 11:08 AM, Mark Moissette <notifications@github.com>
wrote:

[2017-12-21 16:26] jtoy commented on #332
just made a pull request: https://github.com/jscad/OpenJSCAD.org/pull/333

[2017-12-21 21:07] jtoy commented on #324
I have to write a script to do this for my project now, so I can try to write my own version now and submit it as a patch. @kaosat-dev do you have any idea on when v2 will be released?

[2017-12-21 23:06] z3dev commented on #332
Discussed here just in case you need more information.

https://en.m.wikibooks.org/wiki/OpenJSCAD_User_Guide#Interactive_Parametric_Models

[2017-12-22 20:18] kaosat-dev commented on #332
are you ok with closing this one @jtoy since it is resolved ?

[2017-12-22 20:20] kaosat-dev commented on #331
Hi @stuartpb ,  by 'upload' do you mean drag & drop to display a file ?
Is this for the online version or self hosted ?

[2017-12-22 20:22] kaosat-dev commented on #327
This is not too hard to do (did it a few times for various projects), but styling can be tricky. Very good idea either way !

[2017-12-22 20:24] kaosat-dev commented on #324
@jtoy that would be great ! Even if it is nothing fancy, an addition like this would be good, and I have a ton of other things to work on. We can help out if needed ! :)
For V2 : hard to give a precise date, but I am hoping somewhere around end of January 2018 at best

[2017-12-22 21:49] stuartpb commented on #331
Drag & drop or clicking the button to browse. This is for the online version at openjscad.com.

[2017-12-24 16:23] johnwebbcole opened #334 "1.4.0 website does not render object in Safari 11.0.3"
## Expected Behavior
Navigate to the website and see the default 3d logo.

## Actual Behavior
<img width="1078" alt="screen shot 2017-12-24 at 10 16 11 am" src="https://user-images.githubusercontent.com/230922/34327803-ae20ec7a-e893-11e7-80d8-9a67920d7187.png">

## Steps to Reproduce the Problem

  1.  Navigate to openjscad.org with Safari 11.0.3
## Specifications

  - Version: 1.4.0
  - Platform:

[2017-12-26 00:46] z3dev commented on #334
Strange indeed.
The examples are working with the latest Safari on iOS.

[2017-12-26 07:49] kaosat-dev commented on #334
I have an older Safari (10.0.0) on a bit older MacOs, and all examples work fine : are you seing any errors in the console or just blank output ?

[2017-12-26 11:04] z3dev commented on #280
@jleppert So... it's been a long time. Did you discover any cool insights? Or issues?

[2017-12-26 14:29] #332 closed

[2017-12-26 17:50] jtoy commented on #324
@kaosat-dev here is a script I wrote to generate multiple versions from interactive param examples: https://github.com/jtoy/cad_model_experiments/blob/master/multijscad.js
I can add as a pull request if you think helpful.

[2017-12-26 18:43] jtoy commented on #300
love the idea, but hard to implement in practice, especially with data that is essentially unlimited code.

[2017-12-26 21:07] kaosat-dev commented on #324
@jtoy I will take a look at the script tomorrow thanks !

[2017-12-28 11:58] kevinmamaqi commented on #329
Thank you @z3dev it was the problem.

Although I find it impossible to:

Render the processor from node.js script.
Load a . jscad code from my node script.

I tried to modify the examples and use the npm  as it is, but I find to much dependence between functions.

[2017-12-28 12:09] z3dev commented on #329
Sorry that you are having so many issues.

Let's see if we can determin the solution by asking a few questions.
- can you provide an example of the JSCAD script?
- how will the script be loaded? As part of the HTML? As dynamic content from the web service? As a file?

[2017-12-29 08:01] z3dev commented on #334
I have MacOS 10.10.5 and Safari 10.1.2. Works just fine.

[2017-12-29 14:33] johnwebbcole commented on #334
10.13.3 has hardware acceleration... and is beta (oops, didn’t think about that).

No errors and no console output. I’ll look into it further to see if there is some additional debug output in the system console.

I’ll also give the tech preview a go too.

[2017-12-29 16:00] jtoy commented on #324
@kaosat-dev I just updated the code to be a little simpler: https://github.com/jtoy/cad_model_experiments
Should I submit a pull request to add this?

[2017-12-29 21:09] danmarshall opened #336 "Decouple mouse events from Viewer"
I know @kaosat-dev is working on a new Viewer, so I'm voting for a new feature :)
I'd like the mouse events to be decoupled from the Viewer, so that I can control the camera with other sensors. Here's a couple of ideas of how I'd like to control the camera:
* with the device accelerometer
* via scroll position
* via mousemove, without button

At the very least, it would be good to have an option t

[2017-12-30 00:14] z3dev commented on #324
@jtoy I like it. Why the interest in the gears? FYI, there's a website that generates gears which is based on JSCAD; http://www.knowhave.com/gear/worm.php

I just have one comment about the design (not the code). It does have an interactive parameter for 'resolution'. Designs need to be high definition when generating smooth curves.

[2017-12-30 01:23] jtoy commented on #324
@z3dev Great, I will submit a pull request.  I just use gears as an example as I pulled it from the OpenJSCAD examples:  https://github.com/jscad/OpenJSCAD.org/blob/master/examples/gear.jscad
I am generating many other types of objects.

[2017-12-30 01:24] jtoy commented on #327
I can help with chinese translations

[2017-12-30 01:50] jtoy commented on #314
@z3dev @kaosat-dev here is a very crude GUI working for this:
https://github.com/jtoy/jscad_code_generator_gui
I would love to see about getting something like this embedded in the core.

[2017-12-30 01:52] jtoy commented on #314
and here are some images of it:
https://cl.ly/081z1Q081d0Y
https://cl.ly/2S0h2n2y1A3I

[2017-12-30 01:55] jtoy commented on #314
also you can demo it here, keep in mind it barely works, just to show the idea: http://3dgraphicsplus.com/OpenJSCAD/

[2017-12-30 09:30] ignaciojuarez22 opened #337 "Why is not tree.js used again?"
I found some version where it was used and it works pretty well ...

Why is it no longer used?

[2017-12-30 10:49] kaosat-dev commented on #337
Hi @ignaciojuarez22 : if you mean three.js , then it is most likely an alternative viewer using three.js :  which was never a part of OpenJSCAD: we do not intend to switch to three.js for the viewer : it will be using [regl](https://github.com/regl-project/regl) and the internal maths will be kept library independant.

[2017-12-30 16:49] jtoy commented on #324
@z3dev @kaosat-dev here is the pull request: https://github.com/jscad/OpenJSCAD.org/pull/338

[2017-12-30 23:41] z3dev commented on #337
That’s correct. This project has never used Three.js
Is there some functionality that you need in the JSCAD viewer?

[2017-12-31 07:07] kevinmamaqi commented on #329
Hello @z3dev my full script is here:
https://github.com/kevinmamaqi/TfCD_A2_Generative_Jar

It is based on the jar-barrel example from openjscad. Although have a couple of modifications. The rotation and the scale are done randomly, using an uniform distribution each time, and the color is set by the data that I read from a sensor, here more info https://www.instructables.com/id/Generated-Jar-Gene

[2017-12-31 09:51] kaosat-dev opened #339 "feature: add transform() operation to transform shapes by a 4x4 matrix"
## Expected Behavior
We need to have a transform(matrix, object(s)) operation similar to Openscad's MultMatrix

## Actual Behavior

There is none
## Steps to Reproduce the Problem

 there is no such function.

## Specifications

  - Version: Any
  - Platform: Any
  - Environment: Any

[2017-12-31 09:54] kaosat-dev commented on #339
This has now been added to https://github.com/jscad/scad-api starting at version 0.5.0 and will be included here soon.

[2017-12-31 10:14] kaosat-dev commented on #327
that is nice of you @jtoy ! very cool

[2018-01-01 11:29] kaosat-dev commented on #339
Closed by #340

[2018-01-01 11:29] #339 closed

[2018-01-01 18:01] jtoy commented on #196
is this still an issue?

[2018-01-01 18:02] jtoy commented on #164
is this still an issue? if not, we should close it.

[2018-01-01 19:01] jtoy opened #341 "completely different output from browser vs CLI for interactive params example"
## Expected Behavior
I tested generating STL files from a single interactive jscad example from both the browser and command line. The command line version generates garbage data:
openjscad models/testIssue/testIssue.jscad  --baseRadius 5  --baseHeight 40  --stageHeightRatio 0.6  --stageRadiusRatio 0.6  --noseHeight 10  --numberStages 2  -o cli.stl

https://cl.ly/3u1p1u0v0J1V

and the browser gene

[2018-01-01 20:10] kaosat-dev commented on #341
Hi @jtoy  , very good catch :) thanks !
I will try out your script and investigate!

[2018-01-01 20:17] kaosat-dev commented on #235
a basic version of this will be present in the new 3D viewer, to be integrated very soon

[2018-01-01 20:25] kaosat-dev commented on #92
@baburgess same question, do you have the files somewhere ? going to close this issue otherwise: we do not have 100% openscad compatibility, but we cannot know the specific issue without the source.

[2018-01-01 20:37] kaosat-dev commented on #336
Hi @danmarshall
- I can see the point in various options, and the new viewer makes that rather trivial to add, either by piping in an observable with your custom data (https://github.com/jscad/csg-viewer/blob/master/src/cameraControlsActions.js) , or just using the viewer function directly https://github.com/jscad/csg-viewer/blob/master/example/demo.js#L52

However , even if I see the benefit of d

[2018-01-01 23:07] danmarshall commented on #336
That all that sounds reasonable to me, Mark 😃👍

[2018-01-02 16:23] jtoy commented on #341
this one really surprised me. Tried to dig in a bit, but didn't make it far.

[2018-01-02 17:16] kaosat-dev commented on #341
Only source I see , is parameters not being correctly parsed/ parsed differently

[2018-01-03 08:31] z3dev commented on #196
Yes. Until Google fixes the bug.

[2018-01-03 08:33] z3dev commented on #164
It’s an issue until fixed.

[2018-01-05 15:59] jtoy commented on #341
I tested this out by converting my script parameters that were floats to use all integers. It improves rendering, but still different from what is being generated from the GUI. How can this be possible? Any other issue ? Is CLI not a popular feature?

[2018-01-05 16:07] kaosat-dev commented on #341
@jtoy I ran some tests, and I confirm that the parameters are ALL WRONG currently in the cli : with a simple debug, I can see that they all get converted to strings ouch !

[2018-01-05 16:12] jtoy commented on #341
oh wow, that is kind of a big issue. Would the fix be as simple as converting these params to ints: https://github.com/jscad/OpenJSCAD.org/blob/master/src/cli/cli.js#L110-L115

[2018-01-05 16:15] kaosat-dev commented on #341
Yeah this is a huge one. I started working on a fix.
And yes I guess the cli is not widely used.
Not even sure many people know there is one.
That might change soon, we also plan to have a seperate cli npm package dor ease of use.

[2018-01-05 16:18] jtoy commented on #341
I think the CLI is a critical piece of the project. I was originally on openscad to do parametric design with code, but hated the non standard language. I love OpenJSCAD on the other hand because I can use a clean language with any libraries I want.  I'm generating 10's of thousands of different designs with the CLI.

[2018-01-05 16:37] kaosat-dev commented on #341
wow that is quite impressive !
And yes, agreed it is very important that the CLI works reliably.
Given how the code was structured before It almost seems like it was an afterthought.
I should have a fix ready for this in a few hours :)

[2018-01-05 19:46] kaosat-dev commented on #341
@jtoy , good news ! This image below is the resulting stl WITH the parameters passed to the CLI :)
<img width="285" alt="screen shot 2018-01-05 at 20 43 49" src="https://user-images.githubusercontent.com/623281/34625536-562e9df8-f259-11e7-8e57-a44382bca3b3.png">

I need to add unit test(s) and I can push a PR with the fixes !

[2018-01-05 19:49] jtoy commented on #341
awesome, so excited to test it out!

[2018-01-05 21:02] kaosat-dev commented on #341
@jtoy what do you think the handling of 'choice' and 'checkbox/radio' parameters should be like in the CLI :  ie things like
`{
      name: 'mouseears',
      type: 'choice',
      caption: 'Add mouse ears:',
      values: [0, 1],
      captions: ["No", "Yes"],
      initial: 1
    },`
I think we can support both `--mousears 0` and `--mousears "yes"` ie re-using captions to map to the actual value

[2018-01-05 21:50] jtoy commented on #341
@kaosat-dev I personally think values as the programmer is already accustomed to them.  Captions also means more parsing.  As long as we make some clear documentation on it, I think either choice is ok.

[2018-01-06 08:56] kaosat-dev commented on #341
@jtoy turns out there are some completely broken/ nonsensical things going on with some of the parameter handling in the GUI
for 'choice' elements, all the values are returned as strings instead of the original format
so `{ name: 'mouseears', type: 'choice', caption: 'Add mouse ears:', values: [0, 1], captions: ["No", "Yes"], initial: 1 }` actually returns either "1" or "0" instead of 0 or 1.... w

[2018-01-06 11:25] z3dev commented on #341
Don’t get me wrong but basically the return type is whatever the HTML form type returns. So, don’t try to cast something unless the type is specified.

[2018-01-06 11:58] kaosat-dev commented on #341
We cast a lot of the [inputs](https://github.com/jscad/OpenJSCAD.org/blob/master/src/core/getParamValues.js#L20) , and honestly , as a user If I specify possible values from a 'choice' to be [20, 40.7, 2] I expect to get those back, not some string , same for [false, true] or whatever :)
Implementing casting based on the parameter definition values is trivial :)

[2018-01-06 18:14] #341 closed

[2018-01-06 19:17] kaosat-dev commented on #341
The fix has now been released @jtoy , thanks for the feedback !

[2018-01-06 19:21] jtoy commented on #341
@kaosat-dev awesome, thank you so much ! I want to showcase what I'm working on soon. im going to fix my pull request as well for the multijscad script as well in the  next couple of days.

[2018-01-06 19:53] kaosat-dev commented on #341
@jtoy :) no problem ! Took a lot at your profile and projects on Github, very impressive stuff :)
If you find some other / new issues or anything, please let us know !

[2018-01-06 19:55] kaosat-dev commented on #337
@ignaciojuarez22 I am closing this, do not hesitate to re-open if we have missed something :)

[2018-01-06 19:55] #337 closed

[2018-01-08 18:37] abudden opened #343 "Embedding 1.6.1"
I've used openjscad as an embedded feature on my website for a number of years, but the version I was using was very old (I'm not sure which one, but [here's a link to the source](http://www.cgtk.co.uk/lib/openjscad/openjscad.js) - it has a couple of small modifications for viewer size control).  Examples of the embedded versions using the old openjscad are [Grinder Gauges](http://www.cgtk.co.uk/m

[2018-01-09 00:30] z3dev commented on #343
@abudden Thanks for the information. Things have changed over the last few years so issues during reintegration should be expected.

For issue #1, the canvas for LightGL is set to the size of the HTML element. I would guess that the element name has changed, and the HTML of your page needs to adjust. You might try this again.

For issue #2, the code is interesting. I didn’t know the pixel ratio wa

[2018-01-09 08:43] kaosat-dev commented on #343
Hello @abudden , very sorry for the inconveniences !
It is true that the current 'pre-built's are not really thought out for customisation: this will change in the very near future:  we are currently working on a set of 'reusable/embeddable' pieces namely:
* new 3D viewer that is trivial to customize (an early prototype / wip is [here](https://github.com/jscad/csg-viewer)
* broken out 'core' of op

[2018-01-10 01:48] danmarshall commented on #343
Hi Mark - @kaosat-dev - can you give more details about this conversion? Specifically, what is the export of the module? And how will `getParameterDefinitions()` be exported?

[2018-01-10 14:40] kaosat-dev opened #344 "Proposal : simple api for embeded version"
Given the difficulties currently to embed and configure OpenJSCAD I have following proposal for an upcoming version:
A simple api to use for simple embeding : a single function, something like this

[code]

[2018-01-10 23:25] z3dev commented on #344
I understand the need but have a few thoughts.

Can the viewer and processor be more decoupled? It seems that the major issues with imbedding are with the viewer, not the processor. The current model doesn’t expose the viewer so developers don’t understand how to set options, or properly embed the viewer (HTML divisions, styling, etc).

[2018-01-11 09:37] kaosat-dev commented on #343
@danmarshall  not 100% sure yet, but there will not be breaking changes, it will likely be something like exposing the various sub folders here in src/ (like cli, core, etc) as independant packages that will be used by the main UI

[2018-01-11 11:10] z3dev commented on #343
@danmarshall Are you thinking of a similar functionality for your library/web? If so, how would you like to use it?

[2018-01-11 19:32] kaosat-dev commented on #344
The new viewer is 100% decoupled: you just feed it csg/cag arrays, and some (optional) parameters.
The processor is not really decoupleable as it is , as it combines UI and logic.
There should be no need for complicated stuff, and even styling & such should be fire & forget :)

[2018-01-11 19:54] danmarshall commented on #343
@z3dev - yes that's what I'm thinking. But now that I'm re-reading this I think I had it confused with something else. I was thinking of "conversion" of jscad to commonjs. Which I suppose is already being discussed in #245 ?

[2018-01-11 20:05] kaosat-dev commented on #343
@danmarshall yes that is the correct topic ... annd you might be interested in this here : https://github.com/jscad/jscad-desktop/blob/master/src/core/scripLoading.js#L75
loads either jscad code as common.js modules OR creates a virtual common.js module for jscad scripts which are not using it explicitly :)

I think there might be a way to do something very similar in the browser, stay tuned!

[2018-01-11 20:06] kaosat-dev commented on #245
As a follow up to this discussion, the newly relased pre alpha of jscad-desktop supports common.js code for jscad designs :)

https://github.com/jscad/jscad-desktop/blob/master/src/core/scripLoading.js#L75
loads either jscad code as common.js modules OR creates a virtual common.js module for jscad scripts which are not using it explicitly :)

I think there might be a way to do something very simil

[2018-01-11 20:08] kaosat-dev commented on #317
@jtoy the first version of the jscad app has now been released (even if it is a pre pre alpha) : https://github.com/jscad/jscad-desktop
closing this ;)

[2018-01-11 20:08] #317 closed

[2018-01-11 20:12] jtoy commented on #317
awesome, ill test it

[2018-01-11 20:30] kaosat-dev commented on #149
Hi @themaniac there is nothing specific to the integration with various frameworks, and as far as I know there has not been anything going on on that end.
The project has been using common.js modules for a while now, so you can pick & choose what you need these days from the npm modules (mostly :) ande will soon-ish have a simpler way to embed openjscad in browser only environments.

[2018-01-11 20:30] #149 closed

[2018-01-11 20:34] kaosat-dev commented on #227
I am closing this , as the makefile is fully obsolete and those paths are not used anymore, thanks for the PR back then @andrewgho :)

[2018-01-11 20:34] #227 closed

[2018-01-11 20:37] kaosat-dev commented on #206
I am going to close this , as this is not planned as part of the officially supported features. But of course a custom pure software renderer without webgl is entirely possible (geometric data structures are simple enough), but not worth the time sorry !

[2018-01-11 20:37] #206 closed

[2018-01-11 20:42] #196 closed

[2018-01-11 20:43] #128 closed

[2018-01-11 20:45] kaosat-dev commented on #288
@z3dev did you mean 'loadFile' rather than upload ?

[2018-01-11 21:00] kaosat-dev opened #345 "Turn this repository into a monorepo to make managing sub packages easier"
## Expected Behavior
Easier to manage reusable components / sub packages, split out CLI / Web / Desktop into seperate packages while still keeping code managment simple

## Actual Behavior
Multiplication of git repos, hard to manage re-use of elements, mess of a single package for both CLI & WEB & more etc

This is essentially the same thing as in https://github.com/jscad/io which turned out fine,

[2018-01-11 21:44] danmarshall commented on #343
@kaosat-dev that is really cool - you are loading a module from a string ??? Nice!

I have a [conversion script](https://github.com/danmarshall/jscad-gallery/blob/master/scripts/build-jscad.js) that takes a .jscad file from the disk, and creates a module on the disk. The module is just a folder with 2 files in it: `package.json` and `index.js`. The index.js is created from a [template](https://git

[2018-01-11 21:48] kaosat-dev opened #346 "Bring documentation/user guide into this repo as markdown"
The user guide is out of date, unpractical (our edits take ages to be validated), it is time to bring things back here:
- in the form of markdown files
- simple
- everybody can edit & help
- it can be made up to date easilly
- can be viewer offline
- can be embedded in the online version, the desktop app & cli

[2018-01-11 21:51] kaosat-dev commented on #343
Very cool @danmarshall ! My brain is completely fried right now, but I'll take it for a spin first thing tomorrow :)

[2018-01-11 23:47] z3dev commented on #346
Yeah. I’ve been thinking about this. Definitely need to move away from WIKIBOOKS.

I still think a full WIKI is best
- supports any kind of media
- table, sorts, references, etc
- themes and layouts
- anyone (maybe limit to G+ users) can edit
- revision controls

I’d be glad to set one up for trial.

I think the API can be generated and copied into the wiki as well.

https://www.dokuwiki.org/dokuw

[2018-01-11 23:51] z3dev commented on #288
Correct. This is just a simple request for a button, rather then drag and drop. Seems some of the non-mainstream browsers don’t have drag and drop.

[2018-01-12 07:07] kaosat-dev commented on #346
@z3dev I do not think it is mutually exclusive, but the main advantage of plain files is, it is *very* simple, no maintenance (and we are already stretched so thin :( ) and offline.

[2018-01-12 18:41] kaosat-dev opened #349 "Split out CLI/Web tools into seperate packages"
They will stay in this repository to make code editing simple, but in seperate npm packages so that if you only need a CLI you do not have to bring in all the UI specific code & files.

[2018-01-12 23:12] kaosat-dev commented on #343
@danmarshall we really need to talk, pinged you on hangouts :)
ok so this is very interesting, if I get this right it converts a current 'vanilla' jscad file into a common.js module : that could be very handy as a tool to make it easier for people to publish their current script to github/npm as common.js :)

[2018-01-13 22:25] z3dev commented on #344
Awesome. This will make the embedding tool easier as well.

[2018-01-13 23:40] z3dev commented on #346
I understand. The markdown is a must for the API documentation.

There’s a whole lot more that can be documented, such as cheat sheets, tutorials, etc.

Anyway, let’s try different things. The WIKI is available at
https://openjscad.org/dokuwiki/doku.php

The URL can be changed, as well as theme. I’ll add a few things to get started.
Users just register once, and start making changes.

[2018-01-13 23:42] z3dev commented on #349
Good Luck!

[2018-01-15 18:29] delaneyj opened #350 "Typescript Definitions"
## Expected Behavior
Working Typescript definitions from `@types/openjscad`
[code]
should autocomplete in VSCode.

## Actual Behavior
It appears the CSG class and namespace overlap.

## Steps to Reproduce the Problem
  - Version: Typescript 2.6
  - Platform: Win10

[2018-01-15 19:20] kaosat-dev commented on #350
Hi @delaneyj !
A few things
- for the above (autocomplete in VSCode, I also use it), it should work as expected :
<img width="516" alt="screen shot 2018-01-15 at 20 17 20" src="https://user-images.githubusercontent.com/623281/34958214-2c96779c-fa31-11e7-8e77-e87136c7f9e0.png">
- prefer using the functional API whenever possible, as that is more guarateed to stay intact going forward (for now still

[2018-01-15 19:25] danmarshall commented on #350
Hi @delaneyj - I wrote the definition for `@types/openjscad` - by porting the code from js to ts.
The CSG class and namespace do overlap - because that's how OpenJscad is structured. It has classes within classes. TypeScript allows handling this by using a namespace.

I'm hesitating to rewrite the definitions while the new code is changing...

Thankfully - VsCode does a good job nowadays with pure

[2018-01-15 19:32] kaosat-dev commented on #350
@danmarshall  to the rescue :) Thanks for the useful infos & the definitions !
The CSG.xxx namespacing is very likely to go out of the window at some point soon (simplicity is the goal, so the api would be likely a LOT 'flatter' and less convoluted)

[2018-01-15 20:05] delaneyj commented on #350
Wow, thanks for the quick responses.  Using require instead of import fixed my issue.  Would have to use a bit before feeling comfortable writing binding, especially with a moving target. Was trying to get jscad-desktop working.

[2018-01-15 20:05] #350 closed

[2018-01-15 20:23] kaosat-dev commented on #350
that is interesting @delaneyj so it does work with require but not import ? that is strange, even if all of jscad is common.js modules, not sure why it would change the behaviour in vscode : are you using babel  ?

[2018-01-15 20:25] delaneyj commented on #350
Was trying straight tsc

[2018-01-15 20:33] kaosat-dev commented on #350
ah yes, doh'! my bad sorry

[2018-01-16 19:05] kaosat-dev commented on #323
Thanks @danmarshall !
This has been a while , but things have been progressing well :
- the merge of csg.js & scad-api is almost done
- the internal split between core & api features in csg.js is done
   * this involved a lot of internal cleanups, and aliasing
- the two above made the internal & api mess even clearer !
    * the whole prototype chain, and how some classes get added methods to thei

[2018-01-17 20:42] delaneyj opened #351 "Missing offset 2d function"
## Expected Behavior
https://en.wikibooks.org/wiki/OpenSCAD_User_Manual/The_OpenSCAD_Language#offset

## Actual Behavior
No matching function, no documentation on it being a missing feature, like minkowski.

[2018-01-18 04:55] relatingdata commented on #323
On Wed, 17 Jan 2018 at 5:05 am, Mark Moissette <notifications@github.com>
wrote:

2D and 3D are perfectly good class suffices as opposed to CSG or CAG
prefixes. Are Boolean operations able to live their respective worlds? Like
all CAG/2D parameters being 2D and Co-planar?

<https://github.com/notifications/unsubscribe-auth/AK2HhHOgtZzm9_ssBFX3Gcvkb9F-edSQks5tLPMOgaJpZM4Qyen3>

--
*Thanks In Advanc

[2018-01-18 15:07] delaneyj opened #352 "Confused by CSG/SCAD api"
So working on a 3d printer build and doing it in jscad.

99% of the code is using the scad-api.  However for the flex coupler I had to drop down to CSG.js

[code]

I guess I'm wondering if this is right, did I miss something in the scad-api.  Having 2 same but different modes is confusing when they share so much.

[2018-01-18 15:30] kaosat-dev commented on #352
That is sadly the way to go for now @delaneyj , we are in the process of changing that in order to have a single, simpler API : you can follow the discussion here : https://github.com/jscad/OpenJSCAD.org/issues/323

[2018-01-18 16:52] delaneyj commented on #323
With such a massive change would something like rewriting in typescript help a lot?  Many of the issues seem to stem from parameter validation and API documentation; both using types drastically reduces.

[2018-01-18 16:53] delaneyj commented on #352
Heh, that issue is an exact match of what I was thinking.

[2018-01-18 16:53] #352 closed

[2018-01-19 00:19] relatingdata commented on #323
I am not a great fan of Typescript per se, but I have seen it very useful
when just by generating the type definitions and running TSlint it points
out obvious parameter type problems :-)

If you are starting a new project where there a people who do not
understand or appreciate the power of JavaScript, Typescript is a good
investment :-) ;-)

I wouldn't mind having a Typescript prompt available (

[2018-01-22 00:43] relatingdata commented on #323
Yes geometry3DFromPoints , geometry2DFromPoints I like :-) ;-)

On Fri, Jan 19, 2018 at 10:19 AM, Laust Frederiksen <relatingdata@gmail.com>
wrote:

--
*Thanks In Advance*

*Kind Regards*

Laust Frederiksen

[2018-01-22 15:45] jtoy commented on #344
Is this so someone can embed a viewer for STL files in a web page? can someone explain the user cases more?

[2018-01-22 16:36] delaneyj commented on #323
@kaosat-dev  no big deal.  Don't have a dog in the fight, but even JSDoc hints would be a huge help in using the api properly.

[2018-01-27 02:30] z3dev commented on #351
This shouldn't be difficult, and can be done via scaling the 2D object. I do this often.

The rounding of corners is a little more difficult but could be implemented with hull()

If you come up with a solution then please contribute.

[2018-01-27 02:48] danmarshall commented on #351
Is this the same as https://github.com/jscad/csg.js/issues/75 ?

[2018-01-27 14:22] delaneyj commented on #351
I'm not sure how that's implemented with scale. It's basically moving points along a normal. @danmarshall yes it appears to be the same underlying functionality

[2018-02-06 18:47] jtoy commented on #346
I would love to help write documentation, how can we start, do this?

[2018-02-06 18:48] jtoy commented on #325
btw, in the meantime, I've added a python pipeline into my own workflow that allows me to render stl  into images, works, but I'd much rather have it all done in OpenJSCAD.

[2018-02-06 23:13] z3dev commented on #346
@jtoy Thanks!

Those BIG goals aren’t really achievable yet. I think first, we should bring back the user guide from WIKIBOOKS. I already imported the latest Quick Reference..

How about bringing back the User Guide? I suggest a few things:
 - Split the User Guide into pieces, and make small sections such as introduction, union, circle, etc.
 - Prefix the sections with user_guide

You should have

[2018-02-06 23:13] z3dev commented on #346
By the way, other languages are possible.

[2018-02-07 19:22] jtoy commented on #325
just found this nodejs version to render stls to images: https://www.npmjs.com/package/node-stl-thumbnailer
would it be useful if i integrated this into OpenJSCAD?

[2018-02-10 22:34] praagma opened #353 "Simple bug?"
## Expected Behavior
Simple translation on X

## Actual Behavior
Small rectangle translates also on Y and on Z. Why?

## Steps to Reproduce the Problem
Just enter the code below:

function main() {
  return union(
    cube({size:[80,40,10],center:true}),
    cube({size:[12,40,40],center:true}).translate(40,0,0)
    );
}

## Specifications
On https://openjscad.org/

<img width="272" alt="fordebug2"

[2018-02-10 22:52] praagma commented on #353
Great. Also great reactivity. Thank you.

[2018-02-10 22:52] #353 closed

[2018-02-13 07:48] Evil-Spirit opened #354 "Mesh operations is broken"
## Expected Behavior
There should be no any problems with boolean operations

## Actual Behavior
![openjscad org - google chrome 2018-02-13 14 45 00](https://user-images.githubusercontent.com/1980537/36138661-e0b49fea-10cc-11e8-86ce-ec03281bd923.png)

## Steps to Reproduce the Problem
[code]

## Specifications

  - Version:
  - Platform:
  - Environment: (browser, local server, node.js etc)

[2018-02-13 08:08] kaosat-dev commented on #354
Hello @Evil-Spirit , thanks for the report : are the faces of the 'block' and the cuttaway cylinder's end coplanar? if they are this is unfortunately a near impossible to solve issue: you need to have subtracted objects (in your case, cylinder) that extend very slightly outside of the first operand to ensure good boolean results.

[2018-02-13 08:30] Evil-Spirit commented on #354
yes, they are exactly coplanar. Why are you thinking it's impossible? Is this algorithm limitation? Actually I am using this library through in some wired way in this project: http://notecad.xyz

[2018-02-13 08:36] Evil-Spirit commented on #354
Try to open this
[boolean_bug.zip](https://github.com/jscad/OpenJSCAD.org/files/1719196/boolean_bug.zip)

[2018-02-13 09:20] #345 closed

[2018-02-13 09:20] #349 closed

[2018-02-19 08:36] kaosat-dev opened #356 "Add require()/ node module support for script to CLI"
## Expected Behavior
The CLI should allow the use of require(), and normal node/npm modules

## Actual Behavior
Currently scripts run through the CLI only support the soon deprecated include() but do not allow using require(), and normal node/npm modules

## Specifications

  - Version: Any
  - Platform: Any
  - Environment: CLI

[2018-02-19 09:03] scls19fr opened #357 "Browser use most of system ressources when rendering a script with rotate() method and an array of angles"
## Expected Behavior

Render correctly without crashing

## Actual Behavior

Browser uses most of system ressources and seems to crash

## Steps to Reproduce the Problem

I'm new to programmatic CAD (OpenSCAD, OpenJSCAD, ImplicitCAD...).
I was trying to convert manually OpenSCAD code from https://www.thingiverse.com/thing:155001 to OpenJSCAD and
I put following code on https://openjscad.org

[code

[2018-02-20 15:24] feiteira opened #358 "Hull primitive raises "Uncaught Error" when 3D primitives are provided."
## Expected Behavior
I'm trying to convert some code from OpenSCAD to JSCAD.
By mistake I used Hull with 3D primitives, which I now understand is unsuported.
A error message should e.g. "3D primitive while expecting 2D primitive"

## Actual Behavior
When using the "hull" primitive I get an "Uncaucht Error" message.
_Uncaught Error: Notification must be created with string message: [object Object]_

[2018-02-21 07:20] z3dev commented on #357
@scls19fr Thanks for the information.

The issue is caused by the obj.rotate([0,0,-45]
That version of the rotate() function does not accept an array of angles. Please use obj.rotateZ(-45)

FYI, we are working a new version of the API which resolves the differences in the function names, parameters, etc. But that probably won't be available for a few more releases.

[2018-02-21 19:08] borrillis opened #359 "difference with an array of 3d objects causes error"
## Expected Behavior
no errors

## Actual Behavior
TypeError: a[i].setColor is not a function

## Steps to Reproduce the Problem

  1. open OpenJSCAD.org in borwser
  2. copy in the following code:
function main() {
   var cubes = new Array();
   for(i=0; i<20; i++) {
      cubes[i] = rotate([0,i/20*360,0],
         translate([i,0,0],
         rotate([0,i/20*90,i/20*90,0],
         cube({size:[1,1

[2018-02-21 20:42] z3dev commented on #359
@borrillis Thanks. I’ll check this out.

I’d like to ask one thing. Are you sure that the final set of objects is complete, i.e. there are no null or undefined objects?

[2018-02-22 08:49] feiteira commented on #358
I'm withdrawing this issue.
Using the webpage on OpenJSCAD.org I can see that this shows the proper message:
"Error: ERROR: hull() accepts only 2D forms / CAG"

[2018-02-22 08:49] #358 closed

[2018-02-22 14:04] borrillis commented on #359
I'm fairly certain.

If I Union the cubes array first, everything works fine, it seems that it's only failing if an array of CSG objects is passed in.

Also if I limit the array to 2 elements and hardcode each element into the difference() it works. e.g. difference(cube({size:[30,30,0.1],center:true}), holes[0], holes[1]).

[2018-02-23 04:09] z3dev commented on #358
@feiteira thanks for posting back.

Hopefully, we will have 3D hull in the near future.

[2018-02-24 05:27] z3dev commented on #359
@borrillis Very interesting indeed...

difference() allows two different styles...
- list of arguments, where each is a single object, e.g. difference(obj1,obj2,obj3,obj4,...)
- an array of objects, e.g. difference(**[obj1,obj2,obj3,obj4,...]**)

BUT doesn't handle a combination of single objects and arrays, i.e. difference(obj1,[obj2,obj3,obj4],obj5,...)

That's the issue here. The arguements are

[2018-02-24 09:12] z3dev opened #556 "DXF : Binary Reader"
The DXF deserializer should be able to read binary versions of the specification.

[2018-02-25 23:44] knickers commented on #167
It seems that `gProcessor` is not available as a variable inside my script, and I can't seem to find how to call the `setCameraOptions` function. Is there anyone who could explain this?

[2018-03-09 08:24] #356 closed

[2018-03-12 09:27] kaosat-dev commented on #245
A bit of update on this front :
- modules are now supported in the CLI ( #360 )
- I am currently working on adding support for modules in the web UI as well (if used in 100% web mode it will be very limited, but when used with drag & drop of folders, it will be 100% compatible with node modules)

[2018-03-12 11:54] udif commented on #245
Any feature that allows either of the 2 options below is welcomed!
- specifying more than one JS file in a URL (one file contains the main() function, other are helper libraries)
- specifying one file in the URL, but that file can require() from other files in the same location

This would finally allow giving out URLs of objects you have made that uses lower level libraries, without requiring you

[2018-03-12 12:27] kaosat-dev commented on #245
@udif while I can understand the appeal of those options, I am honestly not sure if they are feasible at all without major hassles: (as always, contributions are very welcome !)
- for the first option :  how would you pass more than one file, do you have an example ?
- given the security restrictions, while that would be a nice option, I am not sure it could work (CORS & co).

If you see solutions

[2018-03-12 13:36] gfwilliams commented on #245
I do this kind of thing in the [Espruino IDE](https://www.espruino.com/ide/) - you can just do `var baz = require("http://foo.bar/baz.js")` if you want to (I know that's not very spec compliant, but it's really helpful).

CORS can bite you, but 99% of the time people are linking to GitHub, and in that case we detect the URL and just use GitHub's API to access the file directly.

[2018-03-12 13:41] udif commented on #245
Before I start, let me just state that I have *zero* experience as a web frontend/backend designer. I merely use Openjscad and pure Javascript to create 3D objects.

@kaosat-dev regarding your points:
1. We already have a syntax for passing a URL, what is the exact problem with extending this syntax for multiple URLs?
2. Regrading the security issue: I am not a security expert, but I understand th

[2018-03-12 13:45] udif commented on #245
I think I just answered myself:
It seems that www.openjscad.org is not merely a static web page but an actual server that can load these pages? My forked github.io copy of openjscad fails to load URIs :-(

[2018-03-12 22:46] z3dev commented on #245
Correct. There’s a small sever piece that happens behind the scene.

With the require() approach, this piece (and CORS) is not required.

[2018-03-13 07:30] kaosat-dev commented on #245
@gfwilliams that is very interesting ! I took a look at the relevant Espruino docs , it is a nice solution ! :)
Having specific adaptors (with API fallback) to 'popular websites'  is very nice !
One thing I would very likely do differently for jscad though: not overriding require() , so it does not hide sync/async differences (that is a horrible part of the older jscad code for example).

Since dy

[2018-03-13 07:36] kaosat-dev commented on #245
@udif it is a bit more complicated then that , sadly
- the code for the things you mention actually needs to be written and work in a coherent manner:)
- with multiple urls which is the main file, which is something else ? (it can be determined based on the functions inside the files but can be tricky)
- as you found out & as @z3dev said, there is a small but essential server side component that a

[2018-03-13 08:50] gfwilliams commented on #245
In Espruino, for `require` we scan over the code first, pick out instances of `require` with a string and then load the modules in beforehand. It works in our case but it'd be far from ideal for you.

`mockImport` sounds like a great idea - at that point it's then basically just a function that you add into the library of functions that OpenJSCAD provides? Seems quite tidy - and I think it's fair

[2018-03-13 10:28] z3dev commented on #245
Seems to me that include() and mockImport() are the same, unless you can point out something significantly different. Trying to provide some that looks like import() proposal... and let’s see...
- dependency loading
- asynchronous and synchronous loading
- remote and local URL

Umm... nothing there is easy.

[2018-03-13 12:26] kaosat-dev commented on #245
@gfwilliams thanks for the insights! pre-emptive loading works but can get a headache :) and adds complexity
And you are spot on with `mockImport` ! Small utility function, limited scope, syntax should follow https://github.com/tc39/proposal-dynamic-import as much as possible I think (still EAGERLY awaiting the day where we do not have to reinvent the wheel...).
Not sure if we should limit to web

[2018-03-14 00:48] z3dev commented on #245
Cool! A little progress anyway.

CSG.js.... working on that little by little.

[2018-03-17 19:06] knickers opened #362 "Error generating SVG file"
## Expected Behavior
Generate SVG file for download.

## Actual Behavior
[code]

## Steps to Reproduce the Problem
  1. Open opensjcad.org in browser
  2. Load example `SVG Image: Baby Panda`
  3. Choose `SVG` download format
  4. Click `Generate SVG` button

## Specifications

  - Version: 1.8.0
  - Platform: Web
  - Environment: Google Chrome Version 64.0.3282.186

[2018-03-17 19:09] knickers commented on #362
I just discovered the website won't even run in Firefox. There is a JS error:
[code]
Looks like that is in : https://github.com/jscad/OpenJSCAD.org/blob/master/packages/core/io/prepareOutput.js#L12.

[2018-03-19 22:34] kristianbenoit opened #363 "CLI cannot open OpenSCAD files"
## Expected Behavior
**Try** to open the SCAD file.

## Actual Behavior
OpenJSCAD report an error that the file is an invalid JSCAD file while it's an SCAD, I suppose it does not even try to load it as an SCAD file. Here's the error I get:
[code]

## Steps to Reproduce the Problem

  1. Create a symlink to `cli/cli.js` named `openjscad` and a variable named SCAD_FILE pointing to an SCAD file. ...

[2018-03-20 06:30] udif commented on #285
Will this help?
https://gist.github.com/jesperorb/6ca596217c8dfba237744966c2b5ab1e
They mention 2 services for proxying accesses (doing CORS for you):

[2018-03-30 19:07] cogito-clarus opened #364 "Enhancement: provide ability to set global (world) background color of drawing workspace"
Most CAD systems have black as the drawing workspace background color to reduce eye strain and physical exhaustion from staring for hours at a rendered model - user should have a choice as to workspace background color.  If it's already a set-able system property somewhere, I can't find it, so it should at least be documented.

[2018-04-02 15:39] kaosat-dev commented on #362
@knickers , could you please try the latest version ? The svg Issue should now be fixed.
Not sure about the Firefox issue, a few other users & I seem to have no issues at all

[2018-04-05 03:06] z3dev opened #366 "Documentation Links"
## Expected Behavior

All documentation links are up to date and correct.

## Actual Behavior

As pointed out to me by a friend who had excitedly discovered that OpenJSCAD.org was upgraded to 1.8.1, but when he clicked on the Recent Updates link under the User Guides / documentation Link ended up on https://plus.google.com/+OpenJSCADorg which seems to be very out of date and describes 1.0.1 as the

[2018-04-06 09:43] lautr3k opened #367 "sphere with cutouts exemple wait indefinitely"
## Expected Behavior
See the result of the example

## Actual Behavior
Wait indefinitely

## Steps to Reproduce the Problem

  1. Open https://openjscad.org/
  2. Load the sphere with cutouts exemple from the left panel

## Specifications

  - Version: Online
  - Platform: Win 10 - 64
  - Environment: Chrome 65.0.3325.181

[2018-04-07 06:12] z3dev commented on #367
@lautr3k Thanks

Certainly looks like a regression. We will take a look as see if this can be fixed quickly.

[2018-04-07 07:15] #366 closed

[2018-04-09 18:56] onebeartoe opened #370 "Valid OpenSCAD Code Does not Render"
## Expected Behavior
Valid OpenScad code is rendered.

## Actual Behavior
The message 'SyntaxError: Unexpected identifier' appears instead of the model.

## Steps to Reproduce the Problem

  1. Using the Web browser, load OpenSCAD that is attached.
[inlined-water-filter.scad.txt](https://github.com/jscad/OpenJSCAD.org/files/1891344/inlined-water-filter.scad.txt)

  2.
  3.

## Specifications

  -

[2018-04-17 06:46] usama-ayub opened #371 "convert svg/png/canvas to dxf"
Hi,

how to convert svg/png/canvas to dxf using this library and JavaScript.
it's urgent
thanks.

[2018-04-17 08:41] z3dev commented on #371
Try it. Just go to www.openjscad.org
Drag and drop the file to the webpage
Select DXF export, and Dowload

[2018-04-17 10:19] yanwencheng opened #372 "Import DXF error"
Importing DXF format files is not rendered and reported wrong.

JS with random code

function main() {
  let layers = []
  return layers.concat(layer0(),layerDIM(),layerTABLE(),layer4(),layerÏßÉ«(),layer½Ó²å¼þ(),layer½Ó²å¼þB(),layer½Ó²å¼þÐÍºÅ(),layerTEXT(),layerÎÄ×Ö(),layerÏßÊø(),layerCAXA0(),layerCAXA3(),[])
}

[2018-04-17 10:52] z3dev commented on #372
I would guess that the DXF file is using another “locale” other that English. If you can provide the DXF file then some fixes may be possible.

[2018-04-18 00:06] yanwencheng commented on #372
@z3dev  Attachments cannot be uploaded because of unknown errors 。CAD contains Chinese characters

[2018-04-18 01:50] z3dev commented on #372
Please rename the file to .txt
Then you can upload.

[2018-04-18 07:36] yanwencheng commented on #372
@z3dev
[123456.dxf.txt](https://github.com/jscad/OpenJSCAD.org/files/1922875/123456.dxf.txt)
[Drawing1.dxf.txt](https://github.com/jscad/OpenJSCAD.org/files/1922876/Drawing1.dxf.txt)

[2018-04-19 06:57] kaosat-dev commented on #364
Hi @cogito-clarus do you mean something like  this ? ![this](https://github.com/jscad/jscad-desktop/raw/master/docs/jscad-desktop-dark.jpg)
In which case, it is already available in the desktop version, and coming soon to the web based version

[2018-04-19 08:22] kaosat-dev opened #374 "Integrate desktop version into this repository to have all 'flavors' in the same place"
## Expected Behavior
find all variations / flavors of Jscad in the same place

## Actual Behavior
lot of repos

[2018-04-19 13:54] cogito-clarus commented on #364
Thank you - You brought a smile to my face this morning, that is awesome! That is exactly what I was talking about.  Normally I wouldn't ask, I'd contribute, but JS/ES/TS is not my strong suit in languages.

[2018-04-20 09:04] #374 closed

[2018-04-20 11:13] kaosat-dev opened #378 "Overhaul web version"
the desktop app has more and more features (keybindings, updated 3d viewer, settable options , clear seperation of side effects from the main logic etc) and the web version is lagging behind: time to update it, and to unify as much code as possible, putting a lot of common codebase into the 'core' package for re-use

[2018-04-20 12:32] z3dev commented on #378
Ok, but let’s make sure we cover all expected browsers, and operating systems.

[2018-04-21 08:02] probonopd opened #379 "[Feature idea] Make it output Tinkercad Shape Generator data"
SCAD (and OpenJSCAD) are great for coding parametrized models, and Tinkercad is great for making one-off changes quickly and interactively. Right now it is possible to import STL models into Tinkercad, e.g., those generated by OpenSCAD.

However, Tinkercad also offers users to script their own Shape Generators in JavaScript. Compared to the relatively simple SCAD language, I find the Tinkercad Sha

[2018-04-21 09:02] z3dev commented on #379
Cool idea. I was actually looking at that a long time ago.
If only Tinkercad was open source then we could peek in to see the hierarchy... but we all know that’s impossible now that Autocad owns it.

[2018-04-24 19:29] onebeartoe commented on #370
Is there anything I can do to help with this issue?

[2018-04-25 07:12] kaosat-dev commented on #370
@onebeartoe Sorry for the lack of reply :
* sadly our **openscad** to **openjscad** [translator](https://github.com/jscad/openscad-openjscad-translator) is quite outdated so it does not support a lot of features added to openscad in the past few years
* in the next few months we will be making some breaking changes to our own API, so we had hoped to re-visit the translator then because we do not h

[2018-04-28 16:43] onebeartoe commented on #370
Hi  Mark.  Thanks for the invite to contribute, but in this case I have to hang tight and be patient.  Keep up the great work man!

[2018-05-01 01:13] z3dev commented on #372
@yanwencheng Thanks for the example files.

It looks like both files contain 2D designs with many **line segments**. The support for 2D line segments is not very good at this time. You will not be able to view these files. Probably, you will see 'Error: wrong arguments'

By the way, what application are you using to create the designs?

[2018-05-07 16:47] nbrookins commented on #226
I'd be interested in helping here if possible, or at least getting my hands on what you've done so far.  I'm rewriting a big project (finger prosthetic) to openjscad and lack of hull has become a blocker.

[2018-05-07 17:09] jallwine commented on #226
It's been a while since I looked at where OpenJSCAD development is. It shouldn't be too difficult to integrate what I've done, but I haven't had a chance to look into all the changes that have been made since I forked the project, so I haven't done it myself. The info above should get you going, and my fork is there for you to look at and test. It would be a huge help if you could get that quickhu

[2018-05-07 21:39] z3dev commented on #226
With V2, the API will move to a functional approach, so please refrain from adding functions to CSG prototypes. Thanks for the help.

[2018-05-13 13:42] hedefalk opened #385 "jscad desktop - infinite loop issues with require"
As discussed on https://plus.google.com/116532201566282200688/posts/djurtJxUb4j

Here is my repo where the issue occurs. (the repo is just work in progress porting an openscad thing)
https://gitlab.com/hedefalk/eurorack-jscad/edit

Drag the _links_ folder into the desktop app.

Depending on if I use this line or the one following the error is toggled on/off:
https://gitlab.com/hedefalk/eurorack-js

[2018-05-13 20:06] kaosat-dev commented on #385
Hi again @hedefalk !
Thanks for the bug report, I will take a look at what is going on.

[2018-05-13 20:25] kaosat-dev commented on #385
Ok found the answer :)
your `mountSurfaceHeight2` has a value of `nan`since it is computed based on a `railHeight` from constants , but you do not export it :)

[2018-05-13 20:27] kaosat-dev commented on #385
hmm there seems to be something else too

[2018-05-13 20:32] kaosat-dev commented on #385
so the infinite loop error is when you pass a `NaN` value to translate()
This will be fixed in the V2.0 of the API (which will be quite different).
Also thanks for the bug report this made me realise:
* dev console needs to be toggle able to inspect values of variables (I had to throw errors with the values to be able to see them)
* there are too many useless dependencies in the `vtree` module (vt

[2018-05-13 21:03] hedefalk commented on #385
Awesome thanks! Silly me, need to turn on some linting I guess, I thought I had :)

Yeah, dev console would be awesome!

I'll close this one, thanks a lot for looking into it!

[2018-05-13 21:03] #385 closed

[2018-05-13 21:10] kaosat-dev commented on #385
no problem @hedefalk glad I could help ! :)

[2018-05-14 22:02] hedefalk opened #386 "Desktop feature request - keep viewport on reloaded design"
This is a feature request for the Electron desktop app. Ping @kaosat-dev. Dunno if this is an ok way to feature request, but I figured the desktop repo was deprecated in benefit for this one so…

The thing I'm asking for seem to be on the roadmap, but I couldn't find any written roadmap document so I figured I'd just report as a feature request to say "hey, I'd really pretty please want this" :)

[2018-05-16 10:33] gnbl opened #387 "Allow resizing of editFrame by dragging editHandle"
`editFrame` (https://github.com/jscad/OpenJSCAD.org/blob/master/packages/web/index.html#L124) seems to get set to `"width: 40%"` but I'd rather have it resizable by dragging `editHandle`.

However, it can easily be manipulated using a little JavaScript via the Browser's console, e.g. `document.getElementById("editFrame").style.width="33%";` or via address bar / bookmarklet as `javascript:(function

[2018-06-20 13:38] onekk opened #388 "desktop application have some visualisation problem"
## Expected Behavior
When you set some parameters, the choices has to be displayed.

## Actual Behavior
The choices aren't displayed at least on Firefox 52.8.1 running on Devuan Linux (Ascii) 64 bit

## Specifications

  - Version: Latest 0.6.1
  - Platform: Devuan Linux (Ascii) 64 bit
  - Environment:  Firefox 52.8.1

Please feel free to ask more about the environment

[2018-06-20 13:41] onekk opened #389 "desktop application don't show meaningful error reports"
## Expected Behavior
The desktop application has to show some meaningful report, maybe via some windows listing all the error, like in the CLI version.

## Actual Behavior

more error falback to a generic in lIne or to some internal stuff like some error in the "rendering"  engine (I guess some CSG internal error)

## Specifications

  - Version: 0.6.1
  - Platform: Devuan Linux 2.0 Ascii  (Debian

[2018-06-26 23:00] z3dev commented on #323
Hmm... try contributing...

[2018-06-26 23:03] aleksey-bykov commented on #323
i am in the middle of porting csg.js part to typescript for my personal needs, will let you know as soon as i am done

[2018-06-26 23:12] aleksey-bykov commented on #323
besides, typescript was developed with guys like you in mind, it offers a very gradual approach to better code
namely any vanilla javascript is a valid yet very loose typescript, so you can open your very current version in typescript and start working towards stricter (which is better) version by adding type annotations one piece at a time, all you need is to add `tsconfig.json` that has `{}` in

[2018-06-26 23:14] aleksey-bykov commented on #323
- https://github.com/Microsoft/TypeScript/wiki/JSDoc-support-in-JavaScript

[2018-06-27 03:43] z3dev commented on #323
Thanks. We would appreciate the efforts.

I think that @kaosat-dev will agree that any support for typescript should be added to the V2 branches.

As you see by this conversation, V2 is the goal over the next few months. We would probably reject changes to V1 at this stage. Lots of things are progressing, and your changes could help immensely

I think there’s interest by others as well.

[2018-06-27 06:06] kaosat-dev commented on #323
@aleksey-bykov I will make it short
- your tone is totally out of line
- if you had bothered to take the time instead of insulting us, you would see radical refactorings going on in all the repos
- we are working on jscad as a side project, not paid for it
- you have not contributed a single line of code to the project
- I very clearly expressed my views on Typescript before and I'll say it again:

[2018-07-02 09:10] KOLANICH opened #390 "Doesn't work with webgl.min_capability_mode enabled"
## Steps to Reproduce the Problem

  0. obtain Firefox
  1. go to about:config
  2. set `webgl.min_capability_mode` to `true`
  3. Open OpenJSCAD

More info:
* https://developer.mozilla.org/docs/Web/API/WebGL_API/WebGL_best_practices
* https://developer.mozilla.org/docs/Web/API/WebGL_API

[2018-07-02 09:35] KOLANICH opened #391 "Use ECMAScript modules instead of the current system."
ECMAScript modules have landed to releases of most of browsers. I guess it's time to drop support of old browsers (in fact they support ECMAScript modules, but the support is under a pref disabled by default) and use modules instead of the currently used dirty approach.

[2018-07-02 09:45] KOLANICH opened #392 "OpenSCAD translator doesn't support d in cylinder"
## Steps to Reproduce the Problem

[code]

## Expected Behavior
should work

## Actual Behavior
`d` is ignored

OpenJSCAD seems to have support of `d`

[2018-07-02 12:21] kaosat-dev commented on #392
hi @KOLANICH ! thanks for the bug report, sadly I can only re-iterate what has been said in #370 : ie the OpenSCAD => Openjscad translator is outdated , and for now not in our priorities until the next major release of JSCAD: you are more than welcome to fix that if you have the time/ capability :)

[2018-07-02 12:50] z3dev commented on #390
Great tips! Thanks.

Sadly, we are still using LightGL for the hooks into WebGL. This will change in the near future, and hopefully all those errors will disappear... of reappear as something else... :)

[2018-07-02 13:09] KOLANICH commented on #392
I don't understand how can it be outdated when implemented right. Why doesn't it just blindly translate OpenSCAD to OpenJSCAD?

[2018-07-02 13:18] z3dev commented on #392
LISP != JavaScript

Basically, a translation layer is require.

[2018-07-02 14:32] aleksey-bykov commented on #392
typescript allows to compile to a certain version of javascript and a certain module system using just `--target` and `--module` arguments to the command line interface (or same parameters defined in `tsconfig.json`)

same code in typescript
[code]

will compile to the following javascript depending on the `--target` and `--module` arguments

[code]

or

[code]

or
[code]

[2018-07-02 14:32] aleksey-bykov commented on #391
typescript allows to compile to a certain version of javascript and a certain module system using just `--target` and `--module` arguments to the command line interface (or same parameters defined in `tsconfig.json`)

same code in typescript
[code]

will compile to the following javascript depending on the `--target` and `--module` arguments

[code]

or

[code]

or
[code]

[2018-07-02 14:35] kaosat-dev commented on #392
@KOLANICH
Openjscad and Openscad are totally different pieces of software , with different implementations and capabilities,  based on different languages it is not as trivial as it might seem, but as always , everybody is welcome to contribute

@aleksey-bykov : I do not see the relevance of typescript in this type of conversion

[2018-07-02 14:42] aleksey-bykov commented on #392
then what is the point of 100% mimicking interfaces of OpenSCAD if these are 2 completely different systems?

[2018-07-02 14:42] kaosat-dev commented on #391
@aleksey-bykov how is it relevant please ?

[2018-07-02 14:46] kaosat-dev commented on #391
I would really appreciate If you could try to understand the problem at hand instead of trying to evangelise for typescript to be honest :)
how to load modular user created code is not related to / specific to Typescript

[2018-07-02 14:50] aleksey-bykov commented on #391
typescript solves whatever problem you have with the modules, and you do have problems, namely your code is written for commonjs module loader for node.js, it doesn't take advantage of the new es module system, neither would it work with AMD module loader in browsers (without repacking it with webpack or something)

[2018-07-02 15:05] kaosat-dev commented on #391
@aleksey-bykov  do you even understand the difference between the code that we write and the userspace code ? different needs, different issues

[2018-07-02 19:59] KOLANICH commented on #392
If you wanna separate OpenJSCAD API from OpenSCAD one, I guess there should be an intermediate layer: JavaScript API mimicking OpenSCAD API perfectly, to keep the transpiler as simple and as stable as possible.

[2018-07-02 20:08] KOLANICH commented on #391
I mean no include, no require, but ES import and export.

I'm not familiar with the code, I just opened the file and saw there the code generated by bundlers and some hardcoded paths, it may be hard to debug and develop this code.

I guess this should depend not on full support but on support of the subset you actually use.

Does even creation of a script tag not work?

[2018-07-02 23:00] z3dev commented on #391
Well, well... looks like we may have to review this soon. I picked this up from a technical blog.

ESM support is slated to land, unflagged, in Node v10 anytime between October 2018 and April 2020.

[2018-07-03 12:16] kaosat-dev commented on #392
@KOLANICH we honestly do not have the intention,  time or resources to maintain multiple APIs, (single api, easier for all :) )  the scad=>jscad converter should deal with the differences, since we are re-writing pretty much every aspect of jscad, a lot of things are currently in flux, but that will quiet down once we have V2.0 out, then we can deal with updating the converter

[2018-07-20 22:05] #371 closed

[2018-07-28 20:18] nbrookins commented on #226
@z3dev , what is your suggestion on where to start and how to approach integrating this (3d hull)?  I know javascript and functional methodology but haven't yet looked much at this codebase.  A quick pointer could go a long way.  Thanks!

[2018-07-28 20:32] kaosat-dev commented on #226
@nbrookins the premises (still VERY early wip ) of V2 can be found here
https://github.com/jscad/csg.js/tree/V2
to get a better grasp of what we are shooting for you can take a look  for example  at
- https://github.com/jscad/csg.js/tree/V2/src/core/math/vec3 (or vec2 , mat4)
- https://github.com/jscad/csg.js/tree/V2/src/core/geometry/shape2 etc
- https://github.com/jscad/csg.js/blob/V2/BREAKING-C

[2018-08-09 17:46] deckar01 commented on #271
Although I am using Chrome on a Mac, I prefer opening the browser's file dialog. Would the fix for this be to remove the drag/drop functionality check and always show the button?

[2018-08-09 20:09] kaosat-dev commented on #271
@deckar01 the main problem is, it is a lot less trivial and more constrained than drag & drop:
I just added the file dialog in addition to drag & drop (both always on) for the upcoming V2 version, and the file dialog is seriously horrid:
- you can either set the file button to load files OR folders not both (I do not even know how to work around that one)
- you cannot re-read the contents of a fil

[2018-08-09 21:04] deckar01 commented on #271
I did not realize how powerful the drag and drop API was. I didn't see any documentation about dropped files syncing or how multiple jscad files are supposed to be structured. I understand the desire to hide the button since it might seem like the primary UX and lead users away from those nicer features.

Explaining these features in the documentation might help "sell" users on the slightly more i

[2018-08-09 22:31] z3dev commented on #271
@deckar01 thanks for the good discussion thread.

FYI, you (as a member of GitHub) can login and update the documentation. :)

[2018-08-11 00:31] z3dev commented on #271
:) Login with other Services has a button for GitHub. Please try. We would appreciate an updates to the documentation.

[2018-08-11 02:34] deckar01 commented on #271
That was the message I get when I tried to use the "Login with other Services" "GitHub" button. Sorry for not being specific. Happy to help once I get registered. I couldn't find a "DokuWiki administrator" point of contact, so I came back here, sorry to hijack the thread.

[2018-08-11 04:17] z3dev commented on #271
I just tried with Chrome, and entered user name and password. No issues.

Try this then... Login into GitHub. Follow the link to the User Guide again. Click on Log in. Click on black GitHub button. You should be logged in now.

[2018-08-11 04:42] deckar01 commented on #271
I followed those steps on a different device/browser/connection and got the same error message I originally posted. Is there contact info for the wiki admin I am missing?

[2018-08-11 06:12] kaosat-dev commented on #271
@hurzl you can also simple create a PR here and add the information to the docs :) (less hassle, universal ;) )

[2018-08-11 08:53] z3dev commented on #271
Hmmm... I will try with a new GitHub account.

(I’m the administrator.)

[2018-08-12 05:47] BGEray opened #395 "OpenJSCAD cli error when converting DXF"
## Expected Behavior
convert dxf to svg

## Actual Behavior
an error occured, convert failed.

## Steps to Reproduce the Problem

  1.npm install -g @jscad/cli
  2.openjscad newCAD.dxf -of svg
Error message is:
converting newCAD.dxf -> newCAD.svg (Scalable Vector Graphics Format)
TypeError: cag._toCSGWall is not a function
    at /usr/local/lib/node_modules/@jscad/cli/node_modules/@jscad/csg/src/c

[2018-08-13 06:53] BGEray commented on #395
Hi, @z3dev ,supply a file name cause the same error:
openjscad newCAD.dxf -of svg -o test.svg
converting newCAD.dxf -> test.svg (Scalable Vector Graphics Format)
TypeError: cag._toCSGWall is not a function
    at /usr/local/lib/node_modules/@jscad/cli/node_modules/@jscad/csg/src/core/CAG.js:43:26
    at Array.map (<anonymous>)
    at CAG.union (/usr/local/lib/node_modules/@jscad/cli/node_modules/@

[2018-08-30 20:40] profOnno opened #396 "Promises in jscad file"
Can we have promises in jscad code?

I've added it to my version of @jscad/core. I'm working on a [opentype.js](https://github.com/nodebox/opentype.js/) wrapper to make 3D text. I would be nice to fetch a font async.

Screenshot:
![screenshot of openjscad truetype font](https://raw.githubusercontent.com/profOnno/profOnno.github.io/master/ttf.png)
Screenshot, now in my hacky version, of csg-viewer:

[2018-08-30 23:14] z3dev commented on #396
@profOnno Wow! This is awesome! Thanks!
The support for fonts/text is one of the last missing pieces of JSCAD. This will be very welcomed.

FYI, @lautr3k added support for single-line fonts in the CSG library. See PR #107
I think he may have a few comments and suggestions for this work.

[2018-08-30 23:17] z3dev commented on #396
Promises versus Webworkers... the short answer is that data structures cannot be shared between threads (workers) in browsers. @kaosat-dev has already hit this everal times in the new UI, and there’s not much hope of an answer.

The desktop application does not have restrictions on the use of threads, promises, libraries, etc.

This is just the start of a long thread. 😃

[2018-08-31 09:19] profOnno commented on #72
I'm working on a opentype.js wrapper. I've got a prototype working, but for now it needs jscad to accept the main function to return a Promise. That requires rebuildSolids and jscad-worker to change a bit. See Promises in jscad: #396.

The key part is to use absolute URLs when using XMLHttpRequests. The opentype.js lib has an load function but this didn't work in the worker (still have to investig

[2018-08-31 13:02] profOnno commented on #396
I'm not really sharing data structures. MDN has a nice page on that [here](https://developer.mozilla.org/en-US/docs/Web/API/Web_Workers_API/Using_web_workers), search for transferable objects. This 'transferable objects' looks like future technology. I'm keeping my data contained in the worker, and post the resulting CSS/CAG (same way as it works now).

Is it planned to have some kind of ttf text

[2018-08-31 14:05] lautr3k commented on #396
Already done, but rejected by the team, reason? wait for v2...
https://github.com/jscad/csg.js/pull/106

[2018-08-31 16:12] profOnno commented on #396
Ai, re-inventing, nice that its already done..

If you use Promises you can however include the font you want, skipping the rest (using the params like `params.myFont`). At the moment you can't do (or am I missing something):

[code]
The rebuildSolids flow is, to parse the script, replaceIncludes, then hand it over to the Worker. Meaning there is no way to use the font as parameter...? Maybe repla

[2018-09-01 05:10] z3dev commented on #396
The transferable objects looks promising. We will have to look at the possibility of using those more.

For more advanced designs, especially those that need additional libraries, we feel that V2 is the only solution. Adding bandaids to V1 isn’t going to allow enough flexibility, and maintaining both isn’t possible.

Having said that, we want as many ideas as possible for V2. I think @kaosat-dev h

[2018-09-01 07:30] kaosat-dev commented on #396
Hi @profOnno , nice idea / prototype!
a few things to note :
- please take a look at the basis for V2 , the handling of code will change A LOT, `rebuildSolids` is not working the same way, in order to have actual  **modules** , and no more string based hacks
   * include() will not be supported any more
   * replaceIncludes() will be removed
   * a ton of other things will change
- you can see an

[2018-09-01 07:35] kaosat-dev commented on #396
@profOnno
about returning promises from main()
I have nothing against it and I see the benefits, however
it means your main could return:
- a single CSG
- an array of CSGs
- a single CAG
- an array of CAGs
-  a mix of CSGs & CAGs
- virtual geometry (ok that one will likely replace all the above soonish)
- some of the other new data structures that will be introduced in V2
- **promises** containing

[2018-09-01 07:37] kaosat-dev commented on #396
@lautr3k hey , sorry if we came off as too blunt on this ! We did not mean to diminish your insanely good work !
we are just undermanned, and we cannot realistically upgrade V1 and create V2 at the same time !
you csg.js changes have already been injected into V2 so nothing is lost !

[2018-09-03 15:33] thehans commented on #367
Looks ok to me on current chrome release:
* Win 10 64
* Version 68.0.3440.106 (Official Build) (64-bit)

[2018-09-04 08:11] lautr3k commented on #367
@kaosat-dev fixed that a long time ago but did not close the issue ?

[2018-09-04 08:43] #367 closed

[2018-09-04 08:44] z3dev commented on #367
Closing as this now seems fixed.

[2018-09-07 23:05] profOnno commented on #72
Did some more work, now most of the glyph are working, so now you can add a emoji on your `cube()`.
I have a font2jscad script, this way fonts can be included in the current version (v1) of www.openjscad.org.

![screenshot3](https://raw.githubusercontent.com/profOnno/profOnno.github.io/master/FontAndGlyph.png)

The opentype.jscad library still needs some attention and a lot of cleanup before I put

[2018-09-14 09:10] hawkerm opened #400 "Prevent Accidental Back Navigation with Backspace"
## Expected Behavior
Warn user if navigating away from page.

## Actual Behavior
Browser navigates.

## Steps to Reproduce the Problem

  1. Open a jscad file
  2. make changes
  3. manipulate the model
  4. Hit backspace

## Specifications

  - Version: 1.8.4
  - Platform: Edge
  - Environment: browser

Would be great to add navigation handlers to prevent this accidental navigation.  If you forge

[2018-09-17 10:14] zfan40 commented on #72
Any hints on adjusting font size for the original fonts consist of polylines??
I am guessing having different fonts supported isn't a rush work. well maybe adjusting font size might be easier.
Thanks a lot for the awesome library

[2018-09-17 10:39] z3dev commented on #72
@zfan40 Thanks for the interest in JSCAD. There was a new release which added enhancements to spacing, alignment, and sizes. Please see the User Guide, Text information.

Hopefully, that give you enough functionality until V2 arrives.

[2018-09-20 07:56] somebodyZw opened #401 "Which version of DXF file can I import?"
I try to import the DXF file , But I always get the wrong feedback:
![image](https://user-images.githubusercontent.com/42363949/45804010-8fc31d00-bced-11e8-98e0-395a282afa14.png)，Which version is often used?

[2018-09-20 08:04] somebodyZw commented on #401
![image](https://user-images.githubusercontent.com/42363949/45804457-bd5c9600-bcee-11e8-8890-27d123fd3339.png)
Sorry ,The picture is wrong,

[2018-09-20 08:05] somebodyZw commented on #401
My DXF file is converted through DWG file

[2018-09-20 08:40] z3dev commented on #401
@som Thanks for the information.

I tested using Autocad on macOS, latest version. So, the conversation is probably working fine.
However, there are lots of issues with 2D lines, as JSCAD doesn’t display lines today. So, the results of conversion need a little manual editing.

Are there both 2D and 3D entities in the design?

I’d be glad to try if the DXF file is available on line.

[2018-09-21 02:49] somebodyZw commented on #401
@z3dev  Here is DXF file,  When I open it with AUTOCAD, It works ,But when I import it into the web page, it will throw an exception，
[M-13283-51-PI-DGA-0001_1 - 0002_1 Piping Layout EL-0.100~EL+7.txt](https://github.com/jscad/OpenJSCAD.org/files/2403736/M-13283-51-PI-DGA-0001_1.-.0002_1.Piping.Layout.EL-0.100.EL%2B7.txt),
If circumstances permit, please help me to see what the reason is,Thanks ad

[2018-09-21 03:08] somebodyZw commented on #401
[M-13283-51-PI-DGA-0001_1 - 0002_1 Piping Layout EL-0.100~EL+7.000.zip](https://github.com/jscad/OpenJSCAD.org/files/2403761/M-13283-51-PI-DGA-0001_1.-.0002_1.Piping.Layout.EL-0.100.EL%2B7.000.zip)
I tried STL files too, but the browser always crashed.

[2018-09-21 03:14] somebodyZw commented on #401
This problem arose when I used STL files:
![image](https://user-images.githubusercontent.com/42363949/45858332-868a8c80-bd8f-11e8-8990-da9bb1960b30.png)

[2018-09-22 20:04] ccorcos opened #402 "How to use JSCAD with my own build system?"
I would like to be able to write Code with TypeScript in my own text editor and import and other helper libraries like Lodash. Is there a recommended way of using this JSCAD in this fashion? How do I visualize the 3s object? Is there a simple render method I can call on a dom node?

[2018-09-23 09:27] z3dev commented on #401
the STL file contains 306K vertices, 610K faces. that's going to max out any of the browsers as each has a limit on memory and runtime (cpu).

you'll definitely need to switch to the desktop application. but just what do you want to do? the design is large, and not very useful in JSCAD. our focus is on 3D printing, not industrial plant designs. :)

[2018-09-25 01:11] somebodyZw commented on #401
Thanks for helping, this file  is a custom model file, I want to be able to see the data while showing the model.

[2018-09-25 02:45] z3dev commented on #401
Ok. I think STL is the way forward. The current DXF import does not understand the binary ACIS entities.

Please try the STL file using the desktop application.  You need to  download and install a few things. Instructions are here...

https://github.com/jscad/OpenJSCAD.org/tree/master/packages/desktop

[2018-10-01 10:19] ykomatsu opened #403 "Include TypeScript Declaration Files"
## Expected Behavior

OpenJSCAD.org includes updated TypeScript Declaration Files.

VS Code IntelliSence for **JavaScript** uses **TypeScript** Declation Files.

https://code.visualstudio.com/docs/languages/javascript#_intellisense

DefinetelyTyped has TypeScript Declaration Files for OpenJSCAD.org, but they look a bit old.

https://github.com/DefinitelyTyped/DefinitelyTyped/tree/master/types/open

[2018-10-01 21:11] z3dev commented on #403
@ykomatsu thanks for the information.

TypeScript support is not planned for OpenJSCAD, so those definitions at DefinitelyTyped were created by someone else. Maybe you can find the original author via the user group.

[2018-10-01 21:16] danmarshall commented on #403
Hi @ykomatsu, I wrote the original typings. Since JSCAD is under active development, I have an interim set of typings on https://github.com/danmarshall/jscad-typings . It depends on which modules you are using. Here's how these are used in Maker.js: https://github.com/Microsoft/maker.js/blob/master/packages/maker.js/tsconfig.json#L7
Let me know if I can provide more info.

[2018-10-02 03:05] z3dev commented on #403
@danmarshall Thanks again!

[2018-10-02 05:57] ykomatsu commented on #403
@z3dev @danmarshall Thank you!

I just want to write `*.jscad` files with VS Code IntelliSense.
Probably, I need TypeScript Declaration Files of https://github.com/jscad/csg.js.

I wonder if I can convert JavaScript files to TypeScript Declaration Files, like JSDoc:

https://github.com/jscad/csg.js/blob/master/docs/api.md

[2018-10-02 07:52] z3dev commented on #403
A few of the hard core TypeScript users are looking at this, but we don’t have the band width to work on TypeScript. Hopefully, future JavaScript standards will bring the things closer. Until then, please feel free to chat on this thread.

@danmarshall May have a few more tips for you.

[2018-10-03 08:38] kaosat-dev commented on #403
@danmarshall yes, it is jsdoc generated, but I sadly discovered recently that is not 100% complete (blame it on the remaining mess of V1) , it will be 100% accurate once V2 is done (the actual api / what is exported will be much clearer & cleaner)

[2018-10-15 20:50] gabrielgrant opened #404 "V1 : rectangularExtrude()'s "roundEnds" boolean parameter seems to be ignored"
## Expected Behavior

The shape produced by the following code should be an "L" shape, with flat ends, and a sharp corner
[code]

## Actual Behavior

The ends are rounded:

![screenshot from 2018-10-15 13 48 14](https://user-images.githubusercontent.com/493968/46977410-fdf6c780-d080-11e8-8bbb-36da99ebb5e5.png)

Identical to when the `roundedEnds` parameter is `true`:

![screenshot from 2018-10-15

[2018-10-15 20:56] gabrielgrant commented on #404
As a work-around, I tried reducing the number of end points, but that doesn't work either -- setting it to `1`, results in a single point (which makes sense):

![screenshot from 2018-10-15 13 56 23](https://user-images.githubusercontent.com/493968/46977884-2af7aa00-d082-11e8-9b89-8fdd7b1f9470.png)

However setting it to `0` results in it using three points:

![screenshot from 2018-10-15 13 56 10](

[2018-10-22 02:25] delhanty opened #405 "`npm run start-dev` fails with `error missing script: start-dev`. Please update `README.md`."
## Expected Behavior
`npm  run start-dev` should not fail because

[README.md#adding-new-features-in-csgjs-or-other-modules](https://github.com/jscad/OpenJSCAD.org/blob/master/README.md#adding-new-features-in-csgjs-or-other-modules)

states

## Actual Behavior

Fails with `error missing script: start-dev`.

See attached [2018-10-21T05_05_00_264Z-debug.log](https://github.com/jscad/OpenJSCAD.org/fi

[2018-10-22 03:03] delhanty opened #406 "`npm run start-dev` fails with `error missing script: start-dev`. Please update `README.md`."
## Expected Behavior
`npm  run start-dev` should not fail because

[README.md#adding-new-features-in-csgjs-or-other-modules](https://github.com/jscad/OpenJSCAD.org/blob/master/README.md#adding-new-features-in-csgjs-or-other-modules)

states

## Actual Behavior

Fails with `error missing script: start-dev`.

See attached [2018-10-21T05_05_00_264Z-debug.log](https://github.com/jscad/OpenJSCAD.org/fi

[2018-10-22 10:46] #406 closed

[2018-10-22 10:53] delhanty commented on #406
I submitted as an accidental dupe of #405, because I was confused by the inconsistent state of GitHub during the [October 21 incident](https://blog.github.com/2018-10-21-october21-incident-report/).

So I am closing #406.  Please refer to #404.

[2018-10-31 22:19] rallant92 opened #407 "V1 : cylinder({r: 5, round: true}) ignores r"
## Expected Behavior

Using the round parameter should not affect the radius of a cylinder

## Actual Behavior

Using the round parameter appears to ignore the radius passed as a parameter to a cylinder.  The radius used seems to be 1, which happens to be the default.

## Steps to Reproduce the Problem

  1. Use this code with two identical cylinders and notice the difference

function main () {

[2018-11-11 13:45] johnwebbcole opened #408 "Odd subtract behavior in 1.9.0"
Here's an odd one... subtracting a torus from another object and I'm not getting a clean subtraction.  One side does work, but the other side doesn't.  Are there older versions still available for testing regressions up?

## Expected Behavior
Clean subtraction

<img width="1019" alt="image" src="https://user-images.githubusercontent.com/230922/48313673-5daf9800-e585-11e8-82f5-161942e0d56a.png">

#

[2018-11-11 18:56] kaosat-dev commented on #408
hi @johnwebbcole, long time no see!
 I will try to reproduce & investigate this week, in the meantime you all releases are tagged and can be found here https://github.com/jscad/OpenJSCAD.org/releases

[2018-11-11 21:12] johnwebbcole commented on #408
Thanks, I tried 1.6.0, 1.7.0, and 1.8.4 all have the same issue :-(

I suspect that the union between the wire and wire end may be having issues.  https://gitlab.com/johnwebbcole/shower-spacer/blob/master/dist/shower-spacer.jscad#L88

[2018-11-30 16:20] beamplayer opened #409 "Tool for converting 2d sketch to xyz coordinates"
Hi,
I was wondering whether you guys don't have some tool for converting a 2d sketch (corner points of objects) to xyz coordinates (=vectors) so that you don't need to calculate this yourself ?
See https://github.com/opencv/opencv/issues/8762
https://www.researchgate.net/post/How_do_you_convert_2D_Image_pixel_coordinates_to_3D_object_coordinates_not_wolrd
https://stackoverflow.com/questions/76134/

[2018-12-03 15:13] beamplayer commented on #409
After thinking about it: how about just adding a third window at the bottom (which you can click open, similar like the left menu on the openjscad website). This third window would behave similar to one of the windows in gtkRadiant. This window can then show a grid unto which you can drag primitive shapes into (sphere, cuboid, cylinder, torus, polyhedron, ...) after clicking the appropriate button

[2018-12-03 22:39] z3dev commented on #409
That doesn’t sound like the original query.

There are other sites that provide a UI to JSCAD libraries.

https://www.blockscad3d.com/editor/

[2018-12-14 04:06] dpick opened #410 "Potential Memory Leak"
## Expected Behavior
A model should be generated.

## Actual Behavior
Javascript runs out of heap space with error `FATAL ERROR: Ineffective mark-compacts near heap limit Allocation failed - JavaScript heap out of memory`

## Steps to Reproduce the Problem
Here's the script I'm trying to run to build the model:

[code]

And I'm generating it with `openjscad test.scad -o test.stl`
## Specifications

[2018-12-14 08:38] z3dev commented on #410
@dpick Thanks for using JSCAD. I’ll take a look at the given script this weekend.

Just a few points of suggestion...
- the line ‘day.translate([week, day, 3]);’ should say ‘day = day.translate([week, day, 3]);‘
- even better would be appending ‘.translate([week, day, 3]);’ to the initial assignment

Basically, all functions return a NEW version of the original.

[2018-12-14 19:57] dpick commented on #410
Ah yeah that makes sense, thanks!

It seems that an equivalent program without the for loops completes successfully. E.g.

[code]

[2018-12-16 11:05] chriswal commented on #408
it looks as if there is some precision problem.
if you change outerRadius: 30.0000000001
it views ok

[2018-12-18 10:14] beamplayer opened #411 "MCAD scripts for openjscad: construction materials only"
There are a few scripts on https://github.com/openscad/MCAD/ that have to do with real-life construction materials. Examples are
https://github.com/openscad/MCAD/blob/master/gears.scad
https://github.com/openscad/MCAD/blob/master/nuts_and_bolts.scad
https://github.com/openscad/MCAD/blob/master/screw.scad
https://github.com/openscad/MCAD/blob/master/units.scad
https://github.com/openscad/MCAD/blob/

[2018-12-18 10:46] z3dev commented on #411
@beamplayer Those are awesome!

We had a member convert some libraries from SCAD to JSCAD. Please take a look at
http://www.thingiverse.com/thing:2307544

Also, we are hard at work on V2, but just cannot find enough time to finish. We want to support design sharing, components, etc. if you have any good ideas then let us know.

[2018-12-18 16:30] johnwebbcole commented on #411
I saw this and realized I hadn't published my gears library yet.  If you need gears, you can give this a try:  https://gitlab.com/johnwebbcole/jscad-gears

It's a work in progress, but you can create gears that draw quickly.

[2018-12-21 14:53] dagrende opened #412 "intersection of 3 boxes gives non-closed model"
## Expected Behavior
A union of 3 stacked boxes.

## Actual Behavior
A union of 3 stacked boxes, with one missing wall on the middle box.

## Steps to Reproduce the Problem

  1. open openjscad.org in Chrome.
  2. paste the following script:
function main () {
    var c1 = cube({size: [44, 26, 2.5], center: true}),
        c2 = cube({size: [43, 25, 2.5], center: true}),
        c3 = cube({size: [4

[2018-12-21 14:55] dagrende commented on #412
Forgot to say, that if I change the height of the bottom box from 1.8 to 2, the hole disappears.

[2018-12-24 19:37] scanlime commented on #351
fwiw, this is the main reason I'm passing over OpenJSCAD for a project it might otherwise be perfect for.

[2018-12-24 21:47] danmarshall commented on #351
@scanlime @delaneyj you might want to take a look at [the expand() function in Maker.js](https://maker.js.org/docs/advanced-drawing/#Expanding%20paths). It is a slightly different paradigm.

You can then [export your drawing as a jscad CAG object](https://maker.js.org/docs/api/modules/makerjs.exporter.html#tojscadcag).

[2019-01-03 04:19] CapnKernel opened #415 "Is the module keyword supported?"
I'm an OpenSCAD/JSCAD newbie.  I'd like to use JSCAD to view existing OpenSCAD designs.
 But it seems that JSCAD doesn't support modules:

![ff foo](https://i.imgur.com/nu1jGyi.png "fdd")

JSCAD also seems to not like having two statements (a superior and inferior) on the same line, for example, on line 15.  Splitting the line makes the problem go away.

[2019-01-03 12:55] kaosat-dev opened #416 "V2 website"
Hi all !
Since work is continuing hard on V2 , we also need to get started on the new website !

Some basic ideas:
- Landing page:
  - catchy intro , with an embeded JSCAD design (this part of V2 is already useable but basic)
  - some key points for what jscad is
  - links to 'getting started' (how to embed, links to tutorials and how tos)
- Navigation bar:
  - home
  - docs
  - features
  - commu

[2019-01-03 14:23] davibe opened #417 "mobile version"
I noticed that openjscad works great on my iPhone XS Max. It's only the UI that is not mobile friendly.

I think i want to try to modify one of the examples to make it more so. Maybe at some point I/we could create a mobile app that let's you save/list/export models. Could be wrapped with ReactNative so that it's both for iOS and Android.

If anyone is interested, has already done some work, wants

[2019-01-03 23:15] #343 closed

[2019-01-03 23:15] #402 closed

[2019-01-04 06:38] z3dev commented on #416
Maybe a list of nice websites would also add to the creative juices.
- https://mochajs.org/ Mocha

[2019-01-04 12:31] kaosat-dev commented on #416
- https://maker.js.org/
- https://www.gatsbyjs.org/
- https://reactjs.org/

[2019-01-05 10:35] kaosat-dev opened #419 "V2 checklist"
Before being able to merge V2 into master (when we get there) we need to validate the following checklist

V2 is a major overhaul of both the geometric core, common code & ui
* side effects (http, file system, dom) are now clear , seperate entities
* require() support for client side is fully working & tested
* combines / upgrades the web ui with the desktop advances (amongst other things)
   * up

[2019-01-05 13:51] johnwebbcole commented on #334
Seems to be ok in Safari 12.0.2.

[2019-01-05 13:51] #334 closed

[2019-01-05 14:05] kaosat-dev commented on #334
thanks !

[2019-01-05 23:25] kaosat-dev opened #421 "Split out renderer to make it possible to re-use in different contexts"
## Expected Behavior
- I expect the new (regl) renderer to be a small reuseable component , to use in CLI, WEB, Desktop, and my own apps

## Actual Behavior
- currently 'melded' with specific ui controls

[2019-01-06 03:18] BarbourSmith commented on #416
I would like to volunteer for the 'getting started' page. It will need to be looked over by someone with more experience than me since I am just getting started myself, but I figure I will learn something in the process and I know how hard it can be to write a getting started guide for a you already know inside and out.

[2019-01-06 04:16] z3dev commented on #416
Cool. I would just mock up the page, and get a few comments. You can look at those sites above for some ideas.

[2019-01-06 04:39] #401 closed

[2019-01-06 04:41] z3dev commented on #401
Please reopen if you wish to persue the import of large DXF files. It may be possible once V2 is available.

[2019-01-06 07:08] BarbourSmith opened #422 "Missing file for V2 Demo"
## Expected Behavior

When launching the file `.\OpenJSCAD.org\packages\web.html` one would expect to see a demo of the JSCAD, I know this demo was just added today which is fantastic and thank you!

## Actual Behavior

A blank screen comes up instead. Pulling up the console I see that the issue is a file not found error with the line `<script language="javascript" src="./dist/jscad-full.min.js"><

[2019-01-06 09:46] kaosat-dev commented on #422
hi @BarbourSmith , thanks for the bug report !
Just to clarify : V2 is not even alpha version yet ! things will change a lot , so nothing In README will pertain to V2 just yet until things are more stable
- demo.html is supposed to be demo for V2
- I removed jscad-full.min.js to avoid cluttering git with temporary builds, (normally users , me included should not include their own built files as pa

[2019-01-06 09:48] kaosat-dev commented on #416
@BarbourSmith thanks a lot that is awesome :)
btw , there is an EXTREMELY barebones site skeleton mock up in this repo here : https://github.com/jscad/OpenJSCAD.org/tree/V2/site

[2019-01-06 13:44] kaosat-dev commented on #416
@z3dev I am not sure to be honest, we have too many repositories to maintain in think as it is ?

[2019-01-07 09:15] kaosat-dev commented on #422
@BarbourSmith no need to apologize ! :)
- yes, jscad-full.min.js will be among those (will likely replace the 'standard' build)
- hmm I never had either issue (`ENV` and the import issue), I will do a clean rebuild and push a PR to fix any problem in that area

[2019-01-07 10:11] BarbourSmith commented on #422
I think my system is a contributing factor in both cases. The issue with `ENV` is a cross platform one with me using Windows (I know 🙄). A description of the issue and a cross platform solution are described [here](https://stackoverflow.com/questions/11928013/node-env-is-not-recognized-as-an-internal-or-external-command-operable-comman) but it seems like more hassle than it is probably worth.

I'v

[2019-01-07 10:22] z3dev commented on #422
I would suspect that you still have some NPM environment issues. We have attempted to keep things simple, and standard. So, NPM should work as expected. Let us know if you cannot resolve.

[2019-01-07 12:49] BarbourSmith commented on #422
I just ran through the test build process again using V2 this time and I can confirm that #423 fixed everything! Wonderful! 💯 That was so quick, thank you!

[2019-01-07 12:49] #422 closed

[2019-01-07 20:27] probonopd opened #424 "Can the AppImage be downloaded somewhere?"
https://github.com/jscad/OpenJSCAD.org/blob/63054c61dec87e894873d0f438d1584c6e5c1d65/packages/desktop/package.json#L83

Can the AppImage be downloaded somewhere?

I have not found it on [GitHub Releases](https://github.com/jscad/OpenJSCAD.org/releases).

[2019-01-07 20:40] kaosat-dev commented on #424
You can find them here for example:
https://github.com/jscad/OpenJSCAD.org/releases?after=%40jscad%2Fexamples%401.7.2
I have not had time to figure out/automated the upload of releases to Github yet. (It has very low priority until V2 is released, so a few months still), unless you know how to do it ? :)
I can put my local builds into the releases, but they are untested.

[2019-01-07 20:45] kaosat-dev commented on #424
Here, uploaded them, AppImage included :https://github.com/jscad/OpenJSCAD.org/releases/tag/%40jscad%2Fdesktop%400.7.1

[2019-01-07 20:46] probonopd commented on #424
Thanks. So jscad-desktop and OpenJSCAD are the same application? Which one is the proper name? Is https://appimage.github.io/jscad-desktop/ a correct representation of this application?

[2019-01-07 20:49] kaosat-dev commented on #424
yes, jscad is the short name (and likely future name) of OpenJSCAD.
I do not know about that link though ? (Ich verstehe die zweite Frage nicht, ehrlich gesagt :)

[2019-01-07 20:59] probonopd commented on #424
Thanks, that clarifies it. I was just wondering whether the application should be referred to as "jscad-desktop" or as "OpenJSCAD".

[2019-01-07 20:59] #424 closed

[2019-01-07 21:07] kaosat-dev commented on #424
@probonopd Jscad or Openjscad is fine, the desktop suffix is perhaps not even essential ?

[2019-01-08 01:10] danmarshall commented on #416
I'm a fan of the monorepo architecture. What I like about this is that any single pull request can contain everything from core code + test, documentation and web page publishing.

[2019-01-08 01:15] danmarshall commented on #417
What are your thoughts on the JavaScript code editor on mobile? Do you think it is required?

[2019-01-09 10:54] davibe commented on #417
The code editor of openjscad is both javascript and scad. I think it is required yes. I think with phablet and ipads it's an interesting option to be able to hack a few idea while you're traveling.

I forked openjscad and started customizing it. The main proble i faced is that ACE is not good on mobile. I was trying to integrate MONACO editor (the one from vscode) but it's not very straightforward

[2019-01-09 10:56] kaosat-dev commented on #417
Hi @davibe !
You came to similar conclusions I think :)
For V2 of Jscad I tried out
- ACE (more recent versions) : still not a huge fan
- Code Mirror : some pros & cons compared to ACE
- Monaco: great in theory , never managed to get it working

[2019-01-09 11:08] davibe commented on #417
The other thing that needs a bit of work is the camera handling (rendering view) for panning and rotating which should be based on multitouch. But it's probably not required at first. The rest is just layout.

[2019-01-09 11:11] kaosat-dev commented on #417
the V2 viewer is build from the ground up to be more mobile friendly, (and the general UI as well ;)

[2019-01-09 16:31] danmarshall commented on #417
CodeMirror does seem to work on mobile.

[2019-01-09 22:42] z3dev commented on #417
Yeah. There’s a lot of promise out there...

https://en.m.wikipedia.org/wiki/Comparison_of_JavaScript-based_source_code_editors

[2019-01-13 13:47] EricBuijs commented on #416
@kaosat-dev Hi Mark, I'm finally here now. Let me take a look around and see how this thing works. Like I said on G+ I sure can do some html, css and additional artwork (if needed).

[2019-01-14 05:11] z3dev commented on #416
@EricBuijs Thanks for joining.
This is all new ground, as we would like a true website not just the viewer. So, if you have any suggestions to get started then this is the place to discuss.

[2019-01-14 05:43] z3dev commented on #416
@EricBuijs Thanks for joining.
This is all new ground, as we would like a true website not just the viewer. So, if you have any suggestions to get started then this is the place to discuss.

[2019-01-14 07:30] kaosat-dev commented on #416
Hi ! And very appreciated @EricBuijs  :)
If you have any questions, just let us know / ask here .
Once you get your bearings, we can discuss things in more detail?

[2019-01-15 10:47] hg42 commented on #226
LOL, shape3/hull.js is the place for V2 (I accidently checked out V2 instead of master).
In V1 it is still in op-transformations.
Perhaps I should switch to V2 now?

[2019-01-16 20:39] kaosat-dev opened #426 "Proposal: bring all code from JScad repostitories into this one"
# The issue:
More and more people are trying to contribute to Jscad, but the multiple repositories setup is making that considerably harder than it needs to be.
The split to different repositories was needed when originally trying to make the large code base manageable, but now we can have the advantages of multiple smaller modules with a single repo thanks to Monorepos/ Lerna.

# Proposal  ?
The

[2019-01-17 02:37] BarbourSmith commented on #426
As someone who is trying to get an understanding of how the code is distributed this makes a lot of sense to me. I found the multi-repo system to be confusing when I was first trying to figure out where files were. That being said I still don't have a complete understanding of all the interconnects so there may be reasons for having multiple repos that I don't know about.

[2019-01-17 22:30] hg42 commented on #426
I also found confusing that the main component (csg) is in it's own repo, while web, cli, desktop are together.
So, I already move csg.js into package/csg by cloning it as a sub-repo, because then it's managed automatically by lerna.
Unfortunately when changing a branch in OpenJSCAD.org it was removed again.

I am still in the steep learning phase according to all these node tools. I also only got

[2019-01-18 15:49] EricBuijs commented on #416
To get a feel of the workflow I did a basic github tutorial today. I looked at the barebone mock-up and the example websites so I think we can discuss things in more detail now. I see that @BarbourSmith is volunteering for the getting started page, so that's good.

[2019-01-20 02:05] BarbourSmith commented on #416
Where is your tutorial? Maybe we could use it as the basis for the website if I go through and add to it. I volunteered to write a tutorial because I am excited to see it exist, but I certainly don't need to be the only person involved

[2019-01-20 14:19] EricBuijs commented on #416
Sorry @BarbourSmith for the misunderatanding, I just did the basic github tutorial.

[2019-01-21 23:33] kaosat-dev commented on #426
@BarbourSmith Even I can relate :)
The reason for multiple repos is both that some code was originally maintained by different people in different repos, and some of our own decisions when starting to upgrade jscad. These days a single one would be better imho.

@hg42 sorry for the pains, but we are learning from the mistakes :)
About git sub modules: I would rather avoid that to be honest, I had

[2019-01-24 05:46] z3dev commented on #412
@dagrende Welcome to JSCAD.

And welcome to the world of floating point rounding issues. I tried the code in various forms. And found that adjusting the size of c3 cured all issues; 1.8 to 1.81 to 1.80000001. These all worked.

The rounding issues come from the translate() method when using 1.8. There's a slight rounding introduced by the translate function.

c3 bounds
- _x: -22, _y: -13, _z: -0.9

[2019-01-24 19:21] EricBuijs commented on #416
@kaosat-dev How do we work from here? I'm willing to create the landing page and I have the general idea from the discussion above but I think before I start some discussion is neccesary.

[2019-01-24 19:39] kaosat-dev commented on #416
@EricBuijs cool :) where are you located ? Would a chat /hangout/ etc be ok for you ?

[2019-01-26 13:53] z3dev commented on #416
A very interesting layout of repositories by DAT

https://github.com/datproject

[2019-01-27 14:45] EricBuijs commented on #416
@kaosat-dev
For Hangouts my address is **eribuijs1@gmail.com.**
For Movim **ericbuijs@movim.eu**. This can be accessed using existing XMPP clients and Jabber accounts.

[2019-02-07 14:23] faithhack commented on #411
I maintain http://www.thingiverse.com/thing:2307544 but have held back a bit waiting for V2 to be more generally available, especially the changes in how code is modularized and included. I'll take a look at those SCAD modules tho'.
I currently use the jscad-desktop with atom and npm to set up my projects, but it doesn't make sense to publish modules with explicit includes ( const { sphere } = req

[2019-02-08 08:00] kaosat-dev commented on #426
@z3dev what is your opinion on this ? :)

[2019-02-08 08:01] kaosat-dev commented on #421
closed by #425

[2019-02-08 08:01] #421 closed

[2019-02-10 14:32] gilboonet commented on #426
Years ago, I had been able to modify jscad code in order to tweak it the way I wanted to integrate it with my web site, I was then able to add a new 2D output format (gcode) and add functions to load/save parameters from a script, and some others minors changes to the UI. But now it is too complex for me and I didn't manage to integrate into web version the off output format that I added to jscad/

[2019-02-10 15:21] kaosat-dev commented on #426
@gilboonet thanks for the feedback, your feedback & difficulties with off format etc are one of the reasons for this proposal.
We will still have lots of specialized packages like in IO, but all inside this repository, so you would not have that many 'moving parts' and repos to deal with.
Also agreed about documentation. That is our greatest weakness I think, and is a must have for V2.
stay tuned

[2019-02-10 23:03] BarbourSmith commented on #426
@gilboonet I am interested in the ability to export gcode also if you would like to collaborate

[2019-02-11 09:36] gilboonet commented on #426
@BarbourSmith What I did was quite straigthforward. I reused the svg output into a call to a function called svg2gcode from a github project called gcode simulator. As it was using three.js, I needed to include 7 js to index.html, and as I'm using a laser cutter without Z axis I tweaked svg2Gcode to remove this, and that's it. It's targeted to version 0.5.0 of jscad and I didn't use github at this

[2019-02-19 13:23] Vishnu-C commented on #325
@napter Have a look on VTK , one can read STL, set the camera angle and render as images. Also it can be all done in offscreen, i.e without even having to load up a 3D render.

[2019-02-20 06:14] z3dev opened #433 "ECMAScript 6 Modules"
## Expected Behavior
It may be time to move to ES6 Modules as the latest browsers (from almost one year ago) now support ES6 modules, and NODEJS has support for ES6 modules as well. (MAN! I hate to submit this!)

See #391

Browser Support
https://www.sitepoint.com/using-es-modules/

Comparison of ES6 and ComonJS Modules
https://medium.com/@giltayar/native-es-modules-in-nodejs-status-and-future-dir

[2019-02-20 06:18] z3dev commented on #325
See the post in the User Group. @kaosat-dev added support for rendering JSCAD designs from the command line.

https://plus.google.com/112899217323877236232/posts/FmSPdYC4xHr

[2019-02-20 14:15] ststeiger opened #434 "Is it using ThreeJS or raw WebGL ?"
Question:

Is OpenJSCAD using ThreeJS ?
Or is it using raw WebGL ?
Because [softwarerecs.stackexchange](https://softwarerecs.stackexchange.com/questions/33911/three-js-versus-babylon-js-for-cad-webapp) lists it as ThreeJS reference, but I can't find any (direct) dependency on ThreeJS in the package files.

[2019-02-20 14:34] kaosat-dev commented on #434
Hi @ststeiger it uses
- lightgl (a simple webgl wrapper) in V1
- [regl](https://github.com/regl-project/regl) in V2 (upcoming/ current)

no Three.js indeed :)
Though we will provide some very basic example on how to use three.js to render jscad data in the near future.

[2019-02-20 14:59] ststeiger commented on #434
Thanks for the quick answer.
Nah, nah, this was not a request.
Just checking, because if it were using ThreeJS, I would refrain from using it ;-)

[2019-02-20 14:59] #434 closed

[2019-02-26 06:50] MaslowCreate commented on #426
That is fantastic! I will do the same thing. Thanks for the tip!

[2019-03-05 09:12] BarbourSmith opened #435 "openJSCAD.org rendering on OSX"
Hello all. I was explaining how awesome jscad is to a friend and to show how it works I pulled up openjscad.org on her computer which is a slightly older (but not ancient) Mac and when the page loaded the rendering was very strange. It seemed like maybe some of the darker colors were ending up white or were simply not rendering.

## Expected Behavior

The normal rendering with a dark background co

[2019-03-05 14:08] kaosat-dev commented on #435
hi @BarbourSmith thanks for the feedback, not 100% sure where this could be coming from but I might have a hunch, could you please try jscad.xyz and see if the new renderer also has the same issue ?

[2019-03-06 02:57] BarbourSmith commented on #435
@alzatin Will you give [jscad.xyz](https://jscad.xyz/) a try and see how it looks? Check the "grid" check box to see something show up.

[2019-03-06 03:10] alzatin commented on #435
[image: Screen Shot 2019-03-05 at 7.05.37 PM.png]

On Tue, Mar 5, 2019 at 6:57 PM BarbourSmith <notifications@github.com>
wrote:

[2019-03-06 03:46] BarbourSmith commented on #435
Tragically the screenshot didn't upload 😢

You can click the "preview" button to see if it is going to show up right

[2019-03-06 03:50] alzatin commented on #435
![screen shot 2019-03-05 at 7 49 25 pm](https://user-images.githubusercontent.com/47953734/53854829-dc3ea400-3f7f-11e9-8aa8-1f15686e5050.png)

[2019-03-16 12:16] WolfgangFahl commented on #415
Just enter
//!OpenSCAD

as the first line of your file and you can use OpenSCAD files with module keyword support directly.

[2019-03-17 06:36] WolfgangFahl opened #437 "Clearing Cache of OpenJSCAD on MacOSX"
## Expected Behavior
Clearing the cache should work

## Actual Behavior

Unclear how the shortcut ctrl-shift \ should be entered on a mac for the \ you already need to press option-shift 7 - so if it ctrl-shift-option-7 would work this would at least be very inconvenient. Tried it out and it seems to have no effect.

## Steps to Reproduce the Problem
1. Start dockerized version of openjscad see ht

[2019-03-17 07:30] WolfgangFahl opened #438 "Include for remote URLS"
## Expected Behavior
https://www.openjscad.org/#https://raw.githubusercontent.com/BITPlan/docker-openjscad/master/workspace/RCHolder/main.jscad

should include
https://www.openjscad.org/#https://raw.githubusercontent.com/BITPlan/docker-openjscad/master/workspace/RCHolder/Box.jscad

automatically

## Actual Behavior
it gives an error message
_The requested URL /cache/Box.jscad was not found on this

[2019-03-17 13:48] WolfgangFahl opened #439 "SVG Import fails TypeError: right-hand side of 'in' should be an object, got undefined"
## Expected Behavior
SVG import should work

## Actual Behavior
[code]

## Steps to Reproduce the Problem

  1. Drag and Drop http://wiki.bitplan.com/images/wiki/7/7a/BITPlanLogo2012FontLess.svg
or try https://openjscad.org/#http://wiki.bitplan.com/images/wiki/7/7a/BITPlanLogo2012FontLess.svg

## Specifications

  - Version: 1.10.0
  - Platform: MacOS 10.3.6
  - Environment: Firefox 65

[2019-03-25 22:49] GDur commented on #417
Good news everyone, I started a fork for mobile support (responsiveness) but in the master branch (v1).
Here is the link to the branch: [https://github.com/GDur/OpenJSCAD.org/tree/responsives-web](https://github.com/GDur/OpenJSCAD.org/tree/responsives-web)
Then I read that one should use the V2 branch but I can't get it to run on my computer. Some problem with node-gyp and the "rebuild" process. C

[2019-03-31 05:48] jameshightower commented on #331
Chrome, at least on ChromOS, puts null's in the DataTransferItem array. I'm not sure why, but this fixes it:
[code]

[2019-04-08 08:58] #331 closed

[2019-04-10 16:40] The3rdIcon opened #442 "Where did the community go? Where is it now?"
With google plus shutdown, I have clue where to do to ask question. Is here the right place?

The documentation is inclear to me when it says "The CSG library functions can also be used. NOTE: Deprecated in the V2 API." Does this mean that I can only use the scripting language native to the openscad? Can someone provide clarification if this is the correct place to post this question.

[2019-04-10 21:41] z3dev commented on #442
https://openjscad.nodebb.com/categories

[2019-04-10 21:44] z3dev commented on #442
About V2... We are moving towards functions, not classes. So the CSG/CAG/etc objects will soon be gone. Of course, you can use now but later your scripts will need some changes.

[2019-05-14 19:09] udif commented on #442
I understand we can no longer cascade methods in V2, but WHY?
This is horrible.
Once I had an intuitive design process where I started with an object, then added/subtracted from it, which was directly reflected in the code.

Now I have to either:
1. Build a huge nested tree of union/difference/etc. calls, and start writing from the inside out (it's like the way you have to convert regular math equ

[2019-05-14 22:56] z3dev commented on #442
@udif all good points but the goal is to correct the API, and move towards JavaScript interoperability. Having two ways of doing things (CSG Objects and OpenSCAD-like functions) just confused folks. Also, the inconsistency of names, parameters, values, etc. causes a lot of nightmares.

At the core level, everything will be functions organized in to smaller modules. We’ve been working towards this

[2019-05-17 03:39] drom opened #445 "Use in ObservableHQ"
Any plans to support embedding JSCAD in https://observablehq.com notebook?

[2019-05-17 10:20] kaosat-dev commented on #445
Hi @drom ! That would be nice indeed ! I will take a look at what would be needed/ is missing for that

[2019-05-19 04:18] z3dev commented on #351
Coming to V2

[2019-05-19 13:00] johnwebbcole commented on #445
@drom you may be able to use https://gitlab.com/johnwebbcole/vue-openjscad inside a notebook.  The instructions on using Vue don't have any gotcha's that look like it would prevent it from working :-) https://observablehq.com/@tmcw/using-vue-with-observable

[2019-05-26 15:40] WolfgangFahl commented on #167
Can't we get an answer for Version 1.9.0?

[2019-05-26 15:42] WolfgangFahl opened #446 "Wiki Documentation not up to date"
## Expected Behavior
https://en.wikibooks.org/w/index.php?title=OpenJSCAD_User_Guide
should be up to date

## Actual Behavior
https://en.wikibooks.org/w/index.php?title=OpenJSCAD_User_Guide&oldid=3451090&diff=cur&diffonly=0

that is latest pendings changes aren't reviewed yet

## Steps to Reproduce the Problem

Visit https://en.wikibooks.org/wiki/OpenJSCAD_User_Guide

[2019-05-26 21:32] z3dev commented on #446
The documentation at wiki books is no longer maintained, as updates to that documentation were almost impossible.

How did you find those pages? All links should be pointing to...

https://openjscad.org/dokuwiki/doku.php

And you are welcome to post changes as well. :)

[2019-05-27 08:05] WolfgangFahl commented on #446
Thx for getting back to this. The OpenJSCAD User guide is the first thing you find when searching with your favorite search engine.

My own Wikpage http://wiki.bitplan.com/index.php/OpenJSCAD is a Mediawiki page and naturally links to the "true" wiki page of OpenJScad

Personally I think using Doku wiki is a very bad idea since you limit the number of participants willing to get involved. E.g. I a

[2019-05-27 12:38] z3dev commented on #446
Well... if you can get the idiots at wikibooks.org to do something rather then complain about syntax errors then I’d be glad to move back. So, the first step is to find someone who can and will review edits at wikibooks.org. As far as I’m concerned, that whole scheme smallest of ‘little kingdoms’.

[2019-05-27 13:07] kaosat-dev commented on #446
@WolfgangFahl , as @z3dev  said we tried contacting the folks at Wikibooks on multiple occasions to update the content, and they just do react at all , we sadly have no control over that.
Personally I find both wiki solutions problematic, and favor using markdown files (right here !) that can be edited simply right here on github, and can be used to generate whatever output format is needed , and

[2019-05-27 13:45] WolfgangFahl commented on #446
Just added https://en.wikibooks.org/wiki/Wikibooks:Requests_for_permissions#WolfgangFahl_(discuss_%C2%B7_contribs_%C2%B7_count_%C2%B7_logs_%C2%B7_block_log_%C2%B7_rfp_%C2%B7_rights_[change])_(Reviewer) to get the Issue on WikiBooks moving forward. With my https://github.com/WolfgangFahl/Mediawiki-Japi i could try markup-transfer from one source to another.

[2019-05-27 22:51] z3dev commented on #446
@WolfgangFahl thanks for trying.

I’m expecting that you receive the normal BS about ‘learning and gaining experience’ before being promoted. And of course, there’s probably no one looking at your request anyway.

[2019-05-28 07:40] gnbl commented on #167
I can confirm that the behavior (clipping) is still present in the current 1.9.0.

My link from above (supposed to load the script from pastebin at http://pastebin.com/raw/ddSKNNpC) results in an error:

and the code window contains:

I might open an issue on that later, if someone hasn't already.

This is the script, if someone wants to test directly:
[code]

Thanks for your work!

[2019-05-28 09:50] WolfgangFahl commented on #167
z3dev wrote:

It would be great to get such an example. I'd like to increase the plate size to 220 x 220

[2019-05-28 10:17] WolfgangFahl commented on #446
At least the review state has now been done.
https://openjscad.org/dokuwiki/doku.php does not have any info on plate examples nor does the original wikibooks page. So my question from #167 is open .

[2019-05-28 11:51] z3dev commented on #167
There’s an example on how to create a version of OpenJSCAD that changes the options for the viewer. It’s called ‘opts’.

The distribution bundled (dist/opts.js) via bundled together based on the code found in src/ui/opts.js

https://github.com/jscad/OpenJSCAD.org/blob/master/packages/web/src/ui/opt.js

You cannot changed these parameters interactively, so a new bundle will have to be created.

[2019-05-29 14:28] WillAdams commented on #314
Is this related?

http://openjscad.azurewebsites.net/blockly/index.html

Should it be working? How do I get OpenJSCAD code out of it?

[2019-05-29 15:20] WillAdams commented on #446
Trying to log in to edit some typos on the wiki, but get:

Should that be fixed? Or should I ask elsewhere (where?) for an account?

[2019-05-29 18:08] danmarshall commented on #416
@WillAdams I started a project that is a similar idea:
https://danmarshall.github.io/jscad-gallery/

This is more of a 3D consumer idea, instead of a 3D coder idea. I think it would be nice if the new website would cater to both consumers and coders.

[2019-05-29 21:53] z3dev commented on #446
Just push on the GITHUB button...

[2019-05-29 23:06] WillAdams commented on #446
I did that. When I did so, I got the message which I quoted.

[2019-05-30 00:26] WillAdams commented on #416
I came across those --- and thought they were very cool --- meant to mention them.

[2019-05-30 03:06] z3dev commented on #446
I just tried again but didn't get a message.
Anyway, I adjusted the installation slightly. Please try again.

[2019-05-30 13:52] WillAdams commented on #446
Thanks! That worked!

[2019-06-09 09:04] WolfgangFahl opened #447 "OpenJscad import fails"
## Expected Behavior
[Ultrasonic_sensor_mount.txt](https://github.com/jscad/OpenJSCAD.org/files/3269377/Ultrasonic_sensor_mount.txt)
should be importable (rename to .scad before trying ...)

## Actual Behavior
[code]

## Steps to Reproduce the Problem

  1. Download https://www.thingiverse.com/thing:1364024
  2. openjscad Ultrasonic_sensor_mount.scad -o Ultrasonic_sensor_mount.jscad

## Specificat

[2019-06-11 16:41] WolfgangFahl commented on #442
At this point i am not very happy with the state of affairs.

https://stackoverflow.com/questions/56520743/integrating-openjscad-into-mediawiki/56520809#56520809

shows where the problem is.

There has been an OpenJsCad which could be integrated into web pages with just sourcing a bit of JavaScript. See http://wiki.bitplan.com/index.php/Template:Jscad. But then e.g. http://wiki.bitplan.com/index.p

[2019-06-11 23:34] z3dev commented on #442
@WolfgangFahl Thanks for the great information but I’m sorry to say that there’s just not enough people devoted to this project. There’s really only two of us doing serious development, which is part time at best.

If we could find a sponsor then full time might be possible.

As far as integrating JSCAD into other websites, we know that there is a steep learning curve, and little documentation. Th

[2019-06-12 17:36] WolfgangFahl commented on #442
https://stackoverflow.com/a/56552702/1497139 might be  a start. If things would only be documented sigh ...

[2019-06-12 19:54] kaosat-dev commented on #442
@WolfgangFahl
- embed for V1 was merged months bacl https://github.com/jscad/OpenJSCAD.org/commit/f25d8c0b8af42e9e4fe9b8b626bc39afa9bbaf15
- for V2 you can literally use the same code & includes as here https://github.com/jscad/OpenJSCAD.org/blob/V2/packages/web/demo.html

[2019-06-16 06:43] WolfgangFahl commented on #442
@kaosat-dev thank you for this hint - i added the link to the stackoverflow question. I'll now open a separate issue for the MediaWiki integration

[2019-06-16 06:49] WolfgangFahl opened #448 "MediaWiki Integration"
## Expected Behavior
It should be easily possible to create a Mediawiki extension for OpenJscad

## Actual Behavior
It's - well - complicated ...

## Steps to Reproduce the Problem

  1. Try creating a MediaWiki extension see e.g. http://wiki.bitplan.com/index.php/ParametricLampShade
  2. Find out that this is only supporting and old version of OpenJscad
  3. ask for help at https://openjscad.node

[2019-06-16 06:58] WolfgangFahl commented on #448
I'd love to try out the hints

1. [Version 2 demo by kaosat](https://github.com/jscad/OpenJSCAD.org/blob/V2/packages/web/demo.html)
2. [Version 1 standalone by Johne Cole] https://stackoverflow.com/a/56552702/1497139

For both I need some crucial information that seems to be missing given my background, knowledge and environment. How do I get access to the necessary JavaScript code?

The current s

[2019-06-16 07:06] WolfgangFahl commented on #448
I tried:
[code]
and it fails with
[code]

[2019-06-16 07:10] WolfgangFahl commented on #167
@z3dev
I do not know what todo from the comment above. I don't know how to create a bundle and do not know where bundle creation is described/documented.

[2019-06-16 07:13] WolfgangFahl commented on #448
The so called "standalone" umd version has the following first lines:

[code]

**How can this be made "standalone" in the sense of getting it work in a static non npm environment?**

[2019-06-16 12:22] WolfgangFahl commented on #448
Here are the 116 candidates of javscript files:
`zeus:OpenJSCAD.org wf$find . -name *.js | wc -l
     116
zeus:OpenJSCAD.org wf$find . -name *.js
./packages/cli/cli.js
./packages/cli/cli.test.js
./packages/cli/env.js
./packages/cli/generateOutputData.js
./packages/core/code-evaluation/rebuildSolids.js
./packages/core/code-loading/isCommonJsModule.js
./packages/core/code-loading/jscad-function.js
.

[2019-06-16 12:39] WolfgangFahl commented on #448
Maybe the set of files in "web" is what is needed?

[code]

[2019-06-16 12:41] z3dev commented on #448
I mentioned the ‘dist’ directory before.

[2019-06-16 13:16] WolfgangFahl commented on #448
@z3dev  - thank you for looking into this.

In my environment the "make" did not work so i can only go from what is there:
[code]

there are four files in that directory:
[code]

and as i mentioned the code of the umd one looks as if it references ../code-loading/...
That is why I am double checking and still looking for a working set of files with a working example so that I can reproduce this in

[2019-06-17 07:50] gitzdnex opened #449 "OpenJSCAD not visible part > scale / WebGL depth field"
## Expected Behavior
User should see part even when it is big.

## Actual Behavior
Use attached code and you will not be able too see part.
`function main () {
    return cube({size: [2800, 2070, 18], center: false})
}
`

## Specifications

  - Version: current on web
  - Platform: Windows 10
  - Environment: FF67 and FF68

![2019-06-17_094815_openjscad](https://user-images.githubusercontent.com/5

[2019-06-17 12:09] z3dev commented on #449
The V1 viewer does not scale automatically so you will have to scale the design.

[2019-06-17 12:30] gitzdnex commented on #449
Ok, so in "V2" it will be scaled? Is it possible to test new version?

[2019-06-17 13:35] z3dev commented on #448
@WolfgangFahl continue on... you are getting closer.

The project is created via NPM (Node Package Manager) so you will need to look at package.json (there are many) to understand how everything is merged together.

You are trying to use web based components so see the packages/web directory.

[2019-06-18 12:38] RolandR commented on #183
Apparently, the function changed its behaviour again, back to taking an array of booleans.

This is especially tricky because the previous way still *sometimes* works as expected:

`cube(10).center("x")` happens to do the same as `cube(10).center([true, false, false])`, but for example `cube(10).center("y")` also centers on the x axis.

[2019-06-19 00:16] z3dev commented on #183
@RolandR once again... welcome to the world of inconsistent API. we are trying to correct this mess in V2.

It looks like an array of booleans does the trick.

[code]

[2019-06-19 14:10] RolandR commented on #183
I just stumbled into another problem with `.center()`: Centering around `z` actually translates by half the object's `y` size.

This was fixed in [this pull request](https://github.com/jscad/csg.js/pull/130) - any idea when we will see it live on openjscad.org?

[2019-06-19 23:34] z3dev commented on #183
We have no plans to release a new version of V1, so I hacked the distribution.

Please try again.

[2019-06-29 19:18] larsrc opened #450 "Missing function: Minkowski"
## Expected Behavior

minkowski(shape, sphere) => nicely rounded version of shape (well, the real definition is different, but that´s what I use it for:)

## Actual Behavior

Uncaught Error: The JSCAD script must return one or more CSG or CAG solids.

(Not the greatest error message, either)

## Steps to Reproduce the Problem

  1. Create this model:

function main () {
  return minkowski([

[2019-07-01 00:35] bluelightning32 opened #451 "V1 : Intersection creates invalid geometries due to rounding errors"
## Expected Behavior

![image](https://user-images.githubusercontent.com/21202621/60404263-1dc11380-9b5c-11e9-844d-85b00f755bcb.png)

## Actual Behavior
![image](https://user-images.githubusercontent.com/21202621/60404265-27e31200-9b5c-11e9-9b42-c06da3e1e66f.png)

## Steps to Reproduce the Problem

This is my project: https://github.com/bluelightning32/dactyl-openjscad. Every time I make a small c

[2019-07-01 01:44] z3dev commented on #451
@bluelightning32 Thanks. I'll take a look at this.

FYI, we found a subtle bug in mayOverlap() function. See https://github.com/jscad/csg.js/issues/137

This causes issues in the resulting shape because union() didn't really 'merge' the two shapes.

[2019-07-01 09:31] z3dev commented on #451
@bluelightning32 Nice test case. I've been looking at this.

I think that the real issue come from this union, which obvously gets some of the polygons wrong. It seems that the union is between left_side and increasing closer right_pieces.

`    const fork = union(left_side, ...right_pieces);`

And then the intersection (later) becomes totally confused.

I'll spend a little more time on this but l

[2019-07-01 14:44] bluelightning32 commented on #451
I couldn't get it to render anything wrong with just unions. I tried building `right_side` by unioning `right_pieces` first, which should be about the same as `split_right_side`, but the union worked with `right_side`.

[2019-07-05 08:57] z3dev commented on #446
@WolfgangFahl Did you receive any help on review the user guide at Wikibooks?

Looks like you received the same ‘pep’ talk that I received. 😔

[2019-07-07 06:45] bluelightning32 commented on #451
I've narrowed it down to the exact cubes that cause the problem. My original repro is a better test case, but this new repro is helpful for debugging the problem.
[code]

Those cubes have several points that are 0.0001 apart, which matches this from the openjscad source:
[code]

From that test case, here is what the cubes look like when they are unioned (with unionSub), but before they are retesse

[2019-07-07 06:54] z3dev commented on #451
I was suspecting something like that. Thanks again for the in-depth analysis, and diagrams!

The retesselate() function is pretty straight forward, but relies on sets of planar polygons. If those sets are slightly off then the joining of sides will not happen. Again, the key will be the union function.

I’ll see if I can reproduce with just a few very close proximity squares. It should be possible

[2019-07-07 09:34] bluelightning32 commented on #451
The repro in my previous comment is basically already 3 very close proximity cubes. Here, I expanded the for loop to make it more obvious:
[code]

See how the back left side is missing.
![image](https://user-images.githubusercontent.com/21202621/60766267-364d9400-a05c-11e9-9d53-ba50965a5e88.png)

It seems the algorithms were designed to consider any 2 vertexes that are 0.00001 or closer as equival

[2019-07-07 12:33] z3dev commented on #451
Its my opinion that union should be bring bring the sides together because...
- faces are planar (a difficult calculation when close)
- points are within EPS of each other

Thanks again. I’ll look some more into this but we are approaching some difficult precision issues.

[2019-07-07 17:46] bluelightning32 commented on #451
Sorry, can you be more specific on which sides union should be bringing together?

You mentioned points being within eps of each other. Which points are you referring to? A big part of the problem is that the vertices of faces 10 and 5 are 2*eps apart.

Is there a more real time form of communication I could use to discuss this with you? My Google Hangouts id is bluelightning32@gmail.com.

[2019-07-14 00:59] apbln opened #453 "How could I edit (move, resize etc...) the objects via the mouse?"

[2019-07-14 03:17] z3dev commented on #453
@apbln Thanks for the interest in JSCAD.

The design framework is based on scripts, so you will need to learn a few basics. To start, you can look at the examples, and learn how designs are created.

For interactive tools, you will have to download, install, and learn one of the popular applications.

[2019-07-14 08:19] kaosat-dev commented on #453
Hi @apbln ! to clarify JSCAD is not a visual editor, so objects are not meant to be edited via mouse. Everything you create / edit is via code only.

[2019-07-14 20:03] apbln commented on #453
@z3dev @kaosat-dev thanks for the quick answers. Do You know any csg frameworks, thatsupports this?

[2019-07-14 22:12] kaosat-dev commented on #453
@apbln are you looking for something browser based or installed ?

[2019-07-15 00:49] apbln commented on #453
something browser based.

[2019-07-15 02:25] z3dev commented on #453
https://www.tinkercad.com/

[2019-07-24 06:25] WolfgangFahl opened #454 "V1 : roundedCube example does not work"
## Expected Behavior
https://github.com/jscad/OpenJSCAD.org/blob/master/packages/examples/rounded-cube.jscad
should work

## Actual Behavior
There is no effect in rounding

## Steps to Reproduce the Problem

  1. cut&paste the example to http://www.openjscad.org

## Specifications
Current state of affairs as of today

[2019-07-27 12:56] gilboonet commented on #454
Hello, looks like it is not the rounding itself that has no effect but the
`
if (params.rounded === 0)`
that returns false anytime, with only 2 == it is ok

[2019-07-27 13:06] gilboonet commented on #454
Apparently it seems that === immediately returns false with differents types, and params.rounded is string as 0 is number, an explicit conversion should make it work
if (Number(params.rounded) === 0)

Looks like === implementation has changed.

[2019-07-28 08:40] #442 closed

[2019-07-28 16:57] WolfgangFahl commented on #448
The extension 3D https://www.mediawiki.org/wiki/Extension:3D might be a good starting point for finding out how to best proceed. It is an official Mediawiki exstension and should have comparable installation needs. Also it is a workaround for the time being since at least the generated STL files can be shown this way.

[2019-08-06 11:36] z3dev commented on #416
Not much progress... sigh

I was really impressed by the Libre Office website. Very nice, simple, and understandable.

https://www.libreoffice.org/

[2019-08-06 11:44] z3dev commented on #416
@EricBuijs please contact me via hangouts; Jeff Gay (jeff.gay@z3d.jp)

[2019-08-10 10:18] RolandR commented on #183
I haven't had any issues since - thanks a lot for fixing this!

[2019-08-22 03:12] Nealefelaen opened #459 "Add scroll to large lists of parameters"
## Expected Behavior
A large list of parameters being viewable in some way

## Actual Behavior
At a certain number of parameters they disappear through the top of the page

## Steps to Reproduce the Problem

  1. Add many parameters (number depends on screen resolution)

## Specifications

  - Version: 1.9.0 (live version from openjscad.org)
  - Platform: Linux/Chromium 76
  - Environment: Browser

[2019-08-25 05:06] z3dev commented on #459
@Nealefelaen Thanks for the nice tip. I have some designs with a lot of parameters, and will give this a try once V2 viewer starts to stabilize.

[2019-08-25 05:12] z3dev commented on #439
@WolfgangFahl Please try again. I patched the website a few weeks back. This should be fixed.

[2019-08-26 09:16] WolfgangFahl commented on #439
@z3dev  - the error seems to have gone. The result is not quite what i'd expect. Would that be a new ticket?
[code]

does not show as
![grafik](https://user-images.githubusercontent.com/1336221/63680027-fb154900-c7f2-11e9-8b87-b1ff707262e3.png)

[2019-08-26 09:53] z3dev commented on #439
Yes, please. I’m working on the V2 version at this moment, so this may identify a new issue.

[2019-08-26 10:06] WolfgangFahl opened #460 "SVG import should work for a logo example"
## Expected Behavior
SVG import should work

## Actual Behavior
[code]

does not show as
![grafik](https://user-images.githubusercontent.com/1336221/63680027-fb154900-c7f2-11e9-8b87-b1ff707262e3.png)

## Steps to Reproduce the Problem

  1. Drag and Drop http://wiki.bitplan.com/images/wiki/7/7a/BITPlanLogo2012FontLess.svg
or try https://openjscad.org/#http://wiki.bitplan.com/images/wiki/7/7a/BITPl

[2019-08-26 10:07] WolfgangFahl commented on #439
see #460

[2019-08-27 09:54] gilboonet commented on #460
To maximize compatibility, you could deep ungroup, unlink clones, add points (enough to keep your curves) and turn it to lines, then it should import correctly.

[2019-08-27 10:07] WolfgangFahl commented on #460
@gilboonet  - this is already the "fontless" version using no external references as the original would do. Further "simplifying" it would certainly be possible. And indeed i was already able to create an STL of the logo using other tools. I'd rather see the importer being improved and that's what my issues is about.

[2019-08-27 10:13] z3dev commented on #460
@WolfgangFahl thanks. I’m looking at this now for V2. I’ll report back if a fix is possible for V1.

[2019-08-29 09:07] hedefalk opened #461 "desktop: hangs on a difference of a union of a union…?"
I have a design where I struck an issue with just adding to a negative volume by using union. The boolean ops are nested quite a lot, but I haven't struck issues with that previously.

I'm using the desktop app from master. Sorry to post so much detail, but I think the code will make easier sense with some background. This is what I have design:

![image](https://user-images.githubusercontent.com/

[2019-08-29 09:58] z3dev commented on #461
@hedefalk Thanks.

I don’t thing this design is complex, and would expect the application to render, etc. without issues. I’ll try it out later next week.

I make fairly complex designs some times, with lots of small pieces and holes. Here’s one that I created a few years back...

http://www.z3d.jp/lab/view.php?design=lab-000000050

Not sure that it will help, but sharing designs is always a learn

[2019-08-29 13:13] hedefalk commented on #461
@z3dev Thx!

There's a dependency on a small util lib I have so I added you as a guest on the repo here if you wanted to take a look at it:

https://gitlab.com/hedefalk/eurorack-jscad

Thanks again!

[2019-08-29 13:30] hedefalk commented on #461
Hm, I cleared the cache under:

`rm -rf ll ~/Library/Application\ Support/@jscad/desktop/`

and restarted a few times and now it's working… Somewhat…

If I at any time use `center: false` on the slit cutout the app goes into an infinite loop…

[2019-09-01 17:40] LinGuanfu opened #462 "How could I set more than one viewer on a web page?"
## Expected Behavior
Hello, everybody! I want to set up a web page contained more than one viewer just like this :
 (a modified viewer-minimal.html)
[code]
while one div shows `a.jscad` and another one shows `b.jscad`,
## Actual Behavior
I found that in `min.js` it queried `#viewerContext` to select one div for rendering, so it seems that the `min.js` is designed especially for pages which contain

[2019-09-01 21:08] johnwebbcole commented on #325
I was looking through the archives on https://openjscad.nodebb.com but I didn't find the referred post there.  @kaosat-dev did you have a way to render designs to a PNG or other image?

[2019-09-02 03:08] jasonwebb opened #464 "Using CLI to generate STLs based on SVGs?"
I'm looking for a way to provide an SVG file as an input to a JSCAD script via the CLI so that I can generate an STL file based on it's contents by simply extruding it's paths. I've put together a small Node script that essentially looks for SVG files within a set of folders, then runs the `openjscad` command via Node's `child_process.exec()` method.

What I'm hoping for is a way to pass SVG files

[2019-09-02 06:55] z3dev commented on #464
Just change the main() to take a parameters object. You should see the file path.

Alternatively, you can build a script on the fly which imports the main conversion routine.

See some of the examples. 😃

[2019-09-02 08:15] z3dev commented on #325
@johnwebbcole I think that you are long for this.

https://github.com/jscad/OpenJSCAD.org/tree/V2/packages/utils/regl-renderer

[2019-09-02 10:12] kaosat-dev commented on #325
@johnwebcole , yes it should work rather well using @z3devs link, this file to be more precise https://github.com/jscad/OpenJSCAD.org/blob/V2/packages/utils/regl-renderer/demo-cli.js

You need to install pngjs manually if you want to try it, had to remove it as a dependency as it does not work on TravisCi (local use should be trivial)

[2019-09-02 20:05] jasonwebb commented on #464
Thanks! I've updated my script to now just extrude the string provided through a param (`param.input`):

[code]

And modified the `child_process.exec()` call like so:

[code]

Where `inputFilename` and `outputFilename` are absolute paths to a real SVG file and the STL file I want to create, respectively.

The resulting 3D models look strange, but I suspect that's because of the use of `rectangular

[2019-09-02 21:30] jasonwebb commented on #464
A-ha! I see now that the SVG deserializer module is meant to be loaded into my Node script, not the JSCAD script. Now I just need to figure out how to inject or combine the generated CAG script into a script to extrude it.

Ultimately I want to be able to extrude different paths from my SVG file by different amounts programmatically - any ideas for doing that? For example, can I name my paths or u

[2019-09-02 21:57] z3dev commented on #464
Hmm... V1 coverts all the paths to 2D shapes, and does a union(). So, it will be tricky to extrude different parts at different heights. No color support.

V2 (in progress) converts all the paths, and returns an array of paths. And there’s color support.

I would guess that V2 is probably a better choice. But it will be another month until we have V2 ready for use.

[2019-09-02 22:01] johnwebbcole commented on #325
Thx for the directions, I was able to get it working in my unit tests for jscad-utils.

[2019-09-02 22:14] jasonwebb commented on #464
Thanks for the info! I can wait :) I see work is already underway with PR #463, so I'll watch that for progress. This is a really cool project, and you guys are doing an outstanding job with it - keep it up!

Have any of the other deserializers been ported to V2 yet (like DXF or JSON)? Maybe I can use a different format in the meantime.

[2019-09-02 22:15] z3dev commented on #464
DXF and STL will land soon.

[2019-09-02 22:33] #464 closed

[2019-09-04 00:09] z3dev commented on #462
@LinGuanfu Thanks for the query. I think that @kaosat-dev can assist with the electron app.

[2019-09-04 00:14] z3dev commented on #437
@WolfgangFahl Can you explain the docker a little more? What is the web server?

Browsers have caching which can be cleared. Even then, sometimes the browser must be stopped and restarted to establish a new session.

[2019-09-04 12:26] WolfgangFahl commented on #437
see https://github.com/BITPlan/docker-openjscad/blob/master/Dockerfile - it's just an automated install in a docker container that uses node. The repository https://github.com/BITPlan/docker-openjscad has some jscad example files

[2019-09-04 12:39] kaosat-dev commented on #461
Hi @hedefalk : perhaps this could help: the only cases where I seen issues with infinite loops are corner cases with perfectly overlapping planes on certain objects: can you try adding a tiny translate() operation to that (try starting with something like [0,0, 0.1] and lower it in x10 increments) that might fix it.
We have found a few issues like these in the past and some safeguards where added

[2019-09-04 12:41] kaosat-dev commented on #325
good to know @johnwebbcole :)
(btw I really need to get in touch with you about jscad-utils soonish, lots of very useful things that we would love to have for V2)

[2019-09-04 13:21] hedefalk commented on #461
@kaosat-dev Thx! I was gonna try you suggestion now after working with something else for a bit, but for some reason it seems to be working fine now… Can't even reproduce it seems. I guess I might have translated it a bit and at this point I'm really happy it works so I can print this thing now so I might dodge from putting too much effort in a repo case. I have also gone between master and V2 a f

[2019-09-04 13:21] #461 closed

[2019-09-04 13:25] kaosat-dev commented on #462
Hello @LinGuanfu
- in V1 it is indeed only possible to create a single instance of jscad per page, the alpha of V2 however has that ability
- about `getParameterDefinitions` could you please clarify how you want to provide the parameters ?

[2019-09-04 18:19] LinGuanfu commented on #462
@kaosat-dev Thank you for your reply.

Could you please give me some advice about creating more instances of jscad per page? Something like related functions or APIs in V2, which will be greatly helpful for me to understand how it works and make some custom modification.

As for `getParameterDefinitions`,  my idea is to create a CAE-like(Computer-aided engineering) app if you know about it.  Or th

[2019-09-16 18:08] udif opened #470 "V1 : How to specify roundedradius for cube()? (not using CSG.cube() )"
## Expected Behavior
A way to specify rounded corner radius when creating cubes with V2-forward-looking API.

## Actual Behavior
Cannot find a way to specify rounded cube corner radius for cube() function - neither documentation nor examples

## Specifications

  - Version: As on www.openjscad.org
  - Platform: Window 10
  - Environment: Chrome

[2019-09-16 18:22] udif opened #471 "V1 : rounded cube's corners not created with a fixed radius"
## Expected Behavior
Rounded corners should be created with a fixed radius, so when the cube is scaled, the corner should scale with it.

## Actual Behavior
Rounded corners are defined by a fixed ratio to the cube size, instead of fixed radius as CSG.cube(), so when 2 different-sized cubes are scaled to the same size, their rounded corners become the same radius.
This breaks the only way I could t